<p-tabView (onChange)="tabChanged($event)">

<p-tabPanel header="Expression Details">
<div class="edit-role-container">

  <div>
    <div class="row">
  <div class="div-main">
    <div class="row">
      <div class="p-col-6 mt-1 div-exp">
        ( income  $1,00,000 
      </div>

    
    </div >
 <span class="div-exp"> </span>   AND
    <div class="row">
      <div class="p-col-6 mt-1 div-exp">
       (Age <> 35 to 55
      </div>
    </div>

    <span class="div-exp"> </span>   AND
    <div class="row">
      <div class="p-col-6 mt-1 div-exp">
        Domains > 2 ))
      </div>
    </div>

    <span class="div-exp"> </span>   OR
    <div class="row">
      <div class="p-col-6 mt-1 div-exp">
       Website Visit < 2
      </div>
 
  </div>

</div>

<div class="hr-div">
</div>
<div class="right-div">
  <!-- <div class="row">
    <div class="p-col-12mt-1 div-exp">
         Last Updated :  <span class="right-span">  2020-01-18  14:29:09 GMT</span> 
      </div>
     </div>
     
     <div class="row">
      <div class="p-col-12mt-1 div-exp">
           Created By :  <span class="right-span"> c</span> 
        </div>
       </div>
       
       <div class="row">
        <div class="p-col-12mt-1 div-exp">
             Updated By :  <span class="right-span"> Breathe Master Admin</span> 
          </div>
       </div> -->
   
       <table class="right-table">
        <tr>
          <td> Activate </td>
          <td> : 2020-01-18  14:29:09 GMT</td>
        </tr> 
        <!-- <tr>
          <td>Created By</td>
          <td> : Breathe Master Admin</td>
        </tr>
        <tr>
          <td>Updated By</td>
          <td> : Breathe Master Admin</td>
        </tr> -->
       </table>
       
</div>

</div>

</div>
  <div class="edit-role-footer">
    <button
      pButton
      type="submit"
      icon="fas fa-pencil-alt"
      label="Edit"
      iconPos="right"
        class="ui-button-rounded ui-button-success edit-role-button"
    ></button>

     <!-- <i class="fas fa-copy"></i> -->
    <button
      pButton
      type="button"
      icon="fas fa-share-alt"
      label="Share"
      iconPos="right"
      class="ui-button-rounded ui-button-reset ui-button-info btn-close edit-role-button1"
    ></button>
    <button
    pButton
    type="submit"
    icon="fas fa-copy"
    label="Copy"
    iconPos="right"
      class="ui-button-rounded ui-button-secondary edit-role-button"
  ></button>

  </div>
</div>




</p-tabPanel>
<!-- <i class="fas fa-pencil-alt"></i> -->
<!-- <i class="fas fa-share-alt"></i> -->
</p-tabView>