<div *ngIf="!isDashboardCreate" id="cpr-component">
  <div class="last-updated">
    <div class="popover-container d-inline-block ml-2">
      <div>
        <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Last Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} EST
        </p>
        <!-- <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          EST
        </p> -->
      </div>
    </div>
  </div>
  <button pButton type="submit" icon="fas fa-plus-circle" label="Add Dashboard" iconPos="left"
    class="ui-button-rounded ui-button-success top-button" (click)="NewDashboard()"></button>
  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <!-- <ym-filter-container
    (filtersApplied)="onFiltersApplied($event)"
  ></ym-filter-container>

  <hr /> -->
  <!-- ------------------------ Table 2 Component Start ------------------------ -->



  <!-- <div
    [hidden]="noTableData"
    class="mt-1 mb-3 fr-cpr-table"
    *ngIf="displayAggTable"
    style="display: inline-block; width: 100%;"
  > -->
  <div class="mt-1 dashboard-table" style="display: inline-block; width: 100%;">
    <p-treeTable #ttFlat [value]="flatTableData" [columns]="flatTableJson['selectedColumns']" [paginator]="true"
      [rows]="flatTableJson['page_size']" [first]="flatTableJson['page']" [totalRecords]="flatTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="flatTableJson['lazy']" [loading]="flatTableJson['loading']"
      [sortMode]="flatTableJson['sortMode']" [resizableColumns]="flatTableJson['resizableColumns']"
      [columnResizeMode]="flatTableJson['columnResizeMode']" [reorderableColumns]="flatTableJson['reorderableColumns']"
      [frozenColumns]="flatTableJson['frozenCols']" [frozenWidth]="flatTableJson['frozenWidth']"
      [scrollable]="flatTableJson['scrollable']" [scrollHeight]="flatTableJson['scrollHeight']"
      [selectionMode]="flatTableJson['selectionMode']" [(selection)]="flatTableJson['selectedColsModal']"
      [dataKey]="flatTableJson['selectionDataKey']" [metaKeySelection]="flatTableJson['metaKeySelection']"
      [globalFilterFields]="flatTableJson['globalFilterFields']" [style]="{ width: '100%' }">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div class="mb-1" *ngIf="flatTableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="flatTableJson['columns']" [(ngModel)]="flatTableJson['selectedColumns']"
            optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
        </div>
        <!-- <div class ="mt-2 note"><span>* GTE - Greater than Equal to,  LTE -  Less than Equal to </span></div> -->
        <div *ngIf="flatTableJson['export']" style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2">
          <div data-html2canvas-ignore class="dropdown">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
              <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="exportTable('Excel')">
                Excel
              </a>
              <a class="dropdown-item" (click)="exportTable('CSV')">
                CSV
              </a>
              <!-- <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('flat', 'JSON')"
              >
                JSON
              </a> -->
            </div>
          </div>
        </div>
        <!-- <div
          *ngIf="flatTableJson['overallSearch']"
          style="text-align: right; float: right; display: inline-block;"
        >
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input class="search"
            ymInput
            pInputText
            type="text"
            size="30"
            placeholder="Search All"
            [(ngModel)]="searchvalue"
            (ngModelChange)="onGlobalSearchChanged(searchvalue,flatTableColumnDef)"
          />
        </div> -->

        <div style="text-align: right; float: right; display: inline-block;">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All"
            [(ngModel)]="searchvalue" (input)="ttFlat.filterGlobal($event.target.value, 'contains')" />
          <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
            (click)="searchvalue='';ttFlat.filterGlobal('', 'contains')"><i class="pi pi-times"></i>
          </span>
        </div>
        <div style="text-align: right; float: right; display: inline-block;">
          <i class="fas fa-info-circle info-toottip" title="Search function works for dimensions only."></i>
        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}
            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
            </p-treeTableSortIcon>
          </th>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ngStyle]="{ background: rowData['type'] == 'Own' ? '#ffffff' : '#f2e79c' }">
          <td *ngFor="let col of columns; let i = index" ttEditableColumn>
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
              </ng-template>
              <ng-template pTemplate="output">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="!col['options']['editable']">
              <span *ngIf="col.field != 'delete' && col.field != 'edit'&&
              col.field != 'insert_at'
              && col.field != 'update_at' && col.field != 'share'" [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
              <span *ngIf="col.field == 'delete'" class="link-style-icon" (click)="deleteDashboard(rowData)"
                title="Delete Dashboard">
                <i *ngIf="rowData['type'] == 'Own'" class="far fa-trash-alt"></i>
                <i *ngIf="rowData['type'] == 'Shared'" class="fas fa-minus-circle"></i>
              </span>

              <span *ngIf="col.field == 'edit'" class="link-style-icon" (click)="editDashboard(rowData)"
                title="View Dashboard">
                <i class="far fa-eye"></i>
              </span>

              <span *ngIf="col.field == 'share' && rowData['type'] == 'Shared'" class="link-style-icon disable-icon"
                title="View Dashboard">
                <i class="fas fa-share-square"></i>
              </span>

              <span *ngIf="col.field == 'share' && rowData['type'] == 'Own'" class="link-style-icon"
                (click)="shareDashboard(rowData)" title="View Dashboard">
                <i class="fas fa-share-square"></i>
              </span>


              <span *ngIf="col.field == 'insert_at'  || col.field == 'update_at'"
                [title]="rowData[col.field] | date: 'MM-dd-yyyy | hh:mm:ss a'">
                {{ rowData[col.field] | date: 'MM-dd-yyyy | hh:mm:ss a' }}
              </span>
            </span>
            <!-- <span
          *ngIf="
            col.field !== 'delete'">
            {{
              rowData[col.field]
                | formatNum: col.format:col.formatConfig
            }}
          </span> -->
          </td>
        </tr>
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->

      <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr style="background: #f4f4f4">
          <td *ngFor="let col of columns; let i = index" [title]="
            rowData[col.field] | formatNum: col.format:col.formatConfig
          ">
            <!-- <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler> -->

            <span>
              {{
              rowData[col.field]
                ? (rowData[col.field]
                  | formatNum: col.format:col.formatConfig)
                : ''
            }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="flatTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <!-- ------------------------- Table 2 Component End ------------------------- -->
  <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
</div>
<ym-dashboard-create *ngIf="isDashboardCreate"></ym-dashboard-create>