<div id="capture">
  <div style="width:100%;display: inline-block;">
    <span style="float: left; ">
      <p class="c-psw" *ngIf="uploadW9Form" (click)="gettaxDetailsModal('W9 Form')"> Upload W9 Form</p>
      <p class="c-psw" *ngIf="upload1099Form" (click)="gettaxDetailsModal('1099 Form')"> Upload 1099 Form</p>
    </span>

    <!-- <span style="float: left; " *ngIf="uploadFile">
      <label
        for="file-upload"
        class="ui-button-rounded ui-button-success btn-secondary custom-file-upload"
      >
        <i class="fas fa-cloud-upload"></i> Upload
      </label>
      <input
        id="file-upload"
        type="file"
        #fileupload
        [(ngModel)]="files"
        (click)="fileupload.value = null"
        name="files"
        (change)="upload($event)"
        multiple="true"
        style="display: none"
        accept="*/*"
        *ngIf="uploadFile"
      />
    </span>
    <span style="float: left; " *ngIf="!uploadFile">
      <label
        for="file-upload"
        class="ui-button-rounded ui-button-success btn-secondary custom-file-upload span-link"
      >
        <i class="fas fa-cloud-upload"></i> Upload
      </label>
    </span> -->
  </div>
  <div class="fr-payment-table vast-table">
    <p-treeTable #ttFlat [value]="flatTableData" [columns]="flatTableJson['selectedColumns']" [paginator]="false"
      [rows]="flatTableJson['page_size']" [first]="flatTableJson['page']" [totalRecords]="flatTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="flatTableJson['lazy']" [loading]="flatTableJson['loading']"
      [sortMode]="flatTableJson['sortMode']" [resizableColumns]="flatTableJson['resizableColumns']"
      [columnResizeMode]="flatTableJson['columnResizeMode']" [reorderableColumns]="flatTableJson['reorderableColumns']"
      [frozenColumns]="flatTableJson['frozenCols']" [frozenWidth]="flatTableJson['frozenWidth']"
      [scrollable]="flatTableJson['scrollable']" [scrollHeight]="flatTableJson['scrollHeight']"
      [selectionMode]="flatTableJson['selectionMode']" [(selection)]="flatTableJson['selectedColsModal']"
      [dataKey]="flatTableJson['selectionDataKey']" [metaKeySelection]="flatTableJson['metaKeySelection']"
      [style]="{ width: '100%' }">
      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}

            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="flatTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input ymInput pInputText type="text" [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                " (input)="
                  tt.filter($event.target.value, col.field, col.filterMatchMode)
                " />
            </th>
          </ng-container>
        </tr>
      </ng-template>


      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">

            <span *ngIf="col.field != 'Delete' &&
            col.field != 'Download' &&
            col.field != 'Comments'
          ">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>

            <span *ngIf="col.field == 'Delete'" class="btn-link"
              (click)="deleteForms(rowData)">
              <i class="far fa-trash-alt fa-1-5x-custom" title="Delete"></i>
            </span>

            <span *ngIf="col.field == 'Download'" class="btn-link"
              (click)="downloadForms(rowData)">
              <i class="fas fa-download fa-1-5x-custom" title="Download"></i>
            </span>

            <span *ngIf="col.field == 'Comments'" class="btn-link"
              (click)="commentForm(rowData)">
              <i class="far fa-comments fa-1-5x-custom" title="Comments"></i>
            </span>
          </td>
        </tr>
      </ng-template>
      <!-- ----------------------------- Frozen Body ----------------------------- -->

      <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr style="background: #f4f4f4">
          <td *ngFor="let col of columns; let i = index" [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">

            <span>
              {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
            </span>
          </td>
        </tr>
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="flatTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div style="width:100%;display: inline-block;">
    <button pButton type="button" (click)="CloseDialog()" icon="pi pi-times-circle" label="Close" iconPos="right"
      class="ui-button-rounded ui-button-secondary btn-close"></button>
  </div>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>