<span class="ui-float-label">Group By</span>
<p-selectButton
  [options]="dimensions"
  [(ngModel)]="selectedGrpBy"
  optionLabel="label"
  (onChange)="onChange()"
  multiple="multiple"
>
</p-selectButton>
<span *ngIf = "limit < dimensions.length" class="span-note"><i class="fas fa-info-circle"></i>
  <span class="tooltiptext">Select up to {{limit}} dimensions</span>
</span>
