span {
  margin-bottom: 5px;
  font-weight: bold;
}

.span-note {
  margin-left: 15px !important;
  margin-top: 5px;
  position: absolute;
  z-index: 1; 
}


.tooltiptext {
  visibility: hidden; 
  width: 250px;
  border-radius: 6px;
  margin-left: 3px; 
  position: absolute;
  z-index: 1;
}

 :hover .tooltiptext {
  visibility: visible;
}
