<div class="ui-g">
  <div class="ui-g-12 pl-0">
    <div class="ui-g-4 pl-0" style="margin-top: -5px;">
      <b>Enter View Name:  </b>
      <input type="text" placeholder="Enter View Name" [(ngModel)]="saveViewName" ymInput pInputText />
    </div>
      <div class="ui-g-3">
      <b>Set Default?</b>
      <p-checkbox [(ngModel)]="setDefaultCheckbox" binary="true" [disabled]="defaultSaveValue" class="ml-3">
      </p-checkbox>
    </div>
    <div class="ui-g-5">
      <span *ngIf="defaultSaveValue">Note : Set another view as default</span>
    </div>
  </div>

  <div class="ui-g-12 pl-0">
    <ym-daterange-picker [appConfig]="appConfig" 
    [isSaveView] = "true"
    [showToggle] = "true"
    (datePickerChanged)="selectedDates = $event;" (periodSeledted)="periodSeledted($event)"
    ></ym-daterange-picker>
  </div>
  <div class="p-grid ml-0 mt-3">
    <p-accordion >
      <div  class="filters-div" *ngFor="let item of data">
        <p-accordionTab header="{{item.label}}">
          <div>
            <input #searchTxt class="ui-inputtext ui-corner-all ui-state-default ui-widget mb-2" placeholder="Search"
              style="width: 100%;" />
            <p-chips [ngModel]="dimensionData[item.key]  | searchStr: searchTxt.value"
              (ngModelChange)="dimensionData[item.key]=$event" id="{{item.key}}" (onRemove)="removeDimension()">
            </p-chips>
          </div>
        </p-accordionTab>
      </div>
    </p-accordion >
  </div>

  <div style="width: 100%;">
    <ng-container *ngIf="
            (defaultDimensions.length > 0 || availableDimensions.length > 0)
          ">
      <ym-dim-filter class="ml-2" style="flex: 1;" [defaultDimensions]="defaultDimensions"
        [availableDimensions]="availableDimensions" [selectedDates]="selectedDates"
        [dateDimensionRelation]="dateDimensionRelation" [filterUrl]="filterUrl"
        [isSaveView] = "true"
        [showToggle] = "true"
        (dimFilterChanged)="selectedDimFilter = $event" [excludeValues]="dimensionData">
      </ym-dim-filter>
    </ng-container>
  </div>
  <div *ngIf="groupByDims.length > 0" class="mt-2">
    <ym-group-by [dimensions]="groupByDims" (grpByChanged)="selectedGrpBy = $event" [isSaveView] = "true"
    [showToggle] = "true"
></ym-group-by>
  </div>
</div>
  <div class="ui-g-12 edit-role-footer">
    <p-button class="save1" (click)="saveQuery();" icon="fas fa-save" label="Save" title="Click here to save changes">
    </p-button>
    <p-button (click)="cancel()" icon="far fa-times-circle" label="Cancel" [style]="{ 'margin-left': '10px' }"></p-button>
  </div>
