<div class="cards-container">
  <div class="p-grid" *ngFor="let cards of cardsChunk">
    <div class="p-col" *ngFor="let card of cards">
      <p style="float: left; margin: 20px 12px;">
        <i [ngClass]="card.imageClass"></i>
      </p>
      <p-card styleClass="ui-card-shadow" [style]="{ 'background-color': card.color }">
        <span>
          <h6 class="disName-class">
            {{ card.displayName }}
          </h6>
          <h5 class="value-class">
            {{ card.value | formatNum: card.format:card.config }}
          </h5>
        </span>
      </p-card>
      <div *ngIf="card.metaConfig" style="float: right; margin-top: -50px; max-height: 70px; text-align: right;">
        <i style="font-size: 16px; margin-left: 14px;" [ngClass]="card.metaConfig.icon"></i>
        <span *ngIf="card.metaConfig.avgValue === 'N/A'" style="margin: 0 10px;">N/A</span>
        <span *ngIf="card.metaConfig.avgValue !== 'N/A'" style="margin: 0 10px;">{{ card.metaConfig.avgValue | formatNum: 'percentage' : [] }}</span>
        <p style="margin: 0 10px;font-size: 12px;">{{ card.metaConfig.dateRange }}</p>
      </div>
    </div>
  </div>
</div>
