.cards-container {
  margin-top: 0.6rem !important;
  margin-bottom: -1rem !important;
}

.card-image {
  max-width: 60px;
  max-height: 60px;
  opacity: 0.6;
}

i {
  font-size: 1.5rem;
  opacity: 0.6;
}

.card-icon {
  float: left;
  margin: 15px 15px;
  width: 3rem;
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}


.disName-class{
  font-size: 14px !important;
  margin-bottom: .2rem !important;
}

.value-class{
  font-size: 16px !important;
  margin-bottom: 0 !important;
}