<div id="capture">
  <div class="last-updated">
    <div data-html2canvas-ignore class="dropdown d-inline-block">
      <span
        class="dropdown-toggle"
        style="cursor: pointer"
        id="dropdownMenu1"
        data-toggle="dropdown"
        aria-haspopup="true"
        title="Export to PPT or JPEG"
        aria-expanded="true"
      >
        <i
          title="Export to PPT or JPEG"
          class="fas fa-download"
          style="cursor: pointer"
          id="dropdownMenu1"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
        >
          <span class="caret"></span> </i
        >&nbsp;&nbsp;Export</span
      >
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a>
        <a class="dropdown-item"  (click)="sendEmail()">Send e-mail</a>
      </div>
    </div>
    <!-- <div class="d-inline-block ml-2">
      <b>Last Updated On:</b>
      {{ lastUpdatedOn | date: 'yyyy-MM-dd HH:mm:ss' }} EDT
    </div> -->
  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container
    (filtersApplied)="onFiltersApplied($event)"
  ></ym-filter-container>
  <hr class="mb-2">

  <!-- ---------------------- Main Charts Container Component ---------------------- -->
  <div class="p-grid  mt-0">
    <div class="p-col-8">
      <div class="border-class">
        <i
          *ngIf="!showMainLineChartSource && !noDataMainLineChart"
          class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px; position:relative; left:40%"
        ></i>
        <div class="no-data-label no-data-mainline-chart" *ngIf="noDataMainLineChart">
          No data found
        </div>
        <ym-charts
          *ngIf="showMainLineChartSource"
          [chartsJson]="mainLineChartJson"
          (chartDataSelect)="chartSelected($event)"
        >
        </ym-charts>
      </div>
    </div>
    <div class="p-col-4">
      <div class="border-class">
        <i
          *ngIf="!showMainPieChartSource && !noDataMainPieChart"
          class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px;"
        ></i>
        <div class="no-data-label no-data-mainline-chart" *ngIf="noDataMainPieChart">
          No data found
        </div>
        <ym-charts
          *ngIf="showMainPieChartSource"
          [chartsJson]="mainPieChartJson"
          (chartDataSelect)="chartSelected($event)"
        ></ym-charts>
      </div>
    </div>
  </div>

  <!-- ---------------------- Main Charts Container Component ---------------------- -->
  <div class="p-grid mt-0">
    <div class="p-col-8">
      <div class="border-class">
        <i
          *ngIf="!showMainLineChartStation && !noDataMainLineChartStation"
          class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px; position:relative; left:40%"
        ></i>
        <div class="no-data-label no-data-mainline-chart" *ngIf="noDataMainLineChartStation">
          No data found
        </div>
        <ym-charts
          *ngIf="showMainLineChartStation"
          [chartsJson]="mainLineChartJsonStation"
          (chartDataSelect)="chartSelected($event)"
        >
        </ym-charts>
      </div>
    </div>
    <div class="p-col-4">
      <div class="border-class">
        <i
          *ngIf="!showMainPieChartStation && !noDataPieChartStation"
          class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px;"
        ></i>
        <div class="no-data-label no-data-mainline-chart" *ngIf="noDataPieChartStation">
          No data found
        </div>
        <ym-charts
          *ngIf="showMainPieChartStation"
          [chartsJson]="mainPieChartJsonStation"
          (chartDataSelect)="chartSelected($event)"
        ></ym-charts>
      </div>
    </div>
  </div>

  <!-- ---------------------- Main Charts Container Component for Ad size ---------------------- -->
  <div class="p-grid mt-0">
    <div class="p-col-8">
      <div class="border-class">
        <i
          *ngIf="!showAdSizeLineChart && !noDataAdSizeLineChart"
          class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px; position:relative; left:40%"
        ></i>
        <div class="no-data-label no-data-mainline-chart" *ngIf="noDataAdSizeLineChart">
          No data found
        </div>
        <ym-charts
          *ngIf="showAdSizeLineChart"
          [chartsJson]="adSizeLineChartJson"
          (chartDataSelect)="chartSelected($event)"
        >
        </ym-charts>
      </div>
    </div>
    <div class="p-col-4">
      <div class="border-class">
        <i
          *ngIf="!showAdSizePieChart && !noDataAdSizePieChart"
          class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px;"
        ></i>
        <div class="no-data-label no-data-mainline-chart" *ngIf="noDataAdSizePieChart">
          No data found
        </div>
        <ym-charts
          *ngIf="showAdSizePieChart"
          [chartsJson]="adSizePieChartJson"
          (chartDataSelect)="chartSelected($event)"
        ></ym-charts>
      </div>
    </div>
  </div>

  <!-- ---------------------- Main Charts Container Component for Device Type ---------------------- -->
  <div class="p-grid mt-0">
    <div class="p-col-8">
      <div class="border-class">
        <i
          *ngIf="!showDeviceTypeLineChart && !noDataDeviceTypeLineChart"
          class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px; position:relative; left:40%"
        ></i>
        <div class="no-data-label no-data-mainline-chart" *ngIf="noDataDeviceTypeLineChart">
          No data found
        </div>
        <ym-charts
          *ngIf="showDeviceTypeLineChart"
          [chartsJson]="deviceTypeLineChartJson"
          (chartDataSelect)="chartSelected($event)"
        >
        </ym-charts>
      </div>
    </div>
    <div class="p-col-4">
      <div class="border-class">
        <i
          *ngIf="!showDeviceTypePieChart && !noDataDeviceTypePieChart"
          class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px;"
        ></i>
        <div class="no-data-label no-data-mainline-chart" *ngIf="noDataDeviceTypePieChart">
          No data found
        </div>
        <ym-charts
          *ngIf="showDeviceTypePieChart"
          [chartsJson]="deviceTypePieChartJson"
          (chartDataSelect)="chartSelected($event)"
        ></ym-charts>
      </div>
    </div>
  </div>

  <!-- ---------------------- Main Charts Container Component for unfilled impressions ---------------------- -->
  <div class="p-grid mt-0 mb-2">
    <div class="p-col-6">
      <div class="border-class">
        <i
          *ngIf="!showUnfilledLineChart && !noDataUnfilledLineChart"
          class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px; position:relative; left:40%"
        ></i>
        <div class="no-data-label no-data-mainline-chart" *ngIf="noDataUnfilledLineChart">
          No data found
        </div>
        <ym-charts
          *ngIf="showUnfilledLineChart"
          [chartsJson]="unfilledLineChartJson"
          (chartDataSelect)="chartSelected($event)"
        >
        </ym-charts>
      </div>
    </div>
    <div class="p-col-6">
      <div class="border-class">
        <i
          *ngIf="
            !showUnfilledLostRevenueLineChart &&
            !noDataUnfilledLostRevenueLineChart
          "
          class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px; position:relative; left:40%"
        ></i>
        <div
          class="no-data-label no-data-mainline-chart"
          *ngIf="noDataUnfilledLostRevenueLineChart"
        >
          No data found
        </div>
        <ym-charts
          *ngIf="showUnfilledLostRevenueLineChart"
          [chartsJson]="unfilledLostRevenueLineChartJson"
          (chartDataSelect)="chartSelected($event)"
        >
        </ym-charts>
      </div>
    </div>
  </div>
</div>
