<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <label>Contact Email</label>
  </div>
  <div class="ui-g-12">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fas fa-envelope"></i></span>
      <p-chips
        class="chips"
        addOnTab="true"
        addOnBlur="true"
        [(ngModel)]="contactemail"
        (onAdd)="chipsValidation()"
        (onRemove)="chipsValidation()"
        allowDuplicate="false"
        [ngClass]="{
          'is-invalid-class': !isValid
        }"
      ></p-chips>
    </div>
    <div *ngIf="!isValid" class="invalid-feedback-class">
      <div>
        Email ID is not valid
      </div>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-6">
      <p-button
        (click)="mailScreenshot()"
        icon="fas fa-save"
        label="Send"
        title="Click here to save changes"
      ></p-button>
    </div>
    <div class="ui-g-6">
      <p-button
        (click)="cancel()"
        icon="far fa-times-circle"
        label="Cancel"
      ></p-button>
    </div>
  </div>
</div>
