input {
    width: 100%;
    border: 1px solid #cccccc !important;
    height: 33px;
    padding: 5px;
  }

  label {
    font-weight: bold;
  }

  .save {
    float: right;
  }
  .chips{
    width: 100%;
  }

.invalid-feedback-class {
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}