<footer>
  <div class="container-fluid clearfix">
    <ng-content></ng-content>
    <span>
      <a target="_blank" href="https://yuktamedia.com">YuktaMedia</a> &copy;
      2019
    </span>
  </div>
</footer>
