.icon-class {
  float: right;
  padding: 5px;
}
.button-class {
  margin-left: 10px;
}
.ui-float-label {
  display: block;
  position: relative;
  font-size: 12px !important;
  font-weight: bold;
  padding-bottom: 9px;
}
button {
  width: auto !important;
}
.metris-title {
  font-size: 14px !important;
  font-weight: bold;
  cursor: pointer;
}

.main-title {
  font-size: 16px !important;
  font-weight: bold;
}
.main-card {
  margin-bottom: 10px;
  padding: 5px;
  display: inline-block;
  width: 100%;
}
.input-switch {
  // width: 20%;
  float: left;
}
.label-switch {
  // width: 80%;
  float: left;
  padding-top: 7px;
  padding-bottom: 0px;
}
i.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
.chart-icon {
  font-size: 20px;
  color: skyblue;
}
.chart-card:hover {
  border: 1px solid #908d8d;
  background: #dedede;
  box-shadow: 3px 3px 3px grey;
}
.chart-card {
  text-align: center;
  padding: 4px;
  font-size: 10px;
}
.listitems {
  margin: 15px 5px 0 0;
  font-weight: 600;
}
.chart-select {
  background: #dedede;
  box-shadow: 3px 3px 3px grey;
}
.group-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 5px;
  min-height: 75px;
}
.inValid-class {
  border: 1px solid #ff0002;
}
.invalid-feedback-class {
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
.custom_date {
  cursor: pointer;
  color: #007ad9;
  margin-right: 10px;
  margin-left: 5px;
  text-decoration: underline;
}

.radioBtn {
  margin-right: 10px;
  font-weight: bold;
}
.calculate-label {
  font-weight: bold;
  margin: 0px 7px;
}
