.chips{
    width: 100% !important;

  }

  .invalid-feedback-class {
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }
.inputTxt{
    height: 38px !important;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid gray;
    border-left: none;
    border-image: initial;
    background: none;
    outline: none;
    font-size: 15px;
    border-radius: 0px;
    box-shadow: none
}

  