<div>
    <form [formGroup]="addEmailForm" class="compaignForm">
        <div class="ui-g-12" formArrayName="emailFormArray" *ngFor="let a of addEmailForm.get('emailFormArray')['controls']; let i = index">
            <div [formGroupName]="i">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">Name</span>
                        <input  pInputText type="text" class="form-control inputTxt" formControlName="approverName" />

                    </div>
                </div>
                <div class="ui-g-12 ui-md-5">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">Approver Email</span>
                        <p-chips
                        class="chips"
                        addOnTab="true"
                        addOnBlur="true"
                        (onAdd)="chipsValidation(i)"
                        (onRemove)="chipsValidation(i)"
                        allowDuplicate="false"
                        formControlName="contactEmail"
                        [ngClass]="{
                          'is-invalid-class': !isValid
                        }"
                      ></p-chips>
                    </div>
                    <div *ngIf="!isValid" class="invalid-feedback-class">
                        <div>
                          Email ID is not valid
                        </div>
                      </div>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <div class="ui-g-5 ui-md-5">
                        <span class="ui-float-label"></span>
                        <button pButton type="button" (click)="addItem()" class="ui-button-success" icon="pi pi-plus-circle"
                            label="Add" title="Click here to add new Approver">
                        </button>
                    </div>
                    <!-- <div class="ui-g-7 ui-md-7"  *ngIf="i != emailFormArray.length - 1">
                        <span class="ui-float-label"></span>
                        <button pButton type="button" [disabled]=" emailFormArray.length == 0 " (click)="onRemoved(i)" class="ui-button-warning" icon="pi pi-minus-circle"
                            label="Remove" title="Click here to remove new Approver">
                        </button>
                    </div> -->
                     <div class="ui-g-7 ui-md-7">
                        <span class="ui-float-label"></span>
                        <button pButton type="button"  (click)="onRemoved(i)" class="ui-button-warning" icon="pi pi-minus-circle"
                            label="Remove" title="Click here to remove new Approver">
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
    <div class="ui-g-12">
        <div class="edit-role-footer">
            <button pButton type="button" (click)="cancel()" label="Cancel" icon="far fa-times-circle"
                class="ml-1 ui-button-warning" style="float: right;"></button>

            <button pButton type="submit" label="Send For Approval" (click)="sendEmail()" icon="fas fa-user-edit"
                class="ui-button-success mr-2" style="float: right;"></button>
        </div>
    </div>
</div>