<div class="p-grid">
  <div class="p-col">
    <div class="image-upload">
      <label for="file-input" title="Click here to select image from your PC">
        <i class="fas fa-camera"></i>
      </label>
      <input
        type="file"
        id="file-input"
        (change)="fileChangeEvent($event)"
        accept="image/gif, image/jpeg, image/png"
      />
    </div>
  </div>
</div>
<div class="p-grid" *ngIf="fileSelected">
  <div class="p-col">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="1"
      [resizeToWidth]="0"
      format="png"
      [roundCropper]="true"
      outputType="base64"
      containWithAspectRatio="true"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
      style="height: 500px"
    ></image-cropper>
  </div>
</div>
<div class="p-grid">
  <div class="p-col">
    <img [src]="croppedImage" />
  </div>
</div>
<div class="p-grid" style="margin-top: 15px;">
  <div class="p-col">
    <p-button
      class="save"
      (click)="saveImage()"
      icon="fas fa-save"
      label="Save"
    ></p-button>
  </div>
  <div class="p-col">
    <p-button
      (click)="cancel()"
      icon="far fa-times-circle"
      label="Cancel"
    ></p-button>
  </div>
</div>
