img {
  border-radius: 50%;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image-upload > input {
  display: none;
}

.image-upload img {
  width: 80px;
  cursor: pointer;
}

.save {
  float: right;
}

i.fa-camera {
  margin: 10px;
  cursor: pointer;
  font-size: 30px;
}

i:hover {
  opacity: 0.6;
}
