<div id="cpr-component">
  <div class="last-updated">
    <ym-bell-icon *ngIf="bellIconLoaded" [commentJson]="commentJson" (clickOnComment)="clickOnComment($event)"
      [commentData]="commentData" [chatcount]="chatcount"></ym-bell-icon>

    <div class="popover-container d-inline-block ml-2">
      <div>
        <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} EST
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          EST
        </p>
      </div>
    </div>
  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>

  <!-- Toggle view -->
  <div class="p-col-12">
    <div style="display: inline-block;">
      View {{ toggleView ? 'Orders' : 'Line Items'
      }}<p-inputSwitch (click)="reLoadTableData()" [(ngModel)]="toggleView"></p-inputSwitch>
    </div>
    <div style="float: right;">
      View {{ activeView ? 'Active' : 'Ended'
      }}<p-inputSwitch (click)="reLoadTableData()" [(ngModel)]="activeView"></p-inputSwitch>
    </div>
  </div>
  <hr />
  <!-- end Toggle View -->
  <!-- ------------------------ Table 2 Component Start ------------------------ -->
  <div [hidden]="noTableData" class="mt-1 mb-3 cpr-table" *ngIf="displayAggTable">
    <p-treeTable #tblCPR [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
      [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']"
      [sortMode]="aggTableJson['sortMode']" [resizableColumns]="aggTableJson['resizableColumns']"
      [columnResizeMode]="aggTableJson['columnResizeMode']" [reorderableColumns]="aggTableJson['reorderableColumns']"
      [frozenColumns]="aggTableJson['frozenCols']" [frozenWidth]="aggTableJson['frozenWidth']"
      [scrollable]="aggTableJson['scrollable']" [scrollHeight]="aggTableJson['scrollHeight']"
      [selectionMode]="aggTableJson['selectionMode']" [(selection)]="aggTableJson['selectedColsModal']"
      [dataKey]="aggTableJson['selectionDataKey']" [metaKeySelection]="aggTableJson['metaKeySelection']"
      [style]="{ width: '100%' }" (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
            optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
        </div>
        <div *ngIf="isExportReport && aggTableJson['export']" class="ml-3 mt-2" style="text-align: left; float: right; display: inline-block;">
          <div data-html2canvas-ignore class="dropdown">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
              <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <span class="dropdown-item link-style" (click)="exportTable('Excel')">
                Excel
              </span>
              <span class="dropdown-item link-style" (click)="exportTable('CSV')">
                CSV
              </span>
              <!-- <span
                class="dropdown-item link-style"
                (click)="exportTable('JSON')"
              >
                JSON
              </span> -->
            </div>
          </div>
        </div>
        <div
        *ngIf="aggTableJson['overallSearch']"
        style="text-align: right; float: right; display: inline-block;"
      >
       <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
       <input class="search"
         ymInput
         pInputText
         type="text"
         size="30"
         placeholder="Search All"
         [(ngModel)]="searchvalue"
         (ngModelChange)="onGlobalSearchChanged(searchvalue,aggTableColumnDef)"
       />
     </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}

            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="aggTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input ymInput pInputText type="text" [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                " (input)="
                  tblCPR.filter(
                    $event.target.value,
                    col.field,
                    col.filterMatchMode
                  )
                " />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
              col.field == 'comments' || col.field == 'favorite'
                ? col.field
                : (rowData[col.field] | formatNum: col.format:col.formatConfig)
            ">
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
              </ng-template>
              <ng-template pTemplate="output">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="
                !col['options']['editable'] &&
                col.field != 'comments' &&
                col.field != 'favorite' &&
                col.field != 'OSI' &&
                col.field != '3rd_party_OSI' &&
                col.field != 'kpi_goals' &&
                col.field != 'recommandations' &&
                col.field != 'auto_optimize'
              ">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>
            <span *ngIf="col.field == 'OSI' || col.field == '3rd_party_OSI'"
              [class]="osiProgressClass(rowData, col.field)">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>
            <span *ngIf="col.field == 'comments'" (click)="addComment(rowData)" class="link-style-icon">
              <i class="far fa-comments"></i>
            </span>
            <span *ngIf="col.field == 'kpi_goals'" (click)="editKpiGoals(rowData,true)" class="link-style-icon">
              <i class="fas fa-pencil-alt"></i>
            </span>
            <span *ngIf="col.field == 'recommandations'" (click)="editKpiGoals(rowData,false)" class="link-style-icon">
              <i class="far fa-eye"></i>
            </span>
            <span *ngIf="col.field == 'auto_optimize'">
              <p-dropdown appendTo="body" editable="true" [options]="statusLists" [(ngModel)]="rowData[col.field]"
               [style]="{ width: '50%' }"
              placeholder="Select Status"></p-dropdown>

            </span>

            <span *ngIf="col.field == 'favorite'" (click)="toggleFavorite(rowData)" class="link-style-icon">
              <i [class]="isFavorite(rowData, col.field)"></i>
            </span>
          </td>
        </tr>
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->

      <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr style="background: #f4f4f4">
          <td *ngFor="let col of columns; let i = index" [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
            <p-treeTableToggler *ngIf="i == 0 && toggleView" [rowNode]="rowNode"></p-treeTableToggler>
            <span *ngIf="rowData[col.field] == 'All'">
              {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
            </span>
            <span *ngIf="rowData[col.field] !== 'All'" class="btn-link d-inline"
              (click)="openPopup(rowData, col.field)">
              {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="aggTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">
    No data found
  </div>
  <!-- ------------------------- Table 2 Component End ------------------------- -->
</div>