<div id="capture">
  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>

  <hr />
  <div style="margin-top:5px">
    <p class="disclaimer">
      <b>Key Performance Indicator</b>
    </p>
  </div>

  <!-- ------------------------ Table Component Start ------------------------ -->

  <div class=" mt-1">
    <p-table #ttFlat [value]="flatTableData" [columns]="flatTableJson['selectedColumns']" [style]="{ width: '100%' }"
      [loading]="flatTableJson['loading']">
      <ng-template pTemplate="caption">
        <div
          style="text-align: left; float: left; display: inline-block;"
        ></div>
        <div
          *ngIf="isExportReport && flatTableJson['export']"
          style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2 mb-2"
        >
          <div data-html2canvas-ignore class="dropdown">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
              <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" (click)="exportTable('flat', 'Excel')">
                Excel
              </a>
              <a class="dropdown-item" href="#" (click)="exportTable('flat', 'CSV')">
                CSV
              </a>
              <!-- <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('flat', 'JSON')"
              >
                JSON
              </a> -->
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns let-rowData let i="index">
        <tr>
          <!-- <th *ngFor="let col of columns; let i = index">
            {{ col.displayName }}
          </th> -->

          <th>Data Source</th>
          <th>KPIs</th>
          <th>{{ data1 }}</th>
          <th>7 Days Average ({{ startD }} to {{ endD }})</th>
          <th>7 Days Average vs ({{ data1 }})</th>
          <th>Current Month's Data</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
        <tr>
          <td>
            {{ rowData['data'].data_source }}
          </td>
          <td>
            {{ rowData['data'].kpis }}
          </td>

          <td>
            <span>
              {{ rowData['data'].yesterday_data }}
            </span>
          </td>
          <td>
            <span>
              {{ rowData['data'].seven_days_average }}
            </span>
          </td>
          <td>
            <span *ngIf="rowData['data'].seven_days_average_vs_yesterday >= 0" style="color:green">
              {{
                rowData['data'].seven_days_average_vs_yesterday / 100
                  | percent: '1.2-2'
              }}<i class="fas fa-arrow-up" style="margin-left:10px;"></i>
            </span>
            <span *ngIf="rowData['data'].seven_days_average_vs_yesterday < 0" style="color:red">
              {{
                rowData['data'].seven_days_average_vs_yesterday / 100
                  | percent: '1.2-2'
              }}<i class="fas fa-arrow-down" style="margin-left:10px;"></i>
            </span>
            <span *ngIf="rowData['data'].seven_days_average_vs_yesterday == undefined">N/A</span>
          </td>
          <td>
            <span>
              {{ rowData['data'].current_month_data }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="flatTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <hr />
  <div style="margin-top:5px">
    <p class="disclaimer">
      <b> Lost Revenue Opportunity</b>
    </p>
  </div>

  <div class=" fr-vast-table vast-table mb-3">
    <p-treeTable #ttFlat [value]="revenueflatTableData" [columns]="revenueflatTableJson['selectedColumns']"
      [paginator]="true" [rows]="revenueflatTableJson['page_size']" [first]="revenueflatTableJson['page']"
      [totalRecords]="revenueflatTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
      [lazy]="revenueflatTableJson['lazy']" [loading]="revenueflatTableJson['loading']"
      [sortMode]="revenueflatTableJson['sortMode']" [resizableColumns]="revenueflatTableJson['resizableColumns']"
      [columnResizeMode]="revenueflatTableJson['columnResizeMode']"
      [reorderableColumns]="revenueflatTableJson['reorderableColumns']"
      [frozenColumns]="revenueflatTableJson['frozenCols']" [frozenWidth]="revenueflatTableJson['frozenWidth']"
      [scrollable]="revenueflatTableJson['scrollable']" [scrollHeight]="revenueflatTableJson['scrollHeight']"
      [selectionMode]="revenueflatTableJson['selectionMode']" [(selection)]="revenueflatTableJson['selectedColsModal']"
      [dataKey]="revenueflatTableJson['selectionDataKey']" [metaKeySelection]="revenueflatTableJson['metaKeySelection']"
      [style]="{ width: '100%' }">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div *ngIf="revenueflatTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="revenueflatTableJson['columns']"
            [(ngModel)]="revenueflatTableJson['selectedColumns']" optionLabel="displayName" maxSelectedLabels="1"
            selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns">
          </p-multiSelect>
        </div>
        <div
          *ngIf="isExportReport && revenueflatTableJson['export']"
          style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2 mb-2"
        >
          <div data-html2canvas-ignore class="dropdown">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
              <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" (click)="exportTable('lostRevenue', 'Excel')">
                Excel
              </a>
              <a class="dropdown-item" href="#" (click)="exportTable('lostRevenue', 'CSV')">
                CSV
              </a>
              <!-- <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('lostRevenue', 'JSON')"
              >
                JSON
              </a> -->
            </div>
          </div>
        </div>
        <div *ngIf="revenueflatTableJson['overallSearch']"
          style="text-align: right; float: right; display: inline-block;">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All"
            [(ngModel)]="searchvalue" (ngModelChange)="onGlobalSearchChanged(searchvalue,revenueflatTableColumnDef)" />
            <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
            (click)="searchvalue='';onGlobalSearchChanged(searchvalue,revenueflatTableColumnDef )"><i
              class="pi pi-times"></i>
          </span>
        </div>
        <div style="text-align: right; float: right; display: inline-block;">
          <i class="fas fa-info-circle info-toottip" title="Search function works for dimensions only."></i>
        </div>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}
            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
            </p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="flatTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input ymInput pInputText type="text" [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                " (input)="
                  ttFlat.filter(
                    $event.target.value,
                    col.field,
                    col.filterMatchMode
                  )
                " />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            " ttEditableColumn>
            <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode">
            </p-treeTableToggler>

            <span *ngIf="col.field != 'lost_avg_revenue'">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>

            <span *ngIf="
                col.field == 'lost_avg_revenue' &&
                rowData[col.field] >= 0
              " style="color:green">
              {{ rowData[col.field] | currency }}
            </span>

            <span *ngIf="
                col.field == 'lost_avg_revenue' &&
                rowData[col.field] < 0
              " style="color:red">
              {{ rowData[col.field] | currency }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="revenueflatTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
<p-confirmDialog #cd rejectVisible='false' [style]="{width: '50vw'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Ok" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>