<div>
  <i
    *ngIf="!showMainPieChart && !noDataPieChart"
    class="pi pi-spin pi-spinner"
    style="font-size: 3em; margin: 150px;"
  ></i>
  <div class="no-data-label" *ngIf="noDataPieChart">
    No data found
  </div>
  <ym-charts
    *ngIf="showMainPieChart"
    [chartsJson]="mainPieChartJson"
    (chartDataSelect)="chartSelected($event)"
  >
  </ym-charts>
</div>
