<div class="ui-fluid">
  <div class="ui-g" *ngIf="detailsLoaded">
    <div class="ui-g-12">
      <div class="ui-g-6">
        <div class="ui-g-6 font-weight-bold">Role Name</div>
        <div class="ui-g-6">{{ roleDetails.role.name }}</div>
        <div class="ui-g-6 font-weight-bold">Role Description</div>
        <div class="ui-g-6">{{ roleDetails.role.description }}</div>
      </div>
    </div>
    <div class="ui-g-12">
      <p-table
        #permTab
        [columns]="permissionsColumnDef"
        [value]="roleDetails.permissions"
        [scrollable]="true"
        scrollHeight="70vh"
        [resizableColumns]="true"
        columnResizeMode="expand"
        [paginator]="true"
        [rows]="10"
      >
        <ng-template pTemplate="caption">
          <div class="ui-helper-clearfix">
            <h5 style="float:left; margin: 2px 0 0 0;">Permissions</h5>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width.px]="col['width']" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              *ngFor="let col of columns"
              [pSortableColumn]="col['field']"
              pResizableColumn
            >
              {{ col['header'] }}
              <p-sortIcon
                [field]="col['field']"
                ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order"
                ariaLabelAsc="Activate to sort in ascending order"
              ></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns">
              <input
                pInputText
                [style.width.px]="decreaseSearchWidth(col['width'])"
                type="text"
                (input)="
                  permTab.filter(
                    $event.target.value,
                    col['field'],
                    col['filterMatchMode']
                  )
                "
              />
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-permission
          let-columns="columns"
          let-rowIndex="rowIndex"
        >
          <tr>
            <td>
              {{ permission['displayName'] }}
            </td>
            <td>
              {{ permission['appDisplayName'] }}
            </td>
            <td>
              {{ permission['permissionType'] }}
            </td>
            <td>
              {{ permission['description'] }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12">
      <button
        (click)="ref.close()"
        pButton
        type="button"
        label="Cancel"
        class="ui-button-rounded ui-button-primary float-right"
        style="width:80px;"
      ></button>
    </div>
  </div>
</div>
