<div id="cpr-component">
  <div class="last-updated">
    <ym-bell-icon *ngIf="bellIconLoaded" [commentJson]="commentJson" (clickOnComment)="clickOnComment($event)"
    [commentData]="commentData" [chatcount]="chatcount"></ym-bell-icon>
    <div class="popover-container d-inline-block ml-2">
      <div>
        <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} EST
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          EST
        </p>
      </div>
    </div>
  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>
 
  <!-- ------------------------ Table 2 Component Start ------------------------ -->

  <div class="p-col-12 mt-1 fr-pit-issue-table">
    <p-treeTable #ttFlat [value]="flatTableData" [columns]="flatTableJson['selectedColumns']" [paginator]="true"
      [rows]="flatTableJson['page_size']" [totalRecords]="flatTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="flatTableJson['lazy']" [loading]="flatTableJson['loading']"
      [sortMode]="flatTableJson['sortMode']" [resizableColumns]="flatTableJson['resizableColumns']"
      [columnResizeMode]="flatTableJson['columnResizeMode']" [reorderableColumns]="flatTableJson['reorderableColumns']"
      [frozenColumns]="flatTableJson['frozenCols']" [frozenWidth]="flatTableJson['frozenWidth']"
      [scrollable]="flatTableJson['scrollable']" [scrollHeight]="flatTableJson['scrollHeight']"
      [selectionMode]="flatTableJson['selectionMode']" [(selection)]="flatTableJson['selectedColsModal']"
      [dataKey]="flatTableJson['selectionDataKey']" [metaKeySelection]="flatTableJson['metaKeySelection']"
      [style]="{ width: '100%' }" [globalFilterFields]="flatTableJson['globalFilterFields']">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div class="mb-1" *ngIf="flatTableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="flatTableJson['columns']" [(ngModel)]="flatTableJson['selectedColumns']"
            optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
        </div>
        <div class="mt-2 ml-2" style="float: left; display: inline-block;">
          <label for="toggle-btn">Data for</label>
        </div>
        <div class="mb-1 ml-2" style="float: left; display: inline-block;padding-top: 4px;">

          <input type="checkbox" id="tremorType" [(ngModel)]="tremorType" (change)="changetremorToggleFlag()" />
          <label class="toggle-button-switch" for="tremorType"></label>
          <div class="toggle-button-text"
            [ngClass]="{ off: tremorToggleFlag == 'non_tremor', on: tremorToggleFlag == 'tremor' }">
            <div class="toggle-button-text-on">Non Tremor</div>
            <div class="toggle-button-text-off">Tremor</div>
          </div>
        </div>
        <div class="mb-1 ml-3" style="float: left; display: inline-block;padding-top: 4px;">
          <input type="checkbox" id="issueType" [(ngModel)]="issueType" (change)="changeOpenIssueToggleFlag()" />
          <label class="toggle-button-switch" for="issueType"></label>
          <div class="toggle-button-text"
            [ngClass]="{ off: openIssueToggleFlag == 'all', on: openIssueToggleFlag == 'open' }">
            <div class="toggle-button-text-on">All Issues</div>
            <div class="toggle-button-text-off">Open Issues</div>
          </div>
        </div>
        <div class="mb-1 ml-3" style=" float: left; display: inline-block;padding-top: 3px;">
          <button pButton type="submit" icon="fas fa-plus-circle" label="Add Issue" iconPos="right"
            class="ui-button-rounded ui-button-success edit-role-button" style="float: right; margin-bottom: 1%;"
            (click)="NewIssues()"></button>
        </div>
        <div *ngIf="isExportReport && flatTableJson['export']"
          style="text-align: left; float: right; display: inline-block;" class="ml-3 mt-2">
          <div data-html2canvas-ignore class="dropdown">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
              <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="exportTable('Excel')">
                Excel
              </a>
              <a class="dropdown-item" (click)="exportTable('CSV')">
                CSV
              </a>
            </div>
          </div>
        </div>
        <div *ngIf="flatTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input  ymInput pInputText type="text" pInputText size="50" placeholder="Global Filter"
            (input)="ttFlat.filterGlobal($event.target.value, 'contains')" class="search" type="text"
            size="30" [(ngModel)]="searchvalue"
            placeholder="Search All">
            <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
            (click)="searchvalue='';ttFlat.filterGlobal('', 'contains')"><i class="pi pi-times"></i>
          </span>
        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}
            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
            </p-treeTableSortIcon>
          </th>
        </tr>

        <tr *ngIf="flatTableJson['columnSearch']">
            <ng-container *ngFor="let col of columns">
              <th *ngIf="isHiddenColumn(col)">
                <input pInputText type="text" (input)="
                  ttFlat.filter(
                      $event.target.value,
                      col.field,
                      'contains'
                    )
                  " [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  " style="width: 100%;border-radius: 5px;

                  border: 1px solid #c8c8c8;
                  padding: 1.3px;" />
              </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->

      <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr style="background: #f4f4f4">
          <td *ngFor="let col of columns; let i = index" [title]="
            rowData[col.field] | formatNum: col.format:col.formatConfig
          ">
            <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>
            <span *ngIf="col.field == 'server_campaign_id' && rowData['server_campaign_id'] != 'non_existing'">
              {{
                rowData[col.field] | formatNum: col.format:col.formatConfig
              }}
            </span>
            <span *ngIf="col.field == 'server_campaign_id' && rowData['server_campaign_id'] == 'non_existing'">
              IT-{{
                rowData.issue_id
              }} 
            </span>
            <span *ngIf="col.field != 'server_campaign_id'">
              {{
              rowData[col.field]
              ? (rowData[col.field]
              | formatNum: col.format:col.formatConfig)
              : ''
              }}
            </span>
          </td>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            " [ngStyle]="{ 'background-color':ConvertToColor(rowData[col.field],col.field) }">
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
              </ng-template>
              <ng-template pTemplate="output">
                {{
                rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="!col['options']['editable']">
             
              <span
                *ngIf="col.field !== 'trafficking_delivery_progress' && col.field !== 'trafficking_total_vcr' && col.field != 'delete' && col.field != 'edit' && col.field != 'comments' && col.field != 'dropbox_url'">
                {{
                rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
              <span
                *ngIf="col.field == 'trafficking_delivery_progress'" [class]="progressTemplateClass(rowData, col.field)">
                {{
                rowData[col.field] | formatNum: col.format:col.formatConfig
                 }}
            </span>
            <span
                *ngIf="col.field == 'trafficking_total_vcr'" [class]="vcrTemplateClass(rowData, col.field)">
                {{
                rowData[col.field] | formatNum: col.format:col.formatConfig
                 }}
            </span>
              <span *ngIf="col.field == 'delete'" class="link-style-icon" (click)="deleteIssues(rowData)">
                <i class="far fa-trash-alt"></i>
              </span>

              <span *ngIf="col.field == 'edit'" class="link-style-icon" (click)="editIssues(rowData)">
                <i class="fas fa-pencil-alt"></i>
              </span>

              <span *ngIf="col.field == 'comments'" class="link-style-icon" 
                (click)="addComment(rowData)">
                <i class="far fa-comments" title="Comments" ></i>
              </span>
              <span *ngIf="
                col.field == 'dropbox_url' && rowData['dropbox_url'] != null &&
                rowData['server_campaign_id'] != 'non_existing'
              ">
                <a class="link-style" href="{{ rowData['dropbox_url'] }}" target="_blank">Link <i
                    class="fas fa-share-square"></i>
                </a>
              </span>
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
        state.rows * (state.page + 1) > state.totalRecords
        ? state.totalRecords
        : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="flatTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <!-- ------------------------- Table 2 Component End ------------------------- -->
  <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
</div>