.notifications {
  margin-right: 1rem;
  position: relative;
}

span.count {
  color: #f00;
  top: 5px;
  position: relative;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 50%;
}

.notifications .dropdown-item {
  max-width: 350px;
  white-space: normal;
  border-bottom: 1px solid #ccc;
  font-size: 10px;
}

.notifications .dropdown-menu {
  max-height: 425px;
  overflow: auto;
}

span.msg {
  font-size: 0.8925rem;
}
span.at-time {
  font-size: 12px;
}
span.comment-on {
  font-size: 12px;
}
span.user {
  font-size: 12px;
}
input[type="checkbox"] {
  display: none;
 }

 .toggle-button-switch {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  -webkit-transition:left 0.3s;
  margin-left: -49px;
 }

 .toggle-button-text {
  width: 100px;
  overflow: hidden;
  background-color: #fc3164;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
  transition: background-color 0.3s;
  margin: auto;
 }


 .toggle-button-text-off {
  float: left;
  /* width: 50%; */
  height: 100%;
  line-height: 22px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: #fff;

  padding-left: 10px;
 }

  .toggle-button-text-on{
  float: right;
  height: 100%;
  line-height: 22px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-right: 10px;
 }



 input[type="checkbox"]:checked ~ .toggle-button-switch {
  margin-left: 27px;
 }

 input[type="checkbox"]:checked ~ .toggle-button-text {
  background-color: #3dbf87;
 }

 input[type=checkbox]:checked  ~ .on div.toggle-button-text-on {
 display: none;
 }

 input[type=checkbox]  ~ .on div.toggle-button-text-on {
 display: block;
 }

 input[type=checkbox]  ~ .off div.toggle-button-text-off {
 display: none;
 }

 input[type=checkbox]:checked  ~ .off div.toggle-button-text-off {
 display: block;
 }

