<div id="capture">
  <p-card>
  <div class="ui-g">
   <div class="ui-g-10">
    <span class="ui-float-label" *ngIf="rowData.field == 'raw_report_link'">Raw Report Link</span>
    <span class="ui-float-label" *ngIf="rowData.field == 'rev_calculation_doc_link'">Rev Calculation Doc Link</span>
    <span class="ui-float-label" *ngIf="rowData.field == 'mtd_link'">MTD Data Link</span>
   <input pInputText type="text" class="form-control" [(ngModel)]="fileLink"/>
   </div>
   <div class="ui-g-2">
    <button
    pButton
    type="button"
    (click)="rowData.field == 'mtd_link' ? saveMTDLink() : saveFileLink()"
    icon="far fa-save"
    label="Save"
    iconPos="right"
    class="ui-button-rounded ui-button-success"
    style="margin-top: 24%;"
  ></button>
   </div>
  </div>
 </p-card>
  <div style="width:100%;display: inline-block;" class="mt-2">
    <button
      pButton
      type="button"
      (click)="CloseDialog()"
      icon="pi pi-times-circle"
      label="Close"
      iconPos="right"
      class="ui-button-rounded ui-button-secondary btn-close"
      style="float: right;"
    ></button>
  </div>
</div>
