<p-tabView (onChange)="tabChanged($event)">
  <p-tabPanel [selected]="true" header="Impressions Trend Column-Chart">
    <i
      *ngIf="!showMainLineChart && !noDataMainLineChart"
      class="pi pi-spin pi-spinner"
      style="font-size: 3em; margin: 150px;"
    ></i>
    <div class="no-data-label" *ngIf="noDataMainLineChart">
      No data found
    </div>
    <ym-charts
      *ngIf="showMainLineChart"
      [chartsJson]="mainLineChartJson"
      (chartDataSelect)="chartSelected($event)"
    >
    </ym-charts>
  </p-tabPanel>
  <p-tabPanel header="Demand Partner Revenue Mix">
    <i
      *ngIf="!showMainPieChart && noDataPieChart"
      class="pi pi-spin pi-spinner"
      style="font-size: 3em; margin: 150px;"
    ></i>
    <div class="no-data-label" *ngIf="noDataPieChart">
      No data found
    </div>
    <ym-charts
      *ngIf="showMainPieChart"
      [chartsJson]="popupPieChartJson"
      (chartDataSelect)="chartSelected($event)"
    ></ym-charts>
  </p-tabPanel>
</p-tabView>
