<div class="ui-fluid">
  <div class="ui-g" *ngIf="detailsLoaded">
    <div class="ui-g-12">
      <div class="ui-g-6 font-weight-bold">Team Name</div>
      <div class="ui-g-6">{{ team.name }}</div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-6 font-weight-bold">Resources</div>
    </div>
    <div class="ui-g-12">
      <p-accordion>
        <p-accordionTab [selected]="ii == 0" *ngFor="let dim of defaultDimensions; let ii = index"
          header="{{ dim.label }}">

          <p-accordion>
            <p-accordionTab [selected]="i == 0" *ngFor="let resource of dim['value']; let i = index"
              header="{{ resource.label }}">

              <div *ngIf="i == 0">
                <input #txtSearch class="ui-inputtext ui-corner-all ui-state-default ui-widget mb-2"
                  placeholder="Search" />
                <ul class="team-details">
                  <li class="team-details-item" *ngFor="let r of resource.value | searchStr: txtSearch.value"
                    [title]="r">
                    {{ r }}
                  </li>
                </ul>
              </div>
              <ng-template *ngIf="i !== 0" pTemplate="content">
                <input #txtSearch class="ui-inputtext ui-corner-all ui-state-default ui-widget mb-2"
                  placeholder="Search" />
                <ul class="team-details">
                  <li class="team-details-item" *ngFor="let r of resource.value | searchStr: txtSearch.value"
                    [title]="r">
                    {{ r }}
                  </li>
                </ul>
              </ng-template>

            </p-accordionTab>
          </p-accordion>

        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>