<div class="p-grid">
  <div
    class="filters-div"
    *ngFor="let dim of defaultDimensions; let dimIdx = index"
  >
    <span class="ui-float-label">
      {{ dim.label }}
    </span>
    <p-multiSelect
      [options]="availableFilterData[dim.filter_key]"
      defaultLabel="Select {{ pluralize(dim.label) }}"
      [(ngModel)]="selectedFilterData[dim.filter_key]"
      maxSelectedLabels="1"
      selectedItemsLabel="{0} {{ pluralize(dim.label) }} selected"
      [filter]="true"
      [virtualScroll]="true"
      appendTo="body"
      itemSize="30"
      filterBy="label,value.name"
      [style]="{ 'min-width': '200px' }"
      (onPanelHide)="onChangeFilterCom(dim, dimIdx)"
      (click)="onClickFilterCom(dim, dimIdx)"
    >
    </p-multiSelect>
  </div>
</div>
