<p-tabView (onChange)="mainTabChange($event)">
  <p-tabPanel header="User Trend">
    <div class="p-col-12 p-md-12 p-lg-12">
      <p-tabView (onChange)="audienceTabChange($event)" #audienceTabView>
        <p-tabPanel *ngFor="let card of cardsJson; let i = index">
          <ng-template pTemplate="header">
            <p class="name">{{card.displayName}}<i *ngIf="card.infoTitle != ''" title="{{card.infoTitle}}"
              class="fas fa-info-circle" style="margin-left: 5px;">
            </i> </p>
          </ng-template>
          <div>
            <i *ngIf="!showMainLineChart && !noDataMainLineChart" class="pi pi-spin pi-spinner"
              style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
            <div class="no-data-label" *ngIf="noDataMainLineChart">
              No data found
            </div>
            <ym-charts *ngIf="showMainLineChart" [chartsJson]="mainLineChartJson">
            </ym-charts>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="p-col-12 p-md-12 p-lg-12">
      <div>
        <p-table #ttFlat [value]="flatTableData" [scrollable]="true"
          [columns]="flatTableJson['columns']" [resizableColumns]="true" [paginator]="true"
          [rows]="flatTableJson['page_size']" [first]="flatTableJson['page']"
          [totalRecords]="flatTableJson['totalRecords']" [sortMode]="flatTableJson['sortMode']"
          [loading]="flatTableJson['loading']" [rowsPerPageOptions]="[10, 20, 50, 100]"
          [scrollable]="flatTableJson['scrollable']" [scrollHeight]="flatTableJson['scrollHeight']">
          <!-- ------------------------- For frozen columns -------------------------- -->

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
            </colgroup>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.displayName}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" style="height: 36px; white-space: nowrap; overflow: hidden;"
                title="{{rowData[col.field]}}">
                <span>
                  {{rowData[col.field] | formatNum: col.format:col.formatConfig}}
                </span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            Showing {{ state.page * state.rows + 1 | number}} to
            {{
              state.rows * (state.page + 1) > state.totalRecords
                ? (state.totalRecords | number)
                : (state.rows * (state.page + 1) | number)
            }}
            of {{ state.totalRecords | number}} Records
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="flatTableJson['columns'].length">
                No data found.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-tabPanel>
  <!-- <p-tabPanel header="Traffic/Referral Trend">
    <div class="p-col-12 p-md-12 p-lg-12">
      <p-tabView (onChange)="acquireUserTabChange($event)" #acquireUserTabView>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <p class="name">Traffic Channels</p>
          </ng-template>
          <div>
            <i *ngIf="!showAcquireUserChart && !noDataAcquireUserChart" class="pi pi-spin pi-spinner"
              style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
            <div class="no-data-label" *ngIf="noDataAcquireUserChart">
              No data found
            </div>
            <ym-charts *ngIf="showAcquireUserChart" [chartsJson]="acquireUserChartJson">
            </ym-charts>
          </div>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <p class="name">Referrals</p>
          </ng-template>
          <div>
            <i *ngIf="!showAcquireUserChart && !noDataAcquireUserChart" class="pi pi-spin pi-spinner"
              style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
            <div class="no-data-label" *ngIf="noDataAcquireUserChart">
              No data found
            </div>
            <ym-charts *ngIf="showAcquireUserChart" [chartsJson]="acquireUserChartJson">
            </ym-charts>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="p-col-12 p-md-12 p-lg-12">
      <div>
        <p-table #ttFlat [value]="trafficTableData" [scrollable]="true" scrollHeight="calc(100vh - 120px)"
          [columns]="trafficTableJson['selectedColumns']" [resizableColumns]="true" [paginator]="true"
          [rows]="trafficTableJson['page_size']" [first]="trafficTableJson['page']"
          [totalRecords]="trafficTableJson['totalRecords']" [sortMode]="trafficTableJson['sortMode']">-->
          <!-- ------------------------- For frozen columns -------------------------- -->

        <!--  <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
            </colgroup>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.displayName}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" style="height: 36px; white-space: nowrap; overflow: hidden;"
                title="{{rowData[col.field]}}">
                <span>
                  {{rowData[col.field] | formatNum: col.format:col.formatConfig}}
                </span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            Showing {{ state.page * state.rows + 1 }} to
            {{
              state.rows * (state.page + 1) > state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            of {{ state.totalRecords }} Records
          </ng-template>
        </p-table>
      </div>-->
      <!-- <div class="no-data-label" *ngIf="showTrafficRefferel">
        No data found.
      </div> -->
   <!--  </div>
  </p-tabPanel>
  <p-tabPanel header="Geography Trend">
    <div class="p-grid">
      <div class="p-col-6 p-md-6 p-lg-6">
        <p-card class="geo-chart">
          <div>
            <i *ngIf="!showGeoSessionChart && !noDataGeoSessionChart" class="pi pi-spin pi-spinner"
              style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
            <div class="no-data-label" *ngIf="noDataGeoSessionChart">
              No data found
            </div>
            <ym-charts *ngIf="showGeoSessionChart" [chartsJson]="geoSessionChartJson">
            </ym-charts>
          </div>
        </p-card>
      </div>
      <div class="p-col-6 p-md-6 p-lg-6">
        <div>
          <p-table #ttFlat [value]="geoTableData" [scrollable]="true" scrollHeight="calc(100vh - 120px)"
            [columns]="geoTableJson['selectedColumns']" [resizableColumns]="true" [paginator]="true"
            [rows]="geoTableJson['page_size']" [first]="geoTableJson['page']"
            [totalRecords]="geoTableJson['totalRecords']" [sortMode]="geoTableJson['sortMode']">-->
            <!-- ------------------------- For frozen columns -------------------------- -->

            <!--<ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
              </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.displayName}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" style="height: 36px; white-space: nowrap; overflow: hidden;"
                  title="{{rowData[col.field]}}">
                  <span>
                    {{rowData[col.field] | formatNum: col.format:col.formatConfig}}
                  </span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
              Showing {{ state.page * state.rows + 1 }} to
              {{
                state.rows * (state.page + 1) > state.totalRecords
                  ? state.totalRecords
                  : state.rows * (state.page + 1)
              }}
              of {{ state.totalRecords }} Records
            </ng-template>
          </p-table>
        </div>-->
        <!-- <div class="no-data-label" *ngIf="showGeography">
          No data found.
        </div> -->
     <!-- </div>
    </div>
  </p-tabPanel> -->
</p-tabView>