<div id="capture">
  <div class="last-updated mr-3">
    <div *ngIf="isExportReport && flatTableJson['export']"  data-html2canvas-ignore class="dropdown d-inline-block">
      <span
        class="dropdown-toggle"
        style="cursor: pointer"
        id="dropdownMenu1"
        data-toggle="dropdown"
        aria-haspopup="true"
        title="Export JPEG"
        aria-expanded="true"
      >
        <i class="fas fa-download">
          <span class="caret"></span>
        </i>
        &nbsp;&nbsp;Export</span
      >
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <!-- <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a> -->
        <!-- <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a> -->
        <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('flat', 'Excel')"
              >
                Excel
              </a>
              <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('flat', 'CSV')"
              >
                CSV
              </a>
              <!-- <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('flat', 'JSON')"
              >
                JSON
              </a> -->
      </div>
    </div>
  </div>
  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- ------------------------ Table Component Start ------------------------ -->

  <div class="p-col-12 mt-1">
    <p-table
      #ttFlat
      [value]="flatTableData"
      [scrollable]="true"
      scrollHeight="calc(100vh - 120px)"
      [columns]="flatTableJson['selectedColumns']"
    >
    <ng-template pTemplate="caption">
      <div
          *ngIf="flatTableJson['overallSearch']"
          style="text-align: right; float: right; display: inline-block;"
        >
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input class="search"
            ymInput
            pInputText
            type="text"
            size="30"
            placeholder="Search All"
            [(ngModel)]="searchvalue"
            (ngModelChange)="onGlobalSearchChanged(searchvalue)"
          />
        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col
            *ngFor="let col of columns"
            [ngStyle]="{ width: col['width'] + 'px' }"
          />
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" pResizableColumn>
            {{ col.displayName }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr style="background: #fff">
          <td
            *ngIf="rowGroupMetadata[rowData['data'].name].index === rowIndex"
            [attr.rowspan]="rowGroupMetadata[rowData['data'].name].size"
          >
            {{ rowData['data'].name }}
          </td>

          <td><i [ngClass]="rowData['data'].status"></i></td>
          <!-- <td *ngIf="rowData['data'].link!='NA'">
            <a href="{{rowData['data'].link}}" target="_blank"> <img src="{{ rowData['data'].imgsrc }}"
                style="vertical-align: bottom;" height="50%" width="100%"></a>
          </td> -->
          <td *ngIf="rowData['data'].link != 'NA'">
            <a href="{{ rowData['data'].link }}" target="_blank"
              >{{ rowData['data'].source }}
            </a>
          </td>

          <td *ngIf="rowData['data'].link == 'NA'">
            {{ rowData['data'].source }}
          </td>

          <td>
            {{ rowData['data'].updated_at | date: 'MM-dd-yyyy' }} |
            {{ rowData['data'].updated_at | date: 'HH:mm:ss' }}
          </td>

          <td>{{ rowData['data'].source_updated_through }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- ------------------------- Table Component End ------------------------- -->
</div>
