<div class="ui-fluid pit-issues">
    <span class="p-col-12 ui-float-label">Campaign:</span>
    <div  class="p-col-12 margin-top">
        <p-dropdown placeholder="Enter CID or Campaign Name" *ngIf="existingCampaignCheckboxFlag && newIssueOnAddClicked"
            [options]="allAvailableCampaigns" [(ngModel)]="selectedCampaign" name="selectedSalesRep"
            (onChange)="changeCampaign()" optionLabel="display_name" filter="true"></p-dropdown>
        <input type="text" *ngIf="!existingCampaignCheckboxFlag" placeholder="Enter Campaign Name"
            [(ngModel)]="dummyCampaignName" class="form-control" />
    </div>
    <div class="p-col-12" *ngIf="newIssueOnAddClicked ">
        <p-checkbox [(ngModel)]="existingCampaignCheckboxFlag" label="Existing Campaign?" binary="true" (click)="existingCampaignIssueToggle()"></p-checkbox>
   </div>
    <div class="p-col-12" style="padding-left: 30px;margin-top: -15px;" *ngIf="newIssueOnAddClicked ">
        <span>(Please uncheck the box if you want to report an Issue
            for Campaign which is not present on Beeswax)</span> 
    </div>
    <div class="p-col-12" *ngIf="newIssueOnAddClicked">
        <span class="h-tag text-primary" *ngIf="isCIDValid && existingCampaignCheckboxFlag"><b>
                {{selectedCampaign['display_name'] || ''}}</b></span>
        <span class="h-tag text-primary" *ngIf="isCIDValid && !existingCampaignCheckboxFlag"><b>
                {{dummyCampaignName}}</b></span>
        <span class="text-danger mt-2" *ngIf="!isCIDValid">{{campaignError}}</span>
    </div>
    <div class="p-col-12 margin-top" *ngIf="!newIssueOnAddClicked ">
        <span class="h-tag text-primary" ><b>
                {{dummyCampaignName}}</b></span>
    </div>
    <div class="p-col-12 margin-top">
        <hr>
    </div>
    <div class="p-col-12 pt-0">
        <span class="ui-float-label pb-1">Priority :</span>
        <p-selectButton [options]="typesPriority" [(ngModel)]="selectedPriorityType"></p-selectButton>
    </div>
    <div class="p-col-12 pt-0">
        <span class="ui-float-label pb-1">Status :</span>
        <p-selectButton [options]="typesStatus" [(ngModel)]="selectedStatusType"></p-selectButton>
    </div>
    <div class="p-col-12 pt-0">
        <span class="ui-float-label">Issue Description:</span>
        <textarea style="overflow-y: auto; height: 100px; " class="form-control mt-2" rows="5"
            [(ngModel)]="issueDesc"></textarea>
    </div>

    <div class="new-rio-footer">
        <button pButton type="submit" *ngIf="newIssueOnAddClicked" [disabled]="((selectedCampaign | json) == '{}') || (!isCIDValid) || dummyCampaignName == ''"  (click)="createUpdateIssues('create')" label="Save"
            icon="fas fa-user-edit" class="ui-button-success"></button>
        <button pButton type="submit" *ngIf="!newIssueOnAddClicked" (click)="createUpdateIssues('update')" label="Update"
            icon="fas fa-user-edit" class="ui-button-success"></button>
        <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
            class="ml-2 ui-button-warning"></button>
    </div>
</div>