.new-rio-footer {
    text-align: right;
    margin-top: 20px;
}

.new-rio-button {
    width: auto;
    float: right;
    margin: 2px;
}

button {
    width: auto !important;
}
.ui-dialog-content.ui-widget-content {
    overflow: hidden !important;
}

.ui-g-4.ui-inputgroup {
    margin-left: 0.7%;
}
.ui-g-4 {
    margin-left: 0.7%;
}
.margin-top {
    margin-top: -10px;
}

.ui-float-label {
    display: block;
    position: relative;
    font-size: 14px !important;
    font-weight: bold;
  }
