<div id="capture">
  <div class="last-updated">
    <div data-html2canvas-ignore class="dropdown d-inline-block">
      <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" title="Export to PPT or JPEG" aria-expanded="true">
        <i class="fas fa-download">
          <span class="caret"></span>
        </i>
        &nbsp;&nbsp;Export</span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a>
      </div>
    </div>
    <div class="popover-container d-inline-block ml-2">
      <div>
        <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} EST
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          EST
        </p>
      </div>
    </div>
  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->

  <div class="ym-filter-container">
    <ym-filter-container (filtersApplied)="onFiltersApplied($event); resetPagination(ttPrebid)"></ym-filter-container>
    <!-- <small class="ym-warning-text"
      >* Numbers not for billing reconcillation purposes.</small
    > -->
  </div>
  <hr />
  <!-- ---------------------- Cards Container Component ---------------------- -->

  <ym-cards *ngIf="showCards" [cardsJson]="cardsJson"></ym-cards>

  <!-- ---------------------- Cards Container Component ---------------------- -->

  <!-- ---------------------- Main Charts Container Component ---------------------- -->
  <div class="p-grid mt-2 mb-2">
    <div class="p-col-12">
      <div class="border-class">
        <i *ngIf="!showMainLineChart && !noDataMainLineChart" class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
        <div class="no-data-label" *ngIf="noDataMainLineChart">
          No data found
        </div>
        <ym-charts *ngIf="showMainLineChart" [chartsJson]="mainLineChartJson" (chartDataSelect)="chartSelected($event)">
        </ym-charts>
      </div>
    </div>
  </div>
  <!-- ---------------------- Main Charts Container Component ---------------------- -->

  <div class="p-grid">
    <div class="p-col-12">
      <p-tabView (onChange)="tabChanged($event)">
        <div style="display: inline-block">
          <span class="font-weight-bold">Dimension: </span>
          <p-dropdown [options]="dimensionsDropdown" [(ngModel)]="selectedDimension" (onChange)="dimChanged()"
            optionLabel="displayName" placeholder="Select a Dimension"></p-dropdown>
        </div>
        <div *ngIf="selectedTabIndex === 1" style="display: inline-block; margin-left: 10px;">
          <span class="font-weight-bold">Metric: </span>
          <p-dropdown [options]="metricsDropdown" [(ngModel)]="selectedMetric" (onChange)="metricChanged()"
            optionLabel="displayName" placeholder="Select a Metric"></p-dropdown>
        </div>
        <p-tabPanel header="Table" rightIcon="fas fa-table" [selected]="selectedTabIndex === 0">
          <!-- ------------------------ Table Component Start ------------------------ -->
          <div class="p-col-12 mt-1 fr-upr-table">
            <p-treeTable #ttPrebid [value]="flatTableData" [columns]="flatTableJson['selectedColumns']"
              [paginator]="pagination" [rows]="flatTableJson['page_size']" [rowsPerPageOptions]="[10, 20, 50, 100]"
              [totalRecords]="flatTableJson['totalRecords']" [lazy]="flatTableJson['lazy']"
              [loading]="flatTableJson['loading']" [sortMode]="flatTableJson['sortMode']"
              [resizableColumns]="flatTableJson['resizableColumns']"
              [columnResizeMode]="flatTableJson['columnResizeMode']"
              [reorderableColumns]="flatTableJson['reorderableColumns']" [frozenColumns]="flatTableJson['frozenCols']"
              [frozenWidth]="flatTableJson['frozenWidth']" [scrollable]="flatTableJson['scrollable']"
              [scrollHeight]="flatTableJson['scrollHeight']" [selectionMode]="flatTableJson['selectionMode']"
              [(selection)]="flatTableJson['selectedColsModal']" [dataKey]="flatTableJson['selectionDataKey']"
              [metaKeySelection]="flatTableJson['metaKeySelection']" [style]="{ width: '100%' }"
              (onLazyLoad)="onLazyLoadFlatTable($event)">
              <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

              <ng-template pTemplate="caption">
                <div *ngIf="flatTableJson['showHideCols']"
                  style="text-align: left; float: left; display: inline-block;">
                  <p-multiSelect [options]="flatTableJson['columns']" [(ngModel)]="flatTableJson['selectedColumns']"
                    optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
                    [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
                </div>
                <div
                  *ngIf="isExportReport && flatTableJson['export']"
                  style="text-align: left; float: left; display: inline-block;"
                  class="ml-3 mt-2"
                >
                  <div data-html2canvas-ignore class="dropdown">
                    <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                      aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
                      <i class="fas fa-download share-icon">
                        <span class="caret"></span>
                      </i>
                      &nbsp;&nbsp;Export</span>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#" (click)="exportTable('agg', 'Excel')">
                        Excel
                      </a>
                      <a class="dropdown-item" href="#" (click)="exportTable('agg', 'CSV')">
                        CSV
                      </a>
                      <!-- <a
                        class="dropdown-item"
                        href="#"
                        (click)="exportTable('flat', 'JSON')"
                      >
                        JSON
                      </a> -->
                    </div>
                  </div>
                </div>
                <div style="text-align: right; float: right; display: inline-block;">
                  {{ selectedDateRange }}
                </div>
                <div *ngIf="flatTableJson['overallSearch']"
                  style="text-align: right; float: right; display: inline-block;">
                  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                  <input ymInput pInputText type="text" size="50" placeholder="Search All"
                    (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto" />
                </div>
              </ng-template>

              <!-- ------------------------- For frozen columns -------------------------- -->

              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
                </colgroup>
              </ng-template>

              <!-- ------------------------------- Header -------------------------------- -->

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                    ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                    [ttResizableColumnDisabled]="!col['options']['resizable']"
                    [ttReorderableColumnDisabled]="!col['options']['movable']">
                    {{ col.displayName }}
                    <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
                  </th>
                </tr>
                <tr *ngIf="flatTableJson['columnSearch']">
                  <ng-container *ngFor="let col of columns">
                    <th *ngIf="isHiddenColumn(col)">
                      <input ymInput pInputText type="text" [style.visibility]="
                          col['options']['colSearch'] ? 'visible' : 'hidden'
                        " (input)="
                          tt.filter(
                            $event.target.value,
                            col.field,
                            col.filterMatchMode
                          )
                        " />
                    </th>
                  </ng-container>
                </tr>
              </ng-template>

              <!-- -------------------------------- Body --------------------------------- -->

              <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                      rowData[col.field]
                        | formatNum: col.format:col.formatConfig
                    ">
                    <p-treeTableCellEditor *ngIf="col['options']['editable']">
                      <ng-template pTemplate="input">
                        <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                          [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{
                          rowData[col.field]
                            | formatNum: col.format:col.formatConfig
                        }}
                      </ng-template>
                    </p-treeTableCellEditor>
                    <span *ngIf="!col['options']['editable']">
                      {{
                        rowData[col.field]
                          | formatNum: col.format:col.formatConfig
                      }}
                    </span>
                  </td>
                </tr>
              </ng-template>

              <!-- ----------------------------- Frozen Body ----------------------------- -->

              <ng-template
                pTemplate="frozenbody"
                let-rowNode
                let-rowData="rowData"
                let-columns="columns"
              >
                <tr>
                  <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                  rowData[col.field]
                    | formatNum: col.format:col.formatConfig
                ">
                    <span class=" btn-link d-inline" (click)="openPopup(rowData, col.field)">{{rowData[col.field]}}</span>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="paginatorleft" let-state>
                Showing {{ state.page * state.rows + 1 }} to
                {{
                  state.rows * (state.page + 1) > state.totalRecords
                    ? state.totalRecords
                    : state.rows * (state.page + 1)
                }}
                of {{ state.totalRecords }} Records
              </ng-template>

              <!-- ------------------- Message to show for empty Data -------------------- -->

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="flatTableJson['columns'].length">
                    No data found.
                  </td>
                </tr>
              </ng-template>
            </p-treeTable>
          </div>
          <!-- ------------------------- Table Component End ------------------------- -->
        </p-tabPanel>
        <p-tabPanel header="Graph" rightIcon="fas fa-chart-line" [selected]="selectedTabIndex === 1">
          <div class="p-col-12">
            <div class="border-class">
              <i *ngIf="!showMetricChart && !noDataMetricChart" class="pi pi-spin pi-spinner"
                style="font-size: 3em; margin: 150px;position:relative; left:40%"></i>
              <div class="no-data-label" *ngIf="noDataMetricChart">
                No data found
              </div>
              <ym-charts *ngIf="showMetricChart" [chartsJson]="metricChartJson"
                (chartDataSelect)="chartSelected($event)">
              </ym-charts>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>