.kb-row {
  background-color: #1ca979 !important;
  color: #ffffff !important;
}

.kb-cell {
  background-color: #2ca8b1 !important;
  color: #ffffff !important;
}

.share-icon {
  opacity: 0.5;
  cursor: pointer;
}

.share-icon:hover {
  opacity: 1;
}

.ym-filter-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.ym-warning-text {
  position: absolute;
  top: 10px;
  right: 3%;
}