<div class="ui-fluid">
  <form  (ngSubmit)="submitHandler()">
    <div class="edit-role-container">
      <div class="ui-g-12" >
        <div class="ui-g-12 p-0">
          <div class="form-group">
            <div class="ui-g-3 font-weight-bold">
              Team Name*
            </div>
            <div class="ui-g-4">
            <input type="text" name="teamName" minlength="4" style="width:100%" class="form-control" [(ngModel)]="formTeamModel.teamName" #teamName="ngModel" 
            [ngClass]="{ 'is-invalid': teamName.invalid  && (teamName.dirty || teamName.touched) }" (change)="validateTeamAlreadyExist(teamName)" ymInput 
            pInputText placeholder="Team Name" required>
            <div *ngIf="teamName.invalid  && (teamName.dirty || teamName.touched)" class="invalid-feedback">
                <span *ngIf="teamName.errors.required">
                  Team Name is required.
                </span>
                <span *ngIf="teamName.errors.minlength">
                  Team Name must be at least 4 characters long.
                </span>
               
            </div>
            <div class="invalid-feedback-class" *ngIf="!(teamName.invalid  && (teamName.dirty || teamName.touched)) && isTeamExists">
              Team already exist
            </div>
          </div>
        </div>
      </div>
        <div class="ui-g-12 font-weight-bold">
          Resources
        </div>
        <div *ngFor="let dimention of availableDimensions">
          <div class="ui-g-12" *ngIf="dimention['enable']">
            <div class="font-weight-bold">
              <hr />
              {{dimention['label']}}
            </div>
            <ym-team-resources [defaultDimensions]="dimention.value" [availableDimensions]="[]"
              [(enabled)]="dimention['enable']" [filterUrl]="dimention.filterUrl"
              (dimFilterChanged)="formTeamModel.selectedDims[dimention['key']] = $event">
            </ym-team-resources>
          </div>
        </div>
      </div>
    </div>

    <div class="edit-role-footer">
      <button
        pButton
        type="submit"
        label="Ok"
        icon="fas fa-user-edit"
        class="ui-button-success"
        [disabled]="isTeamExists"
      ></button>

      <button
        pButton
        type="button"
        (click)="goBack()"
        label="Cancel"
        icon="far fa-times-circle"
       class="ml-2 ui-button-warning"
      ></button>
    </div>
  </form>
</div>
