<style>
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus,
  .nav-tabs .nav-link.active:focus,
  .nav-tabs .nav-link.active:hover,
  .nav-tabs>li.active>a {
    color: #22b6fd;
    outline: 0;
    border-bottom: 2px solid #22b6fd;
  }

  .nav.nav-tabs {
    border: 0;
  }

  .nav-tabs .nav-link {
    color: #8e929d;
    font-size: 0.8rem;
    border: 0;
    cursor: pointer;
  }

  .div-style1 {

    border-width: 1px;
    padding: 17px;
    font-family: "Source Sans Pro";
    line-height: 1.1;
    color: #373a3c;
    background-color: #fff;
  }

  .div-style2 {

    border-width: 1px;
    padding: 17px;
    font-family: "Source Sans Pro";
    line-height: 1.1;
    color: #373a3c;
    background-color: #fff;
    margin-top: 15px;
  }

  .div-style {

    border: grey;
    border-style: solid;
    border-width: 1px;
    padding: 17px;
  }

  .label-style {
    font-weight: 600;
  }

  .ruleInfo-modal .div-style1 {
    font-size: 0.85rem !important;
  }

  .ruleInfo-modal .div-style2 {
    font-size: 0.85rem !important;
  }

</style>
<div class="modal-body" id="modal-body">
  <div class="div-style1">
    <h6>Alert Group Details</h6>
    <hr style="background-color: rgba(0,0,0,.125)">

  <!-- <div class="row"> -->
    <!-- <div class = "div-style1"> -->
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Alert Group Name </b></span>
        </div>

        <div class="col-md-9">
          <span>{{alertDetails['event_name']}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>App Name </b></span>
        </div>

        <div class="col-md-9">
          <span>{{alertDetails['display_app_name']}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Stage </b></span>
        </div>

        <div class="col-md-9">
          <span>{{alertDetails['stage_name']}}</span>
        </div>
      </div>
    <!-- </div> -->
  </div>

  <div class="div-style1">
    <h6>Action Details</h6>
    <hr style="background-color: rgba(0,0,0,.125)">


  <!-- <div class="ui-g-12"> -->
    <!-- <div class = "div-style1">   -->
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Action Name :</b></span>
        </div>

        <div class="col-md-9">
          <span class="ui-float-label">{{actionDetails['action_name']}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Description :</b></span>
        </div>

        <div class="col-md-9">
          <span class="ui-float-label">{{actionDetails['description']}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Scheduler Details :</b></span>
        </div>

        <div class="col-md-9">
          <p-card class = "alert-group-info-card">
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Scheduler Frequency</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{actionDetails['scheduler']['granularityType']}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Start Date</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{schedulerStartDate}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>End Date</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{schedulerEndDate}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Status</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{actionDetails['status']}}</span>
              </div>
            </div>
          </p-card>
          <span class="ui-float-label"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Channel Details :</b></span>
        </div>

        <div class="col-md-9">
            <div class="ui-g-12" *ngFor="let cd of actionDetails['channel']">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>{{cd.source}}</b></span>
              </div>

              <div class="ui-g-12 ui-md-8" >
                <span class="ui-float-label" *ngFor="let rs of  cd.receivers">{{rs}}</span>
              </div>
            </div>
          <span class="ui-float-label" *ngIf="actionDetails['channel'].length == 0"></span>
        </div>
      </div>
    </div>

    <!-- </div> -->
  <!-- </div> -->
  <div class="ui-g-12 edit-role-footer">
    <button pButton type="button" (click)="CloseDialog()" label="OK"
       class="ml-2 ui-button-success" style="width: auto;
     float: right"></button>
   </div>
</div>