<!-- <nav
  *ngIf="!this.libServ.isEmptyObj(config)"
  class="bg-white sidebar sidebar-offcanvas"
  id="sidebar"
  [ngStyle]="{ 'width.em': sidenavWidth }"
  (mouseover)="toggleExpand(true)"
  (mouseout)="toggleExpand(false)"
> -->
<!-- Manual Expand -->
<nav *ngIf="!this.libServ.isEmptyObj(config) && !this.libServ.isEmptyObj(sideBarConfig)" class="bg-white-new sidebar sidebar-offcanvas" id="sidebar"
[ngStyle]="{ 'width.em': sidenavWidth ,'background-color':sideBarConfig['data']['main_menu']['background_color']}"
   (mouseover)="toggleExpand(true)" (mouseout)="toggleExpand(false)">
  <!-- Manual Expand -->
   <div class="scroll-app-group">
  <div class="app-info-details">
    <!-- Manual Expand -->
    <span class="sidebar-toggler ml-2" (click)="toggleExpand(!show)">
      <span class="pi pi-bars" [ngStyle]="{'font-size': '1.75em','color':sideBarConfig['data']['pi_bars_icon']['color'] }"></span>
    </span>
    <a class="brand-logo" opened="false" href={{logo_href}} target="_blank">
      <img [hidden]="!show"  src={{logo_url}} alt={{logo_alt_name}} />
    </a>
  </div>
  <div class="user-info">
    <a [routerLink]="['/user-profile']" [routerLinkActive]="['router-link-active']"
      [routerLinkActiveOptions]="{ exact: true }">
      <div class="user-profile">
        <div class="user-avatar">
          <img src="{{ config['user']['avatar'] }}" alt="" />
        </div>
        <p [hidden]="!show" class="name">
          {{ config['user']['userName'] }}
        </p>
      </div>
    </a>
    <p [hidden]="!show" class="designation" [ngStyle]="{ 'color' : sideBarConfig['data']['designation']['color']}">
      {{ config['user']['role']['name'] | uppercase }}
    </p>
  </div>
  <div class="nested-menu" *ngFor="
      let appGroup of config['user']['role']['appGroups'];
      let idx = index
    ">
    <a title="{{ appGroup.name }}" class="list-group-item" [ngStyle]="{'color':sideBarConfig['data']['app_group']['color'] ,'background-color' : sideBarConfig['data']['app_group']['background_color']}" (click)="addExpandClass(appGroup.id)">
      <div class="app-icon">
        <i [class]="
            appGroup.id == val ? 'pi pi-angle-down' : 'pi pi-angle-right'
          ">
        </i>
      </div>
      <span [hidden]="!show">
        {{ appGroup.name }}
      </span>
    </a>
    <div class="scroll-menu" [ngStyle]="appGroup.id == val ? {'max-height' : '30vh' }: {'max-height':'0vh'}">
      <li class="nested" [class.expand]="appGroup.id == val">
        <ul class="submenu">
          <li *ngFor="let app of appGroup.apps">
            <a title="{{ app.displayName }}" [routerLink]="[app.route]"  routerLinkActive #rla="routerLinkActive" [ngStyle]="rla.isActive ? {'color': sideBarConfig['data']['active_app_name']['color'], 'font-weight': 'bold' }: {'color' : sideBarConfig['data']['app_name']['color'] }">
              <div class="app-icon" (click)="preventPropogation($event)" >
                <i class="{{ app.iconClass }}" aria-hidden="true"> </i>
              </div>
              <div [hidden]="!show" (click)="preventPropogation($event)" [ngStyle]="{'margin-left': '10px'}">
                {{ app.displayName }}
              </div>
            </a>
          </li>
        </ul>
      </li>
    </div>
  </div>
</div>
  <div class="nested-menu log-out">
    <a class="list-group-item" href="javascript:void(0)" [ngStyle]="{'color':sideBarConfig['data']['app_group']['color'] ,'background-color' : sideBarConfig['data']['app_group']['background_color']}"
    (click)="logout($event)" title="Logout">
      <div class="app-icon">
        <i class="fas fa-sign-out-alt"></i>
      </div>
      <span [hidden]="!show" style="margin-left: 10px;">
        Logout
      </span>
    </a>
  </div>
</nav>