<div id="capture">
    <div class="last-updated">
        <div data-html2canvas-ignore class="dropdown export-icon d-inline-block">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" title="Export to PPT or JPEG" aria-expanded="true">
                <i title="Export to PPT or JPEG" class="fas fa-download" style="cursor: pointer" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
                <!-- <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a> -->
                <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a>
            </div>
        </div>

        <div class="popover-container d-inline-block ml-2">
            <div>
                <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
                </i>
            </div>

            <!-- <div class="pop-over">
          <p>
            <b>Data Updated On :</b>
            {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} EST
          </p>
          <p>
            <b>Data Updated Through :</b>
            {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
          </p>
          <p>
            <b>Next Data Update :</b>
            {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
            EST
          </p>
        </div> -->
        </div>
    </div>

    <p class="page-title">{{ appConfig['displayName'] }}</p>

    <!-- -------------------------- Filters Container -------------------------- -->
    <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>

    <div class="p-grid  mt-0">
        <div class="p-col-6">
          <div class="border-class">
            <i
              *ngIf="!showMainLineChartSource && !noDataMainLineChart"
              class="pi pi-spin pi-spinner"
              style="font-size: 3em; margin: 150px; position:relative; left:40%"
            ></i>
            <div class="no-data-label no-data-mainline-chart" *ngIf="noDataMainLineChart">
              No data found
            </div>
            <ym-charts
              *ngIf="showMainLineChartSource"
              [chartsJson]="mainLineChartJson"
              (chartDataSelect)="chartSelected($event)"
            >
            </ym-charts>
          </div>
        </div>
        <div class="p-col-6">
          <div class="border-class">
            <i
              *ngIf="!showEngagementChartSource && !noDataEngagementChart"
              class="pi pi-spin pi-spinner"
              style="font-size: 3em; margin: 150px;"
            ></i>
            <div class="no-data-label no-data-mainline-chart" *ngIf="noDataEngagementChart">
              No data found
            </div>
            <ym-charts
              *ngIf="showEngagementChartSource"
              [chartsJson]="mainEngagementChartJson"
              (chartDataSelect)="chartSelected($event)"
            ></ym-charts>
          </div>
        </div>
      </div>

    <div [hidden]="noTableData" class="mt-3 mb-3 fr-payout-table" *ngIf="displayAggTable">

        <p-treeTable #ttRev360 [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
            [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']"
            [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']"
            [sortMode]="aggTableJson['sortMode']" [resizableColumns]="aggTableJson['resizableColumns']"
            [columnResizeMode]="aggTableJson['columnResizeMode']"
            [reorderableColumns]="aggTableJson['reorderableColumns']" [frozenColumns]="aggTableJson['frozenCols']"
            [frozenWidth]="aggTableJson['frozenWidth']" [scrollable]="aggTableJson['scrollable']"
            [scrollHeight]="aggTableJson['scrollHeight']" [selectionMode]="aggTableJson['selectionMode']"
            [(selection)]="aggTableJson['selectedColsModal']" [dataKey]="aggTableJson['selectionDataKey']"
            [metaKeySelection]="aggTableJson['metaKeySelection']" [style]="{ width: '100%' }"
            (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
            <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

            <ng-template pTemplate="caption">
                <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
                    <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
                        optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
                        [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
                </div>
                <!-- <div
  *ngIf="aggTableJson['export']"
  style="text-align: left; float: right; display: inline-block;"
  class="ml-3 mt-2 mb-2"
>
  <div data-html2canvas-ignore class="dropdown">
    <span
      class="dropdown-toggle"
      style="cursor: pointer"
      id="dropdownMenu1"
      data-toggle="dropdown"
      aria-haspopup="true"
      title="Export to Excel/CSV/JSON"
      aria-expanded="true"
    >
      <i
        title="Export to Excel/CSV/JSON"
        class="fas fa-download share-icon"
        id="dropdownMenu1"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true"
      >
        <span class="caret"></span> </i
      >&nbsp;&nbsp;Export</span
    >
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="exportTable('agg', 'Excel')">
        Excel
      </a>
      <a class="dropdown-item" (click)="exportTable('agg', 'CSV')">
        CSV
      </a> -->
                <!-- <a class="dropdown-item" (click)="exportTable('agg', 'JSON')">
        JSON
      </a> -->
                <!-- </div>
  </div>
</div> -->
                <!-- <div
  *ngIf="aggTableJson['overallSearch']"
  style="text-align: right; float: right; display: inline-block;"
>
  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
  <input
    ymInput
    pInputText
    type="text"
    size="50"
    placeholder="Search All"
    (input)="ttRev360.filterGlobal($event.target.value, 'contains')"
    style="width:auto"
  />
</div> -->
            </ng-template>

            <!-- ------------------------- For frozen columns -------------------------- -->

            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
                </colgroup>
            </ng-template>

            <!-- ------------------------------- Header -------------------------------- -->

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                        ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                        [ttResizableColumnDisabled]="!col['options']['resizable']"
                        [ttReorderableColumnDisabled]="!col['options']['movable']">
                        {{ col.displayName }}

                        <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
                        </p-treeTableSortIcon>
                    </th>
                </tr>
                <tr *ngIf="aggTableJson['columnSearch']">
                    <ng-container *ngFor="let col of columns">
                        <th *ngIf="isHiddenColumn(col)">
                            <input ymInput pInputText type="text" [style.visibility]="
          col['options']['colSearch'] ? 'visible' : 'hidden'
        " (input)="
          ttRev360.filter(
            $event.target.value,
            col.field,
            col.filterMatchMode
          )
        " />
                        </th>
                    </ng-container>
                </tr>
            </ng-template>

            <!-- -------------------------------- Body --------------------------------- -->


            <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns; let i = index" [title]="
          rowData[col.field] | formatNum: col.format:col.formatConfig
        ">
                        <span>
                            {{
                            rowData[col.field] | formatNum: col.format:col.formatConfig
                            }}
                        </span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="paginatorleft" let-state>
                Showing {{ state.page * state.rows + 1 }} to
                {{
  state.rows * (state.page + 1) > state.totalRecords
    ? state.totalRecords
    : state.rows * (state.page + 1)
}}
                of {{ state.totalRecords }} Records
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="aggTableJson['columns'].length">
                        No data found.
                    </td>
                </tr>
            </ng-template>
        </p-treeTable>
    </div>
    <div class="no-data-label" *ngIf="noTableData">
        No data found
    </div>

</div>