<p-tabView (onChange)="tabChanged($event)">
    <p-tabPanel [selected]="true" header="Daily Data">

<!-- ------------------------ Table Component Start ------------------------ -->
<div class="p-col-12 adops-360-popup-table">
    <p-treeTable
      #tt
      [value]="tableData"
      [columns]="tableJson['selectedColumns']"
      [paginator]="true"
      [rows]="tableJson['page_size']"
      [totalRecords]="tableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
      [lazy]="tableJson['lazy']"
      [loading]="tableJson['loading']"
      [sortMode]="tableJson['sortMode']"
      [resizableColumns]="tableJson['resizableColumns']"
      [columnResizeMode]="tableJson['columnResizeMode']"
      [reorderableColumns]="tableJson['reorderableColumns']"
      [frozenColumns]="tableJson['frozenCols']"
      [frozenWidth]="tableJson['frozenWidth']"
      [scrollable]="tableJson['scrollable']"
      [scrollHeight]="tableJson['scrollHeight']"
      [selectionMode]="tableJson['selectionMode']"
      [(selection)]="tableJson['selectedColsModal']"
      [dataKey]="tableJson['selectionDataKey']"
      [metaKeySelection]="tableJson['metaKeySelection']"
      [style]="{ width: '100%' }"
    >
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div
          *ngIf="tableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block;"
        >
          <p-multiSelect
            [options]="tableJson['columns']"
            [(ngModel)]="tableJson['selectedColumns']"
            optionLabel="displayName"
            maxSelectedLabels="1"
            selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }"
            defaultLabel="Choose Columns"
          ></p-multiSelect>
        </div>
        <div
          *ngIf="isExportReport && tableJson['export']"
          style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2"
        >
          <div data-html2canvas-ignore class="dropdown">
            <span
              class="dropdown-toggle"
              style="cursor: pointer"
              id="dropdownMenu1"
              data-toggle="dropdown"
              aria-haspopup="true"
              title="Export to Excel/CSV/JSON"
              aria-expanded="true"
            >
              <i
                title="Export to Excel/CSV/JSON"
                class="fas fa-download share-icon"
                id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >
                <span class="caret"></span> </i
              >&nbsp;&nbsp;Export</span
            >
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="exportTablePopup('Excel')">
                Excel
              </a>
              <a class="dropdown-item" (click)="exportTablePopup('CSV')">
                CSV
              </a>
              <a class="dropdown-item" (click)="exportTablePopup('JSON')">
                JSON
              </a>
            </div>
          </div>
        </div>
        <div
          *ngIf="tableJson['overallSearch']"
          style="text-align: right; float: right; display: inline-block;"
        >
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input
            ymInput
            pInputText
            type="text"
            size="50"
            placeholder="Search All"
            (input)="tt.filterGlobal($event.target.value, 'contains')"
            style="width:auto"
          />
        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col
            *ngFor="let col of columns"
            [ngStyle]="{ width: col['width'] + 'px' }"
          />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            ttResizableColumn
            ttReorderableColumn
            [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']"
          >
            {{ col.displayName }}
            <p-treeTableSortIcon
              [field]="col.field"
              *ngIf="col['options']['colSort']"
            ></p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="tableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input
                ymInput
                pInputText
                type="text"
                [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                "
                (input)="
                  tt.filter(
                    $event.target.value,
                    col.field,
                    col.filterMatchMode
                  )
                "
              />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr>
          <td
            *ngFor="let col of columns; let i = index"
            ttEditableColumn
            [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            "
          >
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <input
                  ymInput
                  pInputText
                  type="text"
                  [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
                <!-- | formatNumPipe: col.format:col.formatConfig -->
              </ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="!col['options']['editable']">
              {{
                rowData[col.field] | formatNum: col.format:col.formatConfig
              }}
              <!-- | formatNumPipe: col.format:col.formatConfig -->
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->
      <!-- ------------------- Message to show for empty Data -------------------- -->

      <!-- <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="tableJson['columns'].length">
            No data found. Please select different date range to view data.
          </td>
        </tr>
      </ng-template> -->
    </p-treeTable>
  </div>
  <!-- ------------------------- Table Component End ------------------------- -->

    </p-tabPanel>
    <p-tabPanel header="Revenue Chart">

        <i *ngIf="!showMainPieChart && !noDataMetricChart" class="pi pi-spin pi-spinner" style="font-size: 3em; margin: 150px;"></i>
        <div class="no-data-metric-chart" *ngIf="noDataMetricChart">
          No data found.
        </div>
        <ym-charts *ngIf="showMainPieChart" [chartsJson]="mainPieChartJson" (chartDataSelect)="chartSelected($event)">
        </ym-charts>

    </p-tabPanel>
</p-tabView>