<div id="capture">
  <div class="last-updated mr-3">
    <div *ngIf="isExportReport && flatTableJson['export']"  data-html2canvas-ignore class="dropdown d-inline-block">
      <span
        class="dropdown-toggle"
        style="cursor: pointer"
        id="dropdownMenu1"
        data-toggle="dropdown"
        aria-haspopup="true"
        title="Export JPEG"
        aria-expanded="true"
      >
        <i class="fas fa-download">
          <span class="caret"></span>
        </i>
        &nbsp;&nbsp;Export</span
      >
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <!-- <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a> -->
        <!-- <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a> -->
        <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('flat', 'Excel')"
              >
                Excel
              </a>
              <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('flat', 'CSV')"
              >
                CSV
              </a>
              <!-- <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('flat', 'JSON')"
              >
                JSON
              </a> -->
      </div>
    </div>
  </div>
  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>

  <hr />
<!-- ------------------------ Table Component Start ------------------------ -->
  <p-tabView (onChange)="tabChanged($event)">
    <p-tabPanel [selected]="true" header="Pacing">

  <div class="p-col-12 cpr-popup-table">
    <p-treeTable
      #tt
      [value]="tableData"
      [columns]="tableJson['selectedColumns']"
      [paginator]="true"
      [rows]="tableJson['page_size']"
      [totalRecords]="tableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
      [lazy]="tableJson['lazy']"
      [loading]="tableJson['loading']"
      [sortMode]="tableJson['sortMode']"
      [resizableColumns]="tableJson['resizableColumns']"
      [columnResizeMode]="tableJson['columnResizeMode']"
      [reorderableColumns]="tableJson['reorderableColumns']"
      [frozenColumns]="tableJson['frozenCols']"
      [frozenWidth]="tableJson['frozenWidth']"
      [scrollable]="tableJson['scrollable']"
      [scrollHeight]="tableJson['scrollHeight']"
      [selectionMode]="tableJson['selectionMode']"
      [(selection)]="tableJson['selectedColsModal']"
      [dataKey]="tableJson['selectionDataKey']"
      [metaKeySelection]="tableJson['metaKeySelection']"
      [style]="{ width: '100%' }"
    >
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div
          *ngIf="tableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block"
        >
      </div>

        <div style="text-align: left; float: right; display: inline-block;"
        class="ml-3 mt-2">
        <i class="fas fa-sync-alt" title="Refresh recommendations" aria-hidden="true" (click)="getTableData()"></i> Refresh
      </div>
          <p-multiSelect
            [options]="tableJson['columns']"
            [(ngModel)]="tableJson['selectedColumns']"
            optionLabel="displayName"
            maxSelectedLabels="1"
            selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px', float: 'left' }"
            defaultLabel="Choose Columns"
          ></p-multiSelect>
        <div
          *ngIf="isExportReport && tableJson['export']"
          style="text-align: left; float: right; display: inline-block"
        >
          <div data-html2canvas-ignore class="dropdown">
            <span
              class="dropdown-toggle"
              style="cursor: pointer"
              id="dropdownMenu1"
              data-toggle="dropdown"
              aria-haspopup="true"
              title="Export to Excel/CSV/JSON"
              aria-expanded="true"
            >
              <i
                title="Export to Excel/CSV/JSON"
                class="fas fa-download share-icon"
                id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >
                <span class="caret"></span> </i
              >&nbsp;&nbsp;Export</span
            >
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="exportTablePopup('Excel')">
                Excel
              </a>
              <a class="dropdown-item" (click)="exportTablePopup('CSV')">
                CSV
              </a>
              <!-- <a class="dropdown-item" (click)="exportTablePopup('JSON')">
                JSON
              </a> -->
            </div>
          </div>
        </div>
        <div
          *ngIf="tableJson['overallSearch']"
          style="text-align: right; float: right; display: inline-block"
        >
          <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
          <input
            ymInput
            pInputText
            type="text"
            size="50"
            placeholder="Search All"
            (input)="tt.filterGlobal($event.target.value, 'contains')"
            style="width: auto"
          />
        </div>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            ttResizableColumn
            ttReorderableColumn
            [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']"
          >
            {{ col.displayName }}
            <p-treeTableSortIcon
              [field]="col.field"
              *ngIf="col['options']['colSort']"
            ></p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="tableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input
                ymInput
                pInputText
                type="text"
                [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                "
                (input)="
                  tt.filter(
                    $event.target.value,
                    col.field,
                    col.filterMatchMode
                  )
                "
              />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col
            *ngFor="let col of columns"
            [ngStyle]="{ width: col['width'] + 'px' }"
          />
        </colgroup>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr>
          <td
            *ngFor="let col of columns; let i = index"
            ttEditableColumn
            [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            "
          >
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <input
                  ymInput
                  pInputText
                  type="text"
                  [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                />
              </ng-template>
              <ng-template pTemplate="output">

                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
                <!-- | formatNumPipe: col.format:col.formatConfig -->
              </ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="
            !col['options']['editable'] &&
            col.field != 'comments' &&
            col.field != 'apply' &&
            col.field != 'reject'
          ">
            {{
              rowData[col.field] | formatNum: col.format:col.formatConfig
            }}
            </span>
            <span *ngIf="col.field == 'comments'" (click)="addComment(rowData)" class="link-style-icon">
              <i class="far fa-comments fa-1-5x-custom"></i>
            </span>
            <span *ngIf="col.field == 'apply'" (click)="addComment(rowData)" class="link-style-icon">
              <!-- <i class="far fa-check-square"></i> -->
              <button
              style="
              color: #fff;
              background: #34a835;
              border: 1px solid #34a835;"
              pButton
              type="button"
              label="Apply"
              class="ui-button-rounded ui-button-success"
            ></button>

            </span>
            <span *ngIf="col.field == 'reject'" (click)="addComment(rowData)" class="link-style-icon">
              <!-- <i class="far fa-window-close"></i>     -->
              <button
              style="    color: #fff;
              background-color: #f44336;
              border: 1px solid #f44336;
            "
              pButton
              type="button"
              label="Reject"
              class="ui-button-rounded ui-button-success"
            ></button>

            </span>

          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->
      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="tableJson['columns'].length">No data found.</td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</p-tabPanel>

<p-tabPanel header="Performance">
  <div class="p-col-12 cpr-popup-table">
    <p-treeTable
      #tt
      [value]="tableData"
      [columns]="tableJson['selectedColumns']"
      [paginator]="true"
      [rows]="tableJson['page_size']"
      [totalRecords]="tableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
      [lazy]="tableJson['lazy']"
      [loading]="tableJson['loading']"
      [sortMode]="tableJson['sortMode']"
      [resizableColumns]="tableJson['resizableColumns']"
      [columnResizeMode]="tableJson['columnResizeMode']"
      [reorderableColumns]="tableJson['reorderableColumns']"
      [frozenColumns]="tableJson['frozenCols']"
      [frozenWidth]="tableJson['frozenWidth']"
      [scrollable]="tableJson['scrollable']"
      [scrollHeight]="tableJson['scrollHeight']"
      [selectionMode]="tableJson['selectionMode']"
      [(selection)]="tableJson['selectedColsModal']"
      [dataKey]="tableJson['selectionDataKey']"
      [metaKeySelection]="tableJson['metaKeySelection']"
      [style]="{ width: '100%' }"
    >
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div
          *ngIf="tableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block"
        >
      </div>
        <div style="text-align: left; float: right; display: inline-block;"
        class="ml-3 mt-2">
        <i class="fas fa-sync-alt" title="Refresh recommendations" aria-hidden="true" (click)="getTableData()"></i> Refresh
        </div>
          <p-multiSelect
            [options]="tableJson['columns']"
            [(ngModel)]="tableJson['selectedColumns']"
            optionLabel="displayName"
            maxSelectedLabels="1"
            selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px', float: 'left' }"
            defaultLabel="Choose Columns"
          ></p-multiSelect>

        <div
          *ngIf="isExportReport && tableJson['export']"
          style="text-align: left; float: right; display: inline-block"
        >
          <div data-html2canvas-ignore class="dropdown">
            <span
              class="dropdown-toggle"
              style="cursor: pointer"
              id="dropdownMenu1"
              data-toggle="dropdown"
              aria-haspopup="true"
              title="Export to Excel/CSV/JSON"
              aria-expanded="true"
            >
              <i
                title="Export to Excel/CSV/JSON"
                class="fas fa-download share-icon"
                id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >
                <span class="caret"></span> </i
              >&nbsp;&nbsp;Export</span
            >
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="exportTablePopup('Excel')">
                Excel
              </a>
              <a class="dropdown-item" (click)="exportTablePopup('CSV')">
                CSV
              </a>
              <!-- <a class="dropdown-item" (click)="exportTablePopup('JSON')">
                JSON
              </a> -->
            </div>
          </div>
        </div>
        <div
          *ngIf="tableJson['overallSearch']"
          style="text-align: right; float: right; display: inline-block"
        >
          <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
          <input
            ymInput
            pInputText
            type="text"
            size="50"
            placeholder="Search All"
            (input)="tt.filterGlobal($event.target.value, 'contains')"
            style="width: auto"
          />
        </div>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            ttResizableColumn
            ttReorderableColumn
            [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']"
          >
            {{ col.displayName }}
            <p-treeTableSortIcon
              [field]="col.field"
              *ngIf="col['options']['colSort']"
            ></p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="tableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input
                ymInput
                pInputText
                type="text"
                [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                "
                (input)="
                  tt.filter(
                    $event.target.value,
                    col.field,
                    col.filterMatchMode
                  )
                "
              />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col
            *ngFor="let col of columns"
            [ngStyle]="{ width: col['width'] + 'px' }"
          />
        </colgroup>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr>
          <td
            *ngFor="let col of columns; let i = index"
            ttEditableColumn
            [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            "
          >
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <input
                  ymInput
                  pInputText
                  type="text"
                  [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                />
              </ng-template>
              <ng-template pTemplate="output">

                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
                <!-- | formatNumPipe: col.format:col.formatConfig -->
              </ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="
            !col['options']['editable'] &&
            col.field != 'comments' &&
            col.field != 'apply' &&
            col.field != 'reject'
          ">
            {{
              rowData[col.field] | formatNum: col.format:col.formatConfig
            }}
            </span>
            <span *ngIf="col.field == 'comments'" (click)="addComment(rowData)" class="link-style-icon">
              <i class="far fa-comments fa-1-5x-custom"></i>
            </span>
            <span *ngIf="col.field == 'apply'" (click)="addComment(rowData)" class="link-style-icon">
              <!-- <i class="far fa-check-square"></i> -->
              <button
              style="
              color: #fff;
              background: #34a835;
              border: 1px solid #34a835;"
              pButton
              type="button"
              label="Apply"
              class="ui-button-rounded ui-button-success"
            ></button>
            </span>
            <span *ngIf="col.field == 'reject'" (click)="addComment(rowData)" class="link-style-icon">
              <!-- <i class="far fa-window-close"></i>    -->
              <button
              style="    color: #fff;
              background-color: #f44336;
              border: 1px solid #f44336;
              "
              pButton
              type="button"
              label="Reject"
              class="ui-button-rounded ui-button-success"
            ></button>

            </span>

          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->
      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="tableJson['columns'].length">No data found.</td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</p-tabPanel>

</p-tabView>
  <!-- ------------------------- Table Component End ------------------------- -->
</div>
