img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .user-name {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
  }

  .icon-class {
    text-align: center;
    cursor: pointer;
  }

  :host {
    display: block;
    position: relative;
    height: 50px;
  }

  input[type="checkbox"] {
    display: none;
  }

  .toggle-button-switch {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    z-index: 100;
    -webkit-transition:left 0.3s;
    margin-left: -87px;
  }

  .toggle-button-text {
    width: 100px;
    overflow: hidden;
    background-color: #fc3164;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
    transition: background-color 0.3s;
  }


  .toggle-button-text-off {
    float: left;
    /* width: 50%; */
    height: 100%;
    line-height: 30px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #fff;
    float: right;
    padding: 1px;
  }

      .toggle-button-text-on{
    float: left;
    width: 50%;
    height: 100%;
    line-height: 30px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    float: left;
    padding: 1px;
  }

  .toggle-button-text-on.toggle-button-text-on{

  }

      .toggle-button-text-off.toggle-button-text-off{
           float:right;
    }


  /* 체크박스가 체크 상태이면 토글 버튼 내부의 원을 오른쪽으로 52px 이동 */
  input[type="checkbox"]:checked ~ .toggle-button-switch {
    margin-left: -46px;
  }

  /* 체크박스가 체크 상태이면 토글 버튼의 배경색 변경 */
  input[type="checkbox"]:checked ~ .toggle-button-text {
    background-color: #3dbf87;
  }

  .footer{
    text-align: right;
}

button{
    width: auto !important;
}