<div id="capture">
  <div class="fr-vast-table vast-table">
    <p-treeTable
      #ttFlat
      [value]="flatTableData"
      [columns]="flatTableJson['selectedColumns']"
      [paginator]="true"
      [rows]="flatTableJson['page_size']"
      [first]="flatTableJson['page']"
      [totalRecords]="flatTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
      [lazy]="flatTableJson['lazy']"
      [loading]="flatTableJson['loading']"
      [sortMode]="flatTableJson['sortMode']"
      [resizableColumns]="flatTableJson['resizableColumns']"
      [columnResizeMode]="flatTableJson['columnResizeMode']"
      [reorderableColumns]="flatTableJson['reorderableColumns']"
      [frozenColumns]="flatTableJson['frozenCols']"
      [frozenWidth]="flatTableJson['frozenWidth']"
      [scrollable]="flatTableJson['scrollable']"
      [scrollHeight]="flatTableJson['scrollHeight']"
      [selectionMode]="flatTableJson['selectionMode']"
      [(selection)]="flatTableJson['selectedColsModal']"
      [dataKey]="flatTableJson['selectionDataKey']"
      [metaKeySelection]="flatTableJson['metaKeySelection']"
      [style]="{ width: '100%' }"
    >
      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="caption">
        <div
          *ngIf="flatTableJson['overallSearch']"
          style="text-align: right; float: right; display: inline-block;"
        >
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input
            ymInput
            pInputText
            type="text"
            size="25"
            placeholder="Search All"
            (input)="ttFlat.filterGlobal($event.target.value, 'contains')"
            style="width:auto"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width.px]="col['width']" />
          </colgroup>
        </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            ttResizableColumn
            ttReorderableColumn
            [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']"
          >
            {{ col.displayName }}
            <p-treeTableSortIcon
              [field]="col.field"
              *ngIf="col['options']['colSort']"
            >
            </p-treeTableSortIcon>
          </th>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr>
          <td
            *ngFor="let col of columns; let i = index"
            [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            "
            ttEditableColumn
          >
          <span class="user-name icon-class" *ngIf="col.field == 'avatar'"
          ><img [src]="rowData[col.field]" alt="Avatar" /></span>
          <span *ngIf="col.field !== 'status' && col.field !== 'avatar'">
            {{rowData[col.field] | formatNum: col.format:col.formatConfig}}
          </span>
          <span *ngIf="col.field == 'status'">
            {{rowData[col.field] == 1 ? 'Active' : 'Deactive'}}
          </span>


          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="flatTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div class="footer">
    <button
      pButton
      type="button"
      (click)="onOkClick()"
      label="Ok"
      icon="fas fa-user-edit"
      class="ui-button-success"
    ></button>
    <button
      pButton
      type="button"
      (click)="CloseDialog()"
      label="Cancal"
      icon="far fa-times-circle"
       class="ml-2 ui-button-warning"
    ></button>
  </div>
</div>
