<div id="capture">
  <div class="last-updated">
    <div data-html2canvas-ignore class="dropdown export-icon d-inline-block">
      <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" title="Export to PPT or JPEG" aria-expanded="true">
        <i title="Export to PPT or JPEG" class="fas fa-download" style="cursor: pointer" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a>
        <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a>
      </div>
    </div>
    <div class="popover-container d-inline-block ml-2">
      <div>
        <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} {{timeZone}}
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          {{timeZone}}
        </p>
      </div>
    </div>
  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->

  <ym-filter-container (filtersApplied)="onFiltersApplied($event); resetPagination(ttAgg)"></ym-filter-container>
  <hr />

  <!-- ---------------------- Cards Container Component ---------------------- -->

  <ym-cards *ngIf="showCards" [cardsJson]="cardsJson"></ym-cards>

  <!-- ---------------------- Cards Container Component ---------------------- -->

  <!-- ---------------------- Main Charts Container Component ---------------------- -->

  <div class="p-grid mt-1">
    <!-- ---------------------- Gross Revenue vs RPM Daily ---------------------- -->
    <div class="p-col-6">
      <div class="border-class">
        <i *ngIf="!showRevRpmDailyChart && !noDataRevRpmDailyChart" class="pi pi-spin pi-spinner no-data-loader"></i>
        <div class="no-data-label" *ngIf="noDataRevRpmDailyChart">
          No data found
        </div>
        <ym-charts *ngIf="showRevRpmDailyChart" [chartsJson]="revRpmDailyChartJson"
          (chartDataSelect)="chartSelected($event)">
        </ym-charts>
      </div>
    </div>

    <!-- ----------------------------- Page Views Daily ------------------------------ -->
    <div class="p-col-6">
      <div class="border-class">
        <i *ngIf="!showPageViewsDailyChart && !noDataPageViewsDailyChart"
          class="pi pi-spin pi-spinner no-data-loader"></i>
        <div class="no-data-label" *ngIf="noDataPageViewsDailyChart">
          No data found
        </div>
        <ym-charts *ngIf="showPageViewsDailyChart" [chartsJson]="pageViewsDailyChartJson"
          (chartDataSelect)="chartSelected($event)">
        </ym-charts>
      </div>
    </div>
  </div>

  <div class="p-grid mt-0">
    <!-- ---------------------- Gross Revenue vs RPM Monthly ---------------------- -->
    <div class="p-col-6">
      <div class="border-class">
        <i *ngIf="!showRevRpmMonthlyChart && !noDataRevRpmMonthlyChart"
          class="pi pi-spin pi-spinner no-data-loader"></i>
        <div class="no-data-label" *ngIf="noDataRevRpmMonthlyChart">
          No data found
        </div>
        <ym-charts *ngIf="showRevRpmMonthlyChart" [chartsJson]="revRpmMonthlyChartJson"
          (chartDataSelect)="chartSelected($event)">
        </ym-charts>
      </div>
    </div>

    <!-- ----------------------------- Page Views Monthly ------------------------------ -->
    <div class="p-col-6">
      <div class="border-class">
        <i *ngIf="!showPageViewsMonthlyChart && !noDataPageViewsMonthlyChart"
          class="pi pi-spin pi-spinner no-data-loader"></i>
        <div class="no-data-label" *ngIf="noDataPageViewsMonthlyChart">
          No data found
        </div>
        <ym-charts *ngIf="showPageViewsMonthlyChart" [chartsJson]="pageViewsMonthlyChartJson"
          (chartDataSelect)="chartSelected($event)">
        </ym-charts>
      </div>
    </div>
  </div>

  <hr class="mt-2" />

  <!-- --------------------------- Table Container Start --------------------------- -->
  <div [hidden]="noTableData" class="mt-1 mb-3 agg-revmgmnt-table">
    <p-treeTable #ttAgg [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
      [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']" [lazy]="aggTableJson['lazy']"
      [loading]="aggTableJson['loading']" [sortMode]="aggTableJson['sortMode']" [rowsPerPageOptions]="[10, 20, 50, 100]"
      [resizableColumns]="aggTableJson['resizableColumns']" [columnResizeMode]="aggTableJson['columnResizeMode']"
      [reorderableColumns]="aggTableJson['reorderableColumns']" [frozenColumns]="aggTableJson['frozenCols']"
      [frozenWidth]="aggTableJson['frozenWidth']" [scrollable]="aggTableJson['scrollable']"
      [scrollHeight]="aggTableJson['scrollHeight']" [selectionMode]="aggTableJson['selectionMode']"
      [(selection)]="aggTableJson['selectedColsModal']" [dataKey]="aggTableJson['selectionDataKey']"
      [metaKeySelection]="aggTableJson['metaKeySelection']" [style]="{ width: '100%' }"
      (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
            optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
        </div>
        <div
          *ngIf="isExportReport && aggTableJson['export']"
          style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2"
        >
          <div data-html2canvas-ignore class="dropdown">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
              <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" (click)="exportTable('agg', 'Excel')">
                Excel
              </a>
              <a class="dropdown-item" href="#" (click)="exportTable('agg', 'CSV')">
                CSV
              </a>
              <!-- <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('agg', 'JSON')"
              >
                JSON
              </a> -->
            </div>
          </div>
        </div>

        <!-- ------------------------------- Jump to ------------------------------- -->

        <!-- <div
          style="text-align: left; float: left; display: inline-block; margin: 0.5px;"
          class="ml-2"
        >
          <p-dropdown
            [options]="jumpToSource['totalSources']"
            [(ngModel)]="jumpToSource['selected']"
            (onChange)="jumpTo(ttAgg)"
            placeholder="Scoll To"
          >
          </p-dropdown>
        </div> -->
        <div *ngIf="aggTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input ymInput pInputText type="text" size="50" placeholder="Search All"
            (input)="ttAgg.filterGlobal($event.target.value, 'contains')" style="width:auto" />
        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}
            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="aggTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input ymInput pInputText type="text" [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                " (input)="
                  ttAgg.filter(
                    $event.target.value,
                    col.field,
                    col.filterMatchMode
                  )
                " />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
            <!-- <td
            *ngFor="let col of columns; let i = index"
            ttEditableColumn
            [title]="rowData[col.field]"
          > -->
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
              </ng-template>
              <ng-template pTemplate="output">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
                <!-- {{ rowData[col.field] }} -->
              </ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="!col['options']['editable']">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
              <!-- {{ rowData[col.field] }} -->
            </span>
          </td>
        </tr>
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->

      <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr style="background-color: #f4f4f4">
          <td *ngFor="let col of columns; let i = index" [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
            <!-- <td
            *ngFor="let col of columns; let i = index"
            [title]="rowData[col.field]"
          > -->
            <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode">
            </p-treeTableToggler>
            {{
              rowData[col.field]
                ? (rowData[col.field] | formatNum: col.format:col.formatConfig)
                : ''
            }}
            <!-- {{ rowData[col.field] ? rowData[col.field] : '' }} -->
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="aggTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="footer" let-columns>
        <tr style="background-color:gray;">
          <td *ngFor="let col of columns" [title]="col.footerTotal | formatNum: col.format:col.formatConfig">
            {{
              col.field === 'time_key' || col.field === 'time_key1'
                ? '-'
                : (col.footerTotal | formatNum: col.format:col.formatConfig)
            }}
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">
    No data found
  </div>
  <!-- --------------------------- Table Container End --------------------------- -->
</div>
<p-confirmDialog #cd rejectVisible='false' [style]="{width: '50vw'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Ok" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>