<div style="padding: 10px;" class="ui-fluid">



  <div class="card">
    <div class="card-block" style="padding: 1.25rem;">
      <div class="top-logo">
        <img src="assets/images/frankly-logo-main.png" style="width:100%;height:100%;">
      </div>
      <p class="page-title"> DIRECT DEPOSIT AUTHORIZATION </p>
      <hr>
      <form class="mainForm" [formGroup]="registerForm">
        <div class="row form-group">
          <div class="col-sm-6 ">Site Name*: </div>
          <div class="col-sm-6">
            <input ymInput pInputText type="text" formControlName="sitename" class="form-control" [ngClass]="{
                  'is-invalid':
                    f['sitename'].invalid && (f['sitename'].dirty || f['sitename'].touched)
                }" />
            <div *ngIf="
                  f['sitename'].invalid && (f['sitename'].dirty || f['sitename'].touched)
                " class="invalid-feedback">
              <div *ngIf="f['sitename'].errors.required">
                Site Name is required
              </div>
            </div>
          </div>

          <!-- <div style="width:50%;padding: 10px;/*height: 50px;*/float: left;margin-top: 3rem;"> -->

        </div>
        <div class="row form-group">
          <div class="col-sm-6">Name of Bank Account Holder*: </div>
          <div class="col-sm-6">
            <input ymInput pInputText type="text" formControlName="bankholder" class="form-control" [ngClass]="{
              'is-invalid':
                f['bankholder'].invalid && (f['bankholder'].dirty || f['bankholder'].touched)
            }" />
            <div *ngIf="
              f['bankholder'].invalid && (f['bankholder'].dirty || f['bankholder'].touched)
            " class="invalid-feedback">
              <div *ngIf="f['bankholder'].errors.required">
                Name of Bank Account Holder is required
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">Name of Bank*: </div>
          <div class="col-sm-6">
            <input ymInput pInputText type="text" formControlName="bankname" class="form-control" [ngClass]="{
              'is-invalid':
                f['bankname'].invalid && (f['bankname'].dirty || f['bankname'].touched)
            }" />
            <div *ngIf="
              f['bankname'].invalid && (f['bankname'].dirty || f['bankname'].touched)
            " class="invalid-feedback">
              <div *ngIf="f['bankname'].errors.required">
                Name of Bank is required
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">Address of Bank*: </div>
          <div class="col-sm-6">
            <textarea id="bankaddress" ymInput pInputText type="text" formControlName="bankaddress" class="form-control"
              [ngClass]="{
              'is-invalid':
                f['bankaddress'].invalid && (f['bankaddress'].dirty || f['bankaddress'].touched)
            }"></textarea>
            <div *ngIf="
              f['bankaddress'].invalid && (f['bankaddress'].dirty || f['bankaddress'].touched)
            " class="invalid-feedback">
              <div *ngIf="f['bankaddress'].errors.required">
                Address of Bank is required
              </div>
            </div>

          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">Routing*: </div>
          <div class="col-sm-6">
            <input ymInput pInputText  onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" type="text"
              formControlName="routing" class="form-control" [ngClass]="{
              'is-invalid':
                f['routing'].invalid && (f['routing'].dirty || f['routing'].touched)
            }" />
            <div *ngIf="
              f['routing'].invalid && (f['routing'].dirty || f['routing'].touched)
            " class="invalid-feedback">
              <div *ngIf="f['routing'].errors.required">
                Routing is required
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">Account*: </div>
          <div class="col-sm-6">
            <input ymInput pInputText type="text" onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
              formControlName="account" class="form-control" [ngClass]="{
              'is-invalid':
                f['account'].invalid && (f['account'].dirty || f['account'].touched)
            }" />
            <div *ngIf="
              f['account'].invalid && (f['account'].dirty || f['account'].touched)
            " class="invalid-feedback">
              <div *ngIf="f['account'].errors.required">
                Account is required
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12">
            <p>
              Copy of Voided Check or a letter from your bank,
              on bank letterhead, certifying the account name,
              account number and the bank routing number:
            </p>

            <input type="button" name="attachment" class="attach-btn" value="Upload Attachments" (click)="file.click()"
              style="border: 1px solid !important;">
            <input type="file" style="display:none" multiple id="attach" name="attachfiles"
              (change)="fileChangeEvent($event)" #file />
            <!-- <input type="file"  id="sign"  style="display: none;"/> -->

            <div *ngIf="fileData.length">
              <p *ngFor="let x of fileData; let i = index" style="
                  padding-left: 30px;
              ">
                {{i + 1}} - {{x.fileName}} <i class="far fa-trash-alt" aria-hidden="true" (click)="deleteattach(i)"></i>
              </p>
            </div>
          </div>

        </div>
        <div class="row form-group">
          <div class="col-sm-12">
            <p>
              I authorize Frankly Media, Inc. to make deposits into the bank account specified above,
              as well as withdrawals and adjustments for any deposits made in error to
              my account. I certify that my account allows such transactions, and that
              such transactions comply with all applicable laws. This authorization shall
              remain in effect until I have cancelled it in writing and allowed Frankly Media,
              Inc. and any related financial institutions a reasonable opportunity to act
              on such cancellation.
            </p>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-8 form-group">

            <div class="col-sm-12">
              <input ymInput pInputText type="text" formControlName="authorizedperson" class="form-control" [ngClass]="{
              'is-invalid':
                f['authorizedperson'].invalid && (f['authorizedperson'].dirty || f['authorizedperson'].touched)
            }" />
              <div *ngIf="
              f['authorizedperson'].invalid && (f['authorizedperson'].dirty || f['authorizedperson'].touched)
            " class="invalid-feedback">
                <div *ngIf="f['authorizedperson'].errors.required">
                  Name of Authorized Person is required
                </div>
              </div>
            </div>
            <div class="col-sm-12">Name of Authorized Person(Please Print)* </div>
          </div>
          <div class="col-sm-4 form-group">

            <div class="col-sm-12">
              <input ymInput pInputText type="date" formControlName="date" class="form-control" [ngClass]="{
              'is-invalid':
                f['date'].invalid && (f['date'].dirty || f['date'].touched)
            }" />
              <div *ngIf="
              f['date'].invalid && (f['date'].dirty || f['date'].touched)
            " class="invalid-feedback">
                <div *ngIf="f['date'].errors.required">
                  Date is required
                </div>
              </div>
            </div>
            <div class="col-sm-8">Date*</div>
          </div>

        </div>
        <div style="width: 190px; height: 60px; float: left;">
          <div style="width:190px;height:60px;margin:auto;">
            <img [src]="signimage" style="width:100%;height:100%;">
          </div>
        </div>
        <!-- <div style="width:50%;padding: 10px;/*height: 50px;*/float: left;margin-top: 3rem;"> -->
        <div>
          <input type="button" name="signture" class="sign-btn " value="Upload Signture" (click)="sign.click()"
            style="border: 1px solid !important;">
          <input type="file" style="display:none" id="sign" name='file' accept="image/x-png,image/gif,image/jpeg"
            (change)="signChangeEvent($event)" #sign />
          <!-- <input type="file"  id="sign"  style="display: none;"/> -->
        </div>
      </form>
    </div>

    <div class="row ">
      <div class="col-sm-12 footer-letter">
        135 E 57th St 6th Floor New York, NY 10022
        <hr class="hr-tag">
        https://franklymedia.com | 646.736. 3931
      </div>
    </div>


    <!-- <div style="width:50%;/*height: 50px;*/float: left;margin-top: 1rem;">


        </div> -->

  </div>
  <p class="disclaimer">
    <span> *All fields are mandatory.</span>
  </p>

</div>

<div class="ui-g-12 ui-dialog-footer" style="padding-left: 16px;">
  <span style="float: left;margin-right: 10px; ">

    <p-checkbox [(ngModel)]="isAllProperty" binary="true" [ngModelOptions]="{ standalone: true }">
    </p-checkbox>
    <span style="font-weight: bold;">
      Apply for all properties
    </span>
  </span>
  <button pButton type="button" [disabled]="registerForm['invalid']  || signimage == undefined" (click)="onSubmit()" label="Upload" icon="fas fa-user-edit"
    class="ui-button-success"></button>

  <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
    class="ml-2 ui-button-warning"></button>
</div>