.p-grid {
  margin-top: 5px;
}

span {
  margin-bottom: 5px;
  font-weight: bold;
}

form {
  padding: 0;
  width: 100%;
}

.invalid-feedback-class {

  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

button {
  width: auto !important;
}
.file-upload > input {
  display: none;
}
.filename{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-group {
  font-size: 14px;
  margin-bottom: 0.5rem;
  line-height: 1.5;

}

.hr-tag {
  margin: 5px !important;
  width: 300px;
  text-align: center;
  margin-left: 130px !important;
  background-color: hotpink;
  border-style: inset !important;
  border-width: 1px !important;
}


.footer-letter {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.changeNameForm input,
textarea {
  // border-bottom: 1px solid !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 0px !important;
}

.sign-btn {
  margin: 10px;
  margin-top: 30px;
}

.attach-btn {
  margin-bottom: 10px;
}

.page-title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.top-logo {
  width: 190px;
  height: 50px;
  margin: auto;

}

p.disclaimer {
  color: #999;
  margin: 0px;
  font-style: italic;
  font-size: 12px;
  width: 100%;
  display: inline-block;
}

#bankaddress {

  height: 80px !important;
}

.bankingaddressdiv {
  resize: both;
  overflow: auto;
  height: 80px;
  border-bottom: 1px solid !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 0px !important;
  font: inherit;
  color: initial;
}

#taxforms .card {
  border: 2px solid rgba(0, 0, 0, .125);
}
