<div class="ui-g">
  <div class="ui-g-4">
    <span class="ui-float-label" style="margin:7px">Date Range : </span>
  </div>
  <div class="ui-g-8">
    <p-dropdown appendTo="body" [options]="dateRangeOptions" [(ngModel)]="selectedRange" placeholder="Select Range"
      optionLabel="label" dataKey="key"
      [style]="{ 'min-width': '301px','border': '1.1px solid #a6a6a6','position': 'fixed', 'overflow': 'visible', 'z-index': '999'}"
      (onChange)="changeDate()">
    </p-dropdown>

  </div>
  <div *ngIf="selectedRange['key'] == 'custom'" class="ui-g-4">
    <span class="ui-float-label" style="margin:7px">Custom Date : </span>
  </div>
  <div *ngIf="selectedRange['key'] == 'custom'" class="ui-g-8">
    <p-calendar [(ngModel)]="selectedDate" (onClose)="onDateSelected()" selectionMode="range" [readonlyInput]="true"
      dateFormat="mm/dd/yy" [maxDate]="today" [inputStyle]="{'width':'270px'}"
      [style]="{'min-width': '301px','position': 'fixed', 'overflow': 'visible', 'z-index': '999'}" [numberOfMonths]="2"
      [showIcon]="true">
      <p-footer>
        <button pButton type="button" label="Ok" style="float: right" (click)="onDateSelected()"
          class="ui-button-success"></button>
      </p-footer>
    </p-calendar>

    <!-- <p-calendar [(ngModel)]="rangeDates2" selectionMode="range" [readonlyInput]="true"></p-calendar> -->

    <!-- <p-calendar [(ngModel)]="date1"></p-calendar> -->
  </div>



</div>
<div class="ui-g-12" style="padding-left: 16px;margin-top: 10px;text-align: right;">
  <button pButton type="button" *ngIf="!isUpdate" [disabled]="isDisabled" (click)="onSubmit()" label="Add" icon="far fa-save"
    class="ui-button-success"></button>

  <button pButton type="button" *ngIf="isUpdate" [disabled]="isDisabled" (click)="onSubmit()" label="Update"
    icon="fas fa-user-edit" class="ui-button-success"></button>

  <button pButton type="button" *ngIf="isUpdate && !this.customize_daterange['isremove']" (click)="removeRange()" label="Remove"
    icon="far fa-trash-alt" class="ml-2 ui-button-danger"></button>

  <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
    class="ml-2 ui-button-warning"></button>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>