.p-grid {
  margin-top: 5px;
}

span {
  margin-bottom: 5px;
  font-weight: bold;
}

form {
  padding: 0;
  width: 100%;
}

.invalid-feedback-class {

  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

button {
  width: auto !important;
}
.file-upload > input {
  display: none;
}
.filename{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}