<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <p><b>Media Group : </b>{{UploadData['station_group']}} </p>
      <p *ngIf="UploadData['isExpanded'] != '0'"><b>Property : </b>{{UploadData['derived_station_rpt']}} </p>
    </div>

    <form class="mainForm" [formGroup]="registerForm">
      <div class="ui-g-12">
        <div class="ui-g-12 ui-md-3" *ngIf="UploadData['form_type'] == '1099 Form'">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">
              Year*
            </span>
            <p-dropdown [options]="groupedYears" formControlName="year" placeholder="Select Year" [group]="false"
               optionLabel="key" [ngClass]="{
                'is-invalid-class':
                  f['year'].invalid && (f['year'].dirty || f['year'].touched)
              }"></p-dropdown>
            <div *ngIf="
                f['year'].invalid && (f['year'].dirty || f['year'].touched)
              " class="invalid-feedback-class">
              <div *ngIf="f['year'].errors.required">
                Year is required
              </div>
            </div>
          </div>
        </div>


        <div class="ui-g-12 ui-md-4" *ngIf="UploadData['isExpanded'] == '0'">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">
              Property*
            </span>

            <p-multiSelect [options]="groupedProperty" formControlName="derived_station_rpt"
              defaultLabel="Select Property" maxSelectedLabels="1" optionLabel="label" [filter]="true"
              [virtualScroll]="true" appendTo="body" itemSize="30" filterBy="label,value.name" resetFilterOnHide="true"
              [style]="{ 'min-width': '200px' }" [ngClass]="{
                'is-invalid-class':
                  f['derived_station_rpt'].invalid &&
                  (f['derived_station_rpt'].dirty || f['derived_station_rpt'].touched)
              }"></p-multiSelect>
            <div *ngIf="
                f['derived_station_rpt'].invalid &&
                (f['derived_station_rpt'].dirty || f['derived_station_rpt'].touched)
              " class="invalid-feedback-class">
              <div *ngIf="f['derived_station_rpt'].errors.required">
                Property is required
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-5">
          <div class="ui-g-12 ui-md-12 file-upload">
            <span class="ui-float-label">
              File Upload*
            </span>

            <!-- <p-fileUpload name="demo[]" url="" (onUpload)="onUpload($event)" -->
            <!-- accept="image/*" maxFileSize="1000000" [showUploadButton]="false" [showCancelButton]="false"> -->
            <!-- <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
    </ng-template> -->
            <!-- </p-fileUpload> -->


            <!-- <label for="file-input" title="Click here to select image from your PC"> -->
            <input type="file" id="file-input" (change)="fileChangeEvent($event)"
              #file />
            <p-button (click)="file.click()" icon="pi pi-check" label="Browse"></p-button>
            <div class="filename">{{fileName}}</div>
            <!-- </label> -->
            <!-- <p-fileUpload  mode="basic" name="file[]" (onSelect)="onUpload($event)" accept="image/*"
              maxFileSize="1000000"></p-fileUpload> -->
            <!-- <div *ngIf="
                f['file'].invalid && (f['file'].dirty || f['file'].touched)
              " class="invalid-feedback-class">
              <div *ngIf="f['file'].errors.required">
                Media Group is required
              </div>
            </div> -->

          </div>
        </div>
        <div class="ui-g-12 ui-md-7" *ngIf="UploadData['isExpanded'] == '1' && UploadData['form_type'] == 'W9 Form'">
          <div class="ui-g-12 ui-md-12" style="min-width: 200px;">
            <span class="ui-float-label">
              Add Comment(Optional)
            </span>
            <textarea pInputTextarea placeholder="Description" formControlName="Comment" name="Comment"></textarea>
          </div>
        </div>
      </div>

      <div *ngIf="!(UploadData['isExpanded'] == '1' && UploadData['form_type'] == 'W9 Form')" class="ui-g-12">
        <div class="ui-g-12 ui-md-7">
          <div class="ui-g-12 ui-md-12" style="min-width: 200px;">
            <span class="ui-float-label">
              Add Comment(Optional)
            </span>
            <textarea pInputTextarea placeholder="Description" formControlName="Comment" name="Comment"></textarea>
          </div>
        </div>
      </div>
    </form>

    <!-- <form *ngIf="UploadData['form_type'] == 'W9 Form'" class="mainForm" [formGroup]="registerForm">
      <div class="ui-g-12">
        <div class="ui-g-12 ui-md-4" *ngIf="UploadData['isExpanded'] == '0'">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">
              Property*
            </span>

            <p-multiSelect [options]="groupedProperty" formControlName="derived_station_rpt"
              defaultLabel="Select Property" maxSelectedLabels="1" optionLabel="label" [filter]="true"
              [virtualScroll]="true" appendTo="body" itemSize="30" filterBy="label,value.name" resetFilterOnHide="true"
              [style]="{ 'min-width': '200px' }" [ngClass]="{
                'is-invalid-class':
                  f['derived_station_rpt'].invalid &&
                  (f['derived_station_rpt'].dirty || f['derived_station_rpt'].touched)
              }"></p-multiSelect>
            <div *ngIf="
                f['derived_station_rpt'].invalid &&
                (f['derived_station_rpt'].dirty || f['derived_station_rpt'].touched)
              " class="invalid-feedback-class">
              <div *ngIf="f['derived_station_rpt'].errors.required">
                Property is required
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-5">
          <div class="ui-g-12 ui-md-12 file-upload">
            <span class="ui-float-label">
              File Upload*
            </span>

            <input type="file" id="file-input" (change)="fileChangeEvent($event)"
              accept="image/gif, image/jpeg, image/png" #file />
            <p-button (click)="file.click()" icon="pi pi-check" label="Browse"></p-button>
            <div class="filename">{{fileName}}</div>

          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-12 ui-md-8">
          <div class="ui-g-12 ui-md-12" style="min-width: 200px;">
            <span class="ui-float-label">
              Add Comment(Optional)
            </span>
            <textarea pInputTextarea placeholder="Description" formControlName="Comment" name="Comment"></textarea>
          </div>
        </div>
      </div>
    </form> -->
  </div>

</div>
<div class="ui-g-12 ui-dialog-footer" style="padding-left: 16px;">
  <button pButton type="button" [disabled]="registerForm['invalid']  || fileName == ''" (click)="onSubmit()" label="Upload" icon="fas fa-user-edit"
    class="ui-button-success"></button>

  <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
    class="ml-2 ui-button-warning"></button>
</div>