<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-6 font-weight-bold">Role Name</div>
      <div class="ui-g-6">{{ role['name'] }}</div>
    </div>
    <div class="ui-g-12">
      <p-accordion>
        <p-accordionTab [selected]="true" header="Users">
          <div>
            <input
              #txtSearch
              class="ui-inputtext ui-corner-all ui-state-default ui-widget mb-2"
              placeholder="Search"
            />
            <ul class="team-details" *ngIf="roleDetails">
              <li
                class="team-details-item"
                *ngFor="
                  let r of roleDetails['users']
                    | searchObj: 'name':txtSearch.value
                "
              >
                {{ r['name'] }} ( {{ r['email'] }} )
                <i
                  class="fas fa-circle"
                  aria-hidden="true"
                  [ngClass]="{
                    active: r['status'] == 1,
                    deactive: r['status'] == 0
                  }"
                ></i>
              </li>
            </ul>

            <ul class="team-details" *ngIf="!roleDetails">
              <li class="team-details-item">
                no data found
              </li>
            </ul>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Teams">
          <div>
            <input
              #txtSearch1
              class="ui-inputtext ui-corner-all ui-state-default ui-widget mb-2"
              placeholder="Search"
            />
            <ul class="team-details" *ngIf="roleDetails">
              <li
                class="team-details-item"
                *ngFor="
                  let r of roleDetails['teams']
                    | searchObj: 'name':txtSearch1.value
                "
                [title]="r['name']"
              >
                {{ r['name'] }}
              </li>
            </ul>
            <ul class="team-details" *ngIf="!roleDetails">
              <li class="team-details-item">
                no data found
              </li>
            </ul>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Permissions">
          <div>
            <input
              #txtSearch2
              class="ui-inputtext ui-corner-all ui-state-default ui-widget mb-2"
              placeholder="Search"
            />
            <ul class="team-details" *ngIf="roleDetails">
              <li
                class="team-details-item"
                *ngFor="
                  let r of roleDetails['permissions']
                    | searchObj: 'displayName':txtSearch2.value
                "
                [title]="r['displayName']"
              >
                {{ r['displayName'] }}
              </li>
            </ul>

            <ul class="team-details" *ngIf="!roleDetails">
              <li class="team-details-item">
                no data found
              </li>
            </ul>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
