ul.team-details {
    max-height: 200px;
    list-style-type: disc;
    list-style-position: inside;
    overflow: auto;
  }
  
  li.team-details-item {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    text-align: left;
    margin: 5px 10px;
  }

  .active
  {
    color: green;
  }

  .deactive
  {
    color:red;
  }