<div id="capture">
  <div class="last-updated">
    <div data-html2canvas-ignore class="dropdown export-icon d-inline-block">
      <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" title="Export to PPT or JPEG" aria-expanded="true">
        <i title="Export to PPT or JPEG" class="fas fa-download" style="cursor: pointer" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <!-- <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a> -->
        <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a>
      </div>
    </div>

    <div class="popover-container d-inline-block ml-2">
      <div>
        <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} EST
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          EST
        </p>
      </div>
    </div>
  </div>

  <!-- -------------------------- Application Name -------------------------- -->
  <p class="page-title">{{ appConfig['displayName'] }}</p>
  <!-- ---------------------------------------------------------------------- -->

  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>
  <!-- ----------------------------------------------------------------------- -->

  <!-- ---------------------- Cards Container Component ---------------------- -->
  <!-- <ym-cards *ngIf="showCards" [cardsJson]="cardsJson"></ym-cards> -->
  <!-- ----------------------------------------------------------------------- -->

  <!-- ------------------------ DonutChart and Campaign table ---------------- -->
  <div class="p-grid">
    <div class="p-col-4">
      <div class="border-class mt-3" [ngStyle]="selectedMetric == 'eCPM' ? {'height': '430px'} : {'height': '532px'}">
        <i *ngIf="!showMainPieChart && !noDataMainPieChart" class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px;"></i>
        <div class="no-data-label no-data-mainline-chart" *ngIf="noDataMainPieChart">
          No data found
        </div>
        <ym-charts *ngIf="showMainPieChart" [chartsJson]="mainPieChartJson"
        ></ym-charts>
      </div>
    </div>

  <!-- ----------------------------------------------------------------------- -->

  <!-- -------------- Line Chart with Multi Metrics -------------------------- -->
  <div class="p-col-8">
      <div class="border-class mt-3">
          <div class="row">
            <div class="p-col-7" >
              <p class="custom-label ml-2 mr-2">Metrics: </p>
              <p-selectButton [options]="chartsMultiselectButton['data']"
                [(ngModel)]="selectedMetric" (onChange)="getChartJson()"></p-selectButton>
            </div>
            <div class="p-col-5" >
              <p class="custom-label mr-2">Dimensions: </p>
              <p-selectButton [options]="chartsMultiselectButtonDimension['data']"
                [(ngModel)]="selectedDimension" (onChange)="getChartJson()"></p-selectButton>
            </div>
          </div>
        <div class="p-col-12">
          <i
          *ngIf="!showChartsData && !showCharts"
          class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px;"
        ></i>
          <div class="no-data-label" *ngIf="showCharts">
            No data found
          </div>
          <div class="p-col-12">
            <div class="border-class" *ngIf="showChartsData" style="margin-top: -20px !important;">
              <ym-charts  *ngIf="showChartsData" [chartsJson]="metricChartJson"></ym-charts>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
  <!-- ----------------------------------------------------------------------- -->

  <!-- <hr> -->
  <div class="p-grid">
    <div class="p-col-12">
      <!-- <div style="margin-right: 5px;">
        <input type="checkbox" [(ngModel)]="flag" id={{flag}} (change)="changeSearchFlag(flag)" />
        <label class="toggle-button-switch" for="{{ flag }}"></label>
        <div class="toggle-button-text" [ngClass]="{ on: flag == true, off: flag == false }">
          <div class="toggle-button-text-on">Creative</div>
          <div class="toggle-button-text-off">Campaign</div>
        </div>
      </div> -->

      <div [hidden]="noTableData" class="mt-3 mb-3 fr-upr-table" *ngIf="displayAggTable">
        <p-treeTable #ttRev3601 [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
          [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']"
          [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']"
          [sortMode]="aggTableJson['sortMode']" [resizableColumns]="aggTableJson['resizableColumns']"
          [columnResizeMode]="aggTableJson['columnResizeMode']" [reorderableColumns]="aggTableJson['reorderableColumns']"
          [frozenColumns]="aggTableJson['frozenCols']" [frozenWidth]="aggTableJson['frozenWidth']"
          [scrollable]="aggTableJson['scrollable']" [scrollHeight]="aggTableJson['scrollHeight']"
          [selectionMode]="aggTableJson['selectionMode']" [(selection)]="aggTableJson['selectedColsModal']"
          [dataKey]="aggTableJson['selectionDataKey']" [metaKeySelection]="aggTableJson['metaKeySelection']"
          [globalFilterFields]="aggTableJson['globalFilterFields']"
          [style]="{ width: '100%' }" (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
          <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

          <ng-template pTemplate="caption">
            <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
              <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
                optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
                [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns">
              </p-multiSelect>
            </div>
            <div *ngIf="aggTableJson['export']" style="text-align: left; float: right; display: inline-block;">
              <div data-html2canvas-ignore class="dropdown">
                <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                  aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
                  <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="exportTable('Excel')">
                    Excel
                  </a>
                  <a class="dropdown-item" (click)="exportTable('CSV')">
                    CSV
                  </a>
                  <!-- <a class="dropdown-item" (click)="exportTablePopup('JSON')">
                        JSON
                      </a> -->
                </div>
              </div>
            </div>
            <div *ngIf="aggTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
              <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
              <input ymInput pInputText type="text" size="30" placeholder="Search All"
              [(ngModel)]="searchvalue" (input)="ttRev3601.filterGlobal($event.target.value, 'contains')" style="width:auto" />
                <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
                (click)="searchvalue='';ttRev3601.filterGlobal('', 'contains')"><i class="pi pi-times"></i>
              </span>
            </div>
          </ng-template>

          <!-- ------------------------- For frozen columns -------------------------- -->

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
            </colgroup>
          </ng-template>

          <!-- ------------------------------- Header -------------------------------- -->

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                [ttResizableColumnDisabled]="!col['options']['resizable']"
                [ttReorderableColumnDisabled]="!col['options']['movable']">
                {{ col.displayName }}
                <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
                </p-treeTableSortIcon>
              </th>
            </tr>
            <!-- <tr *ngIf="aggTableJson['columnSearch']">
              <ng-container *ngFor="let col of columns; let i = index">
                <th class="search-bar" *ngIf="isHiddenColumn(col)">
                  <input pInputText type="text" [ngStyle]="{ width: col['width'] - 25 + 'px' }" [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'" id="i" [(ngModel)]="col.value"
                    (ngModelChange)="onSearchChanged(col.value ,col.field,flag)" />
                </th>
              </ng-container>
            </tr> -->
          </ng-template>

          <!-- -------------------------------- Body --------------------------------- -->
          <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ngClass]="progressRowClass(rowData)">
              <td *ngFor="let col of columns; let i = index" ttEditableColumn
                [title]="rowData[col.field] | formatNum: col.format:col.formatConfig">
                <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>
                <span
                *ngIf="col.field === 'creative_name' && rowData[col.field] == 'All' ">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
              <span
              *ngIf="
                rowData[col.field] !== 'All'" (click)="openPopup(rowData, col.field)" class="btn-link d-inline">
              {{
                rowData[col.field] | formatNum: col.format:col.formatConfig
              }}
            </span>





                <!-- <span *ngIf="col.field !='campaign_name'">
                  {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                </span>
                <span *ngIf="col.field == 'campaign_name'" (click)="openPopup(rowData, col.field)" class="btn btn-link d-inline">
                  {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                </span> -->
                <!-- <span *ngIf="col.field == 'campaign_id'" (click)="linkToBeeswax(rowData)" class="btn btn-link d-inline">
                  {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                </span> -->
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ngClass]="progressRowClass(rowData)">
              <td *ngFor="let col of columns; let i = index"
                [title]="rowData[col.field] | formatNum: col.format:col.formatConfig"
                ttEditableColumn>
                <!-- <p-treeTableCellEditor *ngIf="col['options']['editable']">
                  <ng-template pTemplate="input">
                    <input *ngIf="col.field !== 'team_members' && col.field !== 'bizops_team_members'" pInputText
                      type="text" (keydown)="
                      afterEditCell($event,rowData, rowData.id, rowData[col.field], col.field)
                      " [(ngModel)]=rowData[col.field] [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                    <span *ngIf="col.field == 'team_members'">
                      <p-dropdown [options]="editDropdownOptionsArray" placeholder="Select" [(ngModel)]="rowData[col.field]"
                        [filter]="true" [virtualScroll]="true" appendTo="body" itemSize="30" (onChange)="
                      afterEditCell($event,rowData, rowData.id, rowData[col.field], col.field)
                      " [style]="{ 'min-width': '200px' }">
                      </p-dropdown>
                    </span>
                    <span *ngIf="col.field == 'bizops_team_members'">
                      <p-dropdown [options]="editDropdownOptionsArray" placeholder="Select" [(ngModel)]="rowData[col.field]"
                        [filter]="true" [virtualScroll]="true" appendTo="body" (onChange)="
                      afterEditCell($event,rowData, rowData.id, rowData[col.field], col.field)
                      " itemSize="30" [style]="{ 'min-width': '200px' }">
                      </p-dropdown>
                    </span>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <span *ngIf="col.field !== 'team_members' && col.field !== 'bizops_team_members'">{{
                    rowData[col.field] | formatNum: col.format:col.formatConfig }}</span>
                    <span *ngIf="col.field == 'team_members'">{{
                      rowData[col.field] | formatNum: col.format:col.formatConfig }}</span>
                    <span *ngIf="col.field == 'bizops_team_members'">{{
                        rowData[col.field] | formatNum: col.format:col.formatConfig }}</span></ng-template>
                </p-treeTableCellEditor> -->
                <span *ngIf="col.field === 'campaign_end_date' && rowData[col.field] === 'Unlimited'">
                  {{rowData[col.field]}}
                </span>
                <span *ngIf="col.field === 'campaign_end_date' && rowData[col.field] !== 'Unlimited'">
                  {{rowData[col.field] | formatNum: col.format:col.formatConfig}}
                </span>
                <span *ngIf="col.field === 'status'">
                  <span *ngIf="rowData[col.field] === 1">
                    Active
                  </span>
                  <span *ngIf="rowData[col.field] !==  1">
                    Inactive
                  </span>
                </span>
                <span *ngIf="col.field !== 'status' && col.field !== 'campaign_end_date'">{{rowData[col.field] | formatNum: col.format:col.formatConfig}}</span>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft" let-state>
            Showing {{ state.page * state.rows + 1 }} to
            {{
              state.rows * (state.page + 1) > state.totalRecords
              ? state.totalRecords
              : state.rows * (state.page + 1)
            }}
            of {{ state.totalRecords }} Records
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="aggTableJson['columns'].length">
                No data found.
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
      <div class="no-data-label" *ngIf="noTableData">
        No data found
      </div>
    </div>
  </div>
</div>
<p-confirmDialog  #cd  rejectVisible='false' [style]="{width: '50vw'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Ok" (click)="cd.reject()"></button>
</p-footer>
</p-confirmDialog>