.title-popup {
  margin-top: 7px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bolder;
}

.div-main {

  // border: 1px;
  // border-color: lightgray;
  // border-radius: 21px;
  // width: 36%;
  // padding-left: 0px;
  // border-style: solid;
  // margin-left: 38px;

    /* border: 1px; */
    /* border-color: lightgray; */
    /* border-radius: 21px; */
    width: 36%;
    padding-left: 44px;
    /* border-style: solid; */
    margin-left: 35px;
    margin-top: 5%;


}
.div-exp
{
  margin-left: 16%;

}

.edit-role-container {
  height: 60vh;
  overflow: auto;
}

.edit-role-footer{
  margin-top: 2%;
  margin-left: 2%;
  height: 5vh;
}

.edit-role-button{
  width: auto;
  margin: 2px;
}

.ui-dialog-content.ui-widget-content{
  overflow: hidden !important;
}

.hr-div{
  width: 1px;
  background-color: lightgray;
  margin-left: 6%
  ;
}
.right-div{
  width: 40%;
  margin-top: 3%;
  
}
.right-table{
  margin-left: 4%;
  padding: 14px;
}
.table, th, td{
  padding: 10px;
  color: #413a3a;

}
.right-span{
  color: #413a3a;
}