<p-tabView (onChange)="tabChanged($event)">
  <p-tabPanel [selected]="true" header="Audience Segment Details">
    <div class="p-grid">
      <div class="p-col-12">
        <table class="table">
          <tr>
            <td class="p-col-4 font-weight-bold">
              Audience Segment Name
            </td>
            <td class="tbl-content">
              : &nbsp;&nbsp; {{row.segment_name}}
            </td>
          </tr>
          <tr>
            <td class="p-col-4 font-weight-bold">
              Audience Segment Description
            </td>
            <td class="tbl-content">
              : &nbsp;&nbsp; {{row.segment_description}}
            </td>
          </tr>
          <tr>
            <td class="p-col-4 font-weight-bold">
              Audience Segment Attributes
            </td>
            <td class="tbl-content">
              : &nbsp;&nbsp; {{row.attributes}}
            </td>
          </tr>
          <tr>
            <td class="p-col-4 font-weight-bold">
              Audience Segment Definition
            </td>
            <td class="tbl-content">
              : &nbsp;&nbsp; {{segmentJson}}
            </td>
          </tr>
          <tr>
            <td class="p-col-4 font-weight-bold">
              Data Source
            </td>
            <td class="tbl-content">
              : &nbsp;&nbsp; {{row.source}}
            </td>
          </tr>
          <tr>
            <td class="p-col-4 font-weight-bold">
              Created By
            </td>
            <td class="tbl-content">
              : &nbsp;&nbsp; {{row.user_name}}
            </td>
          </tr>
          <tr>
            <td class="p-col-4 font-weight-bold">
              Audience User Last Updated At
            </td>
            <td class="tbl-content">
              : &nbsp;&nbsp; {{row.updated_at}}
            </td>
          </tr>
          <tr>
            <td class="p-col-4 font-weight-bold">
              Last Definition Created/Modified At
            </td>
            <td class="tbl-content">
              : &nbsp;&nbsp; {{row.created_at}}
            </td>
          </tr>
        </table>
      </div>
      <div class="p-col-12">
        <div class="edit-role-footer">
          <button pButton type="button" icon="fas fa-pencil-alt" label="Edit" iconPos="right"
            class="ui-button-rounded ui-button-success edit-role-button" (click)="editSegment()"></button>

          <button pButton type="button" icon="fas fa-copy" label="Copy" iconPos="right" (click)="copyMessage()"
            class="ui-button-rounded ui-button-reset ui-button-info btn-close edit-role-button1"></button>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Activate Audience Segment">
    <div class="p-grid">
      <div class="p-col-12 p-md-3 p-lg-3"></div>
      <div class="p-col-12 p-md-6 p-lg-6">
        <form name="activateSegment" (submit)="activateSegment()">
          <table class="table">
            <tr>
              <td class="tbl-label font-weight-bold">DSP Name</td>
              <td> : &nbsp;&nbsp;
                <p-multiSelect [options]="dspNameOptions" name="selectedDSPs" defaultLabel="Choose DSP"
                  [(ngModel)]="selectedDSPs">
                </p-multiSelect>
              </td>
            </tr>
            <tr>
              <td class="tbl-label font-weight-bold">Status</td>
              <td>: &nbsp;&nbsp; Inactive</td>
            </tr>
            <tr>
              <td class="tbl-label font-weight-bold">Last Synched</td>
              <td>: &nbsp;&nbsp; {{lastSyncTime}}</td>
            </tr>
            <tr>
              <td colspan="2" class="text-center">
                <button pButton type="submit" icon="fas fa-sync-alt" label="Sync" iconPos="right"
                  class="ui-button-rounded ui-button-success"></button>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="p-col-12 p-md-3 p-lg-3"></div>
    </div>
  </p-tabPanel>
</p-tabView>