<div class="ui-fluid">
  <div class="ui-g">

    <div class="ui-g-12">
      <div class="input-switch">
        <p-inputSwitch [(ngModel)]="isPanelTitle">
        </p-inputSwitch>
      </div>
      <div class="label-switch">
        <span class="ui-float-label">
          Show Panel Title
        </span>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12">
      <span class="ui-float-label">
        Panel Title*
      </span>

      <input pInputText type="text" [(ngModel)]="RowData['title']" [disabled]="!isPanelTitle" class="form-control" />
      <div *ngIf="RowData['title'] =='' && isPanelTitle">
        Panel Title is required
      </div>
    </div>

  </div>

</div>
<div class="ui-g-12" style="padding-left: 16px;margin-top: 10px;text-align: right;">

  <button pButton type="button" [disabled]="RowData['title'] =='' && isPanelTitle" (click)="onSubmit()" label="Update"
    icon="fas fa-user-edit" class="ui-button-success"></button>

  <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
    class="ml-2 ui-button-warning"></button>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>