<style>
  .custom-file-upload {
    background-color: #0c6b0d;
    color: #ffffff;
    border-color: #0c6b0d;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    border: 10px;
    border-radius: 20px;
    float: right;
  }

  .span-link {
    cursor: not-allowed;
    pointer-events: all !important;
  }
</style>
<div id="capture">
  <div style="width:100%;display: inline-block;">
    <span style="float: left; " *ngIf="uploadFile">
      <label
        for="file-upload"
        class="ui-button-rounded ui-button-success btn btn-secondary custom-file-upload"
      >
        <i class="fas fa-cloud-upload"></i> Upload
      </label>
      <input
        id="file-upload"
        type="file"
        #fileupload
        [(ngModel)]="files"
        (click)="fileupload.value = null"
        name="files"
        (change)="upload($event)"
        multiple="true"
        style="display: none"
        accept="*/*"
        *ngIf="uploadFile"
      />
    </span>
    <span style="float: left; " *ngIf="!uploadFile">
      <label
        for="file-upload"
        class="ui-button-rounded ui-button-success btn btn-secondary custom-file-upload span-link"
      >
        <i class="fas fa-cloud-upload"></i> Upload
      </label>
    </span>
  </div>
  <div class="unfilled-table vast-table">
    <p-treeTable
      #ttFlat
      [value]="flatTableData"
      [columns]="flatTableJson['selectedColumns']"
      [paginator]="false"
      [rows]="flatTableJson['page_size']"
      [first]="flatTableJson['page']"
      [totalRecords]="flatTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
      [lazy]="flatTableJson['lazy']"
      [loading]="flatTableJson['loading']"
      [sortMode]="flatTableJson['sortMode']"
      [resizableColumns]="flatTableJson['resizableColumns']"
      [columnResizeMode]="flatTableJson['columnResizeMode']"
      [reorderableColumns]="flatTableJson['reorderableColumns']"
      [frozenColumns]="flatTableJson['frozenCols']"
      [frozenWidth]="flatTableJson['frozenWidth']"
      [scrollable]="flatTableJson['scrollable']"
      [scrollHeight]="flatTableJson['scrollHeight']"
      [selectionMode]="flatTableJson['selectionMode']"
      [(selection)]="flatTableJson['selectedColsModal']"
      [dataKey]="flatTableJson['selectionDataKey']"
      [metaKeySelection]="flatTableJson['metaKeySelection']"
      [style]="{ width: '100%' }"
    >
      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            ttResizableColumn
            ttReorderableColumn
            [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']"
          >
            {{ col.displayName }}

            <p-treeTableSortIcon
              [field]="col.field"
              *ngIf="col['options']['colSort']"
            ></p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="flatTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input
                ymInput
                pInputText
                type="text"
                [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                "
                (input)="
                  tt.filter($event.target.value, col.field, col.filterMatchMode)
                "
              />
            </th>
          </ng-container>
        </tr>
      </ng-template>


      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col
            *ngFor="let col of columns"
            [ngStyle]="{ width: col['width'] + 'px' }"
          />
        </colgroup>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr>
          <td
            *ngFor="let col of columns; let i = index"
            ttEditableColumn
            [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            "
          >
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <input
                  ymInput
                  pInputText
                  type="text"
                  [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </ng-template>
            </p-treeTableCellEditor>

            <span *ngIf="!col['options']['editable']">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>
          </td>
        </tr>
      </ng-template>
      <!-- ----------------------------- Frozen Body ----------------------------- -->

      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr>
          <td [title]="rowData.filename">
            <!-- <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler> -->
            <span
              class="btn-link"
              (click)="
                downloadInvoice1(
                  rowData.costId,
                  rowData.invoiceUrl,
                  rowData.filename
                )
              "
              *ngIf="downloadFile"
              >{{ rowData.filename }}</span
            >
            <span class="btn-link span-link" *ngIf="!downloadFile">{{
              rowData.filename
            }}</span>
          </td>

          <td [title]="rowData.createdAt">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            {{ rowData.createdAt | date: 'yyyy-MM-dd HH:mm:ss a' }} {{timeZone}}
          </td>
          <td [title]="'delete'">
            <button
              class="btn btn-link"
              style="margin-left:15px;color:blue"
              (click)="deleteInvoice(rowData.id)"
              *ngIf="deleteFile"
            >
              <i class="far fa-trash-alt" aria-hidden="true"></i>
            </button>
            <button
              class="btn btn-link span-link"
              style="margin-left:15px;color:blue"
              (click)="deleteInvoice(rowData.id)"
              *ngIf="!deleteFile"
              disabled="true"
            >
              <i class="far fa-trash-alt" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="flatTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div style="width:100%;display: inline-block;">
    <button
      pButton
      type="button"
      (click)="CloseDialog()"
      icon="pi pi-times-circle"
      label="Close"
      iconPos="right"
      class="ui-button-rounded ui-button-secondary btn-close"
    ></button>
  </div>
</div>
