<div id="capture">
  <p class="page-title">Connector Details</p>
  
  <p-card class="p-card-body">
    <div class="ui-fluid">

<div class="row">
  <div class="col-3">
    <div>
      <label > Ad Server <span style="color: red;"> *</span>
      </label>
    </div> 
    <p-dropdown [options]="availableAdServers" placeholder="Ad Server"
       optionLabel="label" (onChange)="getConnectionForm()"
      dataKey="value" [(ngModel)]="adServer" required [disabled]="this.formIdentity=='edit'">
    </p-dropdown>
    <!-- <div
      *ngIf="lineItem['lineadType'].invalid && (lineItem['lineadType'].dirty || lineItem['lineadType'].touched)">
      <div *ngIf="lineItem['lineadType'].errors.required" class="errorClass">
        Name is required
      </div>
    </div> -->
  </div>
</div>

<div *ngIf="formFlag">
  <form [formGroup]="demoForm" *ngIf="demoForm">
  <div class="row ui-fluid ui-g-12">
    <div *ngFor="let arrayItem of dynamicFormControlArray; let i=index" class="col-3 ui-g-3">
            <div>
              <label [for]="arrayItem.labelname"> {{arrayItem.labelname}} <span style="color: red;"> *</span>
              </label>
            </div>
            <input [id]="arrayItem.labelname" [type]="arrayItem.inputType" ymInput
            [required]="arrayItem['validation'].required"
            class="form-control inputtext" [placeholder]="arrayItem.placeHolder" [formControlName]="arrayItem.ngModel">
            <div
              *ngIf="demoForm.controls[arrayItem.ngModel].invalid && (demoForm.controls[arrayItem.ngModel].dirty || demoForm.controls[arrayItem.ngModel].touched)">
              <div *ngIf="demoForm.controls[arrayItem.ngModel].errors.required" class="errorClass">
                {{arrayItem.labelname}} is required
              </div>
            </div>
      </div>
  </div>
</form> 
</div>
      
    </div>
    <div class="footer-buttons" *ngIf="this.formIdentity!='edit' && this.formIdentity!='update'">
      <button pButton type="button"  *ngIf="formFlag" label="Cancel" (click)="backToConnectionList()" icon="far fa-times-circle"
        class="ui-button-rounded ui-button-secondary" style="float: right;"></button>
      <button pButton type="submit" *ngIf="formFlag"
      [disabled]="demoForm.status=='INVALID'" label="Submit Connection" icon="pi pi-save"
        class=" mr-2 ui-button-success ui-button-rounded" (click)="submitConnection(demoForm)"style="float: right;"></button>
    </div>
    <div class="footer-buttons" *ngIf="this.formIdentity=='update'">
      <button pButton type="button" *ngIf="formFlag" label="Cancel" (click)="backToConnectionList()" icon="far fa-times-circle"
        class="ui-button-rounded ui-button-secondary" style="float: right;"></button>
      <button pButton type="submit"
      [disabled]="demoForm.status=='INVALID'" *ngIf="formFlag" label="Update Connection" icon="pi pi-save"
        class=" mr-2 ui-button-success ui-button-rounded" (click)="updateConnection(demoForm)"style="float: right;"></button>
    </div>
  </p-card>
</div>


<!-- <p-confirmDialog #cd rejectVisible='false' [style]="{width: '50vw'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog> -->