<div class="ui-fluid">

  <!-- <p-selectButton [options]="types" 
                ></p-selectButton> -->
  <form [formGroup]="ticketForm" (ngSubmit)="createTicket()">
    <div class="edit-role-container">
      <div class="ui-g-12">
        <div class="ui-g-12">
          <div class="ui-g-8 ui-g-nopad">
            <div class="ui-g-12">
              <div class="ui-g-5 font-weight-bold">
                Subject*
              </div>
              <div class="ui-g-7">
                <div class="ui-inputgroup">
                  <input
                    type="text"
                    name="subject"
                    minlength="4"
                    style="width:100%"
                    [(ngModel)]="subject"
                    pInputText
                    placeholder="subject"
                    formControlName="subject"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <!-- <div class="ui-grid-row">
              <p-message
                severity="error"
                text="Name is required"
                *ngIf="
                  (ticketForm.get('subject').hasError('required') &&
                  ticketForm.controls['subject'].dirty) ||
                  (ticketForm.controls['subject'].touched &&
                  ticketForm.get('subject').hasError('required'))
                "
              ></p-message>
            </div> -->

            <div class="ui-g-12" style="margin-top: 5px;">
              <div class="ui-g-5 font-weight-bold">
                Severity
              </div>
              <div class="ui-g-7">
                <div class="ui-inputgroup">
                <p-selectButton [options]="types" 
                formControlName="severity"
                [(ngModel)]="severity"
                optionLabel="label"
                ></p-selectButton>
              </div>
              </div>
            </div>

            <div class="ui-g-12" style="margin-top: 5px;">
              <div class="ui-g-5 font-weight-bold">
                Severity
              </div>
              <div class="ui-g-7">

                <div class="ui-inputgroup">
                  <textarea
                    [(ngModel)]="description"
                    [rows]="5"
                    [cols]="30"
                    style="width:100%; height: 100px;"
                    pInputTextarea
                    formControlName="description"
                    autoResize="autoResize"
                    placeholder="Please provide brief details about your need."
                    name="description"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="edit-role-footer">
      <button
        pButton
        type="submit"
        label="Ok"
        
        icon="fas fa-user-edit"
        class="ui-button-success"
      ></button>
      <!-- [disabled]="!userform.valid && selectedPermissions.length > 0" -->

      <button
        pButton
        type="button"
        (click)="goBack()"
        label="Cancel"
        icon="far fa-times-circle"
       class="ml-2 ui-button-warning"
      ></button>
    </div>
  </form>
</div>
