<div #scrollMe class="app-container">
    <p class="page-title">{{ appConfig['displayName'] }}</p>
    <div class="container">
        <div id="right-panel" class="right-panel col-sm-12 ">
            <div id="calculatorcase">
                <div class="row">
                    <div class="col-lg-6 col-sm-12" id="cpm">
                        <div class="card cardtab">
                            <div class="card-header">
                                <strong class="card-title"></strong>
                            </div>
                            <div class="card-body">
                                <!-- Credit Card -->
                                <div id="pay-invoice">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h5 class="text-center title">Cost Per Mille</h5>
                                        </div>
                                        <hr>
                                        <form action="" method="post" novalidate="novalidate">
                                            <div class="form-group text-center">

                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label mb-1">Impressions</label>
                                                <input id="cpmInputsImps" type="number" class="form-control"
                                                    placeholder="500,000" [(ngModel)]="imps" name="impr">
                                            </div>
                                            <div class="form-group has-success">
                                                <label for="" class="control-label mb-1">Cost per Mille</label>
                                                <input id="cpmInputsCpm" type="number" class="form-control"
                                                    placeholder="$5.00" [(ngModel)]="cpm" name="Cost">
                                            </div>
                                            <div class="form-group">
                                                <label for="	" class="control-label mb-1">Budget</label>
                                                <input id="cpmInputsCost" type="number" class="form-control"
                                                    placeholder="$2,500" [(ngModel)]="cost" name="Budget">

                                            </div>

                                            <div>
                                                <button type="button" pButton icon="" (click)="clear1()"
                                                    label="Clear"></button>

                                                <button type="button" pButton icon="" (click)="cpmcalculate()"
                                                    label="Calculate" style="margin-left: 15px;"></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12" id="discrepancy">
                        <div class="card cardtab">
                            <div class="card-header">
                                <strong class="card-title"></strong>
                            </div>
                            <div class="card-body">
                                <!-- Credit Card -->
                                <div id="pay-invoice">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h5 class="text-center title">Discrepancy</h5>
                                        </div>
                                        <hr>
                                        <form action="" method="post" novalidate="novalidate">
                                            <div class="form-group text-center">

                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label mb-1">Hosted Ad Server Number -
                                                    <small> Impressions/Clicks/Conversion</small></label>
                                                <input id="dInputshostnum" type="number" class="form-control"
                                                    placeholder="500,000" [(ngModel)]='hostnum' name="hostnum">
                                            </div>
                                            <div class="form-group ">
                                                <label for="" class="control-label mb-1">Third Party Ad Server Number -
                                                    <small> Impressions/Clicks/Conversion</small></label>
                                                <input id="dInputsthirdnum" type="number" class="form-control"
                                                    placeholder="499500" [(ngModel)]='thirdnum' name="thirdnum">
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label mb-1">Difference</label>
                                                <input id="dInputsdiff" type="text" class="form-control"
                                                    placeholder="500" readonly [(ngModel)]='diffresult'
                                                    name="Difference">

                                            </div>
                                            <div class="form-group has-success">
                                                <label for="" class="control-label mb-1">Discrepancy Percentage
                                                    (%)</label>
                                                <input id="dInputsdis" type="text" class="form-control"
                                                    placeholder="0.10%" readonly [(ngModel)]='disresult'
                                                    name="Discrepancy">
                                            </div>

                                            <div>
                                                <button type="button" pButton icon="" (click)="clear2()"
                                                    label="Clear"></button>

                                                <button type="button" pButton icon="" (click)="discrepancycalculate()"
                                                    label="Calculate" style="margin-left: 15px;"></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-lg-12 col-sm-12" id="utm">
                        <div class="card cardtab">
                            <div class="card-header">
                                <strong class="card-title"></strong>
                            </div>
                            <div class="card-body">
                                <!-- Credit Card -->
                                <div id="pay-invoice">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h5 class="text-center title">UTM Link Builder</h5>
                                        </div>
                                        <hr>
                                        <form action="" method="post" novalidate="novalidate">
                                            <div class="row">
                                            <div class="form-group text-center">

                                            </div>
                                            <div class="form-group col-12">
                                                <label for="" class="control-label mb-1">URL</label>
                                                <input id="UTMurl" [(ngModel)]="UTMurl" (keyup)="UTMsubmit()"
                                                    type="text" class="form-control"
                                                    placeholder="https://yuktamedia.com/" name="UTMurl">
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="" class="control-label mb-1">Source</label>
                                                <input id="UTMsource" (keyup)="UTMsubmit()" type="text"
                                                    class="form-control" placeholder="facebook" [(ngModel)]="UTMsource"
                                                    name='UTMsource'>
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="" class="control-label mb-1">Medium</label>
                                                <input id="UTMmedium" (keyup)="UTMsubmit()" type="text"
                                                    class="form-control" placeholder="social" [(ngModel)]="UTMmedium"
                                                    name="UTMmedium">
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="" class="control-label mb-1">Campaign</label>
                                                <input id="UTMcampaign" (keyup)="UTMsubmit()" type="text"
                                                    class="form-control" placeholder="promo" [(ngModel)]="UTMcampaign"
                                                    name="UTMcampaign">
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="" class="control-label mb-1">Content</label>
                                                <input id="UTMcontent" (keyup)="UTMsubmit()" type="text"
                                                    class="form-control" placeholder="linkpost" [(ngModel)]="UTMcontent"
                                                    name="UTMcontent">
                                            </div>
                                            <div class="form-group col-12">
                                                <label for="" class="control-label mb-1">Output</label>
                                                <textarea id="UTMoutput" name="" type="text" class="form-control"
                                                    readonly [(ngModel)]="UTMoutput" name="UTMoutput"
                                                    #userinput></textarea>
                                            </div>

                                            <div class="col-12">
                                                <button type="button" pButton icon="" (click)="utmclear()"
                                                label="Clear"></button>

                                            <button type="button" pButton icon="" (click)="copyToClipboard(userinput)"
                                                label="Copy" style="margin-left: 15px;"></button>
                                            </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>