.editablefield {
  background-color: #eee8aa !important;
}

input[type="checkbox"] {
  display: none;
}

.toggle-button-switch {
  // position: absolute;
  width: 27px;
  height: 27px;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: left 0.3s;
  // margin-left: -3.9%;
  font-size: 0.5rem;
}

.toggle-button-text {
  width: 120px;
  margin-top: -41px;
  overflow: hidden;
  background-color: #22b6fd;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
  transition: background-color 0.3s;
  // margin: auto;
  // margin-top: -21px;
  // font-size: 0.5rem;
}

.toggle-button-text-off {
  float: left;
  /* width: 50%; */
  height: 100%;
  line-height: 27px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: #fff;
  padding-left: 10px;
}

.toggle-button-text-on {
  float: right;
  height: 100%;
  line-height: 27px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-right: 10px;
}

input[type="checkbox"]:checked ~  .toggle-button-switch {
  margin-left: 92px;
}

input[type="checkbox"]:checked ~ .toggle-button-text {
  background-color: #7ed321;
}

input[type="checkbox"]:checked ~ .on div.toggle-button-text-on {
  display: none;
}

input[type="checkbox"] ~ .on div.toggle-button-text-on {
  display: block;
}

input[type="checkbox"] ~ .off div.toggle-button-text-off {
  display: none;
}

input[type="checkbox"]:checked ~ .off div.toggle-button-text-off {
  display: block;
}

.disableOnSaveView {
  pointer-events: none !important;
  opacity: 0.5;
}

.enableOnSaveView {
  pointer-events: all !important;
  opacity: 1;
}

.ui-grid-row-blue {
  background-color: lightblue !important;
}

.ui-grid-row-dark-megenta {
  background-color: #f7d2d3 !important;
}

.ui-grid-row-paused {
  background-color: #ffc1aa !important;
}

.fozen.link{
  font-size: 0.74rem !important;
  font-weight: 400 !important;  
  color: #007bff !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.btn-link{
  font-size: 12px !important;
  padding-left: 0px !important;
  // white-space: pre-wrap !important;
  // overflow-wrap: anywhere !important;
}

.search-in{
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  font-weight: bold;
}
// .multiselect{
//   display: block !important;
//   position: absolute !important;
// }

