<style>
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus,
  .nav-tabs .nav-link.active:focus,
  .nav-tabs .nav-link.active:hover,
  .nav-tabs>li.active>a {
    color: #22b6fd;
    outline: 0;
    border-bottom: 2px solid #22b6fd;
  }

  .nav.nav-tabs {
    border: 0;
  }

  .nav-tabs .nav-link {
    color: #8e929d;
    font-size: 0.8rem;
    border: 0;
    cursor: pointer;
  }

  .div-style1 {

    border-width: 1px;
    padding: 17px;
    font-family: "Source Sans Pro";
    line-height: 1.1;
    color: #373a3c;
    background-color: #fff;
  }

  .div-style2 {

    border-width: 1px;
    padding: 17px;
    font-family: "Source Sans Pro";
    line-height: 1.1;
    color: #373a3c;
    background-color: #fff;
    margin-top: 15px;
  }

  .div-style {

    border: grey;
    border-style: solid;
    border-width: 1px;
    padding: 17px;
  }

  .label-style {
    font-weight: 600;
  }

  .ruleInfo-modal .div-style1 {
    font-size: 0.85rem !important;
  }

  .ruleInfo-modal .div-style2 {
    font-size: 0.85rem !important;
  }

</style>
<div class="modal-body" id="modal-body">
  <div class="div-style1">
    <h6>Alert Group Details</h6>
    <hr style="background-color: rgba(0,0,0,.125)">
    <div class="row">
      <div class="col-md-3">
        <label class="label-style">Alert Group Name</label>
      </div>
      <div class="col-md-9">
        <label> {{ruleDetails.event_name}}</label>
      </div>
      <!-- <div class="col-md-8">
        <label> {{data.event_name}}</label>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="label-style">App Name</label>
      </div>
      <div class="col-md-9">
        <label> {{ruleDetails.app_name}}</label>
      </div>
    </div>


  </div>
  <div class="div-style2">
    <h6>Alert Details</h6>
    <hr style="background-color: rgba(0,0,0,.125)">
    <div class="row">
      <div class="col-md-3">
        <label class="label-style">Alert Name </label>
      </div>
      <div class="col-md-9">
        <label> {{ruleDetails.rule_name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="label-style"> Description </label>
      </div>
      <div class="col-md-9">
        <label> {{ruleDetails.rule_description}}</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label class="label-style">Severity</label>
      </div>
      <div class="col-md-9">
        <label> {{ruleDetails.rule_severity}}</label>
      </div>
    </div>

    <div class="row" ng-if="!isStageCsv">
      <div class="col-md-3">
        <label class="label-style">Date Range </label>
      </div>
      <div class="col-md-9">
        <label> {{dateRange}}</label>
      </div>
    </div>

    <div class="row" ng-if="isStageCsv">
      <div class="col-md-3">
        <label class="label-style">Metrics </label>
      </div>
      <div class="col-md-8">
        <label class="ng-binding"> {{MetricList.join(', ')}}</label>
      </div>
    </div>

    <div class="row" ng-if="!isStageCsv">
      <div class="col-md-3">
        <label class="label-style">Column Mappings </label>
      </div>
      <div class="col-md-8">
        <div class="card  p-3">
          <div class="card-block">
            <div class="row">
              <div class="col-md-4">
                <label class="label-style">Dimensions </label>
              </div>
              <div class="col-md-8">
                {{DimensionsList}}
                <label class="ng-binding"> {{DimensionsList.join(', ')}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label-style">Metrics </label>
              </div>
              <div class="col-md-8">
                <label class="ng-binding"> {{MetricList.join(', ')}}</label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <label class="label-style">Derived Metrics </label>
              </div>
              <div class="col-md-8">
                <label ng-if="DerivedMetricsList != ''" class="ng-binding">
                  {{DerivedMetricsList.join(', ')}}</label>
                <label ng-if="DerivedMetricsList == ''" class="ng-binding"> None</label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <label class="label-style">Metrics Selected for average
                  </label>
              </div>
              <div class="col-md-8">
                <label ng-if="MetricsForAvg != ''" class="ng-binding">
                  {{MetricsForAvg.join(', ')}}</label>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>

    <div class="row" ng-if="!isStageCsv">
      <div class="col-md-3">
        <label class="label-style">Condition Mappings </label>
      </div>
      <div class="col-md-8">
        <div class="card p-3 mt-3">
          <div class="card-block">
            <div class="row">
              <div class="col-md-4">
                <label class="label-style">Dimensions </label>
              </div>
              <div class="col-md-8">
                <label class="ng-binding"> {{DimensionsConditionList}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label-style">Metrics </label>
              </div>
              <div class="col-md-8">
                <label class="ng-binding"> {{MetricConditionList}}</label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <label class="label-style">Sort By </label>
              </div>
              <div class="col-md-8">
                <label class="ng-binding"> {{ruleDetails.condition_mappings.sorting_algo}}</label>

              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label-style">Number Of Record </label>
              </div>
              <div class="col-md-8">
                <label class="ng-binding"> {{ruleDetails.condition_mappings.limit}}</label>

              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label-style">Sorting columns </label>
              </div>
              <div class="col-md-8">
                <label class="ng-binding"> {{SortingColumnsList.join(', ')}}</label>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>


    <div class="row">
      <div class="col-md-3">
        <label class="label-style">Time Bucket Details </label>
      </div>
      <div class="col-md-8">
        <div class="card p-3 mt-3" *ngIf="ruleDetails['time_buckets'] && ruleDetails['time_buckets'].length > 0">
          <div class="card-block">
            <div class="row">
              <div class="col-md-4">
                <label class="label-style">Selection Type </label>
              </div>
              <div class="col-md-8">
                <div *ngFor="let cd of ruleDetails['time_buckets']; let i = index">

                <label class="ng-binding"> {{cd.selection_type}}  <span *ngIf="cd.contribution == 'true'">&nbsp;&nbsp;Metric % contribution : Yes </span><span *ngIf="cd.contribution == 'false'">&nbsp;&nbsp;Metric % contribution : No </span> </label>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-md-3">
        <label class="label-style">Channel Details </label>
      </div>
      <div class="col-md-8">
        <div class="card p-3 mt-3" *ngIf="ruleDetails['audit_channel'] && ruleDetails['audit_channel'].length > 0">
          <div class="card-block">
            <div *ngFor="let cd of ruleDetails['audit_channel']; let i = index">
              <!-- <div class="row">
              <div class="col-md-4">
                <label class="ng-binding">Channel : </label>
              </div>
              <div class="col-md-8">
                <label class="ng-binding"> {{cd.source}}</label>
              </div>
               </div> -->

              <div class="row">
                <div class="col-md-4">
                  <label class="label-style">{{cd.source}} : </label>
                </div>
                <div class="col-md-8">
                  <div *ngFor="let rs of cd.receivers"ng-repeat="rs in cd.receivers"> <label class="ng-binding">{{rs}}</label><br></div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-4">
                  <label class="label-style"> {{cd.source}} Status : </label>
                </div>
                <div class="col-md-8">
                  <label class="ng-binding">{{cd.opcode_data}}</label></div>
              </div>
            </div>
          </div>
        </div>


        <!-- <label *ngIf="!ruleDetails['channel'].length" class="ng-binding"> None</label> -->
      </div>
    </div>
  </div>

  <!-- <h6>Condition Matching Result</h6>
    <hr>
    <div class="row" data-ng-repeat="s in vm.condditonDetails">
      <div data-ng-repeat="(key, value) in s">
        <div class="col-md-4">
          <label class="label-style">{{key | camelCase}} </label>
        </div>
        <div class="col-md-5">
          <label> {{value}}</label>
        </div>
      </div>
    </div> -->
</div>
