<div id="capture">
  <div class="last-updated">
    <div data-html2canvas-ignore class="dropdown export-icon d-inline-block">
      <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" title="Export to PPT or JPEG" aria-expanded="true">
        <i title="Export to PPT or JPEG" class="fas fa-download" style="cursor: pointer" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <!-- <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a> -->
        <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a>
      </div>
    </div>

    <div class="popover-container d-inline-block ml-2">
      <div>
        <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} EST
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          EST
        </p>
      </div>
    </div>
  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <!-- <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container> -->

  <p class="disclaimer mt-2">
    Columns with
    <span
      style="width: 10px; display: inline-block; height: 10px; background: #eee8aa; border: 1px solid #ccc;"
    ></span>
    color can be edited by double-clicking on them.
  </p>

  <!-- ------------------------ Table 2 Component Start ------------------------ -->
  <div [hidden]="noTableData" class="mt-3 mb-3 fr-payout-table" *ngIf="displayAggTable">
    <p-treeTable #ttfranklypayout [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="false"
      [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']"
      [sortMode]="aggTableJson['sortMode']" [resizableColumns]="aggTableJson['resizableColumns']"
      [columnResizeMode]="aggTableJson['columnResizeMode']" [reorderableColumns]="aggTableJson['reorderableColumns']"
      [frozenColumns]="aggTableJson['frozenCols']" [frozenWidth]="aggTableJson['frozenWidth']"
      [scrollable]="aggTableJson['scrollable']" [scrollHeight]="aggTableJson['scrollHeight']"
      [selectionMode]="aggTableJson['selectionMode']" [(selection)]="aggTableJson['selectedColsModal']"
      [dataKey]="aggTableJson['selectionDataKey']" [metaKeySelection]="aggTableJson['metaKeySelection']"
      [style]="{ width: '100%' }" (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
            optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
        </div>

        <div *ngIf="isExportReport && aggTableJson['export']" style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2">
          <div data-html2canvas-ignore class="dropdown">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
              <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" (click)="exportTable('agg', 'Excel')">
                Excel
              </a>
              <a class="dropdown-item" href="#" (click)="exportTable('agg', 'CSV')">
                CSV
              </a>
              <!-- <a
                  class="dropdown-item"
                  href="#"
                  (click)="exportTable('agg', 'JSON')"
                >
                  JSON
                </a> -->
            </div>
          </div>
        </div>
        <div *ngIf="aggTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input ymInput pInputText type="text" size="50" placeholder="Search All" (input)="
                ttfranklypayout.filterGlobal($event.target.value, 'contains')
              " style="width:auto" />
        </div>
        <div *ngIf="aggTableJson['reload']" style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2">
          <span style="cursor: pointer" title="Reload Table" (click)="reset(ttfranklypayout)">
            <i title="Reload Table" class="fas fa-sync-alt share-icon"> </i>&nbsp;&nbsp;Reload</span>
        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <!-- <th
              *ngFor="let col of columns; let i = index"
              [ttSortableColumn]="col.field"
              [attr.ttResizableColumn]="col['options']['resizable'] ? '' : null"
              [attr.ttReorderableColumn]="col['options']['colSort'] ? '' : null"
            > -->
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}

            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="aggTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns; let i = index">
            <th class="search-bar">
              <input pInputText type="text" [ngStyle]="{ width: col['width'] - 25 + 'px' }" [style.visibility]="
                col['options']['colSearch'] ? 'visible' : 'hidden'" id="i" [(ngModel)]="col.value"
                (ngModelChange)="onSearchChanged(col.value ,col.field)" />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              " [ngClass]="col['options']['editable'] ? 'editablefield' : null">
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <span *ngIf="col.field == 'campaign'">
                  <p-dropdown [options]="campaignOption" placeholder="Select Campaign" [(ngModel)]="rowData[col.field]"
                    appendTo="body" itemSize="30" [style]="{ 'min-width': '200px' }"
                    (onChange)="
                    afterEditCell($event,rowData, rowData.id, rowData[col.field], col.field)
                    ">
                  </p-dropdown>
                </span>
                <span *ngIf="col.field == 'line_item'">
                  <p-dropdown [options]="lineItemOption" placeholder="Select Line Item" [(ngModel)]="rowData[col.field]"
                    appendTo="body" itemSize="30" [style]="{ 'min-width': '200px' }"
                    (onChange)="
                    afterEditCell($event,rowData, rowData.id, rowData[col.field], col.field)
                    ">
                  </p-dropdown>
                </span>
                <span *ngIf="col.field == 'billing_source_name'">
                  <p-dropdown [options]="billingSourceOption" placeholder="Select Data Source"
                    [(ngModel)]="rowData[col.field]" appendTo="body" itemSize="30" [style]="{ 'min-width': '200px' }"
                    (onChange)="
                    afterEditCell($event,rowData, rowData.id, rowData[col.field], col.field)
                    ">
                  </p-dropdown>
                </span>
                <span *ngIf="col.field == 'start_date'">
                  <p-calendar [(ngModel)]="schedularStartDate" dateFormat="mm/dd/yy" appendTo="body" [readonlyInput]="true"
                  (onSelect)="onDateSelected();rowData[col.field] = schedularStartDate" (onClose)="afterEditCell($event,rowData, rowData.id, rowData[col.field], col.field)
                  ">
                    <p-footer>
                      <button pButton type="button" label="Ok" style="float: right" (click)="onDateSelected()"
                        class="ui-button-success"></button>
                    </p-footer>
                  </p-calendar>
                </span>
                <span *ngIf="col.field == 'end_date'">
                  <p-calendar [(ngModel)]="schedularStartDate" dateFormat="mm/dd/yy" appendTo="body" [readonlyInput]="true"
                  (onSelect)="onDateSelected()">
                    <p-footer>
                      <button pButton type="button" label="Ok" style="float: right" (click)="onDateSelected()"
                        class="ui-button-success"></button>
                    </p-footer>
                  </p-calendar>
                </span>
              </ng-template>
              <ng-template pTemplate="output">
                {{
                    rowData[col.field] | formatNum: col.format:col.formatConfig
                  }}
              </ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="!col['options']['editable']">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>
          </td>
        </tr>
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->

      <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr style="background: #f4f4f4">
          <td *ngFor="let col of columns; let i = index" [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              ">
            <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>

            <span>
              {{
                  rowData[col.field]
                    ? (rowData[col.field]
                      | formatNum: col.format:col.formatConfig)
                    : ''
                }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
            state.rows * (state.page + 1) > state.totalRecords
              ? state.totalRecords
              : state.rows * (state.page + 1)
          }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="aggTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>

      <!-- <ng-template pTemplate="footer" let-columns>
          <tr>
            <td *ngFor="let col of columns">
              {{
                col.field === 'time_key' ||
                col.field === 'time_key1' ||
                col.field === 'source_revenue' ||
                col.field === 'ecpm' ||
                col.field === 'source_impressions'
                  ? '-'
                  : (col.footerTotal | formatNum: col.format:col.formatConfig)
              }}
            </td>
          </tr>
        </ng-template> -->
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">
    No data found
  </div>
  <!-- ------------------------- Table 2 Component End ------------------------- -->
</div>