<p class="page-title">{{ appConfig['displayName'] }}</p>
<p-table #teamTable [columns]="columns" [value]="teams" [scrollable]="true" scrollHeight="70vh"
  [resizableColumns]="true" columnResizeMode="expand" [paginator]="columns.length > 10" [rows]="10">
  <ng-template pTemplate="caption">
    <div class="ui-helper-clearfix">
      <h4 style="float:left; margin: 2px 0 0 0;">Teams</h4>
    </div>
  </ng-template>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [style.width.px]="col['width']" />
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col['field']" pResizableColumn>
        {{ col['header'] }}
        <p-sortIcon *ngIf="col['field'] !== 'edit' && col['field'] !== 'details'" [field]="col['field']"
          ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order">
        </p-sortIcon>
      </th>
    </tr>

    <tr>
      <th *ngFor="let col of columns">
        <input *ngIf="
            col['field'] === 'name'
            " pInputText [style.width.px]="decreaseSearchWidth(col['width'])" type="text" (input)="teamTable.filter($event.target.value, col['field'], col['filterMatchMode'])
          " />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-team let-columns="columns" let-rowIndex="rowIndex">
    <tr>
      <td>
        {{ team.name }}
      </td>
      <td>
        <span class="btn-link" (click)="teamDetails(team)">
          Details <i class="fas fa-info-circle" title="Edit Team"></i>
        </span>
      </td>
      <td>
        <span>{{ team.createdAt | date: 'MM-dd-yyyy hh:mm:ss a' }}</span>
      </td>
      <td>
        <span>{{ team.updatedAt | date: 'MM-dd-yyyy hh:mm:ss a' }}</span>
      </td>
      <td style="text-align:center" *ngIf="isEditPermission">
        <span class="btn-link" (click)="editTeam(team)">
          <i class="fas fa-pencil-alt fa-1-5x-custom" title="Edit Team"></i>
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>
