<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <p><b>Media Group : </b>{{RowData['station_group']}} </p>
    </div>

    <form class="mainForm" [formGroup]="registerForm">
      <div class="ui-g-12">

        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">
              Property*
            </span>

            <p-multiSelect [options]="groupedProperty" formControlName="derived_station_rpt"
              defaultLabel="Select Property" maxSelectedLabels="1" optionLabel="label" [filter]="true"
              [virtualScroll]="true" appendTo="body" itemSize="30" filterBy="label,value.name" resetFilterOnHide="true"
              [style]="{ 'min-width': '200px' }" [ngClass]="{
                'is-invalid-class':
                  f['derived_station_rpt'].invalid &&
                  (f['derived_station_rpt'].dirty || f['derived_station_rpt'].touched)
              }"></p-multiSelect>
            <div *ngIf="
                f['derived_station_rpt'].invalid &&
                (f['derived_station_rpt'].dirty || f['derived_station_rpt'].touched)
              " class="invalid-feedback-class">
              <div *ngIf="f['derived_station_rpt'].errors.required">
                Property is required
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">
              Payment Method*
            </span>
            <p-dropdown
            appendTo="body"
            [options]="paymentMethodLists"
            [group]="false"
            optionLabel="label"
            [style]="{ width: '100%' }"
            formControlName="paymentMethod"
            placeholder="Select Method" [ngClass]="{
                'is-invalid-class':
                  f['paymentMethod'].invalid && (f['paymentMethod'].dirty || f['paymentMethod'].touched)
              }"></p-dropdown>
            <div *ngIf="
                f['paymentMethod'].invalid && (f['paymentMethod'].dirty || f['paymentMethod'].touched)
              " class="invalid-feedback-class">
              <div *ngIf="f['paymentMethod'].errors.required">
                Payment Method is required
              </div>
            </div>
          </div>
        </div>




      </div>
    </form>


  </div>

</div>
<div class="ui-g-12 ui-dialog-footer" style="padding-left: 16px;">
  <button pButton type="button" [disabled]="registerForm['invalid']" (click)="onSubmit()" label="Update" icon="fas fa-user-edit"
    class="ui-button-success"></button>

  <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
    class="ml-2 ui-button-warning"></button>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>