<div id="capture">
    <div class="last-updated">
      <div data-html2canvas-ignore class="dropdown export-icon d-inline-block">
        <span
          class="dropdown-toggle"
          style="cursor: pointer"
          id="dropdownMenu1"
          data-toggle="dropdown"
          aria-haspopup="true"
          title="Export to PPT or JPEG"
          aria-expanded="true"
        >
          <i
            title="Export to PPT or JPEG"
            class="fas fa-download"
            style="cursor: pointer"
            id="dropdownMenu1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
          >
            <span class="caret"></span> </i
          >&nbsp;&nbsp;Export</span
        >
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
          <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a>
          <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a>
        </div>
      </div>
      <div class="popover-container d-inline-block ml-2">
        <div>
          <i
            class="far fa-clock"
            style="cursor: pointer"
            aria-haspopup="true"
            aria-expanded="true"
          >
          </i>
        </div>
  
        <div class="pop-over">
          <p>
            <b>Data Updated On :</b>
            {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} EST
          </p>
          <p>
            <b>Data Updated Through :</b>
            {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
          </p>
          <p>
            <b>Next Data Update :</b>
            {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
            EST
          </p>
        </div>
      </div>
    </div>
  
    <p class="page-title">{{ appConfig['displayName'] }}</p>
  
    <!-- -------------------------- Filters Container -------------------------- -->
    <ym-filter-container
      (filtersApplied)="onFiltersApplied($event)"
    ></ym-filter-container>
  
    <!-- ---------------------- Main Charts Container Component ---------------------- -->
    <!-- <div class="p-col-12 pr-4">
      <i
        *ngIf="!showMainLineChart && !noDataChart"
        class="pi pi-spin pi-spinner"
        style="font-size: 3em; margin: 150px;"
      ></i>
      <div class="no-data-label" *ngIf="noDataChart">
        No data found
      </div>
      <ym-charts
        *ngIf="showMainLineChart"
        [chartsJson]="mainLineChartJson"
        (chartDataSelect)="chartSelected($event)"
      ></ym-charts>
    </div> -->
  
    <div class="p-grid mt-2">
      <div class="p-col-8">
        <div class="border-class">
          <i
            *ngIf="!showMainLineChart && !noDataMainLineChart"
            class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 150px; position:relative; left:40%"
          ></i>
          <div class="no-data-label" *ngIf="noDataMainLineChart">
            No data found
          </div>
          <ym-charts
            *ngIf="showMainLineChart"
            [chartsJson]="mainLineChartJson"
            (chartDataSelect)="chartSelected($event)"
          >
          </ym-charts>
        </div>
      </div>
      <div class="p-col-4">
        <div class="border-class">
          <i
            *ngIf="!showMainPieChart && !noDataPieChart"
            class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 150px;"
          ></i>
          <div class="no-data-label" *ngIf="noDataPieChart">
            No data found
          </div>
          <ym-charts
            *ngIf="showMainPieChart"
            [chartsJson]="mainPieChartJson"
            (chartDataSelect)="chartSelected($event)"
          ></ym-charts>
        </div>
      </div>
    </div>
  
    <!-- ------------------------ Table 2 Component Start ------------------------ -->
    <div
      *ngIf="displayAggTable && !noTableData"
      class="mt-2 mb-3 obs-rev-mgmt-table unfilled-table"
    >
      <p-treeTable
        #tt
        [value]="aggTableData"
        [columns]="aggTableJson['selectedColumns']"
        [paginator]="true"
        [rows]="aggTableJson['page_size']"
        [totalRecords]="aggTableJson['totalRecords']"
        [lazy]="aggTableJson['lazy']"
        [loading]="aggTableJson['loading']"
        [sortMode]="aggTableJson['sortMode']"
        [resizableColumns]="aggTableJson['resizableColumns']"
        [columnResizeMode]="aggTableJson['columnResizeMode']"
        [reorderableColumns]="aggTableJson['reorderableColumns']"
        [frozenColumns]="aggTableJson['frozenCols']"
        [frozenWidth]="aggTableJson['frozenWidth']"
        [scrollable]="aggTableJson['scrollable']"
        [scrollHeight]="aggTableJson['scrollHeight']"
        [selectionMode]="aggTableJson['selectionMode']"
        [(selection)]="aggTableJson['selectedColsModal']"
        [dataKey]="aggTableJson['selectionDataKey']"
        [metaKeySelection]="aggTableJson['metaKeySelection']"
        [style]="{ width: '100%' }"
        (onLazyLoad)="onLazyLoadAggTable($event)"
        (onNodeExpand)="onTableDrill($event)"
        [rowsPerPageOptions]="[10, 20, 50, 100]"
      >
        <!-- ----------------- Global Search and columns Show/Hide ----------------- -->
  
        <ng-template pTemplate="caption">
          <div
            *ngIf="aggTableJson['showHideCols']"
            style="text-align: left; float: left; display: inline-block;"
          >
            <p-multiSelect
              [options]="aggTableJson['columns']"
              [(ngModel)]="aggTableJson['selectedColumns']"
              optionLabel="displayName"
              maxSelectedLabels="1"
              selectedItemsLabel="{0} columns selected"
              [style]="{ minWidth: '200px' }"
              defaultLabel="Choose Columns"
            ></p-multiSelect>
          </div>
          <div
            *ngIf="isExportReport && aggTableJson['export']"
            style="text-align: left; float: right; display: inline-block;"
            class="ml-3 mt-2 mb-2"
          >
            <div data-html2canvas-ignore class="dropdown">
              <span
                class="dropdown-toggle"
                style="cursor: pointer"
                id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true"
                title="Export to Excel/CSV/JSON"
                aria-expanded="true"
              >
                <i
                  title="Export to Excel/CSV/JSON"
                  class="fas fa-download share-icon"
                  id="dropdownMenu1"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true"
                >
                  <span class="caret"></span> </i
                >&nbsp;&nbsp;Export</span
              >
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="exportTable('flat', 'Excel')">
                  Excel
                </a>
                <a class="dropdown-item" (click)="exportTable('flat', 'CSV')">
                  CSV
                </a>
                <!-- <a class="dropdown-item" (click)="exportTable('flat', 'JSON')">
                  JSON
                </a> -->
              </div>
            </div>
          </div>
          <div
            *ngIf="aggTableJson['overallSearch']"
             style="text-align: right; float: right; display: inline-block;"
            >
             <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input class="search"
              ymInput
              pInputText
              type="text"
              size="30"
              placeholder="Search All"
              [(ngModel)]="searchvalue"
              (ngModelChange)="onGlobalSearchChanged(searchvalue)"
            />
            <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
              (click)="searchvalue='';onGlobalSearchChanged(searchvalue)"><i
                class="pi pi-times"></i>
            </span>
           </div>
           <div
           style="text-align: right; float: right; display: inline-block;">
           <i class="fas fa-info-circle info-toottip" title="Search function works for dimensions only."></i>
         </div>
        </ng-template>
  
        <!-- ------------------------- For frozen columns -------------------------- -->
  
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col
              *ngFor="let col of columns"
              [ngStyle]="{ width: col['width'] + 'px' }"
            />
          </colgroup>
        </ng-template>
  
        <!-- ------------------------------- Header -------------------------------- -->
  
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              *ngFor="let col of columns; let i = index"
              [ttSortableColumn]="col.field"
            >
              {{ col.displayName }}
  
              <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
            </th>
          </tr>
          <tr *ngIf="aggTableJson['columnSearch']">
            <ng-container *ngFor="let col of columns">
              <th *ngIf="isHiddenColumn(col)">
                <input
                  ymInput
                  pInputText
                  type="text"
                  [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  "
                  (input)="
                    tt.filter($event.target.value, col.field, col.filterMatchMode)
                  "
                />
              </th>
            </ng-container>
          </tr>
        </ng-template>
  
        <!-- -------------------------------- Body --------------------------------- -->
  
        <ng-template
          pTemplate="body"
          let-rowNode
          let-rowData="rowData"
          let-columns="columns"
        >
          <tr>
            <td
              *ngFor="let col of columns; let i = index"
              ttEditableColumn
              [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              "
            >
              <p-treeTableCellEditor *ngIf="col['options']['editable']">
                <ng-template pTemplate="input">
                  <input
                    ymInput
                    pInputText
                    type="text"
                    [(ngModel)]="rowData[col.field]"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{
                    rowData[col.field] | formatNum: col.format:col.formatConfig
                  }}
                </ng-template>
              </p-treeTableCellEditor>
              <span *ngIf="!col['options']['editable']">
                {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
              </span>
            </td>
          </tr>
        </ng-template>
  
        <!-- ----------------------------- Frozen Body ----------------------------- -->
  
        <ng-template
          pTemplate="frozenbody"
          let-rowNode
          let-rowData="rowData"
          let-columns="columns"
        >
          <tr>
            <td
              *ngFor="let col of columns; let i = index"
              [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              "
            >
              <p-treeTableToggler
                *ngIf="i == 0"
                [rowNode]="rowNode"
              ></p-treeTableToggler>
              <span *ngIf="rowData[col.field] == 'All'">
                {{
                  rowData[col.field]
                    ? (rowData[col.field]
                      | formatNum: col.format:col.formatConfig)
                    : ''
                }}
              </span>
              <span
                *ngIf="rowData[col.field] !== 'All'"
                class="btn-link"
                (click)="openPopup(rowData, col.field)"
              >
                {{
                  rowData[col.field]
                    ? (rowData[col.field]
                      | formatNum: col.format:col.formatConfig)
                    : ''
                }}
              </span>
            </td>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="paginatorleft" let-state>
          Showing {{ state.page * state.rows + 1 }} to
          {{ state.rows * (state.page + 1) }} of {{ state.totalRecords }} Records
        </ng-template>
  
        <!-- ------------------- Message to show for empty Data -------------------- -->
  
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="aggTableJson['columns'].length">
              No data found.
            </td>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="footer" let-columns>
          <tr>
            <td *ngFor="let col of columns">
              {{ col.footerTotal | formatNum: col.format:col.formatConfig }}
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
    <div class="no-data-label" *ngIf="noTableData">
      No data found
    </div>
    <!-- ------------------------- Table 2 Component End ------------------------- -->
  </div>
  <p-confirmDialog  #cd  rejectVisible='false' [style]="{width: '50vw'}">
    <p-footer>
      <button type="button" pButton icon="pi pi-times" label="Ok" (click)="cd.reject()"></button>
  </p-footer>
  </p-confirmDialog>
  