<div class="app-analytics">

    <div class="last-updated">
      <div class="popover-container d-inline-block ml-2">
        <div>
          <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true"> </i>
        </div>
        <div class="pop-over">
          <p>
            <b>Data Updated On :</b>
            {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} {{timezone}}
          </p>
          <p>
            <b>Data Updated Through :</b>
            {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
          </p>
          <p>
            <b>Next Data Update :</b>
            {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }} {{timezone}}
          </p>
        </div>
      </div>
    </div>
    <p class="page-title">{{ appConfig['displayName'] }}</p>

    <!-- -------------------------- Filters Container -------------------------- -->
    <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>

  <!-- Toggle view -->
  <div class="p-col-12">
    <div style="display: inline-block;float: right;">
        <p-selectButton
        [options]="botStatusOpt"
        [(ngModel)]="toggleBotStatus"
        (onChange)="defaultDataLoad()"
      ></p-selectButton>
    </div>
    <span style="float: right;margin:5px 10px;">View Data:</span>
    <p class="page-title" style="font-size: 1rem;text-align: center;margin-bottom: -5px;margin-left: 200px;">Data for Web Apps </p>
  </div>
  <!-- <hr /> -->

  <hr>
  <!-- end Toggle View -->

  <!-- <div class="p-col-12">
      <hr>
    </div> -->
  <div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12">
      <div class="p-card-title-table">How many users do you have?</div>
      <p-tabView (onChange)="audienceTabChange($event)" #audienceTabView>
        <p-tabPanel *ngFor="let card of cardsJson; let i = index" [selected]="i == 0">
          <ng-template pTemplate="header">
            <p class="name">{{card.displayName}} <i *ngIf="card.infoTitle != ''" title="{{card.infoTitle}}"
                class="fas fa-info-circle">
              </i> </p>
            <!-- <p class="value">{{ card.value | formatNum: card.format:card.config }}</p> -->
            <!-- <div class="mini-chart">-</div> -->
          </ng-template>
          <p style="float: right;margin-top: -2% !important;"><b>Note:</b> *Select single day to check Hourly data
            trend.</p>
          <div>
            <i *ngIf="!showMainLineChart && !noDataMainLineChart" class="pi pi-spin pi-spinner"
              style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
            <div class="no-data-label" *ngIf="noDataMainLineChart">
              No data found
            </div>
            <ym-charts *ngIf="showMainLineChart" [chartsJson]="mainLineChartJson">
            </ym-charts>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="p-col-12 p-md-12 p-lg-12">
      <div class="p-card-title-table">Which pages user visit?</div>
      <p-card>
        <div>
          <p-table #dtPageView [columns]="pageViewJson['columns']" [totalRecords]="pageViewJson['totalRecords']"
            [lazy]="pageViewJson['lazy']" (onLazyLoad)="onLazyLoadFlatTable($event,'PageViewCount')"
            [value]="pageViewCounts" [loading]="pageViewJson['loading']" [paginator]="true"
            [rows]="pageViewJson['page_size']" [(first)]="pageViewJson['page']" [rowsPerPageOptions]="[10, 20, 50, 100]"
            [scrollable]="pageViewJson['scrollable']" [scrollHeight]="pageViewJson['scrollHeight']">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] }" />
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col['field']">
                  {{col.header}}

                  <p-sortIcon [field]="col['field']" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" style="height: 36px; white-space: nowrap; overflow: hidden;">
                  <span title="{{rowData[col.field]}}" *ngIf="col.field == 'decoded_page_url'"
                    class="btn-link d-inline" (click)="openPopup(rowData)">
                    {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                  </span>
                  <span *ngIf="col.field != 'decoded_page_url'">
                    {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                  </span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
              Showing {{ state.page * state.rows + 1  | number}} to
              {{
                state.rows * (state.page + 1) > state.totalRecords
                  ?(state.totalRecords | number )
                  : (state.rows * (state.page + 1)  | number )
              }}
              of {{ state.totalRecords | number}} Records
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="pageViewJson['columns'].length">
                  No data found.
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <!-- <div class="no-data-label" *ngIf="noTableData">
          No data found.
        </div> -->
      </p-card>
    </div>
    <div class="p-col-12 p-md-8 p-lg-8">
      <div class="p-card-title-table">How do you acquire users?</div>
      <p-tabView (onChange)="acquireUserTabChange($event)" #acquireUserTabView>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <p class="name">Traffic Channels <i
                title="Social - Social networking websites&#013;Jobs -  Jobs related websites&#013;Search - Search engine websites&#013;Direct - Other than above belongs to direct category"
                class="fas fa-info-circle">
              </i></p>
          </ng-template>
          <div>
            <i *ngIf="!showAcquireUserChart && !noDataAcquireUserChart" class="pi pi-spin pi-spinner"
              style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
            <div class="no-data-label" *ngIf="noDataAcquireUserChart">
              No data found
            </div>
            <ym-charts *ngIf="showAcquireUserChart" [chartsJson]="acquireUserChartJson">
            </ym-charts>
          </div>
        </p-tabPanel>
        <!-- <p-tabPanel>
          <ng-template pTemplate="header">
            <p class="name">Referrals</p>
          </ng-template>
          <div>
            <i *ngIf="!showAcquireUserChart && !noDataAcquireUserChart" class="pi pi-spin pi-spinner"
              style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
            <div class="no-data-label" *ngIf="noDataAcquireUserChart">
              No data found
            </div>
            <ym-charts *ngIf="showAcquireUserChart" [chartsJson]="acquireUserChartJson">
            </ym-charts>
          </div>
        </p-tabPanel> -->
      </p-tabView>
    </div>
    <div class="p-col-12 p-md-4 p-lg-4">
      <div class="p-card-title-table">What are your top device types?</div>
      <p-card>
        <div>
          <i *ngIf="!showDevicePiaChart && !noDataDevicePiaChart" class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
          <div class="no-data-label" *ngIf="noDataDevicePiaChart">
            No data found
          </div>
          <ym-charts *ngIf="showDevicePiaChart" [chartsJson]="devicePiaChartJson">
          </ym-charts>
        </div>
      </p-card>
    </div>

    <!-- <div class="p-col-12 p-md-2 p-lg-3">
      <p-card>
        <div>
          <i *ngIf="!showActiveUserChart && !noDataActiveUserChart" class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
          <div class="no-data-label" *ngIf="noDataActiveUserChart">
            No data found
          </div>
          <ym-charts *ngIf="showActiveUserChart" [chartsJson]="activeUserChartJson">
          </ym-charts>
        </div>
      </p-card>
    </div> -->
    <div class="p-col-12 p-md-8 p-lg-8">
      <div class="p-card-title-table">When do your users visit?</div>
      <p-card class="geo-chart">
        <div>
          <i *ngIf="!showUserByTimeChart && !noDataUserByTimeChart" class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
          <div class="no-data-label" *ngIf="noDataUserByTimeChart">
            No data found
          </div>
          <ym-charts *ngIf="showUserByTimeChart" [chartsJson]="userByTimeChartJson">
          </ym-charts>
          <ul>
            <li class="color-scale color-scale-{{i+1}}"
              *ngFor="let color of userByTimeChartJson['chartData']['datasets'][0]['colorArr']; let i = index;"><span
                style="float: right;position: relative;top: 100%">{{color | formatNum: 'number':[]}}</span></li>
          </ul>
          <p class="text-center">Color Range Showing No. of Users Visited</p>
        </div>
      </p-card>

    </div>
    <div class="p-col-12 p-md-4 p-lg-4" style="padding-left: 0.7em !important;">
      <div class="p-card-title-table">Where are your users?</div>
      <p-card class="geo-chart">
        <div>
          <i *ngIf="!showGeoSessionChart && !noDataGeoSessionChart" class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
          <div class="no-data-label" *ngIf="noDataGeoSessionChart">
            No data found
          </div>
          <ym-charts *ngIf="showGeoSessionChart" [chartsJson]="geoSessionChartJson">
          </ym-charts>
        </div>
      </p-card>
    </div>
    <!-- <div class="p-col-12 p-md-6 p-lg-6">
      <p-card class="geo-chart">
        <div>
          <i *ngIf="!showUserRetentionChart && !noDataUserRetentionChart" class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
          <div class="no-data-label" *ngIf="noDataUserRetentionChart">
            No data found
          </div>
          <ym-charts *ngIf="showUserRetentionChart" [chartsJson]="userRetentionChartJson">
          </ym-charts>
        </div>
      </p-card>
    </div> -->
  </div>
  <hr />
  <p class="page-title" style=" font-size: 1rem;  text-align: center;">Data for Mobile Apps
    <!-- <hr> -->
  </p>
  <hr>
  <div class="p-grid">
    <div class="p-col-12 p-md-8 p-lg-8">
      <div class="p-card-title-table">How many users do you have?</div>
      <p-tabView (onChange)="audienceAndroidTabChange($event)" #audienceAndroidTabView>
        <p-tabPanel *ngFor="let card of cardsJsonAndroid; let i = index" [selected]="i == 0">
          <ng-template pTemplate="header">
            <p class="name">{{card.displayName}}</p>
            <!-- <p class="value">{{ card.value | formatNum: card.format:card.config }}</p> -->
            <!-- <div class="mini-chart">-</div> -->
          </ng-template>
          <div>
            <i *ngIf="!showMainLineAndroidChart && !noDataMainLineAndroidChart" class="pi pi-spin pi-spinner"
              style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
            <div class="no-data-label" *ngIf="noDataMainLineAndroidChart">
              No data found
            </div>
            <ym-charts *ngIf="showMainLineAndroidChart" [chartsJson]="mainLineAndroidChartJson">
            </ym-charts>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="p-col-12 p-md-4 p-lg-4">
      <div class="p-card-title-table">Where are your users visiting from?</div>
      <p-card class="geo-chart">
        <div>
          <i *ngIf="!showGeoSessionAndroidChart && !noDataGeoSessionAndroidChart" class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
          <div class="no-data-label" *ngIf="noDataGeoSessionAndroidChart">
            No data found
          </div>
          <ym-charts *ngIf="showGeoSessionAndroidChart" [chartsJson]="geoSessionAndroidChartJson">
          </ym-charts>
        </div>
      </p-card>
    </div>
    <div class="p-col-12 p-md-8 p-lg-8">
      <div class="p-card-title-table">Which pages and screens get the most views?</div>
      <p-card>
        <div>
          <p-table #dtViews [columns]="pageViewAndroidJson['columns']"
            [totalRecords]="pageViewAndroidJson['totalRecords']" [lazy]="pageViewAndroidJson['lazy']"
            (onLazyLoad)="onLazyLoadFlatTable($event,'pageViewAndroid')" [value]="pageViewAndroidCounts"
            [loading]="pageViewAndroidJson['loading']" [paginator]="true" [rows]="pageViewAndroidJson['page_size']"
            [(first)]="pageViewAndroidJson['page']" [rowsPerPageOptions]="[10, 20, 50, 100]"
            [scrollable]="pageViewAndroidJson['scrollable']" [scrollHeight]="pageViewAndroidJson['scrollHeight']">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] }" />
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" style="height: 36px; white-space: nowrap; overflow: hidden;">
                  <span title="{{rowData[col.field]}}" *ngIf="col.field == 'page_path'">
                    {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                  </span>
                  <span *ngIf="col.field != 'page_path'">
                    {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                  </span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
              Showing {{ state.page * state.rows + 1 | number }} to
              {{
                state.rows * (state.page + 1) > state.totalRecords
                  ? (state.totalRecords | number)
                  : (state.rows * (state.page + 1) | number)
              }}
              of {{ state.totalRecords | number}} Records
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="pageViewAndroidJson['columns'].length">
                  No data found.
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <!-- <div class="no-data-label" *ngIf="noTableAndroidData">
          No data found.
        </div> -->
      </p-card>
    </div>
    <div class="p-col-12 p-md-4 p-lg-4">
      <div class="p-card-title-table">What are your top events?</div>
      <p-card>
        <div>
          <p-table #dtEvent [columns]="eventTableJson['columns']" [totalRecords]="eventTableJson['totalRecords']"
            [lazy]="eventTableJson['lazy']" (onLazyLoad)="onLazyLoadFlatTable($event,'eventTable')"
            [value]="eventTableCounts" [loading]="eventTableJson['loading']" [paginator]="true"
            [rows]="eventTableJson['page_size']" [(first)]="eventTableJson['page']" [rowsPerPageOptions]="[10, 20, 50, 100]"
            [scrollable]="eventTableJson['scrollable']" [scrollHeight]="eventTableJson['scrollHeight']">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] }" />
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" style="height: 36px; white-space: nowrap; overflow: hidden;">
                  <span title="{{rowData[col.field]}}" *ngIf="col.field == 'event_name'">
                    {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                  </span>
                  <span *ngIf="col.field != 'event_name'">
                    {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                  </span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
              {{ state.page * state.rows + 1 | number}} to
              {{
                state.rows * (state.page + 1) > state.totalRecords
                  ? (state.totalRecords | number)
                  : (state.rows * (state.page + 1) | number)
              }}
              of {{ state.totalRecords | number}} Records
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="eventTableJson['columns'].length">
                  No data found.
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>
  </div>
</div>