.color-scale {
    width: 20%;
    display: inline-block;
    height: 15px;
    &.color-scale-1 {
        background-color: rgba(7, 174, 242, 0.4);
    }
    &.color-scale-2 {
        background-color: rgba(7, 174, 242, 0.6);
    }
    &.color-scale-3 {
        background-color: rgba(7, 174, 242, 0.8);
    }
    &.color-scale-4 {
        background-color: rgba(7, 174, 242, 1);
    }
    &.color-scale-5 {
        background-color: rgba(7, 140, 242, 1);
    }
}
