<!-- <lib-yql-autocomplate
style="display: grid;"
[config]="data" 
[values]="value" 
(expressionOutCome)="expressionOutCome($event)" 
(getAutoCompleteValues)="getAutocompleteValues($event)"
[suggestions1]="suggestions$" 
[metaData]="metaData$" 
[qbConfig]="qbConfig"
[getSuggestionsData]="autoCompleteValues"
></lib-yql-autocomplate> -->

<p-tabView>
  <p-tabPanel [selected]="true" header="Define Audience Segment">
    <div class="edit-role-container">



    <!-- <lib-yql-autocomplate
      [config]="data" 
      [values]="value" 
      (expressionOutCome)="expressionOutCome($event)" 
      (getAutoCompleteValues)="getAutocompleteValues($event)"
      [suggestions1]="suggestions$" 
      [metaData]="metaData$" 
      [qbConfig]="qbConfig"
      [getSuggestionsData]="autoCompleteValues"
     ></lib-yql-autocomplate> -->


      <form name="form" (ngSubmit)="f.form.valid && onSave()" #f="ngForm" novalidate>
        <table class="table table-responsive">
          <tr>
            <td class="tbl-label">
              Name
            </td>
            <td class="tbl-content">
              <!-- <div class="ui-inputgroup">
                <input type="text" name="name" class="ui-inputtext" pInputText   required /> -->
                <!-- <div *ngIf="f.submitted && name.invalid" class="invalid-feedback"> -->
                  <!-- <div *ngIf="name.errors.required">Name is required</div> -->
              <!-- </div> -->
              <!-- </div> -->
              <div class="ui-inputgroup">
                <input type="text" name="name" class="ui-inputtext" pInputText [(ngModel)]="segmentData.name" placeholder="Name "
                #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                  <div *ngIf="name.errors.required">Name is required</div>
              </div>
              </div>

            </td>
          </tr>

          <tr>
            <td class="tbl-label">
              Description
            </td>
            <td class="tbl-content">
              <!-- <div class="ui-inputgroup"> -->
                <!-- <textarea type="text" name="description" class="ui-inputtext" pInputText 
                   required></textarea> -->
                  <!-- <div *ngIf="f.submitted && description.invalid" class="invalid-feedback"> -->
                    <!-- <div *ngIf="description.errors.required">Description is required</div> -->
                <!-- </div> -->
              <!-- </div> -->
              <div class="ui-inputgroup">
                <textarea type="text" name="description" class="ui-inputtext" pInputText [(ngModel)]="segmentData.description"
                  placeholder="Description " #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required></textarea>
                  <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
                    <div *ngIf="description.errors.required">Description is required</div>
                </div>
              </div>

            </td>
          </tr>

          <tr>
            <td class="tbl-label">
              Audience Segment Definition
            </td>
            <td class="tbl-content">
              
              <lib-yql-autocomplate
                style="display: grid;"
                [config]="data" 
                [values]="value" 
                (expressionOutCome)="expressionOutCome($event)" 
                (getAutoCompleteValues)="getAutocompleteValues($event)"
                [suggestions1]="suggestions$" 
                [metaData]="metaData$" 
                [qbConfig]="qbConfig"
                [getSuggestionsData]="autoCompleteValues"
             ></lib-yql-autocomplate> 
              
              <!--<div class="ym-query-builder" *ngIf="enableQueryBuilder">
                <mat-card>
                  <ym-query-builder [(ngModel)]='segmentData.query' name="query" [config]='config' [allowRuleset]='allowRuleset'
                    [allowCollapse]='allowCollapse'>
                    <ng-container
                      *queryButtonGroup="let ruleset; let addRule=addRule; let addRuleSet=addRuleSet; let removeRuleSet=removeRuleSet">
                      <button type="button" mat-icon-button color="primary" title="Add Rule" (click)="addRule()">
                        <mat-icon>add</mat-icon>
                      </button>
                      <button type="button" mat-icon-button color="primary" title="Add Rule Set" *ngIf="addRuleSet" (click)="addRuleSet()">
                        <mat-icon>add_circle_outline</mat-icon>
                      </button>
                      <button type="button" mat-icon-button color="accent" title="Remove Rule Set" *ngIf="removeRuleSet"
                        (click)="removeRuleSet()">
                        <mat-icon>remove_circle_outline</mat-icon>
                      </button>
                    </ng-container>
                    <ng-container *queryArrowIcon>
                      <mat-icon ngClass="mat-arrow-icon">chevron_right</mat-icon>
                    </ng-container>
                    <ng-container *queryRemoveButton="let rule; let removeRule=removeRule">
                      <button type="button" mat-icon-button color="accent" title="Remove Rule" (click)="removeRule(rule)">
                        <mat-icon>remove</mat-icon>
                      </button>
                    </ng-container>
                    <ng-container *querySwitchGroup="let ruleset; let onChange=onChange">
                      <mat-radio-group *ngIf="ruleset" [ngModelOptions]="{standalone: true}" [(ngModel)]="ruleset.condition" (ngModelChange)="onChange($event)">
                        <mat-radio-button [style.padding.px]="10" value="and">And</mat-radio-button>
                        <mat-radio-button [style.padding.px]="10" value="or">Or</mat-radio-button>
                      </mat-radio-group>
                    </ng-container>
                    <ng-container *queryEntity="let rule; let entities=entities; let onChange=onChange">
                       <mat-form-field>
                        <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="rule.entity" (ngModelChange)="onChange($event, rule)">
                          <mat-option *ngFor="let entity of entities" [value]="entity.value">
                            {{entity.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                    <ng-container
                      *queryField="let rule; let fields=fields; let onChange=onChange; let getFields = getFields">
                      <mat-form-field>
                        <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="rule.field" (ngModelChange)="onChange($event, rule)">
                          <mat-option *ngFor="let field of getFields(rule.entity)" [value]="field.value">
                            {{ field.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryOperator="let rule; let operators=operators; let onChange=onChange">
                      <mat-form-field [style.width.px]="90">
                        <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="rule.operator" (ngModelChange)="onChange(rule)">
                          <mat-option *ngFor="let value of operators" [value]="value">
                            {{ value }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryInput="let rule; type: 'boolean'; let onChange=onChange">
                      <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="rule.value" (ngModelChange)="onChange()"></mat-checkbox>
                    </ng-container>
                    <ng-container
                      *queryInput="let rule; let field=field; let options=options; type: 'category'; let onChange=onChange">
                      <mat-form-field *ngIf="rule">
                        <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="rule.value" (ngModelChange)="onChange()">
                          <mat-option *ngFor="let opt of options" [value]="opt.value">
                            {{ opt.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryInput="let rule; type: 'date'; let onChange=onChange">
                      <mat-form-field *ngIf="rule">
                        <input matInput [matDatepicker]="picker" [ngModelOptions]="{standalone: true}" [(ngModel)]="rule.value" (ngModelChange)="onChange()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryInput="let rule; let options=options; type: 'multiselect'; let onChange=onChange">
                      <mat-form-field [style.width.px]="300">
                        <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="rule.value" multiple (ngModelChange)="onChange()">
                          <mat-option *ngFor="let opt of options" [value]="opt.value">
                            {{ opt.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryInput="let rule; let field=field; type: 'number'; let onChange=onChange">
                      <mat-form-field [style.width.px]="50">
                        <input matInput [(ngModel)]="rule.value" [ngModelOptions]="{standalone: true}" type="number" (ngModelChange)="onChange()">
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryInput="let rule; let field=field; type: 'string'; let onChange=onChange">
                      <mat-form-field>
                        <input matInput [(ngModel)]="rule.value" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange()">
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryInput="let rule; let field=field; type: 'textarea'; let onChange=onChange">
                      <mat-form-field>
                        <textarea matInput [(ngModel)]="rule.value" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange()">
                        </textarea>
                      </mat-form-field>
                    </ng-container>
                  </ym-query-builder>
                </mat-card> 
              </div>-->
              <br>
            </td>
          </tr>
        </table>
        <div class="edit-role-footer">
          <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
         class="ui-button-warning ui-button-rounded edit-role-button"
        ></button>
          <button pButton type="submit" [disabled] = "!f.form.valid" icon="far fa-save" label="Save"
            class="ui-button-rounded ui-button-success edit-role-button"></button> 
        </div>
      </form>
    </div>
  </p-tabPanel>
</p-tabView>
