.title-popup {
  margin-top: 7px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bolder;
}

.div-main {
  border: 1px;
  border-color: lightgray;
  border-radius: 21px;
  width: 36%;
  padding-left: 0px;
  border-style: solid;
  margin-left: 28px;
}

.edit-role-footer {
  margin: 1%;
  display: inline-block;
  width: 100%;
}

.edit-role-button {
  width: auto;
  margin-right: 15px;
  float: right;
}

.tbl-label {
  width: 290px;
}
.tbl-content {
  width: 70%;
}

.ui-inputtext {
  width: 100%;
}

.table td, .table th {
  border-top: none;
}
.ui-inputgroup {
  display: block;
}
// .ui-dialog-content.ui-widget-content {
//   overflow: hidden !important;
// }

// .hr-div {
//   width: 1px;
//   background-color: lightgray;
//   margin-left: 6%;
// }
// .right-div {
//   width: 40%;
//   margin-top: 3%;
// }
// .right-table {
//   margin-left: 4%;
//   padding: 14px;
// }
// th,
// td {
//   padding: 10px;
//   color: #413a3a;
// }
.right-span {
  color: #413a3a;
}
.btn-add {
  margin: 2%;
}

.cdk-overlay-container {
  z-index: 1100 !important;
}

.mat-icon-button {
  outline: none;
}

.mat-arrow-icon {
  outline: none;
  line-height: 32px;
}

.mat-form-field {
  padding-left: 5px;
  padding-right: 5px;
}

.text-input {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.text-area {
  width: 300px;
  height: 100px;
}

.output {
  width: 100%;
  height: 300px;
}
