<div id="capture">
  <div class="last-updated">
    <ym-bell-icon *ngIf="bellIconLoaded" [commentJson]="commentJson" (clickOnComment)="clickOnComment($event)"
      [commentData]="commentData" [chatcount]="chatcount"></ym-bell-icon>
    <div class="popover-container d-inline-block ml-2">
      <div>
        <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} EST
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          EST
        </p>
      </div>
    </div>
  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>

  <!-- ---------------------- Cards Container Component ---------------------- -->

  <!-- <ym-cards *ngIf="showCards" [cardsJson]="cardsJson"></ym-cards> -->

  <!-- ---------------------- Cards Container Component ---------------------- -->

  <!-- ------------------------ Table 2 Component Start ------------------------ -->
  <div [hidden]="noTableData" class="mt-3 mb-3 fr-payout-table" *ngIf="displayAggTable">
    <p-treeTable #ttfranklypayout [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
      [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']"
      [sortMode]="aggTableJson['sortMode']" [resizableColumns]="aggTableJson['resizableColumns']"
      [columnResizeMode]="aggTableJson['columnResizeMode']" [reorderableColumns]="aggTableJson['reorderableColumns']"
      [frozenColumns]="aggTableJson['frozenCols']" [frozenWidth]="aggTableJson['frozenWidth']"
      [scrollable]="aggTableJson['scrollable']" [scrollHeight]="aggTableJson['scrollHeight']"
      [selectionMode]="aggTableJson['selectionMode']" [(selection)]="aggTableJson['selectedColsModal']"
      [dataKey]="aggTableJson['selectionDataKey']" [metaKeySelection]="aggTableJson['metaKeySelection']"
      [style]="{ width: '100%' }" (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
            optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
        </div>

        <div *ngIf="aggTableJson['export']" style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2">
          <div data-html2canvas-ignore class="dropdown">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
              <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" (click)="exportTable('agg', 'Excel')">
                Excel
              </a>
              <a class="dropdown-item" href="#" (click)="exportTable('agg', 'CSV')">
                CSV
              </a>
              <!-- <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('agg', 'JSON')"
              >
                JSON
              </a> -->
            </div>
          </div>
        </div>
        <div *ngIf="aggTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input ymInput pInputText type="text" size="50" placeholder="Search All" (input)="
              ttfranklypayout.filterGlobal($event.target.value, 'contains')
            " style="width:auto" />
        </div>
        <div *ngIf="aggTableJson['reload']" style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2">
          <span style="cursor: pointer" title="Reload Table" (click)="reset(ttfranklypayout)">
            <i title="Reload Table" class="fas fa-sync-alt share-icon"> </i>&nbsp;&nbsp;Reload</span>
        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <!-- <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            [attr.ttResizableColumn]="col['options']['resizable'] ? '' : null"
            [attr.ttReorderableColumn]="col['options']['colSort'] ? '' : null"
          > -->
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}

            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="aggTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input ymInput pInputText type="text" [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                " (input)="
                  ttfranklypayout.filter(
                    $event.target.value,
                    col.field,
                    col.filterMatchMode
                  )
                " />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td style="text-align:center" *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">

            <span *ngIf="col.field == 'tax_forms'" class="btn-link"
              (click)="openTaxForms(rowData)">
              <i class="far fa-file-alt fa-1-5x-custom" title="Add And View Tax Forms"></i>
            </span>

            <span *ngIf="col.field == 'banking_info'" class="btn-link"
              (click)="openBankingInfo(rowData)">
              <i class="fas fa-landmark fa-1-5x-custom" title="Add And View Banking Information"></i>
            </span>

            <span *ngIf="col.field == 'contact_info'" class="btn-link"
              (click)="openContactInfo(rowData)">
              <i class="far fa-address-card fa-1-5x-custom" title="Add And View Contact Information"></i>
            </span>

            <span *ngIf="col.field == 'method_type' &&  rowData['isExpanded'] == '0'" class="btn-link"
              (click)="openPaymentInfo(rowData)">
              <i class="far fa-money-bill-alt fa-1-5x-custom" title="Change Payment Method"></i>
            </span>

            <span *ngIf="col.field == 'method_type' && isUpdateStatus && rowData['isExpanded'] == '1'">
              <p-dropdown
                appendTo="body"
                [options]="paymentMethodLists"
                [(ngModel)]="rowData[col.field]"
                (onChange)="onChangeStatus(rowData)"
                [style]="{ width: '100%' }"
                placeholder="Select Status"
                optionLabel="label"
              ></p-dropdown>
            </span>
            <span *ngIf="col.field == 'method_type' && !isUpdateStatus && rowData['isExpanded'] == '1' ">
              {{
                rowData[col.field] | formatNum: col.format:col.formatConfig
              }}
            </span>

          </td>
        </tr>
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->

      <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr style="background: #f4f4f4">
          <td *ngFor="let col of columns; let i = index" [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
            <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>

            <span>
              {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="aggTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>

      <!-- <ng-template pTemplate="footer" let-columns>
        <tr>
          <td *ngFor="let col of columns">
            {{
              col.field === 'time_key' ||
              col.field === 'time_key1' ||
              col.field === 'source_revenue' ||
              col.field === 'ecpm' ||
              col.field === 'source_impressions'
                ? '-'
                : (col.footerTotal | formatNum: col.format:col.formatConfig)
            }}
          </td>
        </tr>
      </ng-template> -->
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">
    No data found
  </div>
  <!-- ------------------------- Table 2 Component End ------------------------- -->



</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>