.icon-class-table{
    font-size: 22px;
}
.ui-float-label {
    display: block;
    position: relative;
    font-size: 14px !important;
  }

  p-radiobutton.radioBtn {
    padding: 10px;
    /* font-size: 14px; */
    font-weight: bold;
}