<div id="capture">
  <div class="last-updated">
    <!-- <div data-html2canvas-ignore class="dropdown d-inline-block">
      <span
        class="dropdown-toggle"
        style="cursor: pointer"
        id="dropdownMenu1"
        data-toggle="dropdown"
        aria-haspopup="true"
        title="Export to PPT or JPEG"
        aria-expanded="true"
      >
        <i
          title="Export to PPT or JPEG"
          class="fas fa-download"
          style="cursor: pointer"
          id="dropdownMenu1"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
        >
          <span class="caret"></span> </i
        >&nbsp;&nbsp;Export</span
      >
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a>
        <a class="dropdown-item"  (click)="sendEmail()">Send e-mail</a>
      </div>
    </div> -->
    <div class="popover-container d-inline-block ml-2">
      <div>
        <i
          class="far fa-clock"
          style="cursor: pointer"
          aria-haspopup="true"
          aria-expanded="true"
        >
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'yyyy-MM-dd HH:mm:ss' }} EST
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'yyyy-MM-dd HH:mm:ss' }}
          EST
        </p>
      </div>
    </div>

  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container
    (filtersApplied)="onFiltersApplied($event)"
  ></ym-filter-container>
  <hr />

  <!-- ------------------------ Table 2 Component Start ------------------------ -->
    <div
    [hidden]="noTableData"
    class="mt-1 mb-3 fr-upr-table"
    *ngIf="displayAggTable"
  >
    <p-treeTable
      #ttRev360
      [value]="aggTableData"
      [columns]="aggTableJson['selectedColumns']"
      [paginator]="true"
      [rows]="aggTableJson['page_size']"
      [totalRecords]="aggTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
      [lazy]="aggTableJson['lazy']"
      [loading]="aggTableJson['loading']"
      [sortMode]="aggTableJson['sortMode']"
      [resizableColumns]="aggTableJson['resizableColumns']"
      [columnResizeMode]="aggTableJson['columnResizeMode']"
      [reorderableColumns]="aggTableJson['reorderableColumns']"
      [frozenColumns]="aggTableJson['frozenCols']"
      [frozenWidth]="aggTableJson['frozenWidth']"
      [scrollable]="aggTableJson['scrollable']"
      [scrollHeight]="aggTableJson['scrollHeight']"
      [selectionMode]="aggTableJson['selectionMode']"
      [(selection)]="aggTableJson['selectedColsModal']"
      [dataKey]="aggTableJson['selectionDataKey']"
      [metaKeySelection]="aggTableJson['metaKeySelection']"
      [style]="{ width: '100%' }"
      (onLazyLoad)="onLazyLoadAggTable($event)"
      (onNodeExpand)="onTableDrill($event)"
    >
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <!-- <div
          *ngIf="aggTableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block;"
        >
          <p-multiSelect
            [options]="aggTableJson['columns']"
            [(ngModel)]="aggTableJson['selectedColumns']"
            optionLabel="displayName"
            maxSelectedLabels="1"
            selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }"
            defaultLabel="Choose Columns"
          ></p-multiSelect>
        </div> -->
        <!-- <div
          *ngIf="aggTableJson['export']"
          style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2 mb-2"
        >
          <div data-html2canvas-ignore class="dropdown">
            <span
              class="dropdown-toggle"
              style="cursor: pointer"
              id="dropdownMenu1"
              data-toggle="dropdown"
              aria-haspopup="true"
              title="Export to Excel/CSV/JSON"
              aria-expanded="true"
            >
              <i
                title="Export to Excel/CSV/JSON"
                class="fas fa-download share-icon"
                id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >
                <span class="caret"></span> </i
              >&nbsp;&nbsp;Export</span
            >
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="exportTable('agg', 'Excel')">
                Excel
              </a>
              <a class="dropdown-item" (click)="exportTable('agg', 'CSV')">
                CSV
              </a> -->
              <!-- <a class="dropdown-item" (click)="exportTable('agg', 'JSON')">
                JSON
              </a> -->
            <!-- </div>
          </div>
        </div> -->
        <div
          *ngIf="aggTableJson['overallSearch']"
          style="text-align: right; float: right; display: inline-block;"
        >
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input class="search"
          ymInput
          pInputText
          type="text"
          size="30"
          placeholder="Search All"
          [(ngModel)]="searchvalue"
          (ngModelChange)="onGlobalSearchChanged(searchvalue,flatTableColumnDef)"
  
          />
        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col
            *ngFor="let col of columns"
            [ngStyle]="{ width: col['width'] + 'px' }"
          />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            ttResizableColumn
            ttReorderableColumn
            [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']"
          >
            {{ col.displayName }}

            <p-treeTableSortIcon
              [field]="col.field"
              *ngIf="col['options']['colSort']"
            ></p-treeTableSortIcon>
          </th>
        </tr>
        <!-- <tr *ngIf="aggTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input
                ymInput
                pInputText
                type="text"
                [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                "
                (input)="
                  ttRev360.filter(
                    $event.target.value,
                    col.field,
                    col.filterMatchMode
                  )
                "
              />
            </th> -->

            <tr *ngIf="aggTableJson['columnSearch']">
              <ng-container *ngFor="let col of columns">
                <th class="search-bar" *ngIf="isHiddenColumn(col)" ng-star-inserted>

                  <div *ngIf='col.format!="date"'  style="position: absolute; width: 8%; margin-top:-10px;" _ngcontent-lgg-c5="" class="">
                    <div _ngcontent-lgg-c5="" class="ui-inputgroup" style="position: relative;height: 23px;">

                        <div *ngIf="col.format!=''"  class="dropdown div-metric">
                          <button

                       class="dropdown dropdown-main" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i _ngcontent-lgg-c5="" style="font-size: 10px;margin-right: 2px;" class="pi pi-chevron-down"></i>
                              <span  class="caret search-label">{{col.condition}}</span>
                          </button>
                            <div  *ngIf="col.format!=''" class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="min-width: fit-content;font-size: 12px">
                                <div  *ngFor="let con of conditionNames; let i = index">
                                  <a class="dropdown-item" (click)="customSearch(con.value,col.field,col.value,tableDimColDef)">{{con.label}}</a>
                                </div>
                              </div>
                        </div>
                      <!-- </span> -->



                        <span *ngIf="col.format!=''">
                          <input _ngcontent-lgg-c5="" class="input-metric" type="number" #inpt pinputtext [(ngModel)]="col.value" (ngModelChange)="onSearchChanged(tableDimColDef)" id="float-input" size="4"
                          style="width:120px;    
                          border-radius: 6px;
                          border-style: solid;
                          border-width: thin;
                          border-color: lightgray;">
                          <i (click)="resetSearch(col.field,tableDimColDef)" *ngIf="col.value != '' && col.value != null" _ngcontent-qwl-c5="" _ngcontent-lgg-c5="" aria-hidden="true" class="fa fa-times reset-search"
                        ></i>

                        </span>
                        <span *ngIf="col.format==''">

                          <input _ngcontent-lgg-c5="" class="input-dim" #inpt pinputtext [(ngModel)]="col.value" (ngModelChange)="onSearchChanged(tableDimColDef)" id="float-input" size="4" pinputtext="" 
                          style="width:120px;    
                          border-radius: 6px;
                          border-style: solid;
                          border-width: thin;
                          border-color: lightgray;">

                          <i  (click)="resetSearch(col.field,tableDimColDef)" *ngIf="col.value != '' && col.value != null" _ngcontent-qwl-c5="" _ngcontent-lgg-c5="" aria-hidden="true" class="fa fa-times" style="

                          font-size: 10px;
                            position: absolute;
                            display: inline-block;
                            border-left-color: #fff;
                            top:23%;
                            margin-left: 100%;"
                       
                            ></i></span>

                </div></div>

                </th>


          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      
      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr>
          <td [title]="rowData.severity">
            {{rowData.severity}}
          </td>

          <td [title]="rowData.display_app_name">
            {{rowData.event_name}}
          </td>

          <td [title]="rowData.rule_name">
            <span><a class="Rule-name" (click)="showAlertData(rowData)"><u>{{rowData.rule_name}}</u></a></span>
          </td>

          <td [title]="result" style="text-align: center;">
            <button
              class="btn btn-link"
              style="color:blue"
              (click)="showResultData(rowData)"
            >
              <i class="fa fa-file" aria-hidden="true"></i>
            </button>
          </td>

          <td [title]="rowData.created_at">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            {{ rowData.event_happen_time }}
          </td>

          <!-- <td [title]="rowData.channel[0].source">
           {{rowData.channel[0].source}}
          </td> -->
          <td >
            {{rowData.delivery_channel}}
           </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="aggTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">
    No data found
  </div>
  <!-- ------------------------- Table 2 Component End ------------------------- -->
</div>
