.icon-class {
  float: right;
  padding: 5px;
}
.button-class {
  margin-left: 10px;
}
.ui-float-label {
  display: block;
  position: relative;
  font-size: 14px !important;
  font-weight: bold;
  padding-bottom: 9px;
}
button {
  width: auto !important;
}
.metris-title {
  font-size: 14px !important;
  font-weight: bold;
  cursor: pointer;
}

.main-title {
  font-size: 16px !important;
  font-weight: bold;
}
.main-card {
  margin-bottom: 10px;
}
.input-switch {
  width: 20%;
  float: left;
}
.label-switch {
  width: 80%;
  float: left;
  padding-top: 7px;
}
i.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
.dropdown-main {
  background: #fff;
  border: 1px solid rgba(100, 100, 100, 0.4);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  color: #1d2129;
  overflow: visible;
  position: absolute;
  top: 27px;
  left: -3px;
  width: 430px;
  /* z-index: -1; */
}
.custom_date {
  cursor: pointer;
  color: #007ad9;
  margin-right: 10px;
  margin-left: 5px;
  text-decoration: underline;
}
.drag-boundary {
  position: relative;
  display: inline-block;
  flex-direction: column;
  width: 100%;
  vertical-align: baseline;
}
// .dropdown-menu {
//   z-index: 1000 !important;
// }
.drag-block {
  position: relative;
  padding: 0.5rem;
  touch-action: none;
  float: left;
  margin: 0px 15px 15px 0px;
  // z-index: 1000;
  // &.static-block {
  //   transition: all 0.3s ease-out;
  // }
  // transform: translate(0px, 0px) !important;
  /* float: left; */
  // width: 50%;
}
.drag-panel{
  cursor: pointer;
  color: #0b0c0c;
  margin-right: 10px;
  margin-left: 5px;
  text-decoration: underline;
  font-weight: 500;
}
