<div class=" visualize-dashboard">
  <div class="last-updated">
    <div class="popover-container d-inline-block ml-2">
      <div>
        <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Last Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} EST
        </p>
        <!-- <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          EST
        </p> -->
      </div>
    </div>
  </div>

  <p class="page-title">Dashboard : {{title}}</p>
  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>

  <hr />
  <div class="ui-g ui-fluid">
    <!-- <div id="container" style="display: inherit;height: auto;" class="ui-g-12" #myBounds>

        <div *ngFor="let chart of visualizeData; let i = index" rzContainment="#container" (edge)="checkEdge($event)" [bounds]="myBounds" [inBounds]="inBounds" ngDraggable ngResizable style="width: 500px;height: 400px;margin-right: 10px;
        margin-bottom: 10px;"  class="border-class">
          <i *ngIf="!showChart[i] && !noDataChart[i]" class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 200px; position:relative; left:40%"></i>
          <div class="no-data-label" *ngIf="noDataChart[i]">
            No data found
          </div>
          <ym-charts *ngIf="showChart[i]" [chartsJson]="chartJson[i]" (chartDataSelect)="chartSelected($event)">
          </ym-charts>
        </div>

    </div> -->
    <!-- <div class="row">
      <div id="container" class="col" style="height: 500px;width: 500px;"> -->
    <!-- <div rzContainment="#container" ngDraggable ngResizable style="border: 1px solid;" class="resizable-widget">
          <h4 class="widget-header">Resizable</h4>
        </div>

        <div rzContainment="#container" ngDraggable ngResizable style="border: 1px solid;" class="resizable-widget">
          <h4 class="widget-header">Resizable</h4>
        </div>
        <div rzContainment="#container" ngDraggable ngResizable style="border: 1px solid;" class="resizable-widget">
          <h4 class="widget-header">Resizable</h4>
        </div> -->
    <!-- </div>
    </div> -->

    <div class="ui-g-12">
      <div style="text-align: right;">
        <button pButton type="button" [disabled]="visualizeData.length == 0" *ngIf="!isUpdate && isEdit"
          (click)="saveChartQuery()" label="Save" icon="far fa-save" class="ui-button-success button-class"></button>
        <button pButton type="button" [disabled]="visualizeData.length == 0" *ngIf="isUpdate && isEdit"
          (click)="updateChartQuery()" label="Save" icon="far fa-save" class="ui-button-success button-class"></button>
        <button pButton type="button" *ngIf="!isEdit" (click)="backToHome()" label="Back"
          icon="far fa-arrow-alt-circle-left" class="ui-button-success button-class"></button>
        <button pButton type="button" *ngIf="isEdit" icon="fas fa-plus-circle" label="Add"
          class="ui-button-info button-class" (click)="addVisaualize()"></button>
        <button pButton type="button" (click)="clearChartQuery()" *ngIf="isEdit" label="Cancel"
          icon="far fa-times-circle" class="ui-button-warning button-class"></button>

        <button pButton type="button" (click)="editChartQuery()" *ngIf="!isEdit && !isShare" label="Edit" icon="far fa-edit"
          class="ui-button-info button-class"></button>
      </div>

    </div>

    <div id="container" class="ui-g-12 drag-boundary" #myBounds>
      <div id="{{'dragElement_' + i}}" rzContainment="#container" [ngClass]="{'draggable':isEdit && isDrag}"
        [ngResizable]="isEdit" class="drag-block border-class" [preventDefaultEvent]="true"
        (rzStop)="onResizeStop($event,chart,i)" [style.width.%]="chart['dashboard_config']['width']"
        [style.height.px]="chart['dashboard_config']['height']" *ngFor="let chart of visualizeData; let i = index">
        <div>
          <div data-html2canvas-ignore style="text-align: right;" class="dropdown">
            <span style="float: left;"
              *ngIf="chart['dashboard_config']['panel_title']['is_show']"><b>{{chart['dashboard_config']['panel_title']['title']}}</b></span>

            <i *ngIf="isEdit" (mouseenter)="isDrag = !isDrag" (mouseleave)="isDrag = !isDrag" style="cursor: pointer"
              class="fas fa-object-ungroup"> <a class="drag-panel">Drag Me</a></i>
            <i (click)="customDateRange(chart,i)" style="color: #007ad9;cursor: pointer"
              *ngIf="chart['dashboard_config']['customize_daterange']['is_show']" class="far fa-calendar-alt"> <a
                class="custom_date">{{chart['dashboard_config']['customize_daterange']['label']}}</a></i>
            <i title="Options" class="fas fa-cog" style="cursor: pointer" id="{{'dropdownMenu' + i}}"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            </i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <a class="dropdown-item" style="cursor: pointer"
                *ngIf="chart['chart_type']!= 'cards_panel' && chart['chart_type']!= 'data_table'"
                (click)="tabularData(chart)"><i class="fas fa-table"></i>
                View Tabular Data</a>
              <a class="dropdown-item" style="cursor: pointer" (click)="fullScreenData(chartJson[i],chart)"><i
                  class="fas fa-expand"></i> View Full
                Screen</a>
              <a class="dropdown-item" style="cursor: pointer" (click)="customDateRange(chart,i)"><i
                  class="far fa-calendar-alt"></i> Customize Date Range</a>
              <a class="dropdown-item" style="cursor: pointer" *ngIf="isEdit" (click)="editVisualization(chart)"><i
                  class="far fa-edit"></i> Edit Visualization</a>
              <a class="dropdown-item" style="cursor: pointer" *ngIf="isEdit" (click)="replacePanel(chart,i)"><i
                  class="fas fa-exchange-alt"></i> Replace Panel</a>
              <a class="dropdown-item" style="cursor: pointer" *ngIf="isEdit" (click)="costomizePanel(chart,i)"><i
                  class="fas fa-pencil-alt"></i> Customize Panel</a>
              <a class="dropdown-item" disabled="disabled" style="cursor: pointer" *ngIf="isEdit"
                (click)="deleteFromDashboard(i)"><i class="far fa-trash-alt"></i> Delete From Dashboard</a>
            </div>
          </div>
          <i *ngIf="!showChart[i] && !noDataChart[i]" class="pi pi-spin pi-spinner"
            style="font-size: 3em;position: absolute;top: 50%;left: 45%;"></i>
          <div class="no-data-label" style="height: 311px;" *ngIf="noDataChart[i]">
            No data found
          </div>

          <ym-charts
            *ngIf="showChart[i] &&(chart['chart_type']=='bar' || chart['chart_type']=='line' || chart['chart_type']=='area' || chart['chart_type']=='pie' || chart['chart_type'] == 'polarArea' || chart['chart_type'] == 'radar' || chart['chart_type'] == 'horizontalBar')"
            [chartsJson]="chartJson[i]" (chartDataSelect)="chartSelected($event)">
          </ym-charts>

          <ym-cards *ngIf="showChart[i] && chart['chart_type']=='cards_panel'" [cardsJson]="chartJson[i]['data']">
          </ym-cards>

          <div *ngIf="showChart[i] && chart['chart_type'] =='data_table'" [ngClass]="'dashboard-table_' + i"
            style="display: inline-block; width: 100%;">
            <ym-data-table [tableJson]="getTableJson(chartJson[i],chart,i)"
              (exportTableEvent)="exportTable($event,chart,i)" (onColumnResizeEvent)="onColumnResize(i)">
            </ym-data-table>
          </div>
        </div>

      </div>
      <div *ngIf="isEdit" rzContainment="#container" style="width: 100%;display: inline-block;"></div>
    </div>
  </div>
</div>
<p-confirmDialog #cd [style]="{ width: '50vw' }">
  <p-footer>
    <!-- <button type="button" pButton icon="pi pi-times" label="Ok" (click)="cd.reject()"></button> -->
    <button type="button" pButton icon="pi pi-check" label="Ok" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
