<style>
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus,
  .nav-tabs .nav-link.active:focus,
  .nav-tabs .nav-link.active:hover,
  .nav-tabs>li.active>a {
    color: #22b6fd;
    outline: 0;
    border-bottom: 2px solid #22b6fd;
  }

  .nav.nav-tabs {
    border: 0;
  }

  .nav-tabs .nav-link {
    color: #8e929d;
    font-size: 0.8rem;
    border: 0;
    cursor: pointer;
  }

  .div-style1 {

    border-width: 1px;
    padding: 17px;
    font-family: "Source Sans Pro";
    line-height: 1.1;
    color: #373a3c;
    background-color: #fff;
  }

  .div-style2 {

    border-width: 1px;
    padding: 17px;
    font-family: "Source Sans Pro";
    line-height: 1.1;
    color: #373a3c;
    background-color: #fff;
    margin-top: 15px;
  }

  .div-style {

    border: grey;
    border-style: solid;
    border-width: 1px;
    padding: 17px;
  }

  .label-style {
    font-weight: 600;
  }

  .div-style1 {
    font-size: 0.85rem !important;
  }

 .div-style2 {
    font-size: 0.85rem !important;
  }

</style>
<div class="modal-body">
  <div class="div-style1">
    <h6>Alert Group Details</h6>
    <hr style="background-color: rgba(0,0,0,.125)">

  <!-- <div class="ui-g-12"> -->
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Alert Group Name </b></span>
        </div>

        <div class="col-md-9">
          <span *ngIf="alertDetails">{{alertDetails['event_name']}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="label-style"><b>App Name :</b></span>
        </div>

        <div class="col-md-9">
          <span *ngIf="alertDetails">{{alertDetails['display_app_name']}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="label-style"><b>Stage </b></span>
        </div>

        <div class="col-md-9">
          <span class="ui-float-label" *ngIf="alertDetails">{{alertDetails['stage_name']}}</span>
        </div>
      </div>
  <!-- </div -->
</div>

  <div class="div-style2">
    <h6>Alert Details</h6>
    <hr style="background-color: rgba(0,0,0,.125)">

  <div  ng-if="schedulerRShowInfo">
    <!-- <p-card class = "alert-group-info-card"> -->
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Alert Name :</b></span>
        </div>

        <div class="col-md-9">
          <span  *ngIf="ruleData">{{ruleData['rule_name']}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Description :</b></span>
        </div>

        <div class="col-md-9">
          <span class="ui-float-label" *ngIf="ruleData">{{ruleData['description']}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Alert Status </b></span>
        </div>

        <div class="col-md-9">
          <span *ngIf="ruleData">{{ruleData['status']}}</span>
        </div>
      </div>
      <div class="row" *ngIf="!isStageCsv">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Date Range</b></span>
        </div>

        <div class="col-md-9">
          <span class="ui-float-label">{{dateRange}}</span>
        </div>
      </div>

      <div class="row" *ngIf="!isStageCsv">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Column Mappings </b></span>
        </div>

        <div class="col-md-9">
          <p-card class = "alert-group-info-card">
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Dimensions</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{DimensionsList.join(', ')}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Metrics</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{MetricList.join(', ')}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Derived Metrics</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label"
                  *ngIf="DerivedMetricsList.length > 0">{{DerivedMetricsList.join(', ')}}</span>
                <span class="ui-float-label" *ngIf="DerivedMetricsList == ''">None</span>
              </div>
            </div>
          </p-card>
        </div>
      </div>

      <div class="row" *ngIf="!isStageCsv">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Condition Mappings </b></span>
        </div>

        <div class="col-md-9">
          
          <p-card class = "alert-group-info-card">
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Dimensions</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{DimensionsConditionList == "" ? 'None':DimensionsConditionList}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Metrics</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label"> {{MetricConditionList== "" ? 'None':MetricConditionList}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Sort By</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{ruleData['condition_mappings']['sorting_algo']}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Number Of Records</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{ruleData['condition_mappings']['limit']}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Sorting Columns</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{SortingColumnsList.toString()}}</span>
              </div>
            </div>
          </p-card>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Scheduler Details </b></span>
        </div>

        <div class="col-md-9">
          <p-card *ngIf="!schedulerRShowInfo" class = "alert-group-info-card">
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Scheduler Frequency</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{ruleData['scheduler']['granularityType']}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Start Date</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{schedulerStartDate}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>End Date</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{schedulerEndDate}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Status</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label" *ngIf="ruleData">{{ruleData['scheduler_status']}}</span>
              </div>
            </div>
          </p-card>
          <span class="ui-float-label" *ngIf="schedulerRShowInfo">None</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Channel Details </b></span>
        </div>

        <div class="col-md-9">
          <p-card *ngIf="ruleData && ruleData['channel'].length > 0" class = "alert-group-info-card" class = "alert-group-info-card">
            <div class="ui-g-12" *ngFor="let cd of ruleData['channel']">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>{{cd.source}}</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label" *ngFor="let rs of  cd.receivers">{{rs}}</span>
              </div>
            </div>
          </p-card>
          <span class="ui-float-label" *ngIf="ruleData && ruleData['channel'].length == 0">None</span>
        </div>
      </div>
    <!-- </p-card> -->
  </div>
</div>

  <div class="div-style2">
    <h6>Action Details</h6>
    <hr style="background-color: rgba(0,0,0,.125)">



  <!-- <div class="row"> -->
    <!-- <p-card class = "alert-group-info-card"> -->
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Action Name</b></span>
        </div>

        <div class="col-md-9">
          <span *ngIf="actionDetails">{{actionDetails['action_name']}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Description</b></span>
        </div>

        <div class="col-md-9">
          <span class="ui-float-label" *ngIf="actionDetails">{{actionDetails['description']}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Scheduler Details</b></span>
        </div>

        <div class="col-md-9">
          <p-card *ngIf="!schedulerAShowInfo" class = "alert-group-info-card">
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Scheduler Frequency</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label" *ngIf="actionDetails">{{actionDetails['scheduler']['granularityType']}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Start Date</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{schedulerAStartDate}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>End Date</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">{{schedulerAEndDate}}</span>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>Status</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label" *ngIf="actionDetails">{{actionDetails['status']}}</span>
              </div>
            </div>
          </p-card>
          <span class="ui-float-label" *ngIf="schedulerAShowInfo">None</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="ui-float-label"><b>Channel Details</b></span>
        </div>

        <div class="col-md-9">
          <p-card *ngIf="actionDetails && actionDetails['channel'].length > 0" class = "alert-group-info-card">
            <div class="ui-g-12" *ngFor="let cd of actionDetails['channel']">
              <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label"><b>{{cd.source}}</b></span>
              </div>

              <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label" *ngFor="let rs of  cd.receivers">{{rs}}</span>
              </div>
            </div>
          </p-card>
          <span class="ui-float-label" *ngIf="actionDetails && actionDetails['channel'].length == 0">None</span>
        </div>
      </div>
    <!-- </p-card> -->
  </div>
  

  <div class="ui-g-12 edit-role-footer">
    <button pButton type="button" (click)="CloseDialog()" label="OK"
      class="ml-2 ui-button-success" style="width: auto;
    float: right"></button>
  </div>
</div>