<div id="capture">
  <div class="last-updated">
    <div data-html2canvas-ignore class="dropdown d-inline-block">
      <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" title="Export to PPT or JPEG" aria-expanded="true">
        <i title="Export to PPT or JPEG" class="fas fa-download" style="cursor: pointer" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a>
      </div>
    </div>
    <!-- <div class="d-inline-block ml-2">
      <b>Last Updated On:</b>
      {{ lastUpdatedOn | date: 'yyyy-MM-dd HH:mm:ss' }} EDT
    </div> -->
  </div>
  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container *ngIf="showhide" (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>

  <!-- -------------------------- Charts Component --------------------------- -->
  <hr />

  <div class="p-col-12" style="margin-top: 1%;">
    <div style="display: inline-block;margin-bottom: 1%;">
      <span class="font-weight-bold">Dimension: </span>
      <p-dropdown [options]="dimensionsDropdown" [(ngModel)]="selectedDimension" (onChange)="dimChanged()"
        optionLabel="displayName" placeholder="Select a Dimension"></p-dropdown>
    </div>
    <div  style="display: inline-block; margin-left: 10px;">
      <span class="font-weight-bold">Metric: </span>
      <p-dropdown [options]="metricsDropdown" [(ngModel)]="selectedMetric" (onChange)="metricChanged()"
        optionLabel="displayName" placeholder="Select a Metric"></p-dropdown>
    </div>
    <div class="border-class">
      <i *ngIf="!showMetricChart && !noDataMetricChart" class="pi pi-spin pi-spinner"
        style="font-size: 3em; margin: 150px;position:relative; left:40%"></i>
      <div class="no-data-label" *ngIf="noDataMetricChart">
        No data found
      </div>
      <ym-charts *ngIf="showMetricChart" [chartsJson]="metricChartJson"
        (chartDataSelect)="chartSelected($event)">
      </ym-charts>
    </div>
  </div>
  <hr />

  <div class="p-col-12 p-1">

          <!-- ------------------------ Table 2 Component Start ------------------------ -->
          <div [hidden]="noTableData" class="mt-3 supply-performance-table" *ngIf="displayAggTable">
            <p-treeTable #ttRev360 [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
              [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']"
              [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']"
              [sortMode]="aggTableJson['sortMode']" [resizableColumns]="aggTableJson['resizableColumns']"
              [columnResizeMode]="aggTableJson['columnResizeMode']"
              [reorderableColumns]="aggTableJson['reorderableColumns']" [frozenColumns]="aggTableJson['frozenCols']"
              [frozenWidth]="aggTableJson['frozenWidth']" [scrollable]="aggTableJson['scrollable']"
              [scrollHeight]="aggTableJson['scrollHeight']" [selectionMode]="aggTableJson['selectionMode']"
              [(selection)]="aggTableJson['selectedColsModal']" [dataKey]="aggTableJson['selectionDataKey']"
              [metaKeySelection]="aggTableJson['metaKeySelection']" [style]="{ width: '100%' }"
              (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
              <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

              <ng-template pTemplate="caption">
                <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
                  <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
                    optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
                    [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
                </div>
                <div *ngIf="isExportReport && aggTableJson['export']"
                  style="text-align: left; float: right; display: inline-block;" class="ml-3 mt-2">
                  <div data-html2canvas-ignore class="dropdown">
                    <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                      aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
                      <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#" (click)="exportTable('agg', 'Excel')">
                        Excel
                      </a>
                      <a class="dropdown-item" href="#" (click)="exportTable('agg', 'CSV')">
                        CSV
                      </a>
                      <!-- <a
                        class="dropdown-item"
                        href="#"
                        (click)="exportTable('agg', 'JSON')"
                      >
                        JSON
                      </a> -->
                    </div>
                  </div>
                </div>

                <div *ngIf="aggTableJson['reload']" style="text-align: left; float: right; display: inline-block;"
                  class="ml-3 mt-2">
                  <span style="cursor: pointer" title="Reload Table" (click)="reset(ttRev360)">
                    <i title="Reload Table" class="fas fa-sync-alt share-icon">
                    </i>&nbsp;&nbsp;Reload</span>
                </div>
                <div *ngIf="aggTableJson['overallSearch']"
                  style="text-align: right; float: right; display: inline-block;">
                  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                  <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All"
                    [(ngModel)]="searchvalue"
                    (ngModelChange)="onGlobalSearchChanged(searchvalue,aggTableJson['columns'])" />
                  <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
                    (click)="searchvalue='';onGlobalSearchChanged(searchvalue,aggTableJson['columns'] )"><i
                      class="pi pi-times"></i>
                  </span>
                </div>
                <div style="text-align: right; float: right; display: inline-block;">
                  <i class="fas fa-info-circle info-toottip" title="Search function works for dimensions only."></i>
                </div>
              </ng-template>

              <!-- ------------------------- For frozen columns -------------------------- -->

              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
                </colgroup>
              </ng-template>

              <!-- ------------------------------- Header -------------------------------- -->

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <!-- <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            [attr.ttResizableColumn]="col['options']['resizable'] ? '' : null"
            [attr.ttReorderableColumn]="col['options']['colSort'] ? '' : null"
          > -->
                  <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                    ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                    [ttResizableColumnDisabled]="!col['options']['resizable']"
                    [ttReorderableColumnDisabled]="!col['options']['movable']">
                    {{ col.displayName }}

                    <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
                  </th>
                </tr>
                <tr *ngIf="aggTableJson['columnSearch']">
                  <ng-container *ngFor="let col of columns">
                    <th *ngIf="isHiddenColumn(col)">
                      <input ymInput pInputText type="text" [style.visibility]="
                          col['options']['colSearch'] ? 'visible' : 'hidden'
                        " (input)="
                          ttRev360.filter(
                            $event.target.value,
                            col.field,
                            col.filterMatchMode
                          )
                        " />
                    </th>
                  </ng-container>
                </tr>
              </ng-template>

              <!-- -------------------------------- Body --------------------------------- -->

              <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                      rowData[col.field]
                        | formatNum: col.format:col.formatConfig
                    ">
                    <p-treeTableCellEditor *ngIf="col['options']['editable']">
                      <ng-template pTemplate="input">
                        <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                          [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{
                          rowData[col.field]
                            | formatNum: col.format:col.formatConfig
                        }}
                      </ng-template>
                    </p-treeTableCellEditor>
                    <span *ngIf="!col['options']['editable'] && rowData[col.field] == 'N/A'">
                      {{ rowData[col.field] }}
                    </span>
                    <span *ngIf="!col['options']['editable'] && rowData[col.field] !== 'N/A'">
                      {{
                        rowData[col.field]
                          | formatNum: col.format:col.formatConfig
                      }}
                    </span>
                  </td>
                </tr>
              </ng-template>

              <!-- ----------------------------- Frozen Body ----------------------------- -->

              <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr style="background: #f4f4f4">
                  <td *ngFor="let col of columns; let i = index" [title]="
                      rowData[col.field]
                        | formatNum: col.format:col.formatConfig
                    ">
                    <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>
                    <span *ngIf="rowData[col.field] == 'All'">
                      {{
                        rowData[col.field]
                          ? (rowData[col.field]
                            | formatNum: col.format:col.formatConfig)
                          : ''
                      }}
                    </span>
                    <span *ngIf="rowData[col.field] !== 'All'" class="btn-link d-inline"
                      (click)="openPopup(rowData, col.field)">
                      {{
                        rowData[col.field]
                          ? (rowData[col.field]
                            | formatNum: col.format:col.formatConfig)
                          : ''
                      }}
                    </span>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="paginatorleft" let-state>
                Showing {{ state.page * state.rows + 1 }} to
                {{
                  state.rows * (state.page + 1) > state.totalRecords
                    ? state.totalRecords
                    : state.rows * (state.page + 1)
                }}
                of {{ state.totalRecords }} Records
              </ng-template>

              <!-- ------------------- Message to show for empty Data -------------------- -->

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="aggTableJson['columns'].length">
                    No data found.
                  </td>
                </tr>
              </ng-template>

              <!-- <ng-template pTemplate="footer" let-columns>
        <tr>
          <td *ngFor="let col of columns">
            {{
              col.field === 'time_key' ||
              col.field === 'time_key1' ||
              col.field === 'source_revenue' ||
              col.field === 'ecpm' ||
              col.field === 'source_impressions'
                ? '-'
                : (col.footerTotal | formatNum: col.format:col.formatConfig)
            }}
          </td>
        </tr>
      </ng-template> -->
            </p-treeTable>
          </div>
          <div class="no-data-label" *ngIf="noTableData">
            No data found
          </div>
        <!-- </p-tabPanel>
        <p-tabPanel header="House/Unfilled"> -->
          <!-- ---------------------- Cards Container Component ---------------------- -->


          <!-- ---------------------- Cards Container Component ---------------------- -->

          <!-- ------------------------ Table 2 Component Start ------------------------ -->
      <!-- ------------------------- Table 2 Component End ------------------------- -->
    <!-- </div>
  </div> -->
</div>
<p-confirmDialog #cd rejectVisible='false' [style]="{width: '50vw'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Ok" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>
