<div id="capture" *ngIf="!editOperationFlag">
  <div class="last-updated">
    <div data-html2canvas-ignore class="dropdown d-inline-block">
      <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" title="Export to PPT or JPEG" aria-expanded="true">
        <i title="Export to PPT or JPEG" class="fas fa-download" style="cursor: pointer" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a>
        <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a>
      </div>
    </div>
    <div class="popover-container d-inline-block ml-2">
      <div>
        <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
        </i>
      </div>

      <div class="pop-over">
        <!-- <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'yyyy-MM-dd HH:mm:ss' }} EST
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'yyyy-MM-dd HH:mm:ss' }}
          EST
        </p> -->
      </div>
    </div>

  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <!-- <ym-filter-container
    (filtersApplied)="onFiltersApplied($event)"
  ></ym-filter-container>
  <hr /> -->
  <p-card class="alert-create-condition" *ngIf="connectorFlag">
<div class="ui-g-12" >
  <div class="ui-g-3 ui-fluid">
  <p-dropdown [options]="connectionList" placeholder="Select Connector"
  [(ngModel)]="selctedConnector" (onChange)="createConnection(selctedConnector)">
  </p-dropdown>
</div>

<!--
<div class="ui-g-2">
  <p-button icon="pi pi-check"
    (click)="createConnection(selctedConnector)"
    label="Connect" styleClass="p-button-text"></p-button>
</div> -->

</div>
</p-card>

  <div *ngIf="campaignTableFlag ">
    <div class="mt-2 ui-g-12" *ngIf="createCampaign">
      <button pButton type="button" icon="pi pi-plus-circle" iconPos="left" label="Add Campaign"
        title="Click here to add campaign" (click)="openAddCompaign()" style="float: right;"
        class="ui-button-success ui-button-rounded"></button>
    </div>

    <!-- ------------------------ Table 2 Component Start ------------------------ -->
    <div class="ui-g-12 p-0">
      <div class="mt-2 mb-3 fr-upr-table">
        <p-treeTable #ttfranklypayout [value]="aggTableData" [columns]="aggTableJson['selectedColumns']"
          [paginator]="true" [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']"
          [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']"
          [sortMode]="aggTableJson['sortMode']" [resizableColumns]="aggTableJson['resizableColumns']"
          [columnResizeMode]="aggTableJson['columnResizeMode']"
          [reorderableColumns]="aggTableJson['reorderableColumns']" [frozenColumns]="aggTableJson['frozenCols']"
          [frozenWidth]="aggTableJson['frozenWidth']" [scrollable]="aggTableJson['scrollable']"
          [scrollHeight]="aggTableJson['scrollHeight']" [selectionMode]="aggTableJson['selectionMode']"
          [(selection)]="aggTableJson['selectedColsModal']" [dataKey]="aggTableJson['selectionDataKey']"
          [metaKeySelection]="aggTableJson['metaKeySelection']" [style]="{ width: '100%' }"
          (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
          <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

          <ng-template pTemplate="caption">
            <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
              <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
                optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
                [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
            </div>

            <div *ngIf="aggTableJson['export']" style="text-align: left; float: right; display: inline-block;"
              class="ml-3 mt-2">
              <div data-html2canvas-ignore class="dropdown">
                <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                  aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
                  <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" (click)="exportTable('agg', 'Excel')">
                    Excel
                  </a>
                  <a class="dropdown-item" href="#" (click)="exportTable('agg', 'CSV')">
                    CSV
                  </a>
                  <!-- <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('agg', 'JSON')"
              >
                JSON
              </a> -->
                </div>
              </div>
            </div>
            <div *ngIf="aggTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
              <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
              <input ymInput pInputText type="text" size="50" placeholder="Search All" (input)="
              ttfranklypayout.filterGlobal($event.target.value, 'contains')
            " style="width:auto" />
            </div>
            <div *ngIf="aggTableJson['reload']" style="text-align: left; float: right; display: inline-block;"
              class="ml-3 mt-2">
              <span style="cursor: pointer" title="Reload Table" (click)="reset(ttfranklypayout)">
                <i title="Reload Table" class="fas fa-sync-alt share-icon"> </i>&nbsp;&nbsp;Reload</span>
            </div>
          </ng-template>

          <!-- ------------------------- For frozen columns -------------------------- -->

          <!-- <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
            </colgroup>
          </ng-template> -->

          <!-- ------------------------------- Header -------------------------------- -->

          <ng-template pTemplate="header" let-columns>
            <tr>
              <!-- <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            [attr.ttResizableColumn]="col['options']['resizable'] ? '' : null"
            [attr.ttReorderableColumn]="col['options']['colSort'] ? '' : null"
          > -->
              <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                [ttResizableColumnDisabled]="!col['options']['resizable']"
                [ttReorderableColumnDisabled]="!col['options']['movable']">
                {{ col.displayName }}

                <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
              </th>
            </tr>
            <tr *ngIf="aggTableJson['columnSearch']">
              <ng-container *ngFor="let col of columns">
                <th *ngIf="isHiddenColumn(col)">
                  <input ymInput pInputText type="text" [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                " (input)="
                  ttfranklypayout.filter(
                    $event.target.value,
                    col.field,
                    col.filterMatchMode
                  )
                " />
                </th>
              </ng-container>
            </tr>
          </ng-template>

          <!-- -------------------------------- Body --------------------------------- -->

          <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr>
              <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
                <p-treeTableCellEditor *ngIf="col['options']['editable']">
                  <ng-template pTemplate="input">
                    <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                      [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
                  </ng-template>
                </p-treeTableCellEditor>
                <!-- <span *ngIf="!col['options']['editable']">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span> -->

            <span *ngIf="
            col.field == 'name'" class="btn-link d-inline" (click)="loadTableDataLineItem( rowData,'table')">
              {{
            rowData[col.field]
              ? (rowData[col.field]
                | formatNum: col.format:col.formatConfig)
              : ''
          }}
            </span>
                <span *ngIf="col.field == 'line_item' || col.field == 'status'
            || col.field == 'ad_server_status'">
                  {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                </span>


                <span *ngIf="col.field == 'details'" title="details">
                  <i class="fa fa-file" style="color: #22b6fd;
              font-size: 16px;
              margin-left: 28%;
              cursor: pointer;" (click)="openCompaignDetails(rowData)"></i>
                </span>

                <span *ngIf="col.field == 'setup_campaign'"
                  title="setup campaign">
                  <i class="fa fa-upload" style="color: #22b6fd;
              font-size: 16px;
              margin-left: 28%;
              cursor: pointer;" (click)="pushToGAM(rowData)"></i>
                </span>

                <span *ngIf="col.field == 'comment'"
                  title="comment" >
                  <i class="far fa-comments" style="color: #22b6fd;
              font-size: 16px;
              margin-left: 28%;
              cursor: pointer;" (click)="deleteAlertGroup(rowData)"></i>
                </span>

                <span *ngIf="col.field == 'attachement'"
                  title="attachement">
                  <i class="fa fa-paperclip" style="color: #22b6fd;
              font-size: 16px;
              margin-left: 28%;
              cursor: pointer;" (click)="deleteAlertGroup(rowData)"></i>
                </span>

                <span *ngIf="col.field == 'approver'"
                  title="approve campaign">
                  <i class="fa fa-thumbs-up" style="color: #22b6fd;
              font-size: 16px;
              margin-left: 28%;
              cursor: pointer;" (click)="openApprover(rowData)"></i>
                </span>

                <span *ngIf="col.field == 'delete'"
                  title="delete campaign">
                  <i class="far fa-trash-alt" style="color: #22b6fd;
              font-size: 16px;
              margin-left: 28%;
              cursor: pointer;" (click)="deleteOrder(rowData)"></i>
                </span>

              </td>
            </tr>
          </ng-template>

          <!-- ----------------------------- Frozen Body ----------------------------- -->

          <!-- <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr style="background: #f4f4f4">
              <td *ngFor="let col of columns; let i = index" [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
                <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>

                <span *ngIf="
               col.field == 'line_item' && rowData[col.field] == 'All'
              ">
                  {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
                </span>

                <span *ngIf="
               col.field == 'line_item' && rowData[col.field] != 'All'
              ">
                  {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
                </span>

                  <span *ngIf="
                  col.field == 'name'" class="btn btn-link d-inline" (click)="loadTableDataLineItem( rowData,'table')">
                    {{
                  rowData[col.field]
                    ? (rowData[col.field]
                      | formatNum: col.format:col.formatConfig)
                    : ''
                }}
                  </span>
              </td>
            </tr>
          </ng-template> -->

          <ng-template pTemplate="paginatorleft" let-state>
            Showing {{ state.page * state.rows + 1 }} to
            {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
            of {{ state.totalRecords }} Records
          </ng-template>

          <!-- ------------------- Message to show for empty Data -------------------- -->

          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="aggTableJson['columns'].length">
                No data found.
              </td>
            </tr>
          </ng-template>

          <!-- <ng-template pTemplate="footer" let-columns>
        <tr>
          <td *ngFor="let col of columns">
            {{
              col.field === 'time_key' ||
              col.field === 'time_key1' ||
              col.field === 'source_revenue' ||
              col.field === 'ecpm' ||
              col.field === 'source_impressions'
                ? '-'
                : (col.footerTotal | formatNum: col.format:col.formatConfig)
            }}
          </td>
        </tr>
      </ng-template> -->
        </p-treeTable>

      </div>
    </div>

    <div class="no-data-label" *ngIf="noTableData">
      No data found
    </div>
  </div>
  <!-- ------------------------- Table 2 Component End ------------------------- -->
  <!-- <div>
    <button pButton type="submit" label="Details" class=" mr-2 ui-button-success ui-button-rounded"
      style="float: right;" (click)="openCompaignDetails()"></button>
    <button pButton type="submit" label="Setup" class=" mr-2 ui-button-success ui-button-rounded" style="float: right;"
      (click)="openCompaignSetup()"></button>
    <button pButton type="submit" label="Approve" class=" mr-2 ui-button-success ui-button-rounded"
      style="float: right;" (click)="openApprover('rowData')"></button>
  </div> -->
</div>
<p-confirmDialog key="campaign" #cdd rejectVisible='false' [style]="{width: '50vw'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Ok" (click)="cdd.accept()"></button>
  </p-footer>
</p-confirmDialog>


<p-breadcrumb *ngIf="breadcrumbFlag" [model]="items" (onItemClick)="triggerBreadcrumb($event)"></p-breadcrumb>

<div *ngIf="lineItemTableFlag" class="ui-g-12">
  <div class="mt-2">
    <button pButton type="button" icon="pi pi-arrow-left" iconPos="left" label="Back" title="Click here for back"
      (click)="backOperation('LineItem')" style="float: left;" class="ui-button-success ui-button-rounded"></button>
  </div>
  <div class="mt-2 " *ngIf="createCampaign">
    <button pButton type="button" icon="pi pi-plus-circle" iconPos="left" label="Add Line Item"
      title="Click here to add line item" (click)="openAddLineItemCreativeForm('LineItem')" style="float: right;"
      class="ui-button-success ui-button-rounded"></button>
  </div>

  <div class="ui-g-12 p-0">
    <div class="mt-2 mb-3 fr-upr-table">
      <p-treeTable #ttfranklypayoutL [value]="aggTableDataLineItem" [columns]="aggTableJsonLineItem['selectedColumns']"
        [paginator]="true" [rows]="aggTableJsonLineItem['page_size']"
        [totalRecords]="aggTableJsonLineItem['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
        [lazy]="aggTableJsonLineItem['lazy']" [loading]="aggTableJsonLineItem['loading']"
        [sortMode]="aggTableJsonLineItem['sortMode']" [resizableColumns]="aggTableJsonLineItem['resizableColumns']"
        [columnResizeMode]="aggTableJsonLineItem['columnResizeMode']"
        [reorderableColumns]="aggTableJsonLineItem['reorderableColumns']"
        [frozenColumns]="aggTableJsonLineItem['frozenCols']" [frozenWidth]="aggTableJsonLineItem['frozenWidth']"
        [scrollable]="aggTableJsonLineItem['scrollable']" [scrollHeight]="aggTableJsonLineItem['scrollHeight']"
        [selectionMode]="aggTableJsonLineItem['selectionMode']"
        [(selection)]="aggTableJsonLineItem['selectedColsModal']" [dataKey]="aggTableJsonLineItem['selectionDataKey']"
        [metaKeySelection]="aggTableJsonLineItem['metaKeySelection']" [style]="{ width: '100%' }"
        (onLazyLoad)="onLazyLoadAggTable($event)">
        <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

        <ng-template pTemplate="caption">
          <div *ngIf="aggTableJsonLineItem['showHideCols']"
            style="text-align: left; float: left; display: inline-block;">
            <p-multiSelect [options]="aggTableJsonLineItem['columns']"
              [(ngModel)]="aggTableJsonLineItem['selectedColumns']" optionLabel="displayName" maxSelectedLabels="1"
              selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns">
            </p-multiSelect>
          </div>
          <div style="text-align: left; float: left; display: inline-block;margin-left: 5%;">
            <span>Order Name : {{selectedOrderName}} </span>
          </div>
          <div *ngIf="aggTableJsonLineItem['export']" style="text-align: left; float: right; display: inline-block;"
            class="ml-3 mt-2">
            <div data-html2canvas-ignore class="dropdown">
              <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
                <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" (click)="exportTable('agg', 'Excel')">
                  Excel
                </a>
                <a class="dropdown-item" href="#" (click)="exportTable('agg', 'CSV')">
                  CSV
                </a>
                <!-- <a
              class="dropdown-item"
              href="#"
              (click)="exportTable('agg', 'JSON')"
            >
              JSON
            </a> -->
              </div>
            </div>
          </div>
          <div *ngIf="aggTableJsonLineItem['overallSearch']"
            style="text-align: right; float: right; display: inline-block;">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input ymInput pInputText type="text" size="50" placeholder="Search All" (input)="
          ttfranklypayoutL.filterGlobal($event.target.value, 'contains')
          " style="width:auto" />
          </div>
          <div *ngIf="aggTableJsonLineItem['reload']" style="text-align: left; float: right; display: inline-block;"
            class="ml-3 mt-2">
            <span style="cursor: pointer" title="Reload Table" (click)="reset(ttfranklypayoutL)">
              <i title="Reload Table" class="fas fa-sync-alt share-icon"> </i>&nbsp;&nbsp;Reload</span>
          </div>
        </ng-template>


        <!-- ------------------------- For frozen columns -------------------------- -->

        <!-- <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
          </colgroup>
        </ng-template> -->

        <!-- ------------------------------- Header -------------------------------- -->

        <ng-template pTemplate="header" let-columns>
          <tr>
            <!-- <th
          *ngFor="let col of columns; let i = index"
          [ttSortableColumn]="col.field"
          [attr.ttResizableColumn]="col['options']['resizable'] ? '' : null"
          [attr.ttReorderableColumn]="col['options']['colSort'] ? '' : null"
        > -->
            <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
              ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
              [ttResizableColumnDisabled]="!col['options']['resizable']"
              [ttReorderableColumnDisabled]="!col['options']['movable']">
              {{ col.displayName }}

              <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
            </th>
          </tr>
          <tr *ngIf="aggTableJsonLineItem['columnSearch']">
            <ng-container *ngFor="let col of columns">
              <th *ngIf="isHiddenColumn(col)">
                <input ymInput pInputText type="text" [style.visibility]="
                col['options']['colSearch'] ? 'visible' : 'hidden'
              " (input)="
              ttfranklypayoutL.filter(
                  $event.target.value,
                  col.field,
                  col.filterMatchMode
                )
              " />
              </th>
            </ng-container>
          </tr>
        </ng-template>

        <!-- -------------------------------- Body --------------------------------- -->

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
            rowData[col.field] | formatNum: col.format:col.formatConfig
          ">
              <p-treeTableCellEditor *ngIf="col['options']['editable']">
                <ng-template pTemplate="input">
                  <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{
                rowData[col.field] | formatNum: col.format:col.formatConfig
              }}
                </ng-template>
              </p-treeTableCellEditor>
              <!-- <span *ngIf="!col['options']['editable']">
            {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
          </span> -->

          <span *ngIf="
                col.field == 'name'" class="btn-link d-inline" (click)="loadTableDataCreative(rowData,'table')">
                  {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
            </span>
              <span *ngIf="col.field == 'line_item' || col.field == 'status'
          || col.field == 'ad_server_status'">
                {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
              </span>


              <span *ngIf="col.field == 'details'">
                <!-- [title]="details" -->
                <i class="fa fa-file" style="color: #22b6fd;
            font-size: 16px;
            margin-left: 28%;
            cursor: pointer;" (click)="openLineItemDetails(rowData)"></i>
              </span>

              <span *ngIf="col.field == 'setup_campaign'">
                <!-- [title]="setup campaign" -->
                <i class="fa fa-upload" style="color: #22b6fd;
            font-size: 16px;
            margin-left: 28%;
            cursor: pointer;"></i>
                <!-- (click)="pushToGAM(rowData)" -->
              </span>

              <span *ngIf="col.field == 'comment'">
                <!-- [title]="comment" -->
                <i class="far fa-comments" style="color: #22b6fd;
            font-size: 16px;
            margin-left: 28%;
            cursor: pointer;" (click)="deleteAlertGroup(rowData)"></i>
              </span>

              <span *ngIf="col.field == 'attachement'">
                <!-- [title]="attachement" -->
                <i class="fa fa-paperclip" style="color: #22b6fd;
            font-size: 16px;
            margin-left: 28%;
            cursor: pointer;" (click)="deleteAlertGroup(rowData)"></i>
              </span>

              <span *ngIf="col.field == 'approver'">
                <!-- [title]="approve campaign" -->
                <i class="fa fa-thumbs-up" style="color: #22b6fd;
            font-size: 16px;
            margin-left: 28%;
            cursor: pointer;" (click)="openApprover(rowData)"></i>
              </span>

              <span *ngIf="col.field == 'delete'">
                <!-- [title]="delete campaign" -->
                <i class="far fa-trash-alt" style="color: #22b6fd;
            font-size: 16px;
            margin-left: 28%;
            cursor: pointer;" (click)="deleteLineItem(rowData)"></i>
              </span>

            </td>
          </tr>
        </ng-template>

        <!-- ----------------------------- Frozen Body ----------------------------- -->

        <!-- <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr style="background: #f4f4f4">
            <td *ngFor="let col of columns; let i = index" [title]="
            rowData[col.field] | formatNum: col.format:col.formatConfig
          ">
              <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>

              <span *ngIf="
             col.field == 'line_item' && rowData[col.field] == 'All'
            ">
                {{
              rowData[col.field]
                ? (rowData[col.field]
                  | formatNum: col.format:col.formatConfig)
                : ''
            }}
              </span>

              <span *ngIf="
             col.field == 'line_item' && rowData[col.field] != 'All'
            ">
                {{
              rowData[col.field]
                ? (rowData[col.field]
                  | formatNum: col.format:col.formatConfig)
                : ''
            }}
              </span>

              <span>
                <span *ngIf="
                col.field == 'name'" class="btn btn-link d-inline" (click)="loadTableDataCreative(rowData,'table')">
                  {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
                </span>
              </span>
            </td>
          </tr>
        </ng-template> -->

        <ng-template pTemplate="paginatorleft" let-state>
          Showing {{ state.page * state.rows + 1 }} to
          {{
        state.rows * (state.page + 1) > state.totalRecords
          ? state.totalRecords
          : state.rows * (state.page + 1)
      }}
          of {{ state.totalRecords }} Records
        </ng-template>

        <!-- ------------------- Message to show for empty Data -------------------- -->

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="aggTableJsonLineItem['columns'].length">
              No data found.
            </td>
          </tr>
        </ng-template>

        <!-- <ng-template pTemplate="footer" let-columns>
      <tr>
        <td *ngFor="let col of columns">
          {{
            col.field === 'time_key' ||
            col.field === 'time_key1' ||
            col.field === 'source_revenue' ||
            col.field === 'ecpm' ||
            col.field === 'source_impressions'
              ? '-'
              : (col.footerTotal | formatNum: col.format:col.formatConfig)
          }}
        </td>
      </tr>
    </ng-template> -->
      </p-treeTable>

    </div>
  </div>

  <div class="no-data-label" *ngIf="noTableDataLineItem">
    No data found
  </div>
</div>


<div *ngIf="creativeTableFlag" class="ui-g-12">
  <div class="mt-2">

    <button pButton type="button" icon="pi pi-arrow-left" iconPos="left" label="Back" title="Click here for back"
      (click)="backOperation('Creative')" style="float: left;" class="ui-button-success ui-button-rounded"></button>
  </div>
  <div class="mt-2" *ngIf="createCampaign">
    <button pButton type="button" icon="pi pi-plus-circle" iconPos="left" label="Add Creative"
      title="Click here to add creative" (click)="openAddLineItemCreativeForm('Creative')" style="float: right;"
      class="ui-button-success ui-button-rounded"></button>

  </div>

  <div class="p-col-12 mt-1 new-rio-table" style="display: inline-block; width: 100%;">
    <p-treeTable #ttFlat [value]="creativeTableData" [columns]="creativeTableJson['selectedColumns']" [paginator]="true"
      [rows]="creativeTableJson['page_size']" [first]="creativeTableJson['page']"
      [totalRecords]="creativeTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
      [lazy]="creativeTableJson['lazy']" [loading]="creativeTableJson['loading']"
      [sortMode]="creativeTableJson['sortMode']" [resizableColumns]="creativeTableJson['resizableColumns']"
      [columnResizeMode]="creativeTableJson['columnResizeMode']"
      [reorderableColumns]="creativeTableJson['reorderableColumns']" [frozenColumns]="creativeTableJson['frozenCols']"
      [frozenWidth]="creativeTableJson['frozenWidth']" [scrollable]="creativeTableJson['scrollable']"
      [scrollHeight]="creativeTableJson['scrollHeight']" [selectionMode]="creativeTableJson['selectionMode']"
      [(selection)]="creativeTableJson['selectedColsModal']" [dataKey]="creativeTableJson['selectionDataKey']"
      [metaKeySelection]="creativeTableJson['metaKeySelection']" [style]="{ width: '100%' }">
      <!-- (onLazyLoad)="onLazyLoadFlatTable($event)" -->
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div class="mb-1" *ngIf="creativeTableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="creativeTableJson['columns']" [(ngModel)]="creativeTableJson['selectedColumns']"
            optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
        </div>
        <div style="text-align: left; float: left; display: inline-block;margin-left: 5%;">
          <span>Line Item Name : {{selectedLineItem}} </span>
        </div>
        <div *ngIf="creativeTableJson['export']" style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2">
          <div data-html2canvas-ignore class="dropdown">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
              <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="exportTable('Excel')">
                Excel
              </a>
              <a class="dropdown-item" (click)="exportTable('CSV')">
                CSV
              </a>
              <!-- <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('flat', 'JSON')"
              >
                JSON
              </a> -->
            </div>
          </div>
        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}
            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
            </p-treeTableSortIcon>
          </th>
        </tr>

        <tr *ngIf="creativeTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">

            <ng-container *ngFor="let col of columns">
              <th *ngIf="false">

                <input pInputText type="text" (input)="
                  ttFlat.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  " [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  " style="width: 100%;border-radius: 5px;

                  border: 1px solid #c8c8c8;
                  padding: 1.3px;" />
              </th>
            </ng-container>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
              </ng-template>
              <ng-template pTemplate="output">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="!col['options']['editable']">
              <span *ngIf="col.field != 'delete' && col.field != 'edit'">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
              <span *ngIf="col.field == 'delete'" class="link-style-icon" (click)="deleteCreative(rowData)">
                <i class="far fa-trash-alt"></i>
              </span>

              <span *ngIf="col.field == 'edit'" class="link-style-icon" (click)="openCreativeDetails(rowData)">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </span>
            <!-- <span
          *ngIf="
            col.field !== 'delete'">
            {{
              rowData[col.field]
                | formatNum: col.format:col.formatConfig
            }}
          </span> -->
          </td>
        </tr>
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->

      <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr style="background: #f4f4f4">
          <td *ngFor="let col of columns; let i = index" [title]="
            rowData[col.field] | formatNum: col.format:col.formatConfig
          ">
            <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>

            <span>
              {{
              rowData[col.field]
                ? (rowData[col.field]
                  | formatNum: col.format:col.formatConfig)
                : ''
            }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="creativeTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>

<div *ngIf="addLineItemCreativeFormFlag">
  <div class="mt-2 ui-g-12">
    <button pButton type="button" icon="pi pi-arrow-left" iconPos="left" label="Back" title="Click here for back"
      (click)="openAddLineItemCreativeTable()" style="float: right;"
      class="ui-button-success ui-button-rounded"></button>
  </div>
  <div class="ui-g-12">
    <ym-add-compaign [formIdentity]=formIdentity [orderId]="orderId" [lineItemId]="lineItemId"
      (triggeredEvent)="childResponse($event)">
    </ym-add-compaign>
  </div>
</div>

<div *ngIf="editOperationFlag">
  <div class="mt-2 ui-g-12">
    <button pButton type="button" icon="pi pi-arrow-left" iconPos="left" label="Back" title="Click here for back"
      (click)="editOperationBack()" style="float: left;"
      class="ui-button-success ui-button-rounded"></button>
  </div>
  <div class="ui-g-12">
    <ym-add-compaign [operationIdentity]=operationIdentity [formIdentity]=formIdentity [formData]="formData"
      (triggeredEvent)="childResponse($event)">
    </ym-add-compaign>
  </div>
</div>
