<div id="capture">
  <div class="last-updated">
    <div data-html2canvas-ignore class="dropdown export-icon d-inline-block">
      <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" title="Export to PPT or JPEG" aria-expanded="true">
        <i title="Export to PPT or JPEG" class="fas fa-download" style="cursor: pointer" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <!-- <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a> -->
        <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a>
      </div>
    </div>

    <div class="popover-container d-inline-block ml-2">
      <div>
        <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} EST
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          EST
        </p>
      </div>
    </div>
  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <!-- <ym-filter-container
    (filtersApplied)="onFiltersApplied($event)"
  ></ym-filter-container> -->

  <!-- ---------------------- Cards Container Component ---------------------- -->

  <!-- <ym-cards *ngIf="showCards" [cardsJson]="cardsJson"></ym-cards> -->

  <!-- ---------------------- Cards Container Component ---------------------- -->

  <!-- ------------------------ Table 2 Component Start ------------------------ -->
  <hr>
  <div class="p-grid">
    <div class="p-col-3">
      <p class="page-title">Current Status</p>
      <div class="border-class mt-3">
        <i *ngIf="!showMainPieChartSource && !noDataMainPieChart" class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px;"></i>
        <div class="no-data-label no-data-mainline-chart" *ngIf="noDataMainPieChart">
          No data found
        </div>
        <ym-charts *ngIf="showMainPieChartSource" [chartsJson]="mainPieChartJson"
          (chartDataSelect)="chartSelected($event)"></ym-charts>
      </div>
    </div>

    <div class="p-col-9">
      <p class="page-title">Which Campaigns assigned to me?</p>
      <div [hidden]="noTableData" class="mt-3 mb-3 fr-payout-table" *ngIf="displayAggTable">

        <p-treeTable #ttRev360 [value]="campaignsAssignedToMeTableData"
          [columns]="campaignsAssignedToMeTableJson['selectedColumns']" [paginator]="true"
          [rows]="campaignsAssignedToMeTableJson['page_size']"
          [totalRecords]="campaignsAssignedToMeTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
          [lazy]="campaignsAssignedToMeTableJson['lazy']" [loading]="campaignsAssignedToMeTableJson['loading']"
          [sortMode]="campaignsAssignedToMeTableJson['sortMode']"
          [resizableColumns]="campaignsAssignedToMeTableJson['resizableColumns']"
          [columnResizeMode]="campaignsAssignedToMeTableJson['columnResizeMode']"
          [reorderableColumns]="campaignsAssignedToMeTableJson['reorderableColumns']"
          [frozenColumns]="campaignsAssignedToMeTableJson['frozenCols']"
          [frozenWidth]="campaignsAssignedToMeTableJson['frozenWidth']"
          [scrollable]="campaignsAssignedToMeTableJson['scrollable']"
          [scrollHeight]="campaignsAssignedToMeTableJson['scrollHeight']"
          [selectionMode]="campaignsAssignedToMeTableJson['selectionMode']"
          [(selection)]="campaignsAssignedToMeTableJson['selectedColsModal']"
          [dataKey]="campaignsAssignedToMeTableJson['selectionDataKey']"
          [metaKeySelection]="campaignsAssignedToMeTableJson['metaKeySelection']" [style]="{ width: '100%' }"
          (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
          <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

          <ng-template pTemplate="caption">
            <div *ngIf="campaignsAssignedToMeTableJson['showHideCols']"
              style="text-align: left; float: left; display: inline-block;">
              <p-multiSelect [options]="campaignsAssignedToMeTableJson['columns']"
                [(ngModel)]="campaignsAssignedToMeTableJson['selectedColumns']" optionLabel="displayName"
                maxSelectedLabels="1" selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }"
                defaultLabel="Choose Columns"></p-multiSelect>
            </div>
            <!-- <div
  *ngIf="aggTableJson['export']"
  style="text-align: left; float: right; display: inline-block;"
  class="ml-3 mt-2 mb-2"
>
  <div data-html2canvas-ignore class="dropdown">
    <span
      class="dropdown-toggle"
      style="cursor: pointer"
      id="dropdownMenu1"
      data-toggle="dropdown"
      aria-haspopup="true"
      title="Export to Excel/CSV/JSON"
      aria-expanded="true"
    >
      <i
        title="Export to Excel/CSV/JSON"
        class="fas fa-download share-icon"
        id="dropdownMenu1"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true"
      >
        <span class="caret"></span> </i
      >&nbsp;&nbsp;Export</span
    >
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="exportTable('agg', 'Excel')">
        Excel
      </a>
      <a class="dropdown-item" (click)="exportTable('agg', 'CSV')">
        CSV
      </a> -->
            <!-- <a class="dropdown-item" (click)="exportTable('agg', 'JSON')">
        JSON
      </a> -->
            <!-- </div>
  </div>
</div> -->
            <!-- <div
  *ngIf="aggTableJson['overallSearch']"
  style="text-align: right; float: right; display: inline-block;"
>
  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
  <input
    ymInput
    pInputText
    type="text"
    size="50"
    placeholder="Search All"
    (input)="ttRev360.filterGlobal($event.target.value, 'contains')"
    style="width:auto"
  />
</div> -->
          </ng-template>

          <!-- ------------------------- For frozen columns -------------------------- -->

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
            </colgroup>
          </ng-template>

          <!-- ------------------------------- Header -------------------------------- -->

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                [ttResizableColumnDisabled]="!col['options']['resizable']"
                [ttReorderableColumnDisabled]="!col['options']['movable']">
                {{ col.displayName }}

                <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
                </p-treeTableSortIcon>
              </th>
            </tr>
            <tr *ngIf="campaignsAssignedToMeTableJson['columnSearch']">
              <ng-container *ngFor="let col of columns">
                <th *ngIf="isHiddenColumn(col)">
                  <input ymInput pInputText type="text" [style.visibility]="
          col['options']['colSearch'] ? 'visible' : 'hidden'
        " (input)="
          ttRev360.filter(
            $event.target.value,
            col.field,
            col.filterMatchMode
          )
        " />
                </th>
              </ng-container>
            </tr>
          </ng-template>

          <!-- -------------------------------- Body --------------------------------- -->


          <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr>
              <td *ngFor="let col of columns; let i = index" [title]="
          rowData[col.field] | formatNum: col.format:col.formatConfig
        ">
                <span>
                  {{
            rowData[col.field] | formatNum: col.format:col.formatConfig
          }}
                </span>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft" let-state>
            Showing {{ state.page * state.rows + 1 }} to
            {{
  state.rows * (state.page + 1) > state.totalRecords
    ? state.totalRecords
    : state.rows * (state.page + 1)
}}
            of {{ state.totalRecords }} Records
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="campaignsAssignedToMeTableJson['columns'].length">
                No data found.
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
      <div class="no-data-label" *ngIf="noTableData">
        No data found
      </div>
    </div>
  </div>
  <!-- ------------------------- Table 2 Component End ------------------------- -->

  <p class="page-title">Which Line Items are ending today and in next 3 days?</p>
  <div [hidden]="noTableData" class="mt-3 mb-3 fr-payout-table" *ngIf="displayAggTable">

    <p-treeTable #ttRev3601 [value]="endingLineItemTableData" [columns]="endingLineItemTableJson['selectedColumns']"
      [paginator]="true" [rows]="endingLineItemTableJson['page_size']"
      [totalRecords]="endingLineItemTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
      [lazy]="endingLineItemTableJson['lazy']" [loading]="endingLineItemTableJson['loading']"
      [sortMode]="endingLineItemTableJson['sortMode']" [resizableColumns]="endingLineItemTableJson['resizableColumns']"
      [columnResizeMode]="endingLineItemTableJson['columnResizeMode']"
      [reorderableColumns]="endingLineItemTableJson['reorderableColumns']"
      [frozenColumns]="endingLineItemTableJson['frozenCols']" [frozenWidth]="endingLineItemTableJson['frozenWidth']"
      [scrollable]="endingLineItemTableJson['scrollable']" [scrollHeight]="endingLineItemTableJson['scrollHeight']"
      [selectionMode]="endingLineItemTableJson['selectionMode']"
      [(selection)]="endingLineItemTableJson['selectedColsModal']"
      [dataKey]="endingLineItemTableJson['selectionDataKey']"
      [metaKeySelection]="endingLineItemTableJson['metaKeySelection']" [style]="{ width: '100%' }">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div *ngIf="endingLineItemTableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="endingLineItemTableJson['columns']"
            [(ngModel)]="endingLineItemTableJson['selectedColumns']" optionLabel="displayName" maxSelectedLabels="1"
            selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns">
          </p-multiSelect>
        </div>

      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}

            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
            </p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="endingLineItemTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input ymInput pInputText type="text" [style.visibility]="
           col['options']['colSearch'] ? 'visible' : 'hidden'
         " (input)="
           ttRev3601.filter(
             $event.target.value,
             col.field,
             col.filterMatchMode
           )
         " />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->


      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" [title]="
           rowData[col.field] | formatNum: col.format:col.formatConfig
         ">
            <span>
              {{
             rowData[col.field] | formatNum: col.format:col.formatConfig
           }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
   state.rows * (state.page + 1) > state.totalRecords
     ? state.totalRecords
     : state.rows * (state.page + 1)
 }}
        of {{ state.totalRecords }} Records
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="endingLineItemTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">
    No data found
  </div>

  <p class="page-title">Which Line Items are starting today and in next 3 days?</p>
  <div [hidden]="noTableData" class="mt-3 mb-3 fr-payout-table" *ngIf="displayAggTable">

    <p-treeTable #ttRev3601 [value]="startingLineItemTableData" [columns]="startingLineItemTableJson['selectedColumns']"
      [paginator]="true" [rows]="startingLineItemTableJson['page_size']"
      [totalRecords]="startingLineItemTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
      [lazy]="startingLineItemTableJson['lazy']" [loading]="startingLineItemTableJson['loading']"
      [sortMode]="startingLineItemTableJson['sortMode']"
      [resizableColumns]="startingLineItemTableJson['resizableColumns']"
      [columnResizeMode]="startingLineItemTableJson['columnResizeMode']"
      [reorderableColumns]="startingLineItemTableJson['reorderableColumns']"
      [frozenColumns]="startingLineItemTableJson['frozenCols']" [frozenWidth]="startingLineItemTableJson['frozenWidth']"
      [scrollable]="startingLineItemTableJson['scrollable']" [scrollHeight]="startingLineItemTableJson['scrollHeight']"
      [selectionMode]="startingLineItemTableJson['selectionMode']"
      [(selection)]="startingLineItemTableJson['selectedColsModal']"
      [dataKey]="startingLineItemTableJson['selectionDataKey']"
      [metaKeySelection]="startingLineItemTableJson['metaKeySelection']" [style]="{ width: '100%' }">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div *ngIf="startingLineItemTableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="startingLineItemTableJson['columns']"
            [(ngModel)]="startingLineItemTableJson['selectedColumns']" optionLabel="displayName" maxSelectedLabels="1"
            selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns">
          </p-multiSelect>
        </div>

      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}

            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
            </p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="startingLineItemTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input ymInput pInputText type="text" [style.visibility]="
           col['options']['colSearch'] ? 'visible' : 'hidden'
         " (input)="
           ttRev3601.filter(
             $event.target.value,
             col.field,
             col.filterMatchMode
           )
         " />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->


      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" [title]="
           rowData[col.field] | formatNum: col.format:col.formatConfig
         ">
            <span>
              {{
             rowData[col.field] | formatNum: col.format:col.formatConfig
           }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
   state.rows * (state.page + 1) > state.totalRecords
     ? state.totalRecords
     : state.rows * (state.page + 1)
 }}
        of {{ state.totalRecords }} Records
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="startingLineItemTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">
    No data found
  </div>


  <div class="p-grid">
    <div class="p-col-6">
      <p class="page-title"> Which are my top performing campaigns based on VCR?</p>
      <div [hidden]="noTableData" class="mt-3 mb-3 fr-payout-table" *ngIf="displayAggTable">

        <p-treeTable #ttRev3601 [value]="campaignVCRTableData" [columns]="campaignVCRTableJson['selectedColumns']"
          [paginator]="true" [rows]="campaignVCRTableJson['page_size']"
          [totalRecords]="campaignVCRTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
          [lazy]="campaignVCRTableJson['lazy']" [loading]="campaignVCRTableJson['loading']"
          [sortMode]="campaignVCRTableJson['sortMode']" [resizableColumns]="campaignVCRTableJson['resizableColumns']"
          [columnResizeMode]="campaignVCRTableJson['columnResizeMode']"
          [reorderableColumns]="campaignVCRTableJson['reorderableColumns']"
          [frozenColumns]="campaignVCRTableJson['frozenCols']" [frozenWidth]="campaignVCRTableJson['frozenWidth']"
          [scrollable]="campaignVCRTableJson['scrollable']" [scrollHeight]="campaignVCRTableJson['scrollHeight']"
          [selectionMode]="campaignVCRTableJson['selectionMode']"
          [(selection)]="campaignVCRTableJson['selectedColsModal']" [dataKey]="campaignVCRTableJson['selectionDataKey']"
          [metaKeySelection]="campaignVCRTableJson['metaKeySelection']" [style]="{ width: '100%' }">
          <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

          <ng-template pTemplate="caption">
            <!-- <div
    *ngIf="campaignVCRTableJson['showHideCols']"
    style="text-align: left; float: left; display: inline-block;"
  >
    <p-multiSelect
      [options]="campaignVCRTableJson['columns']"
      [(ngModel)]="campaignVCRTableJson['selectedColumns']"
      optionLabel="displayName"
      maxSelectedLabels="1"
      selectedItemsLabel="{0} columns selected"
      [style]="{ minWidth: '200px' }"
      defaultLabel="Choose Columns"
    ></p-multiSelect>
  </div> -->

            <div style="text-align: left; float: left; display: inline-block;">
              <span (click)="campaignVCRLoadTableData()" class="btn-link d-inline">Campaigns</span> / {{campaign}}
            </div>

          </ng-template>

          <!-- ------------------------- For frozen columns -------------------------- -->

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
            </colgroup>
          </ng-template>

          <!-- ------------------------------- Header -------------------------------- -->

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                [ttResizableColumnDisabled]="!col['options']['resizable']"
                [ttReorderableColumnDisabled]="!col['options']['movable']">
                {{ col.displayName }}

                <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
                </p-treeTableSortIcon>
              </th>
            </tr>
            <tr *ngIf="campaignVCRTableJson['columnSearch']">
              <ng-container *ngFor="let col of columns">
                <th *ngIf="isHiddenColumn(col)">
                  <input ymInput pInputText type="text" [style.visibility]="
            col['options']['colSearch'] ? 'visible' : 'hidden'
          " (input)="
            ttRev3601.filter(
              $event.target.value,
              col.field,
              col.filterMatchMode
            )
          " />
                </th>
              </ng-container>
            </tr>
          </ng-template>

          <!-- -------------------------------- Body --------------------------------- -->


          <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr>
              <td *ngFor="let col of columns; let i = index" [title]="
            rowData[col.field] | formatNum: col.format:col.formatConfig
          ">
                <span *ngIf="col.field == 'CID'" (click)="campaignVCROnCIDLoadTableData(rowData)"
                  class="btn-link d-inline">
                  {{
            rowData[col.field] | formatNum: col.format:col.formatConfig
          }}
                </span>
                <span *ngIf="!(col.field == 'CID')">
                  {{
            rowData[col.field] | formatNum: col.format:col.formatConfig
          }}
                </span>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft" let-state>
            Showing {{ state.page * state.rows + 1 }} to
            {{
    state.rows * (state.page + 1) > state.totalRecords
      ? state.totalRecords
      : state.rows * (state.page + 1)
  }}
            of {{ state.totalRecords }} Records
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="campaignVCRTableJson['columns'].length">
                No data found.
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
      <div class="no-data-label" *ngIf="noTableData">
        No data found
      </div>
    </div>
    <div class="p-col-6">
      <p class="page-title"> Which are my top performing campaigns based on CTR?</p>
      <div [hidden]="noTableData" class="mt-3 mb-3 fr-payout-table" *ngIf="displayAggTable">

        <p-treeTable #ttRev3601 [value]="campaignCTRTableData" [columns]="campaignCTRTableJson['selectedColumns']"
          [paginator]="true" [rows]="campaignCTRTableJson['page_size']"
          [totalRecords]="campaignCTRTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
          [lazy]="campaignCTRTableJson['lazy']" [loading]="campaignCTRTableJson['loading']"
          [sortMode]="campaignCTRTableJson['sortMode']" [resizableColumns]="campaignCTRTableJson['resizableColumns']"
          [columnResizeMode]="campaignCTRTableJson['columnResizeMode']"
          [reorderableColumns]="campaignCTRTableJson['reorderableColumns']"
          [frozenColumns]="campaignCTRTableJson['frozenCols']" [frozenWidth]="campaignCTRTableJson['frozenWidth']"
          [scrollable]="campaignCTRTableJson['scrollable']" [scrollHeight]="campaignCTRTableJson['scrollHeight']"
          [selectionMode]="campaignCTRTableJson['selectionMode']"
          [(selection)]="campaignCTRTableJson['selectedColsModal']" [dataKey]="campaignCTRTableJson['selectionDataKey']"
          [metaKeySelection]="campaignCTRTableJson['metaKeySelection']" [style]="{ width: '100%' }">
          <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

          <ng-template pTemplate="caption">
            <!-- <div
    *ngIf="campaignCTRTableJson['showHideCols']"
    style="text-align: left; float: left; display: inline-block;"
  >
    <p-multiSelect
      [options]="campaignCTRTableJson['columns']"
      [(ngModel)]="campaignCTRTableJson['selectedColumns']"
      optionLabel="displayName"
      maxSelectedLabels="1"
      selectedItemsLabel="{0} columns selected"
      [style]="{ minWidth: '200px' }"
      defaultLabel="Choose Columns"
    ></p-multiSelect>
  </div> -->
            <div style="text-align: left; float: left; display: inline-block;">
              <span (click)="campaignCTRLoadTableData()" class="btn-link d-inline">Campaigns</span> / {{campaign}}
            </div>

          </ng-template>

          <!-- ------------------------- For frozen columns -------------------------- -->

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
            </colgroup>
          </ng-template>

          <!-- ------------------------------- Header -------------------------------- -->

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                [ttResizableColumnDisabled]="!col['options']['resizable']"
                [ttReorderableColumnDisabled]="!col['options']['movable']">
                {{ col.displayName }}

                <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
                </p-treeTableSortIcon>
              </th>
            </tr>
            <tr *ngIf="campaignCTRTableJson['columnSearch']">
              <ng-container *ngFor="let col of columns">
                <th *ngIf="isHiddenColumn(col)">
                  <input ymInput pInputText type="text" [style.visibility]="
            col['options']['colSearch'] ? 'visible' : 'hidden'
          " (input)="
            ttRev3601.filter(
              $event.target.value,
              col.field,
              col.filterMatchMode
            )
          " />
                </th>
              </ng-container>
            </tr>
          </ng-template>

          <!-- -------------------------------- Body --------------------------------- -->


          <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr>
              <td *ngFor="let col of columns; let i = index" [title]="
            rowData[col.field] | formatNum: col.format:col.formatConfig
          ">
                <span *ngIf="col.field == 'CID'" (click)="campaignCTROnCIDLoadTableData(rowData)"
                  class="btn-link d-inline">
                  {{
              rowData[col.field] | formatNum: col.format:col.formatConfig
            }}
                </span>
                <span *ngIf="!(col.field == 'CID')">
                  {{
              rowData[col.field] | formatNum: col.format:col.formatConfig
            }}
                </span>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft" let-state>
            Showing {{ state.page * state.rows + 1 }} to
            {{
    state.rows * (state.page + 1) > state.totalRecords
      ? state.totalRecords
      : state.rows * (state.page + 1)
  }}
            of {{ state.totalRecords }} Records
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="campaignCTRTableJson['columns'].length">
                No data found.
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
      <div class="no-data-label" *ngIf="noTableData">
        No data found
      </div>

    </div>
  </div>




  <p class="page-title">Campaigns Pacing Ahead</p>
  <div [hidden]="noTableData" class="mt-3 mb-3 fr-payout-table" *ngIf="displayAggTable">

    <p-treeTable #ttRev3601 [value]="campaignPacingAheadTableData"
      [columns]="campaignPacingAheadTableJson['selectedColumns']" [paginator]="true"
      [rows]="campaignPacingAheadTableJson['page_size']" [totalRecords]="campaignPacingAheadTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="campaignPacingAheadTableJson['lazy']"
      [loading]="campaignPacingAheadTableJson['loading']" [sortMode]="campaignPacingAheadTableJson['sortMode']"
      [resizableColumns]="campaignPacingAheadTableJson['resizableColumns']"
      [columnResizeMode]="campaignPacingAheadTableJson['columnResizeMode']"
      [reorderableColumns]="campaignPacingAheadTableJson['reorderableColumns']"
      [frozenColumns]="campaignPacingAheadTableJson['frozenCols']"
      [frozenWidth]="campaignPacingAheadTableJson['frozenWidth']"
      [scrollable]="campaignPacingAheadTableJson['scrollable']"
      [scrollHeight]="campaignPacingAheadTableJson['scrollHeight']"
      [selectionMode]="campaignPacingAheadTableJson['selectionMode']"
      [(selection)]="campaignPacingAheadTableJson['selectedColsModal']"
      [dataKey]="campaignPacingAheadTableJson['selectionDataKey']"
      [metaKeySelection]="campaignPacingAheadTableJson['metaKeySelection']" [style]="{ width: '100%' }">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div *ngIf="campaignPacingAheadTableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="campaignPacingAheadTableJson['columns']"
            [(ngModel)]="campaignPacingAheadTableJson['selectedColumns']" optionLabel="displayName"
            maxSelectedLabels="1" selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }"
            defaultLabel="Choose Columns"></p-multiSelect>
        </div>

      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}

            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
            </p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="campaignPacingAheadTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input ymInput pInputText type="text" [style.visibility]="
           col['options']['colSearch'] ? 'visible' : 'hidden'
         " (input)="
           ttRev3601.filter(
             $event.target.value,
             col.field,
             col.filterMatchMode
           )
         " />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->


      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" [title]="
           rowData[col.field] | formatNum: col.format:col.formatConfig
         ">
            <span>
              {{
             rowData[col.field] | formatNum: col.format:col.formatConfig
           }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
   state.rows * (state.page + 1) > state.totalRecords
     ? state.totalRecords
     : state.rows * (state.page + 1)
 }}
        of {{ state.totalRecords }} Records
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="campaignPacingAheadTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">
    No data found
  </div>


  <p class="page-title">Campaigns Pacing Behind</p>
  <div [hidden]="noTableData" class="mt-3 mb-3 fr-payout-table" *ngIf="displayAggTable">

    <p-treeTable #ttRev3601 [value]="campaignPacingBehindTableData"
      [columns]="campaignPacingBehindTableJson['selectedColumns']" [paginator]="true"
      [rows]="campaignPacingBehindTableJson['page_size']" [totalRecords]="campaignPacingBehindTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="campaignPacingBehindTableJson['lazy']"
      [loading]="campaignPacingBehindTableJson['loading']" [sortMode]="campaignPacingBehindTableJson['sortMode']"
      [resizableColumns]="campaignPacingBehindTableJson['resizableColumns']"
      [columnResizeMode]="campaignPacingBehindTableJson['columnResizeMode']"
      [reorderableColumns]="campaignPacingBehindTableJson['reorderableColumns']"
      [frozenColumns]="campaignPacingBehindTableJson['frozenCols']"
      [frozenWidth]="campaignPacingBehindTableJson['frozenWidth']"
      [scrollable]="campaignPacingBehindTableJson['scrollable']"
      [scrollHeight]="campaignPacingBehindTableJson['scrollHeight']"
      [selectionMode]="campaignPacingBehindTableJson['selectionMode']"
      [(selection)]="campaignPacingBehindTableJson['selectedColsModal']"
      [dataKey]="campaignPacingBehindTableJson['selectionDataKey']"
      [metaKeySelection]="campaignPacingBehindTableJson['metaKeySelection']" [style]="{ width: '100%' }">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div *ngIf="campaignPacingBehindTableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="campaignPacingBehindTableJson['columns']"
            [(ngModel)]="campaignPacingBehindTableJson['selectedColumns']" optionLabel="displayName"
            maxSelectedLabels="1" selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }"
            defaultLabel="Choose Columns"></p-multiSelect>
        </div>

      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}

            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
            </p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="campaignPacingBehindTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input ymInput pInputText type="text" [style.visibility]="
           col['options']['colSearch'] ? 'visible' : 'hidden'
         " (input)="
           ttRev3601.filter(
             $event.target.value,
             col.field,
             col.filterMatchMode
           )
         " />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->


      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" [title]="
           rowData[col.field] | formatNum: col.format:col.formatConfig
         ">
            <span>
              {{
             rowData[col.field] | formatNum: col.format:col.formatConfig
           }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
   state.rows * (state.page + 1) > state.totalRecords
     ? state.totalRecords
     : state.rows * (state.page + 1)
 }}
        of {{ state.totalRecords }} Records
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="campaignPacingBehindTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">
    No data found
  </div>

</div>