.compaign
{
    margin-top: -1%;
}
edit-role-footer{
    text-align: right;
}

.edit-role-button{
    width: auto;
    float: right;
    margin: 2px;
}

.is-invalid {
    border-color: #dc3545 !important;
  }
  
  .invalid-feedback {
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }

  p-panel .showCompaign .ui-panel .ui-panel-titlebar-icon {
    float: left !important;
    margin-top: -7.3% !important;
  }

      .field-container {
        margin-top: 1.5rem!important;
    }

    .disable-field
    {
      border-bottom: none !important;
    }
    .p-grid{
      display: inline-block !important;
  }