img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 10px;
}
.user-name {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
}

.icon-class {
  text-align: center;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}
