.p-grid {
  margin-top: 5px;
}

span {
  margin-bottom: 5px;
  font-weight: bold;
}

form {
  padding: 0;
}

.is-invalid {
  border-color: #dc3545 !important;
}

.invalid-feedback {
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

button {
  width: auto !important;
}

ym-team-resources {
  float: left;
  display: flex;
}
body .ui-message.ui-message-error{
  display : inline !important;
}

.delete-metric{
 visibility: hidden;
 z-index: 1;
}

:hover .delete-metric
{
  visibility: visible;
}
body .ui-accordion .ui-accordion-content {
  overflow: auto !important;
}
body .ui-card{
  display: flow-root !important;
}
.ui-card.ui-widget.ui-widget-content.ui-corner-all{
  margin: 5px 0px 0px 0px;
}
p-card.ng-tns-c100-60{
  display: contents;
}