<div >
  <div class="p-col-12" *ngIf="isKpi && !isCpr">
    <p-tabView (onChange)="tabChanged($event)">
      <p-tabPanel [selected]="true" header="Pacing">
        <div style="padding: 2%">

          <div class="row" style="margin-bottom: 2%">
            <div class="col-2">
              <label for="min">Primary Goal</label>
            </div>
            <div class="col-10">
              <p-dropdown appendTo="body" [options]="statusLists" 
               [style]="{ width: '27%' }"
              placeholder="Select Primary Goal"></p-dropdown>

            </div>
          </div>

          <div class="row" style="margin-bottom: 2%">
            <div class="col-2">
              <label for="min">Min(%)</label>
            </div>
            <div class="col-10">
              <input type="text" pInputText style="width: 27%" />
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label for="min">Max(%)</label>
            </div>
            <div class="col-10">
              <input type="text" pInputText style="width: 27%" />
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Performance">
        <div style="padding: 2%">
          <div class="row" style="margin-top: 1%">
            <div class="col-2">
              <label for=""><b> KPIs</b></label>
            </div>
            <div class="col-3">
              <label for=""><b>Min</b></label>
            </div>
            <div class="col-3">
              <label for=""><b>Max</b></label>
            </div>
          </div>

          <div class="row" style="margin-top: 1%">
            <div class="col-2">
              <label for="">Clicks</label>
            </div>
            <div class="col-3">
              <input type="text" pInputText style="width: 90%" />
            </div>
            <div class="col-3">
              <input type="text" pInputText style="width: 90%" />
            </div>
          </div>

          <div class="row" style="margin-top: 1%">
            <div class="col-2">
              <label for="">Conversions</label>
            </div>
            <div class="col-3">
              <input type="text" pInputText style="width: 90%" />
            </div>
            <div class="col-3">
              <input type="text" pInputText style="width: 90%" />
            </div>
          </div>

          <div class="row" style="margin-top: 1%">
            <div class="col-2">
              <label for="">Downloads</label>
            </div>
            <div class="col-3">
              <input type="text" pInputText style="width: 90%" />
            </div>
            <div class="col-3">
              <input type="text" pInputText style="width: 90%" />
            </div>
          </div>

          <div class="row" style="margin-top: 1%">
            <div class="col-2">
              <label for="">Leads</label>
            </div>
            <div class="col-3">
              <input type="text" pInputText style="width: 90%" />
            </div>
            <div class="col-3">
              <input type="text" pInputText style="width: 90%" />
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Change History">
        <table style="width: 100%">
          <tr>
            <th>Field</th>
            <th>Previous State</th>
            <th>Current State</th>
          </tr>
          <tr>
            <td colspan="3" style="background: #f4f4f4;">
              Changed by: padamsinh@yuktamedia.com on 12/07/2020 05.27PM EST
            </td>
          </tr>
          <tr>
            <td>Capaign Name</td>
            <td>{{campaignName}}</td>
            <td>Toyota Q3-Q4 2020</td>
          </tr>
          <tr>
            <td>Creative</td>
            <td>Mobile-300X250</td>
            <td>Mobile_300x50</td>
          </tr>
          <tr>
            <td>Line item</td>
            <td>Mobile_ROW_AllSites</td>
            <td>Mobile_ROW_All_Sites</td>
          </tr>
          <tr>
            <td colspan="3" style="background: #f4f4f4;">
              Changed by: vaibhav@yuktamedia.com on 12/02/2020 01.34 PM EST
            </td>
          </tr>
          <tr>
            <td>IO Goal</td>
            <td>25,000</td>
            <td>75,000</td>
          </tr>
          <tr>
            <td>Priority</td>
            <td>High</td>
            <td>Medium</td>
          </tr>
          <tr>
            <td>Ad Unit</td>
            <td>Android_ROW</td>
            <td>Android_US</td>
          </tr>
          <tr></tr>
        </table>
      </p-tabPanel>
    </p-tabView>
  </div>

  <div *ngIf="!isKpi && !isCpr">
    <p-tabView (onChange)="tabChanged($event)">
      <p-tabPanel [selected]="true" header="Pacing">
    <div class="p-col-12 cpr-popup-table">
      <p-treeTable
        #tt
        [value]="tableData"
        [columns]="tableJson['selectedColumns']"
        [paginator]="true"
        [rows]="tableJson['page_size']"
        [totalRecords]="tableJson['totalRecords']"
        [rowsPerPageOptions]="[10, 20, 50, 100]"
        [lazy]="tableJson['lazy']"
        [loading]="tableJson['loading']"
        [sortMode]="tableJson['sortMode']"
        [resizableColumns]="tableJson['resizableColumns']"
        [columnResizeMode]="tableJson['columnResizeMode']"
        [reorderableColumns]="tableJson['reorderableColumns']"
        [frozenColumns]="tableJson['frozenCols']"
        [frozenWidth]="tableJson['frozenWidth']"
        [scrollable]="tableJson['scrollable']"
        [scrollHeight]="tableJson['scrollHeight']"
        [selectionMode]="tableJson['selectionMode']"
        [(selection)]="tableJson['selectedColsModal']"
        [dataKey]="tableJson['selectionDataKey']"
        [metaKeySelection]="tableJson['metaKeySelection']"
        [style]="{ width: '100%' }"
      >
        <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

        <ng-template pTemplate="caption">
          <div
            *ngIf="tableJson['showHideCols']"
            style="text-align: left; float: left; display: inline-block"
          >
          </div>
          <div style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2">
          <i class="fas fa-sync-alt" title="Refresh recommendations" aria-hidden="true" (click)="getTableData()"></i> Refresh
        </div>
  
            <p-multiSelect
              [options]="tableJson['columns']"
              [(ngModel)]="tableJson['selectedColumns']"
              optionLabel="displayName"
              maxSelectedLabels="1"
              selectedItemsLabel="{0} columns selected"
              [style]="{ minWidth: '200px', float : 'left' }"
              defaultLabel="Choose Columns"
            ></p-multiSelect>
          <!-- </div> -->
          <div
            *ngIf="isExportReport && tableJson['export']"
            style="text-align: left; float: right; display: inline-block"
          >
            <div data-html2canvas-ignore class="dropdown">
              <span
                class="dropdown-toggle"
                style="cursor: pointer"
                id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true"
                title="Export to Excel/CSV/JSON"
                aria-expanded="true"
              >
                <i
                  title="Export to Excel/CSV/JSON"
                  class="fas fa-download share-icon"
                  id="dropdownMenu1"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true"
                >
                  <span class="caret"></span> </i
                >&nbsp;&nbsp;Export</span
              >
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="exportTablePopup('Excel')">
                  Excel
                </a>
                <a class="dropdown-item" (click)="exportTablePopup('CSV')">
                  CSV
                </a>
                <!-- <a class="dropdown-item" (click)="exportTablePopup('JSON')">
                  JSON
                </a> -->
              </div>
            </div>
          </div>
          <div
            *ngIf="tableJson['overallSearch']"
            style="text-align: right; float: right; display: inline-block"
          >
            <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
            <input
              ymInput
              pInputText
              type="text"
              size="50"
              placeholder="Search All"
              (input)="tt.filterGlobal($event.target.value, 'contains')"
              style="width: auto"
            />
          </div>
        </ng-template>

        <!-- ------------------------------- Header -------------------------------- -->

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              *ngFor="let col of columns; let i = index"
              [ttSortableColumn]="col.field"
              ttResizableColumn
              ttReorderableColumn
              [ttSortableColumnDisabled]="!col['options']['colSort']"
              [ttResizableColumnDisabled]="!col['options']['resizable']"
              [ttReorderableColumnDisabled]="!col['options']['movable']"
            >
              {{ col.displayName }}
              <p-treeTableSortIcon
                [field]="col.field"
                *ngIf="col['options']['colSort']"
              ></p-treeTableSortIcon>
            </th>
          </tr>
          <tr *ngIf="tableJson['columnSearch']">
            <ng-container *ngFor="let col of columns">
              <th *ngIf="isHiddenColumn(col)">
                <input
                  ymInput
                  pInputText
                  type="text"
                  [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  "
                  (input)="
                    tt.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  "
                />
              </th>
            </ng-container>
          </tr>
        </ng-template>

        <!-- ------------------------- For frozen columns -------------------------- -->

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col
              *ngFor="let col of columns"
              [ngStyle]="{ width: col['width'] + 'px' }"
            />
          </colgroup>
        </ng-template>

        <!-- -------------------------------- Body --------------------------------- -->

        <ng-template
          pTemplate="body"
          let-rowNode
          let-rowData="rowData"
          let-columns="columns"
        >
          <tr>
            <td
              *ngFor="let col of columns; let i = index"
              ttEditableColumn
              [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              "
            >
              <p-treeTableCellEditor *ngIf="col['options']['editable']">
                <ng-template pTemplate="input">
                  <input
                    ymInput
                    pInputText
                    type="text"
                    [(ngModel)]="rowData[col.field]"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                  />
                </ng-template>
                <ng-template pTemplate="output">

                  {{
                    rowData[col.field] | formatNum: col.format:col.formatConfig
                  }}
                  <!-- | formatNumPipe: col.format:col.formatConfig -->
                </ng-template>
              </p-treeTableCellEditor>
              <span *ngIf="
              !col['options']['editable'] &&
              col.field != 'comments' &&
              col.field != 'apply' &&
              col.field != 'reject'
            ">
              {{
                rowData[col.field] | formatNum: col.format:col.formatConfig
              }}
              </span>
              <span *ngIf="col.field == 'comments'" (click)="addComment(rowData)" class="link-style-icon">
                <i class="far fa-comments"></i>
              </span>
              <span *ngIf="col.field == 'apply'" (click)="addComment(rowData)" class="link-style-icon">
                <!-- <i class="far fa-check-square"></i> -->
                <button
                style="    color: #fff;
                background: #34a835;
                border: 1px solid #34a835;"
                pButton
                type="button"
                label="Apply"
                class="ui-button-rounded ui-button-success"
              ></button>

              </span>
              <span *ngIf="col.field == 'reject'" (click)="addComment(rowData)" class="link-style-icon">
                <!-- <i class="far fa-window-close"></i>              </span>
                 -->

                 <button
                 style="    color: #fff;
                 background-color: #f44336;
                 border: 1px solid #f44336;"
                 pButton
                 type="button"
                 label="Reject"
                 class="ui-button-rounded ui-button-success"
               ></button>
              </span>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft" let-state>
          Showing {{ state.page * state.rows + 1 }} to
          {{
            state.rows * (state.page + 1) > state.totalRecords
              ? state.totalRecords
              : state.rows * (state.page + 1)
          }}
          of {{ state.totalRecords }} Records
        </ng-template>

        <!-- ----------------------------- Frozen Body ----------------------------- -->
        <!-- ------------------- Message to show for empty Data -------------------- -->

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="tableJson['columns'].length">No data found.</td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
    </p-tabPanel>
    <p-tabPanel header="Performance">
      <div class="p-col-12 cpr-popup-table">
        <p-treeTable
          #tt
          [value]="tableData"
          [columns]="tableJson['selectedColumns']"
          [paginator]="true"
          [rows]="tableJson['page_size']"
          [totalRecords]="tableJson['totalRecords']"
          [rowsPerPageOptions]="[10, 20, 50, 100]"
          [lazy]="tableJson['lazy']"
          [loading]="tableJson['loading']"
          [sortMode]="tableJson['sortMode']"
          [resizableColumns]="tableJson['resizableColumns']"
          [columnResizeMode]="tableJson['columnResizeMode']"
          [reorderableColumns]="tableJson['reorderableColumns']"
          [frozenColumns]="tableJson['frozenCols']"
          [frozenWidth]="tableJson['frozenWidth']"
          [scrollable]="tableJson['scrollable']"
          [scrollHeight]="tableJson['scrollHeight']"
          [selectionMode]="tableJson['selectionMode']"
          [(selection)]="tableJson['selectedColsModal']"
          [dataKey]="tableJson['selectionDataKey']"
          [metaKeySelection]="tableJson['metaKeySelection']"
          [style]="{ width: '100%' }"
        >
          <!-- ----------------- Global Search and columns Show/Hide ----------------- -->
  
          <ng-template pTemplate="caption">
            <div
              *ngIf="tableJson['showHideCols']"
              style="text-align: left; float: left; display: inline-block"
            >
            </div>
            <div style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2">
          <i class="fas fa-sync-alt" title="Refresh recommendations" aria-hidden="true" (click)="getTableData()"></i> Refresh
        </div>
              <p-multiSelect
                [options]="tableJson['columns']"
                [(ngModel)]="tableJson['selectedColumns']"
                optionLabel="displayName"
                maxSelectedLabels="1"
                selectedItemsLabel="{0} columns selected"
                [style]="{ minWidth: '200px', float:'left' }"
                defaultLabel="Choose Columns"
              ></p-multiSelect>
            <!-- </div> -->
            <div
              *ngIf="isExportReport && tableJson['export']"
              style="text-align: left; float: right; display: inline-block"
            >
              <div data-html2canvas-ignore class="dropdown">
                <span
                  class="dropdown-toggle"
                  style="cursor: pointer"
                  id="dropdownMenu1"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  title="Export to Excel/CSV/JSON"
                  aria-expanded="true"
                >
                  <i
                    title="Export to Excel/CSV/JSON"
                    class="fas fa-download share-icon"
                    id="dropdownMenu1"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true"
                  >
                    <span class="caret"></span> </i
                  >&nbsp;&nbsp;Export</span
                >
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="exportTablePopup('Excel')">
                    Excel
                  </a>
                  <a class="dropdown-item" (click)="exportTablePopup('CSV')">
                    CSV
                  </a>
                  <!-- <a class="dropdown-item" (click)="exportTablePopup('JSON')">
                    JSON
                  </a> -->
                </div>
              </div>
            </div>
            <div
              *ngIf="tableJson['overallSearch']"
              style="text-align: right; float: right; display: inline-block"
            >
              <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
              <input
                ymInput
                pInputText
                type="text"
                size="50"
                placeholder="Search All"
                (input)="tt.filterGlobal($event.target.value, 'contains')"
                style="width: auto"
              />
            </div>
          </ng-template>
  
          <!-- ------------------------------- Header -------------------------------- -->
  
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th
                *ngFor="let col of columns; let i = index"
                [ttSortableColumn]="col.field"
                ttResizableColumn
                ttReorderableColumn
                [ttSortableColumnDisabled]="!col['options']['colSort']"
                [ttResizableColumnDisabled]="!col['options']['resizable']"
                [ttReorderableColumnDisabled]="!col['options']['movable']"
              >
                {{ col.displayName }}
                <p-treeTableSortIcon
                  [field]="col.field"
                  *ngIf="col['options']['colSort']"
                ></p-treeTableSortIcon>
              </th>
            </tr>
            <tr *ngIf="tableJson['columnSearch']">
              <ng-container *ngFor="let col of columns">
                <th *ngIf="isHiddenColumn(col)">
                  <input
                    ymInput
                    pInputText
                    type="text"
                    [style.visibility]="
                      col['options']['colSearch'] ? 'visible' : 'hidden'
                    "
                    (input)="
                      tt.filter(
                        $event.target.value,
                        col.field,
                        col.filterMatchMode
                      )
                    "
                  />
                </th>
              </ng-container>
            </tr>
          </ng-template>
  
          <!-- ------------------------- For frozen columns -------------------------- -->
  
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col
                *ngFor="let col of columns"
                [ngStyle]="{ width: col['width'] + 'px' }"
              />
            </colgroup>
          </ng-template>
  
          <!-- -------------------------------- Body --------------------------------- -->
  
          <ng-template
            pTemplate="body"
            let-rowNode
            let-rowData="rowData"
            let-columns="columns"
          >
            <tr>
              <td
                *ngFor="let col of columns; let i = index"
                ttEditableColumn
                [title]="
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                "
              >
                <p-treeTableCellEditor *ngIf="col['options']['editable']">
                  <ng-template pTemplate="input">
                    <input
                      ymInput
                      pInputText
                      type="text"
                      [(ngModel)]="rowData[col.field]"
                      [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
  
                    {{
                      rowData[col.field] | formatNum: col.format:col.formatConfig
                    }}
                    <!-- | formatNumPipe: col.format:col.formatConfig -->
                  </ng-template>
                </p-treeTableCellEditor>
                <span *ngIf="
                !col['options']['editable'] &&
                col.field != 'comments' &&
                col.field != 'apply' &&
                col.field != 'reject'
              ">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
                </span>
                <span *ngIf="col.field == 'comments'" (click)="addComment(rowData)" class="link-style-icon">
                  <i class="far fa-comments"></i>
                </span>
                <span *ngIf="col.field == 'apply'" (click)="addComment(rowData)" class="link-style-icon">
                  <!-- <i class="far fa-check-square"></i> -->
                  <button
                  style="    
                  color: #fff;
                  background: #34a835;
                  border: 1px solid #34a835;"
                  pButton
                  type="button"
                  label="Apply"
                  class="ui-button-rounded ui-button-success"
                ></button>
              
                </span>
                <span *ngIf="col.field == 'reject'" (click)="addComment(rowData)" class="link-style-icon">
                  <!-- <i class="far fa-window-close"></i> -->
                  <button
                  style="    color: #fff;
                  background-color: #f44336;
                  border: 1px solid #f44336;
                "
                  pButton
                  type="button"
                  label="Reject"
                  class="ui-button-rounded ui-button-success"
                ></button>
 
                </span>
  
              </td>
            </tr>
          </ng-template>
  
          <ng-template pTemplate="paginatorleft" let-state>
            Showing {{ state.page * state.rows + 1 }} to
            {{
              state.rows * (state.page + 1) > state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            of {{ state.totalRecords }} Records
          </ng-template>
  
          <!-- ----------------------------- Frozen Body ----------------------------- -->
          <!-- ------------------- Message to show for empty Data -------------------- -->
  
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="tableJson['columns'].length">No data found.</td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </p-tabPanel>
    </p-tabView>
  </div>

  <div *ngIf="isCpr && !isKpi">
    <div class="p-grid">
      <div class="p-col-12">
        <p-tabView (onChange)="tabChanged($event)">
          <p-tabPanel
            [selected]="true"
            header="Daily Data Distribution"
            rightIcon="fas fa-table"
          >
            <div class="p-col-12 cpr-popup-table">
              <p-treeTable
                #tt
                [value]="tableData"
                [columns]="tableJson['selectedColumns']"
                [paginator]="true"
                [rows]="tableJson['page_size']"
                [totalRecords]="tableJson['totalRecords']"
                [rowsPerPageOptions]="[10, 20, 50, 100]"
                [lazy]="tableJson['lazy']"
                [loading]="tableJson['loading']"
                [sortMode]="tableJson['sortMode']"
                [resizableColumns]="tableJson['resizableColumns']"
                [columnResizeMode]="tableJson['columnResizeMode']"
                [reorderableColumns]="tableJson['reorderableColumns']"
                [frozenColumns]="tableJson['frozenCols']"
                [frozenWidth]="tableJson['frozenWidth']"
                [scrollable]="tableJson['scrollable']"
                [scrollHeight]="tableJson['scrollHeight']"
                [selectionMode]="tableJson['selectionMode']"
                [(selection)]="tableJson['selectedColsModal']"
                [dataKey]="tableJson['selectionDataKey']"
                [metaKeySelection]="tableJson['metaKeySelection']"
                [style]="{ width: '100%' }"
              >
                <!-- ----------------- Global Search and columns Show/Hide ----------------- -->
    
                <ng-template pTemplate="caption">
                  <div
                    *ngIf="tableJson['showHideCols']"
                    style="text-align: left; float: left; display: inline-block;"
                  >
                  </div>
                  <div style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2">
          <i class="fas fa-sync-alt" title="Refresh recommendations" aria-hidden="true" (click)="getTableData()"></i> Refresh
        </div>
                    <p-multiSelect
                      [options]="tableJson['columns']"
                      [(ngModel)]="tableJson['selectedColumns']"
                      optionLabel="displayName"
                      maxSelectedLabels="1"
                      selectedItemsLabel="{0} columns selected"
                      [style]="{ minWidth: '200px',float : 'left' }"
                      defaultLabel="Choose Columns"
                    ></p-multiSelect>
                  <!-- </div> -->
                  <div
                    *ngIf="isExportReport && tableJson['export']"
                    style="text-align: left; float: right; display: inline-block;">
                    <div data-html2canvas-ignore class="dropdown">
                      <span
                        class="dropdown-toggle"
                        style="cursor: pointer"
                        id="dropdownMenu1"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        title="Export to Excel/CSV/JSON"
                        aria-expanded="true"
                      >
                        <i
                          title="Export to Excel/CSV/JSON"
                          class="fas fa-download share-icon"
                          id="dropdownMenu1"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="true"
                        >
                          <span class="caret"></span> </i
                        >&nbsp;&nbsp;Export</span
                      >
                      <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton"
                      >
                        <a
                          class="dropdown-item"
                          (click)="exportTablePopup('Excel')"
                        >
                          Excel
                        </a>
                        <a class="dropdown-item" (click)="exportTablePopup('CSV')">
                          CSV
                        </a>
                        <!-- <a class="dropdown-item" (click)="exportTablePopup('JSON')">
                          JSON
                        </a> -->
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="tableJson['overallSearch']"
                    style="text-align: right; float: right; display: inline-block;"
                  >
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input
                      ymInput
                      pInputText
                      type="text"
                      size="50"
                      placeholder="Search All"
                      (input)="tt.filterGlobal($event.target.value, 'contains')"
                      style="width:auto"
                    />
                  </div>
                </ng-template>
    
                <!-- ------------------------------- Header -------------------------------- -->
    
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th
                      *ngFor="let col of columns; let i = index"
                      [ttSortableColumn]="col.field"
                      ttResizableColumn
                      ttReorderableColumn
                      [ttSortableColumnDisabled]="!col['options']['colSort']"
                      [ttResizableColumnDisabled]="!col['options']['resizable']"
                      [ttReorderableColumnDisabled]="!col['options']['movable']"
                    >
                      {{ col.displayName }}
                      <p-treeTableSortIcon
                        [field]="col.field"
                        *ngIf="col['options']['colSort']"
                      ></p-treeTableSortIcon>
                    </th>
                  </tr>
                  <tr *ngIf="tableJson['columnSearch']">
                    <ng-container *ngFor="let col of columns">
                      <th *ngIf="isHiddenColumn(col)">
                        <input
                          ymInput
                          pInputText
                          type="text"
                          [style.visibility]="
                            col['options']['colSearch'] ? 'visible' : 'hidden'
                          "
                          (input)="
                            tt.filter(
                              $event.target.value,
                              col.field,
                              col.filterMatchMode
                            )
                          "
                        />
                      </th>
                    </ng-container>
                  </tr>
                </ng-template>
    
                <!-- ------------------------- For frozen columns -------------------------- -->
    
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col
                      *ngFor="let col of columns"
                      [ngStyle]="{ width: col['width'] + 'px' }"
                    />
                  </colgroup>
                </ng-template>
    
                <!-- -------------------------------- Body --------------------------------- -->
    
                <ng-template
                  pTemplate="body"
                  let-rowNode
                  let-rowData="rowData"
                  let-columns="columns"
                >
                  <tr>
                    <td
                      *ngFor="let col of columns; let i = index"
                      ttEditableColumn
                      [title]="
                        rowData[col.field] | formatNum: col.format:col.formatConfig
                      "
                    >
                      <p-treeTableCellEditor *ngIf="col['options']['editable']">
                        <ng-template pTemplate="input">
                          <input
                            ymInput
                            pInputText
                            type="text"
                            [(ngModel)]="rowData[col.field]"
                            [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                          />
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{
                            rowData[col.field]
                              | formatNum: col.format:col.formatConfig
                          }}
                          <!-- | formatNumPipe: col.format:col.formatConfig -->
                        </ng-template>
                      </p-treeTableCellEditor>
                      <span *ngIf="!col['options']['editable']">
                        {{
                          rowData[col.field]
                            | formatNum: col.format:col.formatConfig
                        }}
                        <!-- | formatNumPipe: col.format:col.formatConfig -->
                      </span>
                    </td>
                  </tr>
                </ng-template>
    
                <ng-template pTemplate="paginatorleft" let-state>
                  Showing {{ state.page * state.rows + 1 }} to
                  {{
                    state.rows * (state.page + 1) > state.totalRecords
                      ? state.totalRecords
                      : state.rows * (state.page + 1)
                  }}
                  of {{ state.totalRecords }} Records
                </ng-template>
    
                <!-- ----------------------------- Frozen Body ----------------------------- -->
                <!-- ------------------- Message to show for empty Data -------------------- -->
    
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td [attr.colspan]="tableJson['columns'].length">
                      No data found.
                    </td>
                  </tr>
                </ng-template>
              </p-treeTable>
            </div>
          </p-tabPanel>
          <p-tabPanel
            header="Impressions Distribution Graphical (Line)"
            rightIcon="fas fa-chart-line"
          >
            <div class="p-col-12">
              <ym-charts
                *ngIf="showImpLineChart"
                [chartsJson]="impressionsChartJson"
              >
              </ym-charts>
            </div>
          </p-tabPanel>
          <p-tabPanel
            header="CTR Distribution Graphical (Line)"
            rightIcon="fas fa-chart-line"
          >
            <div class="p-col-12">
              <ym-charts *ngIf="showCTRLineChart" [chartsJson]="ctrChartJson">
              </ym-charts>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    

  </div>

</div>

<div class="ui-g-12" style="padding-left: 16px; float: right">
  <button
    style="float: right"
    pButton
    type="button"
    label="Save"
    class="ui-button-rounded ui-button-success"
  ></button>
  <button
    style="float: right"
    pButton
    type="button"
    label="Close"
    class="ui-button-rounded ui-button-secondary"
  ></button>
</div>
