<div class="change-password">
  <form [formGroup]="userform" (ngSubmit)="savePassword(userform.value)">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Old Password *
            </div>
            <div class="ui-grid-col-6">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"
                  ><i class="fas fa-key"></i
                ></span>
                <input
                  pPassword
                  [showPassword]="showPassword['old']"
                  type="password"
                  formControlName="oldpassword"
                  placeholder="Old Password"
                  [(ngModel)]="oldPassword"
                  [feedback] = false
                />
                <span class="ui-inputgroup-addon">
                  <i
                    [ngClass]="
                      showPassword['old'] ? 'far fa-eye' : 'far fa-eye-slash'
                    "
                    (click)="togglePassword('old')"
                  ></i>
                </span>
              </div>
            </div>
            <div class="ui-grid-col-4">
              <p-message
                severity="error"
                text="Old Password is required"
                *ngIf="
                  !userform.controls['oldpassword'].valid &&
                  userform.controls['oldpassword'].dirty
                "
              ></p-message>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              New Password *
            </div>
            <div class="ui-grid-col-6">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"
                  ><i class="fas fa-key"></i
                ></span>
                <input
                  pPassword
                  [showPassword]="showPassword['new']"
                  type="password"
                  formControlName="newpassword"
                  placeholder="New Password"
                  [(ngModel)]="newPassword"
                  (blur)="validateField(userform.controls.confirmpassword,userform.controls.newpassword)"
                />
                <span class="ui-inputgroup-addon">
                  <i
                    [ngClass]="
                      showPassword['new'] ? 'far fa-eye' : 'far fa-eye-slash'
                    "
                    (click)="togglePassword('new')"
                  ></i>
                </span>
              </div>
            </div>
            <div class="ui-grid-col-4">
              <p-message
                severity="error"
                text="New Password is required"
                *ngIf="
                  !userform.controls['newpassword'].valid &&
                  userform.controls['newpassword'].dirty
                "
              ></p-message>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Confirm Password *
            </div>
            <div class="ui-grid-col-6">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"
                  ><i class="fas fa-key"></i
                ></span>
                <input
                  pPassword
                  [showPassword]="showPassword['confirm']"
                  type="password"
                  formControlName="confirmpassword"
                  placeholder="Confirm Password"
                  [(ngModel)]="confirmPassword"
                  (blur)="validateField(userform.controls.confirmpassword,userform.controls.newpassword)"
                />
                <span class="ui-inputgroup-addon">
                  <i
                    [ngClass]="
                      showPassword['confirm']
                        ? 'far fa-eye'
                        : 'far fa-eye-slash'
                    "
                    (click)="togglePassword('confirm')"
                  ></i>
                </span>
              </div>
            </div>
            <div class="ui-grid-col-4" *ngIf="!userform.controls['confirmpassword'].valid &&  (userform.controls['confirmpassword'].dirty) && userform.controls['confirmpassword'].errors.required">
              <p-message severity="error" text="Confirm Password is required"></p-message>
            </div>
            <div class="ui-grid-col-4" *ngIf=" !userform.controls['confirmpassword'].valid &&  userform.controls['confirmpassword']?.errors.missMatch"> 
              <p-message severity="error" text="Password doesn't match"></p-message>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">
              <p-button
                class="save"
                type="submit"
                title="Click here to save changes"
                icon="fas fa-save"
                [disabled]="!userform.valid"
                label="Save"
              ></p-button>
            </div>
            <div class="ui-grid-col-6">
              <p-button
                (click)="cancel()"
                icon="far fa-times-circle"
                label="Cancel"
              ></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
