input {
  width: 100%;
  border: 1px solid #cccccc !important;
  height: 35px;
  padding: 5px;
}

label {
  font-weight: bold;
}

.save {
  float: right;
}

.change-password {
  min-width: 750px;
}

.ui-grid-row {
  margin: 15px 0;
}
