<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-steps [model]="userFlow" [(activeIndex)]="activeStepIdx" [readonly]="true"></p-steps>
    </div>
    <div class="ui-g-12 step1" *ngIf="activeStepIdx == 0">
      <div class="ui-g-12">
        <p class="page-title">Add User</p>
      </div>
      <form [formGroup]="userRegisterForm">
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-4">
            <div class="ui-g-12 ui-md-12">

              <span class="ui-float-label">Full Name*</span>
              <input ymInput pInputText type="text" (blur)="validateField(u.name)" formControlName="name"  class="form-control" [ngClass]="{
                  'is-invalid':
                    u['name'].invalid && (u['name'].dirty || u['name'].touched)
                }" />
              <div *ngIf="
                  u['name'].invalid && (u['name'].dirty || u['name'].touched)
                " class="invalid-feedback">
                <div *ngIf="u['name'].errors.required">
                  Name is required
                </div>
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-4">
            <div class="ui-g-12 ui-md-12">
              <span class="ui-float-label">Email*</span>
              <input ymInput pInputText type="text" formControlName="email" class="form-control" [ngClass]="{
                  'is-invalid':
                    u['email'].invalid && (u['email'].dirty || u['email'].touched)
                }" (change)="validateEmailAlreadyExist(u.email)" />
              <div *ngIf="
                  u['email'].invalid && (u['email'].dirty || u['email'].touched)
                " class="invalid-feedback">
                <div *ngIf="u['email'].errors.required">Email is required</div>
                <div *ngIf="u['email'].errors.email">
                  Email must be a valid email address
                </div>
                <div *ngIf="u['email'].errors.exists">
                  Email Id already exist
                </div>
              </div>

            </div>
          </div>
          <div class="ui-g-12 ui-md-4">
            <div class="ui-g-12 ui-md-12">
              <span class="ui-float-label">Contact Emails <small>(comma separated)</small></span>
              <input ymInput pInputText type="text" formControlName="contact_email" class="form-control" />
            </div>
          </div>
        </div>
      </form>
      <div class="ui-g-12">
        <hr />
      </div>
      <div class="ui-g-2 float-right" style="padding-left: 16px;display: inline-block;width: 100%;">
        <button pButton type="button" [disabled]="u['name'].errors || u['email'].errors" (click)="onUserDetailsSubmit()"
          label="Next" icon="fa fa-plus" class="ui-button-success"></button>

        <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
          class="ml-2 ui-button-warning"></button>
      </div>
    </div>
    <div class="ui-g-12 step2" *ngIf="activeStepIdx == 1">
      <div class="ui-g-12">
        <p class="page-title">Select/Create User's Role</p>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-12" *ngIf="!customRole">
          <div class="ui-g-12 ui-md-4">
            <div class="ui-g-12 ui-md-12" style="min-width: 200px;">
              <form [formGroup]="roleRegisterForm">
                <span class="ui-float-label">
                  Select Role*
                  <span class="btn-link" (click)="roleDetails()">
                    <i title="Role Details" class="fas fa-question-circle"> </i>
                  </span>
                </span>

                <p-dropdown [options]="groupedRoles" formControlName="role" placeholder="Assign a Role" [group]="false"
                  (onChange)="roleChanged()" optionLabel="name"
                  [ngClass]="{'is-invalid': r['role'].invalid && (r['role'].dirty || r['role'].touched)}">
                </p-dropdown>
                <div *ngIf="r['role'].invalid && (r['role'].dirty || r['role'].touched)" class="invalid-feedback">
                  <div *ngIf="r['role'].errors.required">
                    Role is required
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="ui-g-4 ui-g-nopad">
          <div class="ui-g-12">
            <span style="display: inline-block; margin-right: 10px;">Or Create Custom</span>
            <p-checkbox [(ngModel)]="customRole" binary="true"></p-checkbox>
          </div>
        </div>
        <div class="ui-g-12" *ngIf="customRole">
          <div class="ui-g-4 ui-g-nopad">
            <div class="ui-g-12">
              <div class="ui-g-4 font-weight-bold">
                Role Name*
              </div>
              <div class="ui-g-8">
                <div class="ui-inputgroup">
                  <input type="text" name="roleName" required class="form-control" minlength="4" style="width:100%"
                    (blur)="formRoleModel.roleName = formRoleModel.roleName.trim()" [(ngModel)]="formRoleModel.roleName"
                    #roleName="ngModel" ymInput pInputText placeholder="Role Name" [ngClass]="{
                      'is-invalid':
                        roleName.invalid && (roleName.dirty || roleName.touched)
                    }" (change)="validateRoleAlreadyExist(roleName)"/>
                </div>
              </div>
            </div>

            <div class="ui-g-12 errorClass" *ngIf="roleName.invalid && (roleName.dirty || roleName.touched)">

              <span class="ml-3" *ngIf="roleName.errors['required']">
                Role Name is required.
              </span>
              <span class="ml-3" *ngIf="roleName.errors['minlength']">
                Role Name must be at least 4 characters long.
              </span>

            </div>
            <div class="ui-g-12 errorClass" *ngIf="isRoleExists">
              Role already exist
            </div>
            <div class="ui-g-12">
              <div class="ui-g-4 font-weight-bold">
                Role Description
              </div>
              <div class="ui-g-8">
                <div class="ui-inputgroup">
                  <textarea [(ngModel)]="formRoleModel.roleDescription" [rows]="5" [cols]="30" class="form-control"
                    style="width:100%; height: 100px;" pInputTextarea autoResize="autoResize"
                    placeholder="Role Description"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="ui-g-8">
            <div class="ui-g-12 p-0">
              <div class="ui-g-3 font-weight-bold">
                Create a Copy From &nbsp;
              </div>
              <div class="ui-g-4">
                <p-dropdown [options]="childRoles" [(ngModel)]="selectedRole" (onChange)="roleChanged()"
                  optionLabel="name"></p-dropdown>
              </div>
            </div>
            <div class="ui-g-12 font-weight-bold">
              Permissions
            </div>
            <div class="ui-g-12">
              <!-- <p-table [columns]="permCols" [value]="permissionsData" [(selection)]="formRoleModel.selectedPermissions"
                (onRowUnselect)="onPermissionUnselect($event)" (onRowSelect)="onPermissionSelect($event)"
                [scrollable]="true" scrollHeight="250px" dataKey="id">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width: 3em">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns">
                      {{ col.header }}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td style="width: 3em">
                      <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns">
                      {{ rowData[col.field] }}
                    </td>
                  </tr>
                </ng-template>
              </p-table> -->
              <p-tree [value]="permissionsData" selectionMode="checkbox" [filter]="true" filterMode="strict" scrollHeight="200px"
              [(selection)]="formRoleModel.selectedPermissions"
              (onNodeSelect)="onPermissionSelect($event)" (onNodeUnselect)="onPermissionUnselect($event)"></p-tree>


            </div>
            <div class="ui-g-12" *ngIf="noPermissionsFlag" class="alert alert-danger position-static">
              <span>
                Select atleast one permission
              </span>
            </div>
          </div>

          <!-- seperator -->
          <div class="ui-g-12">
            <hr />
          </div>
        </div>
        <!-- final action buttons -->
        <div class="ui-g-12">
          <div class="ui-g-2">
            <button pButton type="button" [disabled]="
              (!customRole && r['role'].errors) || (customRole && (formRoleModel.roleName.length < 4 || formRoleModel.selectedPermissions.length < 1 || isRoleExists))
            " (click)="onRoleDetailsSubmit()" label="Next" icon="fa fa-plus" class="ui-button-success"></button>
          </div>
          <div class="ui-g-2">
            <button pButton type="button" (click)="activeStepIdx = 0" label="Back" icon="fa fa-minus"
              class="ml-2 ui-button-warning"></button>
          </div>
          <div class="ui-g-2">
            <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
              class="ml-2 ui-button-warning"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 step3" *ngIf="activeStepIdx == 2">
      <div class="ui-g-12">
        <p class="page-title">Select/Create User's Team</p>
      </div>
      <div class="ui-g-12" *ngIf="!customTeam">
        <div class="ui-g-12 ui-md-4">
          <div class="ui-g-12 ui-md-12" style="min-width: 200px;">
            <form [formGroup]="teamRegisterForm">
              <span class="ui-float-label">
                Select Team*
                <span class="btn-link" (click)="teamDetails()">
                  <i title="Team Details" class="fas fa-question-circle"> </i>
                </span>
              </span>
              <p-dropdown [options]="groupedTeams" formControlName="team" placeholder="Assign a Team" [group]="false"
                (onChange)="teamChanged()" optionLabel="name" [ngClass]="{
                  'is-invalid':
                    t['team'].invalid && (t['team'].dirty || t['team'].touched)
                }">
              </p-dropdown>
              <div *ngIf="t['team'].invalid && (t['team'].dirty || t['team'].touched)" class="invalid-feedback">
                <div *ngIf="t['team'].errors.required">
                  Team is required
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <span style="display: inline-block; margin-right: 10px;">Or Create Custom</span>
        <p-checkbox name="customTeam" [disabled]="customRole" value="CustomTeam" label=" Team" [(ngModel)]="customTeam"
          (click)="customTeamSelected()" binary="true">
        </p-checkbox>
      </div>
      <div class="ui-g-12" *ngIf="customTeam">
        <div class="ui-g-12 p-0">
          <div class="ui-g-3 font-weight-bold">
            Team Name*
          </div>
          <div class="ui-g-3">
            <div class="ui-inputgroup">
              <input type="text" name="teamName" required minlength="4" style="width:100%" class="form-control"
                (blur)="formTeamModel.teamName = formTeamModel.teamName.trim();" [(ngModel)]="formTeamModel.teamName"
                #teamName="ngModel" ymInput pInputText placeholder="Team Name" (change)="validateTeamAlreadyExist(teamName)" [ngClass]="{
                  'is-invalid':
                    teamName.invalid && (teamName.dirty || teamName.touched)
                }" />
            </div>


            <div class="ui-g-6 " *ngIf="teamName.invalid && (teamName.dirty || teamName.touched)" class="errorClass">

              <span *ngIf="teamName.errors['required']">
                Team Name is required.
              </span>
              <span *ngIf="teamName.errors['minlength']">
                Team Name must be at least 4 characters long.
              </span>

            </div>
            <div class="ui-g-6 errorClass" *ngIf="isTeamExists">
              Team already exist
            </div>
          </div>
        </div>
        <div class="ui-g-12 font-weight-bold">
          Resources
        </div>
        <div *ngFor="let dimention of availableDimensions">
          <div class="ui-g-12" *ngIf="dimention['enable']">
            <div class="font-weight-bold">
              <hr />
              {{dimention['label']}}
            </div>
            <ym-team-resources [defaultDimensions]="dimention.value" [availableDimensions]="[]"
              [(enabled)]="dimention['enable']" [filterUrl]="dimention.filterUrl"
              (dimFilterChanged)="formTeamModel.selectedDims[dimention['key']] = $event">
            </ym-team-resources>
          </div>
        </div>
      </div>

      <!-- final action buttons -->
      <div class="ui-g-12">
        <div class="ui-g-2">
          <button pButton type="button" label="Next" icon="fa fa-plus" [disabled]="
          (!customTeam && t['team'].errors) ||
          (customTeam && (formTeamModel.teamName.length < 4 || formTeamModel.errors || isTeamExists))
          " (click)="onTeamDetailsSubmit()" class="ui-button-success"></button>
        </div>
        <div class="ui-g-2">
          <button pButton type="button" (click)="activeStepIdx = 1" label="Back" icon="fa fa-minus"
            class="ml-2 ui-button-warning"></button>
        </div>
        <div class="ui-g-2">
          <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
            class="ml-2 ui-button-warning"></button>
        </div>
      </div>
    </div>
    <div class="ui-g-12 step4" *ngIf="activeStepIdx == 3">
      <div class="ui-g-12">
        <p class="page-title">Select User's Default App</p>
      </div>
      <div class="ui-g-12">
        <div class="ui-md-4">
          <div class="ui-g-12 ui-md-12" style="min-width: 200px;">
            <form [formGroup]="defaultAppRegisterForm">
              <span class="ui-float-label">
                Select Default APP*
              </span>
              <p-dropdown [options]="groupedApps" formControlName="default_app" placeholder="Select Default APP"
                [group]="false" optionLabel="displayName" [ngClass]="{
                  'is-invalid':
                    a['default_app'].invalid && (a['default_app'].dirty || a['default_app'].touched)
                }">
              </p-dropdown>
              <div *ngIf="a['default_app'].invalid && (a['default_app'].dirty || a['default_app'].touched)"
                class="invalid-feedback">
                <div *ngIf="a['default_app'].errors.required">
                  Default App is required
                </div>
              </div>
            </form>


          </div>
        </div>

      </div>
      <div class="ui-g-12">
        <div class="ui-g-2">
          <button pButton type="button" label="Next" icon="fa fa-plus" [disabled]="a['default_app'].errors"
            (click)="onDefaultAppSubmit()" class="ui-button-success"></button>
        </div>
        <div class="ui-g-2">
          <button pButton type="button" (click)="activeStepIdx = 2" label="Back" icon="fa fa-minus"
            class="ml-2 ui-button-warning"></button>
        </div>
        <div class="ui-g-2">
          <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
            class="ml-2 ui-button-warning"></button>
        </div>
      </div>
    </div>
  </div>
</div>