.p-grid {
  margin-top: 5px;
}

span {
  margin-bottom: 5px;
  font-weight: bold;
}

form {
  padding: 0;
}

.is-invalid {
  border-color: #dc3545 !important;
}
.errorClass{
  margin-top: 0.25rem;font-size: 80%;color: #dc3545;text-align: right;
}

.errorClass {
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545 !important;
}

button {
  width: auto !important;
}

ym-team-resources {
  float: left;
  display: flex;
}
