<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12"><span class="ui-float-label">Select Report Format : </span></div>
    <div class="ui-g-12">

      <p-radioButton class="radioBtn" name="rbgroup"  value="Excel" label="Excel"
        [(ngModel)]="reportFormat" inputId="preopt1">
      </p-radioButton>

      <p-radioButton class="radioBtn" name="rbgroup"  value="CSV" label="CSV"
        [(ngModel)]="reportFormat" inputId="preopt2">
      </p-radioButton>
    </div>

    <div class="ui-g-12"><span class="ui-float-label">Report Type : </span></div>
    <div class="ui-g-12">

      <p-radioButton class="radioBtn" name="rbReportType"  value="monthly" label="Monthly Summary"
        [(ngModel)]="reportType" inputId="preopt1">
      </p-radioButton>

      <p-radioButton class="radioBtn" name="rbReportType"  value="daily" label="Daily Summary"
        [(ngModel)]="reportType" inputId="preopt2">
      </p-radioButton>

    </div>

    <!-- <div class="ui-g-12"><span class="ui-float-label">Download Type : </span></div>
    <div class="ui-g-12">

      <p-radioButton class="radioBtn" name="rbDownloadType"  value="media_group" label="Media Group Wise"
        [(ngModel)]="downloadType" inputId="preopt1">
      </p-radioButton>

      <p-radioButton class="radioBtn" name="rbDownloadType"  value="property" label="property Wise"
        [(ngModel)]="downloadType" inputId="preopt2">
      </p-radioButton>

    </div> -->
  </div>
</div>
<div class="ui-g-12" style="padding-left: 16px;margin-top: 15px;text-align: right;">
  <button pButton type="button"  (click)="downloadData()"
    label="Export" icon="fas fa-user-edit" class="ui-button-success"></button>

  <button pButton type="button" (click)="cancel()" label="Cancel" icon="far fa-times-circle"
    class="ml-2 ui-button-warning"></button>
</div>