<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <label>Name</label>
  </div>
  <div class="ui-g-12">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
      <input
        pInputText
        type="text"
        placeholder="Name"
        [(ngModel)]="displayName"
      />
    </div>
  </div>
  <div class="ui-g-12">
    <label>Contact Email</label>
  </div>
  <div class="ui-g-12">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fas fa-envelope"></i></span>
      <p-chips [(ngModel)]="contactEmail"></p-chips>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-6">
      <p-button
        class="save"
        (click)="saveProfileChanges()"
        icon="fas fa-save"
        label="Save"
        title="Click here to save changes"
      ></p-button>
    </div>
    <div class="ui-g-6">
      <p-button
        (click)="cancel()"
        icon="far fa-times-circle"
        label="Cancel"
      ></p-button>
    </div>
  </div>
</div>
