<div class="ui-fluid" *ngIf="editFlag == 'alertGroup'">
  <div class="ui-g-12">
    <form [formGroup]="alertGroupForm">
      <div class="ui-g-12">
        <div class="ui-g-12 ui-md-4">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">Alert Group Name*</span>
            <input ymInput pInputText type="text" formControlName="alert_group_name" class="form-control"
              [(ngModel)]="alertName" [ngClass]="{
                'is-invalid':
                  u['alert_group_name'].invalid && (u['alert_group_name'].dirty || u['alert_group_name'].touched)
              }" />
            <div *ngIf="
                u['alert_group_name'].invalid && (u['alert_group_name'].dirty || u['alert_group_name'].touched)
              " class="invalid-feedback">
              <div *ngIf="u['alert_group_name'].errors.required">
                Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">App Name*</span>
            <p-dropdown 
            [options]="availableAppName" 
            formControlName="app_name" 
            placeholder="Select App Name"
            [group]="false" 
            optionLabel="display_app_name" 
            dataKey="app_name" 
            [(ngModel)]="selectedAppName"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">Description</span>
            <textarea [rows]="5" [cols]="30" formControlName="discription" class="form-control"
              [style[]="{width: '100%', height: '100px'}" pInputTextarea placeholder="Alert Group Description"
              [(ngModel)]="alertdescription"></textarea>
          </div>
        </div>
      </div>
    </form>

    <div class="edit-role-footer">

      <button pButton type="button" (click)="CloseDialog()" label="Cancel" icon="far fa-times-circle"
        class="ml-2 ui-button-warning" style="width: auto;
      float: right"></button>
      <button pButton type="submit" label="Save" icon="fas fa-user-edit" class="ui-button-success" style="width: auto;
        float: right" (click)="editAlertGroup()" [disabled]="!alertGroupForm.valid"></button>
    </div>
  </div>
</div>


<div class="ui-fluid" *ngIf="editFlag == 'actionDetails'">
  <div class="ui-g-12">
    <form [formGroup]="actionForm">

      <div class="ui-g-12">
        <div class="ui-g-12 ui-md-4">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">Action Name *</span>
            <input ymInput pInputText type="text" formControlName="action_name" class="form-control"
              [(ngModel)]="actionName" [ngClass]="{
                'is-invalid':
                a['action_name'].invalid && (a['action_name'].dirty || a['action_name'].touched)
              }" />
            <div *ngIf="
            a['action_name'].invalid && (a['action_name'].dirty || a['action_name'].touched)
              " class="invalid-feedback">
              <div *ngIf="a['action_name'].errors.required">
                Action Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">Description</span>
            <div class="ui-inputgroup">
              <textarea [rows]="5" [cols]="30" [(ngModel)]="actionDesc" class="form-control"
                formControlName="action_description" style="width: 100%; height: 100px;" pInputTextarea
                placeholder="Action Description"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <h6><b>Scheduler Details</b></h6>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-12 ui-md-3">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">Frequency</span>

            <p-dropdown [options]="schedulerFrequency" placeholder="Select frequency" [group]="false"
              optionLabel="alies" dataKey="name" [(ngModel)]="selectedActionFrequency"
              formControlName="action_frequency">
            </p-dropdown>
          </div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">Start Date
            </span>
            <p-calendar 
            [(ngModel)]="schedulerStartDate" 
            [readonlyInput]="true" 
            dateFormat="mm/dd/yy"
            [showTime]="true" 
            [hourFormat]="24" 
            [minDate]="dateTime" 
            (onSelect)="onSelectDate()"
              formControlName="action_start_date"></p-calendar>
          </div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">End Date
            </span>
            <p-calendar [(ngModel)]="schedulerEndDate" [readonlyInput]="true" dateFormat="mm/dd/yy"
              [minDate]="actionStartDate" formControlName="action_end_date"></p-calendar>
          </div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">Scheduler Status</span>
            <p-selectButton [options]="schedularStatus" formControlName="schedular_Status"
              [(ngModel)]="selectedSchecularStatus" (onChange)="selectSchedularStatus($event)"></p-selectButton>
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <h6><b>Channel Details</b></h6>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-12 ui-md-4">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">Channel</span>
            <p-multiSelect [options]="channelList" defaultLabel="Select Channel" [(ngModel)]="actionSelectedChannel"
              maxSelectedLabels="1" [filter]="true" [virtualScroll]="true" appendTo="body" itemSize="30"
              optionLabel="alies" dataKey="name" filterBy="alies,name" resetFilterOnHide="true"
              [style]="{ 'min-width': '200px' }" emptyFilterMessage="No results found"
              (onChange)="onChangeActionChannel()" formControlName="channel">
            </p-multiSelect>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4" *ngIf="isSlackAction">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">Slack ID*</span>
            <p-chips [(ngModel)]="slackChannel" placeholder="Enter Slack ID" formControlName="slackChannel"
              (onAdd)="onAddSlackEmail($event)">
            </p-chips>
            <div *ngIf="!isSlackEmail" style="color: red;">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">Email ID*</span>
            <p-chips [(ngModel)]="actionEmailChannel" placeholder="Enter Email ID" formControlName="actionEmailChannel"
              [allowDuplicate]="false" (onAdd)="onAddEmail($event)">
            </p-chips>
            <div *ngIf="!isEmail" style="color: red;">
              Email must be a valid email address
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="edit-role-footer">
      <button pButton type="button" (click)="CloseDialog()" label="Cancel" icon="far fa-times-circle"
        class="ml-2 ui-button-warning" style="width: auto;
      float: right"></button>
        <button pButton type="submit" label="Save" icon="fas fa-user-edit" class="ui-button-success" style="width: auto;
        float: right" (click)="editActionDetails()" [disabled]="!actionForm.valid"></button>
    </div>
  </div>
</div>