<div class="ui-fluid">
  <div class="ui-g">
    <form class="mainForm" [formGroup]="registerForm">
      <div class="ui-g-12 ui-md-12">
        <span class="ui-float-label">
          Dashboard Title*
        </span>

        <input pInputText type="text" formControlName="chartTitle" class="form-control" [ngClass]="{
              'is-invalid':
                f['chartTitle'].invalid && (f['chartTitle'].dirty || f['chartTitle'].touched)
            }" />
        <div *ngIf="
              f['chartTitle'].invalid && (f['chartTitle'].dirty || f['chartTitle'].touched)
            " class="invalid-feedback">
          <div *ngIf="f['chartTitle'].errors.required">
            Dashboard Title is required
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
        <span class="ui-float-label">
          Description
        </span>

        <textarea id="bankaddress" pInputText type="text" formControlName="description" class="form-control"></textarea>
      </div>
    </form>


  </div>

</div>
<div class="ui-g-12" style="padding-left: 16px;margin-top: 10px;">
  <button pButton type="button" *ngIf="!this.RowData['isUpdate']" [disabled]="registerForm['invalid']"
    (click)="onSubmit()" label="Save" icon="far fa-save" class="ui-button-success"></button>

  <button pButton type="button" *ngIf="this.RowData['isUpdate']" [disabled]="registerForm['invalid']"
    (click)="onSubmit()" label="Update" icon="fas fa-user-edit" class="ui-button-success"></button>

  <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
    class="ml-2 ui-button-warning"></button>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>