<!-- ------------------------ Table Component Start ------------------------ -->
<div *ngIf="graphData['view'] == 'tabular'" class="ui-g-12 publisher-payout-popup-table">
  <p-treeTable #ttFlat [value]="tableData" [columns]="tableJson['selectedColumns']" [paginator]="true"
    [rows]="tableJson['page_size']" [first]="tableJson['page']" [totalRecords]="tableJson['totalRecords']"
    [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="tableJson['lazy']" [loading]="tableJson['loading']"
    [sortMode]="tableJson['sortMode']" [resizableColumns]="tableJson['resizableColumns']"
    [columnResizeMode]="tableJson['columnResizeMode']" [reorderableColumns]="tableJson['reorderableColumns']"
    [frozenColumns]="tableJson['frozenCols']" [frozenWidth]="tableJson['frozenWidth']"
    [scrollable]="tableJson['scrollable']" [scrollHeight]="tableJson['scrollHeight']"
    [selectionMode]="tableJson['selectionMode']" [(selection)]="tableJson['selectedColsModal']"
    [dataKey]="tableJson['selectionDataKey']" [metaKeySelection]="tableJson['metaKeySelection']"
    [style]="{ width: '100%' }">
    <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

    <ng-template pTemplate="caption">
      <div *ngIf="tableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
        <p-multiSelect [options]="tableJson['columns']" [(ngModel)]="tableJson['selectedColumns']"
          optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
          [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
      </div>
      <div *ngIf="tableJson['export']" style="text-align: left; float: right; display: inline-block;"
        class="ml-3 mt-2 mb-2">
        <div data-html2canvas-ignore class="dropdown">
          <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
            <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" (click)="exportTable('Excel')">
              Excel
            </a>
            <a class="dropdown-item" href="#" (click)="exportTable('CSV')">
              CSV
            </a>
            <!-- <a
                  class="dropdown-item"
                  href="#"
                  (click)="exportTable('lostRevenue', 'JSON')"
                >
                  JSON
                </a> -->
          </div>
        </div>
      </div>
      <div *ngIf="tableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input ymInput pInputText type="text" size="50" placeholder="Search All"
          (input)="ttFlat.filterGlobal($event.target.value, 'contains')" style="width:auto" />
      </div>
    </ng-template>

    <!-- ------------------------------- Header -------------------------------- -->

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
          ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
          [ttResizableColumnDisabled]="!col['options']['resizable']"
          [ttReorderableColumnDisabled]="!col['options']['movable']">
          {{ col.displayName }}
          <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
          </p-treeTableSortIcon>
        </th>
      </tr>
      <tr *ngIf="tableJson['columnSearch']">
        <ng-container *ngFor="let col of columns">
          <th *ngIf="isHiddenColumn(col)">
            <input ymInput pInputText type="text" [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  " (input)="
                    ttFlat.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  " />
          </th>
        </ng-container>
      </tr>
    </ng-template>

    <!-- -------------------------------- Body --------------------------------- -->

    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
      <tr>
        <td *ngFor="let col of columns; let i = index" [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              " ttEditableColumn>
          <span *ngIf="!col['options']['editable']">
            {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
          </span>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft" let-state>
      Showing {{ state.page * state.rows + 1 }} to
      {{
            state.rows * (state.page + 1) > state.totalRecords
              ? state.totalRecords
              : state.rows * (state.page + 1)
          }}
      of {{ state.totalRecords }} Records
    </ng-template>

    <!-- ------------------- Message to show for empty Data -------------------- -->

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="tableJson['columns'].length">
          No data found.
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
<!-- ------------------------- Table Component End ------------------------- -->
<!-- </p-tabPanel> -->
<div *ngIf="graphData['view'] == 'graphical'" class="ui-g-12 ui-md-12">
  <div class="border-class">
    <i *ngIf="!showChart && !noDataChart" class="pi pi-spin pi-spinner"
      style="font-size: 3em; margin: 200px; position:relative; left:40%"></i>
    <div class="no-data-label" style="height: 500px;" *ngIf="noDataChart">
      No data found
    </div>
    <ym-charts
      *ngIf="showChart &&(graphData['chart_type']=='bar' || graphData['chart_type']=='line' || graphData['chart_type']=='area' || graphData['chart_type']=='pie' || graphData['chart_type'] == 'polarArea' || graphData['chart_type'] == 'radar' || graphData['chart_type'] == 'horizontalBar')"
      [chartsJson]="chartJson" (chartDataSelect)="chartSelected($event)">
    </ym-charts>

    <ym-cards *ngIf="showChart && graphData['chart_type']=='cards_panel'" [cardsJson]="chartJson['data']"></ym-cards>


    <div *ngIf="showChart && graphData['chart_type'] =='data_table'" class="tabular-view"
      style="display: inline-block; width: 100%;">
      <p-treeTable #ttFlat [value]="chartJson['flatTableData']"
        [columns]="chartJson['flatTableJson']['selectedColumns']" [paginator]="true"
        [rows]="chartJson['flatTableJson']['page_size']" [first]="chartJson['flatTableJson']['page']"
        [totalRecords]="chartJson['flatTableJson']['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
        [lazy]="chartJson['flatTableJson']['lazy']" [loading]="chartJson['flatTableJson']['loading']"
        [sortMode]="chartJson['flatTableJson']['sortMode']"
        [resizableColumns]="chartJson['flatTableJson']['resizableColumns']"
        [columnResizeMode]="chartJson['flatTableJson']['columnResizeMode']"
        [reorderableColumns]="chartJson['flatTableJson']['reorderableColumns']"
        [frozenColumns]="chartJson['flatTableJson']['frozenCols']"
        [frozenWidth]="chartJson['flatTableJson']['frozenWidth']"
        [scrollable]="chartJson['flatTableJson']['scrollable']"
        [scrollHeight]="chartJson['flatTableJson']['scrollHeight']"
        [selectionMode]="chartJson['flatTableJson']['selectionMode']"
        [(selection)]="chartJson['flatTableJson']['selectedColsModal']"
        [dataKey]="chartJson['flatTableJson']['selectionDataKey']"
        [metaKeySelection]="chartJson['flatTableJson']['metaKeySelection']"
        [globalFilterFields]="chartJson['flatTableJson']['globalFilterFields']" (onColResize)="onColumnResize()"
        [style]="{ width: '100%' }">
        <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

        <ng-template pTemplate="caption">
          <div class="mb-1" *ngIf="chartJson['flatTableJson']['showHideCols']"
            style="text-align: left; float: left; display: inline-block;">
            <p-multiSelect [options]="chartJson['flatTableJson']['columns']"
              [(ngModel)]="chartJson['flatTableJson']['selectedColumns']" optionLabel="displayName"
              maxSelectedLabels="1" selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }"
              defaultLabel="Choose Columns"></p-multiSelect>
          </div>
          <!-- <div class ="mt-2 note"><span>* GTE - Greater than Equal to,  LTE -  Less than Equal to </span></div> -->
          <!-- <div *ngIf="chartJson['flatTableJson']['export']"
            style="text-align: left; float: right; display: inline-block;" class="ml-3 mt-2">
            <div data-html2canvas-ignore class="dropdown">
              <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
                <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="exportTable('Excel')">
                  Excel
                </a>
                <a class="dropdown-item" (click)="exportTable('CSV')">
                  CSV
                </a>

              </div>
            </div>
          </div> -->

          <div *ngIf="chartJson['flatTableJson']['overallSearch']"
            style="text-align: right; float: right; display: inline-block;">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All"
              [(ngModel)]="searchvalue" (input)="ttFlat.filterGlobal($event.target.value, 'contains')" />
            <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
              (click)="searchvalue='';ttFlat.filterGlobal('', 'contains')"><i class="pi pi-times"></i>
            </span>
          </div>
          <!-- <div *ngIf="chartJson['flatTableJson']['overallSearch']"
            style="text-align: right; float: right; display: inline-block;">
            <i class="fas fa-info-circle info-toottip" title="Search function works for dimensions only."></i>
          </div> -->
        </ng-template>

        <!-- ------------------------- For frozen columns -------------------------- -->

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
          </colgroup>
        </ng-template>

        <!-- ------------------------------- Header -------------------------------- -->

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="table-head" *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field"
              ttResizableColumn ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
              [ttResizableColumnDisabled]="!col['options']['resizable']"
              [ttReorderableColumnDisabled]="!col['options']['movable']">
              {{ col.displayName }}
              <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
              </p-treeTableSortIcon>
            </th>
          </tr>
          <tr *ngIf="chartJson['flatTableJson']['columnSearch']">
            <th *ngFor="let col of columns">
              <input [ngStyle]="{ width: col['width'] - 23 + 'px' }"
                *ngIf="col['options']['colSearch'] && (col.field == 'time_key' || col.field == 'accounting_key')"
                pInputText type="text"
                (input)="ttFlat.filter(changeDateTomoment($event.target.value), col.field, 'contains')">

              <input [ngStyle]="{ width: col['width'] - 23 + 'px' }"
                *ngIf="col['options']['colSearch'] && col.field != 'time_key' && col.field != 'accounting_key'"
                pInputText type="text" (input)="ttFlat.filter($event.target.value, col.field, 'contains')">

            </th>
          </tr>
        </ng-template>

        <!-- -------------------------------- Body --------------------------------- -->

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns; let i = index" ttEditableColumn>
              <p-treeTableCellEditor *ngIf="col['options']['editable']">
                <ng-template pTemplate="input">
                  <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{
                    rowData[col.field] | formatNum: col.format:col.formatConfig
                  }}
                </ng-template>
              </p-treeTableCellEditor>
              <span [title]="rowData[col.field] | formatNum: col.format:col.formatConfig"
                *ngIf="!col['options']['editable']">
                {{
                    rowData[col.field] | formatNum: col.format:col.formatConfig
                  }}
              </span>
            </td>
          </tr>
        </ng-template>

        <!-- ----------------------------- Frozen Body ----------------------------- -->

        <ng-template *ngIf="chartJson['flatTableJson']['frozenCols'] != undefined" pTemplate="frozenbody" let-rowNode
          let-rowData="rowData" let-columns="columns">
          <tr style="background: #f4f4f4">
            <td *ngFor="let col of columns; let i = index" [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
              <!-- <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler> -->

              <span>
                {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
              </span>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft" let-state>
          Showing {{ state.page * state.rows + 1 }} to
          {{
            state.rows * (state.page + 1) > state.totalRecords
              ? state.totalRecords
              : state.rows * (state.page + 1)
          }}
          of {{ state.totalRecords }} Records
        </ng-template>

        <!-- ------------------- Message to show for empty Data -------------------- -->

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="chartJson['flatTableJson']['columns'].length">
              No data found.
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
</div>