#loaderdiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1020;
  background-color: lightyellow;
  opacity: 0.8;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px; /* -1 * image height / 2 */
  display: block;
}

#impersonatediv {
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  z-index: 1000;
  background-color: #ff4c4c;
}

.stop-impersonate {
  color: #fff;
  font-weight: bold;
}
