<div id="loaderdiv" *ngIf="displayLoader">
  <p-progressSpinner class="ajax-loader"></p-progressSpinner>
</div>
<div id="impersonatediv" *ngIf="impersonated">
  <span class="float-left font-weight-bold" style="color:white !important">
    Impersonate Mode is Active
  </span>
  <span class="float-right btn-link stop-impersonate" (click)="stopImpersonate()">
    <i class="fas fa-user-times"></i>
    Stop Impersonating
  </span>
</div>
<p-toast position="top-right"></p-toast>
<div [ngClass]="{'impersonated': impersonated}">
  <router-outlet></router-outlet>
</div>
