<p-tabView (onChange)="tabChanged($event)">
  <p-tabPanel [selected]="true" header="New Expression"> 
<div class="edit-role-container">

 

  <table style="width: 70%;">
    <tr>
      <td>
        Name
      </td>
      <td>
        <div class="ui-inputgroup">
          <input
            type="text"
            class="ui-inputtext"
            pInputText
            [(ngModel)]="name"
            placeholder="Name "
            style="width: -webkit-fill-available;"
            />
        </div>   
      </td>
    </tr>

    <tr>
      <td>
        Description
      </td>
      <td>
        <div class="ui-inputgroup">
          <textarea
            type="text"
            class="ui-inputtext"
            pInputText
            [(ngModel)]="description"
            placeholder="Description "
            style="width: -webkit-fill-available;" >
          </textarea>
        </div>     
      </td>
    </tr>

    <tr>
      <td>
        Expression
      </td>
      <td>
        <!-- <div class="ui-inputgroup"> -->
          <!-- <textarea
            type="text"
            class="ui-inputtext"
            pInputText
            [(ngModel)]="expression"
            placeholder="Expression "
            rows="5"
            style="width: -webkit-fill-available;" >
          </textarea> -->

          <mat-form-field class="example-40-width">
            <input type="hidden" [formControl]="hiddenCtrl">
            <input type="text" placeholder="Create Expression" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" >
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>   
 
        <!-- </div>      -->
      </td>
    </tr>
  </table>


   

<!--  <div class="ui-g-12 p-0">
    <div class="ui-g-2 font-weight-bold">
      Name*
    </div>
    <div class="ui-g-3">
      <div class="ui-inputgroup">
        <input
          type="text"
          class="ui-inputtext"
          pInputText
          [(ngModel)]="name"
          placeholder="Name "
        />
      </div>
    </div>
  </div>

  <div class="ui-g-12 p-0">
    <div class="ui-g-2 font-weight-bold">
      Description
    </div>
    <div class="ui-g-3">
      <div class="ui-inputgroup">
        <textarea
          type="text"
          class="ui-inputtext"
          pInputText
          [(ngModel)]="name"
          placeholder="Description "
        >
        </textarea>



      </div>
    </div>
  </div>


  <div class="ui-g-12 p-0">
    <div class="ui-g-2 font-weight-bold">
      Expression *
    </div>
    <div class="ui-g-10">
      <div class="ui-inputgroup">
        <textarea
          type="text"
          class="ui-inputtext"
          pInputText
          [(ngModel)]="name"
          placeholder="Create Expression "
          style="width: 50%"
          rows="5"
        ></textarea>
      </div>
    </div>
  </div> -->

  <div class="edit-role-footer">
    <button
      pButton
      type="submit"
      icon="fas fa-pencil-alt"
      label="Save"
      (click)="onSave()"
      iconPos="right"
        class="ui-button-rounded ui-button-success edit-role-button"
    ></button>

    

     <!-- <i class="fas fa-copy"></i> -->
    <button
      pButton
      type="button"
      icon="fas fa-share-alt"
      label="Share"
      iconPos="right"
      class="ui-button-rounded ui-button-reset ui-button-info btn-close edit-role-button1"
    ></button>
    <button
    pButton
    type="submit"
    icon="fas fa-copy"
    label="Copy"
    iconPos="right"
      class="ui-button-rounded ui-button-secondary edit-role-button"
  ></button>
  </div>
</div>
</p-tabPanel>
<p-tabPanel header="Activate"> 
  <table style="width: 54%; margin-left: 4%;">
    <th>DSP Name</th>
    <th></th>
    <th>Status</th>
    <th>Sync Time</th>
    <tr *ngFor = "let item of dspList">
      <td>{{item['dsp_name']}}</td>
       <td><button
        pButton
        type="submit"
        icon="fas fa-sync"
        label="Activate"
        iconPos="right"
        class="ui-button-rounded ui-button-success edit-role-button"
      ></button></td> 
      <td>
        Active
      </td>
      <td>
        {{item['sync_timestamp']}}
      </td>
    </tr>
    <!-- <tr>
      <td>MediaMath</td>
       <td><button
        pButton
        type="submit"
        icon="fas fa-sync"
        label="Activate"
        iconPos="right"
        class="ui-button-rounded ui-button-success edit-role-button"
      ></button></td> 
        <td>
          Active
        </td>

    </tr>


    <tr>
      <td>Double Click</td>
       <td><button
        pButton
        type="submit"
        icon="fas fa-sync"
        label="Activate"
        iconPos="right"
        class="ui-button-rounded ui-button-success edit-role-button"
      ></button></td> 
      <td>
        Active
      </td>
    </tr>
    <tr>

      <tr>
        <td>LiveRamp</td>
         <td><button
          pButton
          type="submit"
          icon="fas fa-sync"
          label="Activate"
          iconPos="right"
          class="ui-button-rounded ui-button-success edit-role-button"
        ></button></td> 
        <td>
          Inactive
        </td>
      </tr>
      <tr>

        <tr>
          <td>Choozle</td>
           <td><button
            pButton
            type="submit"
            icon="fas fa-sync"
            label="Activate"
            iconPos="right"
            class="ui-button-rounded ui-button-success edit-role-button"
          ></button></td> 
          <td>
            Active
          </td>
        </tr>
        <tr>

          <tr>
            <td>AppNexus</td>
             <td><button
              pButton
              type="submit"
              icon="fas fa-sync"
              label="Activate"
              iconPos="right"
              class="ui-button-rounded ui-button-success edit-role-button"
            ></button></td> 
            <td>
              Active
            </td>
          </tr>
          <tr>

            <tr>
              <td>Amazon</td>
               <td><button
                pButton
                type="submit"
                icon="fas fa-sync"
                label="Activate"
                iconPos="right"
                class="ui-button-rounded ui-button-success edit-role-button"
              ></button></td>
              <td>
                Inactive
              </td> 
            </tr>
            <tr>
      -->

  </table>
</p-tabPanel>
</p-tabView>
<!-- <p-tabView (onChange)="tabChanged($event)">
  <p-tabPanel selected="true" header="Audience Attributes"> -->
<!-- ------------------------ Table Component Start ------------------------ -->

<!-- </div> -->

<!-- ------------------------- Table Component End ------------------------- -->
<!-- </p-tabPanel>
<p-tabPanel header="Audience Segment Expression">
<div class="edit-role-container">

  <div>
    <div class="row">
  <div class="div-main">
    <div class="row">
      <div class="p-col-6 mt-1 div-exp">
        ( income  $1,00,000 
      </div>

    
    </div >
 <span class="div-exp"> </span>   AND
    <div class="row">
      <div class="p-col-6 mt-1 div-exp">
       (Age <> 35 to 55
      </div>
    </div>

    <span class="div-exp"> </span>   AND
    <div class="row">
      <div class="p-col-6 mt-1 div-exp">
        Domains > 2 ))
      </div>
    </div>

    <span class="div-exp"> </span>   OR
    <div class="row">
      <div class="p-col-6 mt-1 div-exp">
       Website Visit < 2
      </div>
 
  </div>

</div>

<div class="hr-div">
</div>
<div class="right-div"> -->
<!-- <table class="right-table">
        <tr>
          <td> Last Updated</td>
          <td> : 2020-01-18  14:29:09 GMT</td>
        </tr> 
        <tr>
          <td>Created By</td>
          <td> : Breathe Master Admin</td>
        </tr>
        <tr>
          <td>Updated By</td>
          <td> : Breathe Master Admin</td>
        </tr>
       </table>
       
</div>

</div>

</div>
  <div class="edit-role-footer">
    <button
      pButton
      type="submit"
      (click)="submitHandler()"
      icon="fas fa-pencil-alt"
      label="Edit"
      iconPos="right"
        class="ui-button-rounded ui-button-success edit-role-button"
    ></button>

     <button
      pButton
      type="button"
      (click)="goBack()"
      icon="fas fa-share-alt"
      label="Share"
      iconPos="right"
      class="ui-button-rounded ui-button-reset ui-button-info btn-close edit-role-button1"
    ></button>
    <button
    pButton
    type="submit"
    (click)="submitHandler()"
    icon="fas fa-copy"
    label="Copy"
    iconPos="right"
      class="ui-button-rounded ui-button-secondary edit-role-button"
  ></button>

  </div>
</div>
</p-tabPanel>
</p-tabView> -->
