.Rule-name
{
    color: #22b6fd !important;
    cursor: pointer;
    text-decoration: underline;
}
.pop-over {
   
    right: 0px !important;    
    background: #b9d8e8 !important;
}
.popover-container:hover .pop-over {
    display: contents;
  }