<div id="capture">
  <p class="page-title">{{ appConfig['displayName'] }}</p>
  <hr />
  <div style="text-align:right">
    <button type="button" pButton icon="fa fa-plus" (click)="addDerivedMetric()" label="Add New Derived Metrics"></button>
  </div>
  <!-- ------------------------ Table 2 Component Start ------------------------ -->
  <div [hidden]="noTableData" class="mt-1 mb-3 fr-upr-table" *ngIf="displayAggTable">
    <p-treeTable #dt [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true" [rows]="aggTableJson['page_size']"
      [totalRecords]="aggTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="aggTableJson['lazy']"
      [loading]="aggTableJson['loading']" [sortMode]="aggTableJson['sortMode']" [resizableColumns]="aggTableJson['resizableColumns']"
      [columnResizeMode]="aggTableJson['columnResizeMode']" [reorderableColumns]="aggTableJson['reorderableColumns']"
      [frozenColumns]="aggTableJson['frozenCols']" [frozenWidth]="aggTableJson['frozenWidth']" [scrollable]="aggTableJson['scrollable']"
      [scrollHeight]="aggTableJson['scrollHeight']" [selectionMode]="aggTableJson['selectionMode']" [(selection)]="aggTableJson['selectedColsModal']"
      [dataKey]="aggTableJson['selectionDataKey']" [metaKeySelection]="aggTableJson['metaKeySelection']" [style]="{ width: '100%' }"
      (onLazyLoad)="onLazyLoadAggTable($event)" [globalFilterFields]="aggTableJson['globalFilterFields']"
      (onNodeExpand)="onTableDrill($event)">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div *ngIf="aggTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All" [(ngModel)]="searchvalue"
            (input)="dt.filterGlobal($event.target.value, 'contains')" />
        </div>
      </ng-template>
      <!--------------------------- For frozen columns -------------------------- -->
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>
      <!--------------------------------- Header -------------------------------- -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']" [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}
            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
          </th>
        </tr>
      </ng-template>
      <!-- -------------------------------- Body --------------------------------- -->
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td [title]="rowData.name">
            {{rowData.name}}
          </td>
          <td [title]="rowData.app_name">
            {{rowData.app_name}}
          </td>
          <td title="rowData.formula_display_name">
            {{rowData.formula_display_name}}
          </td>
          <!-- <td title="Edit">
            <i class="fas fa-pencil-alt" style="color: #22b6fd;
            font-size: 16px;
            margin-left: 28%;
            cursor: pointer;"
              (click)="editDerivedMetrics(rowData)"></i>
          </td> -->
          <td title="Delete">
            <i class="far fa-trash-alt" style="color: #22b6fd;
            font-size: 16px;
            margin-left: 28%;
            cursor: pointer;"
              (click)="deleteDerivedMetrics(rowData)"></i>
          </td>
          <td [title]="rowData.created_at_date">
            {{rowData.created_at_date}}
          </td>
          <td [title]="rowData.updated_at_date">
            {{rowData.updated_at_date}}
          </td>
          <td title="rowData.created_by">
            {{rowData.created_by}}
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
        state.rows * (state.page + 1) > state.totalRecords
        ? state.totalRecords
        : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="aggTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">
    No data found
  </div>
  <!-- ------------------------- Table 2 Component End ------------------------- -->
</div>
<p-confirmDialog [style]="{ width: '50vw' }" appendTo="body"></p-confirmDialog>