<div  style="padding: 2%;">
  <div class="row">
    <div class="col-1">
      <label for="">Date</label>
    </div>
    <div class="col-6">
      <p-calendar inputId="basic" [(ngModel)]="date"  (onClose)="onDateChanged(date)" (onChange)= "onDateChanged(date)"></p-calendar>
      <span style="font-weight: bolder;
      font-size: 15px;
      margin-left: 10px; cursor: pointer;" (click)="onDateChanged('')">X</span>
    </div>
  </div>
<br><br>
  <div class="row">
    <div class="col-1">
      <label for="">Link</label>
    </div>
    <div class="col-11">
      <input type="text" ymInput pInputText [(ngModel)]="link" placeholder="Please enter Link e.g. http://example.com" style="width: 90%;" />
    </div>
  </div>
  <div class="edit-footer">

    <button pButton type="button" (click) = "close()" label="Cancel" icon="far fa-times-circle"
      class="ui-button-rounded ui-button-secondary" style="float: right;width: auto;"></button>

    <button pButton type="submit" (click)="updateData()" label="OK" icon="pi pi-check"
      class=" mr-2 ui-button-success ui-button-rounded" style="float: right;width: auto;"></button>


  </div>

</div>