<div class="ui-fluid visualize-chart-pop">
  <div class="ui-g">
    <div class="ui-g-12">

      <p-listbox [options]="visualiseList"  [(ngModel)]="selectedVisualiseList" [multiple]="true"
        [checkbox]="true" [filter]="true" [listStyle]="{'max-height':'250px'}">

        <p-header>
          List Of Visualization
        </p-header>
        <ng-template let-item pTemplate="item">
          <div style="display: inline-block;" class="ui-helper-clearfix">
            <!-- <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="display:inline-block;margin:5px 0 0 5px" width="48"> -->
            <i style="margin-right: 10px;" [ngClass]="getIconClass(item.value)"></i>
            <span style="margin:20px 10px 0 0">{{item.label }} ({{item.value.chart_type }})</span>

          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>

</div>
<div class="ui-g-12" style="padding-left: 16px;margin-top: 10px;">

  <button pButton type="button" (click)="onAdd()" label="Apply" icon="fas fa-plus-circle"
    class="ui-button-success"></button>
  <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
    class="ml-2 ui-button-warning"></button>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>