<div class="ui-fluid visualize-chart-pop">
  <div class="ui-g">
    <div class="ui-g-5">
      <p-listbox [options]="userList" [(ngModel)]="selectedUserList" [multiple]="true" [checkbox]="true" [filter]="true"
        [listStyle]="{'max-height':'250px'}">

        <p-header>
          List Of Available Users
        </p-header>
        <ng-template let-item pTemplate="item">
          <div style="display: inline-block;" class="ui-helper-clearfix">
            <!-- <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="display:inline-block;margin:5px 0 0 5px" width="48"> -->
            <i style="margin-right: 10px;" class="fas fa-arrow-circle-right"></i>
            <span style="margin:20px 10px 0 0">{{item.label }} ({{item.value.role_name}})</span>

          </div>
        </ng-template>
      </p-listbox>
    </div>
    <div class="ui-g-2">
      <div class="ui-g-12" style="text-align: center; position: relative;top: 36%;">
        <button pButton type="button" (click)="onSubmit()" label="Share" [disabled]="selectedUserList.length == 0"
          icon="fas fa-share-square" class="ui-button-success"></button>
      </div>
      <div class="ui-g-12" style="text-align: center;top: 35%;position: relative;">
        <button pButton type="button" (click)="shareRemove()" [disabled]="selectedSharedUserList.length == 0"
          label="Remove" icon="far fa-trash-alt" class="ui-button-danger"></button>
      </div>
    </div>
    <div class="ui-g-5">
      <p-listbox [options]="sharedUserList" [(ngModel)]="selectedSharedUserList" [multiple]="true" [checkbox]="true"
        [filter]="true" [listStyle]="{'max-height':'250px'}">

        <p-header>
          List Of Shared Users
        </p-header>
        <ng-template let-item pTemplate="item">
          <div style="display: inline-block;" class="ui-helper-clearfix">
            <!-- <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="display:inline-block;margin:5px 0 0 5px" width="48"> -->
            <i style="margin-right: 10px;" class="fas fa-arrow-circle-right"></i>
            <span style="margin:20px 10px 0 0">{{item.label }} ({{item.value.role_name}})</span>

          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>

</div>
<div class="ui-g-12" style="padding-left: 16px;margin-top: 10px;float: right;">
  <!-- <button pButton type="button" (click)="onSubmit()" label="Next" [disabled]="selectedUserList.length == 0"
    icon="fas fa-arrow-circle-right" class="ui-button-success"></button> -->
  <button pButton type="button" (click)="goBack()" label="Close" icon="far fa-times-circle"
    class="ml-2 ui-button-warning"></button>
</div>
<!-- <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog> -->