.p-grid {
  margin-top: 5px;
}

span {
  margin-bottom: 5px;
  font-weight: bold;
}

form {
  padding: 0;
  width: 100%;
}

.invalid-feedback-class {
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

button {
  width: 85px !important;
}
.file-upload > input {
  display: none;
}
.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chart-icon {
  font-size: 30px;
  color: skyblue;
}
.card:hover {
  border: 1px solid #908d8d;
}
.chart-card {
  text-align: center;
  padding: 0.5rem;
}
.listitems {
  margin: 15px 5px 0 0;
  font-weight: 600;
}
