<div class="ui-fluid">
  <div class="ui-g-12">
    <form (ngSubmit)="onLogin()" name="resetpassword">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-g-6">
            <p-radioButton
              name="rbgroup"
              value="isLink"
              label="Send password reset link to user"
              [(ngModel)]="rbValue"
              inputId="preopt1"
            ></p-radioButton>
          </div>
          <div class="ui-g-6">
            <p-radioButton
              name="rbgroup"
              value="isManualy"
              label="Set password directly"
              [(ngModel)]="rbValue"
              inputId="preopt2"
            ></p-radioButton>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-dialog-content" *ngIf="rbValue== 'isManualy'">

        <div class="ui-g ui-fluid">
          <div class="ui-g-12">
            <span class="bold">Email</span>
          </div>
          <div class="ui-g-12">
            <div class="font-weight-bold">
              {{ userDetails['email'] }}
            </div>
          </div>
        </div>
        <div class="ui-g ui-fluid">
          <div class="ui-g-12">
            <span class="bold">Password</span>
          </div>
          <div class="ui-g-12">
            <div class="ui-inputgroup ui-g-6">
              <span class="ui-inputgroup-addon"
                ><i class="fas fa-key"></i
              ></span>
              <input
                pPassword
                [showPassword]="showPassword"
                type="password"
                name="password"
                class="ui-inputtext"
                placeholder="Password"
                [feedback]="false"
                [(ngModel)]="model.password"
                (keyup) = 'onPassword()'
                [ngClass]="{
                  'is-invalid-class':model['password'].length < 8 && errorPassword }"

              />
              <span class="ui-inputgroup-addon">
                <i
                  [ngClass]="showPassword ? 'far fa-eye' : 'far fa-eye-slash'"
                  (click)="togglePassword()"
                ></i>
              </span>
              <!-- {{model['password'].length}} -->

            </div>
            <div class="ui-g-6">
              <button
                type="button"
                pButton
                name="auto"
                label="Auto Generated"
                icon="fas fa-sync-alt"
                style="margin-right: .25em;top: 2px;"
                class="ui-button-success"
                (click)="autoGenerated()"
              ></button>
            </div>
            <div
            *ngIf="model['password'].length < 8 && errorPassword"
            class="invalid-feedback-class ui-g-12"
          >
            <div>
              Password must be 8 character
            </div>
          </div>
          </div>
        </div>
      </div>
        <button
        type="submit"
        pButton
        name="submit"
        label="Submit"
        icon="pi pi-check"
        style="margin-right: .25em"
        class="ui-button-success btn-submit"
        [disabled]="model['password'].length < 8 && rbValue== 'isManualy'"
      ></button>

    </form>
  </div>
</div>
