img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.user-name {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
}

.icon-class {
  text-align: center;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.icon-class {
  text-align: center;
  cursor: pointer;
}

input[type="checkbox"] {
 display: none;
}

.toggle-button-switch {
 position: absolute;
 width: 20px;
 height: 20px;
 background-color: #fff;
 border-radius: 100%;
 cursor: pointer;
 z-index: 100;
 -webkit-transition:left 0.3s;
 margin-left: -3.2%;
}

.toggle-button-text {
 width: 80px;
 overflow: hidden;
 background-color: #fc3164;
 border-radius: 25px;
 box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
 transition: background-color 0.3s;
 margin: auto;
}


.toggle-button-text-off {
 float: left;
 /* width: 50%; */
 height: 100%;
 line-height: 20px;
 font-family: Lato, sans-serif;
 font-weight: bold;
 color: #fff;

 padding-left: 10px;
}

 .toggle-button-text-on{
 float: right;
 height: 100%;
 line-height: 20px;
 font-family: Lato, sans-serif;
 font-weight: bold;
 color: #fff;
 text-align: center;
 padding-right: 10px;
}



input[type="checkbox"]:checked ~ .toggle-button-switch {
 margin-left: 1.5%;
}

input[type="checkbox"]:checked ~ .toggle-button-text {
 background-color: #3dbf87;
}

input[type=checkbox]:checked  ~ .on div.toggle-button-text-on {
display: none;
}

input[type=checkbox]  ~ .on div.toggle-button-text-on {
display: block;
}

input[type=checkbox]  ~ .off div.toggle-button-text-off {
display: none;
}

input[type=checkbox]:checked  ~ .off div.toggle-button-text-off {
display: block;
}