<p class="page-title">{{ appConfig['displayName'] }}</p>

<div style="text-align:left;float: right;margin-bottom: 5px;" *ngIf="isCreateUser">
  <button type="button" pButton icon="fa fa-plus" (click)="addUser()" label="Add"></button>
</div>
<br>
<p-table #dt [columns]="columns" [value]="users" [scrollable]="true" scrollHeight="70vh" [resizableColumns]="true"
  columnResizeMode="expand" [paginator]="columns.length > 10" [rows]="10">
  <ng-template pTemplate="caption">
    <div class="ui-helper-clearfix">
      <h4 style="float:left; margin: 2px 0 0 0;">Users</h4>
      <!-- <button
          type="button"
          icon="fas fa-download"
          iconPos="left"
          label="Export CSV"
          (click)="dt.exportCSV()"
          style="float:right"
        ></button> -->
      <div style="text-align: right; float: right; display: inline-block;">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All"
          [(ngModel)]="searchvalue" (input)="dt.filterGlobal($event.target.value, 'contains')" />

        <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
          (click)="searchvalue='';dt.filterGlobal('', 'contains')"><i class="pi pi-times"></i>
        </span>
      </div>
      <div style="text-align: right; float: right; display: inline-block;">
        <i class="fas fa-info-circle info-toottip" title="Search function works for dimensions only."></i>
      </div>
    </div>

  </ng-template>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [style.width.px]="col['width']" />
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col['field']" pResizableColumn>
        {{ col['header'] }}
        <p-sortIcon *ngIf="
            col['field'] !== 'impersonate' &&
            col['field'] !== 'change' &&
            col['field'] !== 'resetPassword' &&
            col['field'] !== 'clearSession'
          " [field]="col['field']" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order">
        </p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns">
        <input *ngIf="
            col['field'] !== 'change' &&
            col['field'] !== 'impersonate' &&
            col['field'] !== 'createdAt' &&
            col['field'] !== 'lastLoginAt' &&
            col['field'] !== 'resetPassword' &&
            col['field'] !== 'clearSession' &&
            col['field'] !== 'status'
          " pInputText [style.width.px]="decreaseSearchWidth(col['width'])" type="text" (input)="
            dt.filter($event.target.value, col['field'], col['filterMatchMode'])
          " />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-columns="columns" let-rowIndex="rowIndex">
    <tr>
      <td>
        <span class="user-name icon-class" (click)="editUser(user)"><img [src]="user.avatar"
            alt="Avatar" />{{ user.name }}</span>
      </td>
      <td>
        <a [href]="emailString(user.email)" target="_top">
          {{ user.email }}
        </a>
      </td>
      <!-- <td>
          {{ user.contactEmails }}
        </td> -->
      <!-- <td>
          <span>{{ user.owner_name }}</span>
        </td>
        <td style="text-align: center;">
          <p-inputSwitch
            (onChange)="statusChanged($event, user)"
            [(ngModel)]="user.status"
          ></p-inputSwitch>
        </td>
        <td class="icon-class">
          <span style="color: #106FBF"><i class="fas fa-edit fa-1-5x-custom"></i></span>
        </td> -->
      <td>
        <span class=" btn-link" (click)="roleDetails(user.role)">
          {{ user.role.name }}
        </span>
      </td>
      <td>
        <span class=" btn-link" (click)="teamDetails(user.team)">
          {{ user.team.name }}
        </span>
      </td>
      <td style="text-align:center">
        <span class="btn-link" (click)="impersonate(user)">
          <i class="fas fa-user-secret fa-1-5x-custom"></i>
        </span>
      </td>
      <td style="text-align:center" *ngIf="isChangesRoleTeam">
        <span class="btn-link" (click)="changeRoleTeam(user)">
          <i class="fas fa-pencil-alt fa-1-5x-custom" title="Change role,team and defualt app"></i>
        </span>
      </td>
      <td style="text-align:center">
        <span class="btn-link" (click)="resetPassword(user)">
          <i class="fas fa-redo-alt fa-1-5x-custom" title="Reset Password"></i>
        </span>
      </td>
      <td style="text-align:center">
        <span class="btn-link" (click)="clearSession(user)">
          <i class="fas fa-broom fa-1-5x-custom" title="Clear Session"></i>
        </span>
      </td>
      <td>
        <span>{{ user.parentUserName }}</span>
      </td>
      <td>
        <span>{{ user.createdAt | date: 'MM-dd-yyyy hh:mm:ss a' }}</span>
      </td>
      <td>
        <span>{{ user.lastLoginAt | date: 'MM-dd-yyyy hh:mm:ss a' }}</span>
      </td>
      <td style="text-align:center">
        <input type="checkbox" id="{{ user.id }}" [(ngModel)]="user.status" (change)="activateDeactivate(user)" />
        <label class="toggle-button-switch" for="{{ user.id }}"></label>
        <div class="toggle-button-text" [ngClass]="{ on: user.status == 1, off: user.status == 0 }">
          <div class="toggle-button-text-on">Deactive</div>
          <div class="toggle-button-text-off">Active</div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>