<style>
  .ui-grid-header-viewport,
  .ui-grid-footer-panel.ui-grid-footer-aggregates-row {
    background: #dfe5ec;
  }

  .app-container .gridStyle .ui-grid {
    height: 370px !important;

  }

  .modal-class .modal-content {
    width: 1050px !important;
  }

  .ui-grid .ui-grid-top-panel .ui-grid-filter-container input.ui-grid-filter-input {
    border-radius: 2rem !important;
    padding: 0.125rem 0.625rem !important;
    outline: 0;
    display: inline-block;
    border: 1px solid #D3DCE6 !important;
  }

  .ui-grid .ui-grid-top-panel .ui-grid-filter-container>div {
    border: 0;
  }

  .ui-grid-contents-wrapper {
    overflow: auto !important
  }

  .ui-grid-pinned-container .ui-grid-viewport {
    overflow: hidden !important
  }

  .btn-addrule {
    float: right;
    margin-bottom: 6px;
  }

  .btncreaterule {
    /* float: right; */
    right: 200px;
    position: absolute;
    display: block;
  }

  .ui-grid {
    display: initial;
  }

  .hideSearch input.ui-grid-filter-input.ui-grid-filter-input-0.ng-empty {
    visibility: hidden;
  }

</style>

<div class="app-container campaign-fulfilment">

  <div class="modal-body" id="modal-body">

    <ul class="nav nav-tabs" style="margin-bottom: 10px;">

      <li class=" active nav-item" *ngIf="isResult == 'ASC' || isResult == 'BOTH' ">
        <a class="nav-link" data-toggle="tab" href="#rule_resultAsc">Alert Result ASC by {{sortingColName}}</a>
      </li>
      <li class="nav-item" [ngClass]="isResult == 'DESC'? 'active' :'inactive'"
        *ngIf="isResult == 'DESC' || isResult == 'BOTH' ">
        <a class="nav-link" data-toggle="tab" href="#rule_resultDesc">Alert Result DESC by {{sortingColName}}</a>
      </li>

    </ul>

    <div class="mt-1 mb-3 fr-upr-table" *ngIf="showTable">
      <p-treeTable #ttRev360 [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
        [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']"
        [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']"
        [sortMode]="aggTableJson['sortMode']" [resizableColumns]="aggTableJson['resizableColumns']"
        [columnResizeMode]="aggTableJson['columnResizeMode']" [reorderableColumns]="aggTableJson['reorderableColumns']"
        [frozenColumns]="aggTableJson['frozenCols']" [frozenWidth]="aggTableJson['frozenWidth']"
        [scrollable]="aggTableJson['scrollable']" [scrollHeight]="aggTableJson['scrollHeight']"
        [selectionMode]="aggTableJson['selectionMode']" [(selection)]="aggTableJson['selectedColsModal']"
        [dataKey]="aggTableJson['selectionDataKey']" [metaKeySelection]="aggTableJson['metaKeySelection']"
        [style]="{ width: '100%' }" (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
        <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

        <!-- <ng-template pTemplate="caption">
          <div *ngIf="aggTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input ymInput pInputText type="text" size="50" placeholder="Search All"
              (input)="ttRev360.filterGlobal($event.target.value, 'contains')" style="width:auto" />
          </div>
        </ng-template> -->

        <!-- ------------------------- For frozen columns -------------------------- -->

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
          </colgroup>
        </ng-template>

        <!-- ------------------------------- Header -------------------------------- -->

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
              ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
              [ttResizableColumnDisabled]="!col['options']['resizable']"
              [ttReorderableColumnDisabled]="!col['options']['movable']">
              {{ col.displayName }}
              <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
            </th>
          </tr>
          <tr *ngIf="aggTableJson['columnSearch']">
            <ng-container *ngFor="let col of columns">
              <th *ngIf="isHiddenColumn(col)">
                <input ymInput pInputText type="text" [style.visibility]="
                              col['options']['colSearch'] ? 'visible' : 'hidden'
                            " (input)="
                              ttRev360.filter(
                                $event.target.value,
                                col.field,
                                col.filterMatchMode
                              )
                            " />
              </th>
            </ng-container>
          </tr>
        </ng-template>

        <!-- -------------------------------- Body --------------------------------- -->


        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns; let i = index" [title]="
                              rowData[col.field] | formatNum: col.format:col.formatConfig
                            ">
              {{rowData[col.field]  | formatNum: col.format:col.formatConfig }}
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft" let-state>
          Showing {{ state.page * state.rows + 1 }} to
          {{
                      state.rows * (state.page + 1) > state.totalRecords
                        ? state.totalRecords
                        : state.rows * (state.page + 1)
                    }}
          of {{ state.totalRecords }} Records
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="aggTableJson['columns']">
              No data found.
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
    <div class="no-data-label" *ngIf="noTableData">
      No data found
    </div>
    <!-- <div class="table-container">
            <pf-grid grid-options="vm.ruleResultGridOptions"></pf-grid>
        </div> -->
  </div>


</div>
