<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
    <p-accordion [multiple]="true">
      <p-accordionTab header="Basic Alert Details" [selected]="true">

        <!-- <form [formGroup]="alertDetailsForm"> -->

          <div class="ui-g-12">
            <div [formGroup]="alertDetailsForm">
            <div class="ui-g-12 ui-md-4">
              <div class="ui-g-12 ui-md-12">
                <div class="ui-float-label">
                  <span>
                    Alert Name*
                  
                  </span>
                </div>
                <input
                  ymInput
                  pInputText
                  type="text"
                  [(ngModel)]="alertName"
                  formControlName="alertName"
                  />
                  <div
            *ngIf="
            (alertDetailsForm
              .get('alertName')
              .hasError('required') &&
              alertDetailsForm.controls['alertName']
                .dirty) ||
            (alertDetailsForm.controls['alertName']
              .touched &&
              alertDetailsForm
                .get('alertName')
                .hasError('required'))
          "
    style="color: red;"> name required
              
            </div>
              </div>
            </div>
            
          </div>

            <div class="ui-g-12 ui-md-4">
              <div class="ui-g-12 ui-md-12">
                <!-- <ym-daterange-picker
                  [appConfig]="appConfig"
                  (datePickerChanged)="selectedDates = $event"
                ></ym-daterange-picker> -->
                <span class="ui-float-label">Date Range</span>
             
                <p-calendar
                [(ngModel)]="alertDateRange"
                (onClose)="onDateSelected()"
                selectionMode="range"
                [readonlyInput]="true"
                dateFormat="mm/dd/yy"
                [numberOfMonths]="2"
                [showIcon]="true"
              >
                <p-footer >
                  <p-button
                  [style]="{padding: '2px'}"
                    label="Yesterday"
                    (click)="onChangeAlertDate('yesterday')"
                  ></p-button>
                  <p-button
                  [style]="{padding: '2px'}"
                    label="Day Before Yesterday"
                    (click)="onChangeAlertDate('day_before_yesterday')"
                  ></p-button>
                  <p-button
                  [style]="{padding: '2px'}"
                  label="Last 7 days"
                  (click)="onChangeAlertDate('last_7_days')"
                ></p-button>
                  <p-button
                  [style]="{padding: '2px'}"
                  label="Last 15 days"
                  (click)="onChangeAlertDate('last_15_days')"
                ></p-button>
                  <p-button
                  [style]="{padding: '2px'}"
                    label="Last 30 Days"
                    (click)="onChangeAlertDate('last_30_days')"
                  ></p-button>
                  <p-button
                  [style]="{padding: '2px'}"
                  label="Last Month"
                  (click)="onChangeAlertDate('last_month')"
                ></p-button>
                  <p-button
                  [style]="{padding: '2px'}"
                    label="This Month"
                    (click)="onChangeAlertDate('this_month')"
                  ></p-button>
                  <p-button
                  [style]="{padding: '2px'}"
                  label="This Year"
                  (click)="onChangeAlertDate('this_year')"
                ></p-button>
                <p-button
                [style]="{padding: '2px'}"
                label="Last Year"
                (click)="onChangeAlertDate('last_year')"
              ></p-button>
          
                  <button
                    pButton
                    type="button"
                    label="Ok"
                    style="float: right"
                    (click)="onDateSelected()"
                    class="ui-button-success"
                  ></button>
                </p-footer>
              </p-calendar>



             
              </div>
            </div>

            <div class="ui-g-12 ui-md-4">
              <div class="ui-g-12 ui-md-12">
                <span class="ui-float-label">Severity</span>

                <p-selectButton
                  [options]="severities"
                  [(ngModel)]="selectedSeverities"
                  (onChange)="onChangeSev()"
                ></p-selectButton>

                <p-selectButton
                [options]="severities"
                [(ngModel)]="selectedSeverities"
                (onChange)="onChangeSev()"
              ></p-selectButton>

              </div>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-12 ui-md-4">
              <div class="ui-g-12 ui-md-12">
                <span class="ui-float-label">Description</span>
                <div class="ui-inputgroup">
                  <textarea
                    [rows]="5"
                    [cols]="30"
                    class="form-control"
                    style="width: 100%; height: 100px;"
                    pInputTextarea
                    placeholder="Alert Description"
                  ></textarea>
                </div>
              </div>
            </div>
            <div [formGroup]="alertDetailsDimForm">
             <div class="ui-g-12 ui-md-4">
              <div class="ui-g-12 ui-md-12">
                <span class="ui-float-label">Dimensions* </span>
                <p-multiSelect
                  [options]="availableDimensions"
                  dataKey="name"
                  optionLabel="alies"
                  [(ngModel)]="selectedDimensions"
                  (onChange) = "onchangeDim()"
                  onChange = "onchangeDim()"
                  (onPanelHide) = "onchangeDim()"
                  formControlName="selectedDimensions"
                  >
                </p-multiSelect>
                <div
                *ngIf="
                (alertDetailsDimForm
                  .get('selectedDimensions')
                  .hasError('required') &&
                  alertDetailsDimForm.controls['selectedDimensions']
                    .dirty) ||
                (alertDetailsDimForm.controls['selectedDimensions']
                  .touched &&
                  alertDetailsDimForm
                    .get('selectedDimensions')
                    .hasError('required'))
              "
        style="color: red;"> Select minimun one Dimension
                  
                </div>
             </div> 
            </div>

           <div class="ui-g-12 ui-md-4">
              <div class="ui-g-12 ui-md-12">
                <span class="ui-float-label">Metric* </span>
                <p-multiSelect
                  [options]="availableMetric"
                  defaultLabel="Select Metrics"
                  [(ngModel)]="selectedMetric"
                  maxSelectedLabels="1"
                  [filter]="true"
                  [virtualScroll]="true"
                  appendTo="body"
                  itemSize="30"
                  optionLabel="alies"
                  dataKey="name"
                  filterBy="alies,name"
                  resetFilterOnHide="true"
                  [style]="{ 'min-width': '200px' }"
                  emptyFilterMessage="No results found"
                  (onChange) = "onChangeMetric()"
                  formControlName="selectedMetric"
                >
                </p-multiSelect>
                <div
                *ngIf="
                (alertDetailsDimForm
                  .get('selectedMetric')
                  .hasError('required') &&
                  alertDetailsDimForm.controls['selectedMetric']
                    .dirty) ||
                (alertDetailsDimForm.controls['selectedMetric']
                  .touched &&
                  alertDetailsDimForm
                    .get('selectedMetric')
                    .hasError('required'))
              "
        style="color: red;"> Select minimun one Metric
                  
                </div>
                
              </div>
            </div>

          </div>

          </div>

          <div class="ui-g-12">
 
            <div class="ui-g-12 ui-md-4" *ngIf="selectedMetric && selectedMetric.length > 0">
              <div class="ui-g-12 ui-md-12">
                <span class="ui-float-label">Average Metric </span>
                <p-multiSelect
                  [options]="selectedMetric"
                  defaultLabel="Select metrics for average"
                  [(ngModel)]="selectedMetricForAverage"
                  maxSelectedLabels="1"
                  [filter]="true"
                  [virtualScroll]="true"
                  appendTo="body"
                  itemSize="30"
                  optionLabel="alies"
                  dataKey="name"
                  filterBy="alies,name"
                  resetFilterOnHide="true"
                  [style]="{ 'min-width': '200px' }"
                  emptyFilterMessage="No results found"
                >
                </p-multiSelect>
              </div>
            </div>
          
          </div> 

          <!-- <div class="ui-g-12" *ngIf="selectedMetric.length > 0">

          <div class="ui-g-12 ui-md-4">
              <span class="ui-float-label">Average Metric *</span>
              <p-multiSelect
                [options]="selectedMetric"
                defaultLabel="Select Metrics for average"
                [(ngModel)]="selectedMetricForAverage"
                formControlName="selectedMetricForAverage"
                maxSelectedLabels="1"
                [filter]="true"
                [virtualScroll]="true"
                appendTo="body"
                itemSize="10"
                optionLabel="alies"
                dataKey="name"
                filterBy="alies,name"
                resetFilterOnHide="true"
                [style]="{ 'min-width': '200px' }"
                emptyFilterMessage="No results found"
              >
              </p-multiSelect>
          </div>
          </div> -->
        <!-- </form> -->
                    <!-- [(ngModel)]="addDerivedForm" -->

        <div class="ui-g-12" style="margin-left: 1%;">   
          <p-checkbox
            label=" Add Derived Metrics"
            (onChange)="onChangeDerivedChkBox(addDerived)"
          >
          </p-checkbox>
        </div>
        <form [formGroup]="derivedForm">
          <div class="ui-g-12" [hidden]="!addDerived">
            <div
              class="ui-g-12 ui-md-4 ui-g-nopad drag-column"
              style="margin-left: 1%; margin-top: 5%;"
            >
              <ul style="margin: 0; padding: 0; list-style-type: none;">
                <li
                  *ngFor="let metric of availableMetric"
                  class="ui-helper-clearfix"
                  pDraggable="metric.alies"
                  (onDragStart)="dragStart($event, metric)"
                  (onDragEnd)="dragEnd($event)"
                >
                  <div
                    style="
                      margin: 8px 0 0 8px;
                      float: left;
                      background-color: lightblue;
                      padding: 6px 60px;
                    "
                  >
                    {{ metric.alies }}
                  </div>
                </li>
              </ul>
            </div>
            <div class="ui-g-12 ui-md-3 ui-g-nopad drag-column">
              <ul
                style="
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                  overflow: hidden;
                  margin-left: -2%;
                "
              >
                <li
                  style="float: left;"
                  *ngFor="let metric of operatorList"
                  class="ui-helper-clearfix"
                  pDraggable="metric.alies"
                  (onDragStart)="dragStart($event, metric)"
                  (onDragEnd)="dragEnd($event)"
                >
                  <div
                    style="
                      display: block;
                      text-align: center;
                      padding: 16px;
                      text-decoration: none;
                      background-color: lightsteelblue;
                      padding: 0px 22px;
                      margin: 5px;
                      font-size: 25px;
                      font-weight: lighter;
                      font-family: sans-serif;
                    "
                  >
                    {{ metric.alies }}
                  </div>
                </li>
              </ul>
            </div>

            <div class="ui-g-12 ui-md-1 ui-g-nopad drag-column">
              <ul
                style="
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                  overflow: hidden;
                  margin-left: -123px;
                "
              >
                <li
                  style="float: left;"
                  *ngFor="let metric of bracketList"
                  class="ui-helper-clearfix"
                  pDraggable="metric.alies"
                  (onDragStart)="dragStart($event, metric)"
                  (onDragEnd)="dragEnd($event)"
                >
                  <div
                    style="
                      display: block;
                      text-align: center;
                      padding: 16px;
                      text-decoration: none;
                      background-color: lightsteelblue;
                      padding: 0px 22px;
                      margin: 5px;
                      font-size: 25px;
                      font-weight: lighter;
                      font-family: sans-serif;
                    "
                  >
                    {{ metric.alies }}
                  </div>
                </li>
              </ul>
            </div>

            <div
              class="ui-g-4 ui-g-nopad drag-column"
              (onDrop)="drop($event)"
              pDroppable="metric.alies"
              style="margin-top: 5%; margin-left: -407px; width: 29%;"
            >
              <div class="ui-float-label">
                <!-- <span>
                Derived Metric Name*
                <span>
                  <p-message
                    style="display: inline-flex;"
                    text="Alert name is required"
                    *ngIf="
                      (alertDetailsForm
                        .get('alertName')
                        .hasError('required') &&
                        alertDetailsForm.controls['alertName'].dirty) ||
                      (alertDetailsForm.controls['alertName'].touched &&
                        alertDetailsForm
                          .get('alertName')
                          .hasError('required'))
                    "
                  ></p-message>
                </span>
              </span> -->
              </div>
              <div>
                <!-- <p-message
                  style="display: list-item;"
                  text="Name is required"
                  *ngIf="
                    (derivedForm
                      .get('derivedMetricName')
                      .hasError('required') &&
                      derivedForm.controls['derivedMetricName'].dirty) ||
                    (derivedForm.controls['derivedMetricName'].touched &&
                      derivedForm.get('derivedMetricName').hasError('required'))
                  "
                ></p-message> -->
              </div>

              <input
                ymInput
                pInputText
                type="text"
                formControlName="derivedMetricName"
                [(ngModel)]="derivedMetricName"
                class="form-control"
                placeholder="Enter derived metric name *"
                style="margin-bottom: 2%;"
              />

              <p-dropdown
              [options]="availableExpected"
              formControlName="selectedExpected"
              placeholder="Select Expected *"
              [group]="false"
              optionLabel="alies"
              dataKey="name"
              [(ngModel)]="selectedExpected"
            >
            </p-dropdown>

              <!-- <p-selectButton
              [options]="availableExpected"
              formControlName="selectedExpected"
              [(ngModel)]="selectedExpected"
            ></p-selectButton> -->



              <!-- <p-selectButton
              [options]="availableExpected"
              [(ngModel)]="selectedExpected"
              formControlName="selectedExpected"
            >
            </p-selectButton> -->

              <div style="margin-bottom: 2%;">
                <p-dropdown
                  [options]="formatList"
                  formControlName="selectedformat"
                  placeholder="Select format *"
                  [group]="false"
                  (onChange)="stageChanged()"
                  optionLabel="alies"
                  dataKey="name"
                  [(ngModel)]="selectedformat"
                >
                </p-dropdown>
              </div>
              <p-chips
                formControlName="draggedMetric"
                [(ngModel)]="selectedMerticArray"
                placeholder="Drag Metrics / Operators to create formula"
                (onRemove)="onRemoveChip($event)"
                (onAdd)="onAddChips($event)"
              ></p-chips>
              <small *ngIf="!isValidDerviedMetric"> Enter valid dervied metric formula </small>

              <!-- <textarea type="text" [(ngModel)]="selectedData"
            formControlName="selectedData"
            cols="60"
            rows="5"

            > 
            </textarea>-->

              <div style="padding: 5px;">
                <button
                  pButton
                  type="button"
                  (click)="onAddDerivedMetrics()"
                  label="Add"
                  [disabled] = "!derivedForm.valid"
                  style="float: right; margin-left: 5px;"
                  class="ui-button-success"
                ></button>

                <button
                  pButton
                  type="button"
                  (click)="onResetDerviedMetric()"
                  
                  label="Reset"
                  style="float: right;"
                  class="ui-button-warning"
                ></button>
              </div>
            </div>

            <div
              class="ui-g-12 ui-md-2 ui-g-nopad drag-column"
              style="margin-left: 1%;"
            >
              <ul style="margin: 0; padding: 0; list-style-type: none;">
                <li
                  *ngFor="let s of derivedMetricArray"
                  class="ui-helper-clearfix dervied-metric"
                >
                  <span
                    style="float: right; top: 0; margin-right: 10px;"
                    class="delete-metric"
                    (click)="removeMetric(s)"
                    ><i class="fas fa-times"></i
                  ></span>
                  <div
                    style="
                      background-color: lightblue;
                      padding: 6px 6px;
                      margin: 4px;
                      width: max-content;
                    "
                  >
                    Name : {{ s.name }}<br />
                    Format : {{ s.format }}<br />
                    Expected : {{s.expected['alies']}} <br />
                    {{ s.formula }}

                  </div>
                  <hr />
                </li>
              </ul>
            </div>
          </div>
        </form>
      </p-accordionTab>

      <p-accordionTab >

        <p-header>
          <span title="Condition Mapping">Condition Mapping</span>
          <span title="Help">
            <i
            class="far fa-question-circle"
            style="
              cursor: pointer;
              font-size: 16px;
              margin-left: 8px;
              margin-right: 3px;
            "
            aria-haspopup="true"
            aria-expanded="true"
          >
          </i>
  
          </span>
         </p-header>
         <p-card header = "Dimension" class = "alert-create-condition"> 
   
        <div
        style="    margin-bottom: 5px;"
          class="ui-g-12"
          *ngFor="let item of conditionMappingFormArr; index as i"
        >
          <div class="ui-g-2" *ngIf="i != 0">
            <span class="ui-float-label">AND / OR </span>
            <p-dropdown
              [options]="availableAndOr"
              placeholder="Select And Or"
              [group]="false"
              optionLabel="alies"
              (onChange)="onChangeDimCondition()"
              dataKey="name"
              [(ngModel)]="item['selectedAndOr']"
            >
            </p-dropdown>
          </div>

          <div class="ui-g-2">
            <span class="ui-float-label">Dimensions </span>
            <p-dropdown
              [options]="item['dims']"
              placeholder="Select Dimension"
              [group]="false"
              optionLabel="alies"
              (onChange)="selectedDimConditionMap(item['dims'].name,i)"
              dataKey="name"
              [(ngModel)]="item['selectedDim']"
            >
            </p-dropdown>
          </div>

          <div class="ui-g-2">
            <span class="ui-float-label">Conditions </span>

            <p-selectButton
              [options]="item['condition']"
              [(ngModel)]="item['selectedCondition']"
              (onChange)="selectedConditionMap(item['selectedCondition'])"
            ></p-selectButton>
          </div>

          <div class="ui-g-2">
            <span class="ui-float-label">Values </span>
            <p-multiSelect
              [options]="item['values']"
              [(ngModel)]="item['selectedValues']"
            >
            </p-multiSelect>
          </div>

          <div class="ui-g-2" *ngIf="i == conditionMappingFormArr.length - 1">
            <div style="margin-top: 11%;">
              <button
                pButton
                type="button"
                (click)="onDimMappingAdded()"
                [disabled] = "item['selectedValues'].length == 0"
                label="Add"
                style="margin-left: 5px;"
                class="ui-button-success"
              ></button>
            </div>
          </div>

          <div class="ui-g-2" *ngIf="i != conditionMappingFormArr.length - 1">
            <div style="margin-top: 11%;">
              <button
                pButton
                type="button"
                (click)="onDimMappingRemoved(i)"
                label="Remove"
                style="margin-left: 5px;"
                class="ui-button-warning"
              ></button>
            </div>
          </div>
        </div>
      </p-card>
      <p-card header="Metric" class = "alert-create-condition">
        <div
        style="    margin-bottom: 5px;"
        class="ui-g-12"
        *ngFor="let item of metricMappingFormArr; index as i"
      >
        <div class="ui-g-2" *ngIf="i != 0">
          <span class="ui-float-label">AND / OR </span>
          <p-dropdown
            [options]="availableAndOr"
            placeholder="Select And Or"
            [group]="false"
            optionLabel="alies"
            (onChange)="onChangeDimCondition()"
            dataKey="name"
            [(ngModel)]="item['selectedAndOr']"
          >
          </p-dropdown>
        </div>

        <div class="ui-g-2">
          <span class="ui-float-label">Metric </span>
          <p-dropdown
            [options]="item['metric']"
            placeholder="Select Metric"
            [group]="false"
            optionLabel="alies"
            (onChange)="selectedMetricConditionMap(item['metric'].name)"
            dataKey="name"
            [(ngModel)]="item['selectedMetric']"
          >
          </p-dropdown>
        </div>

        <div class="ui-g-2">
          <span class="ui-float-label">Conditions</span>

          <p-dropdown
            [options]="item['condition']"
            placeholder="Select Condition"
            [group]="false"
            optionLabel="alies"
            (onChange)="selectedMetricConditionMap(item['metric'].name)"
            dataKey="name"
            [(ngModel)]="item['selectedCondition']"
          >
          </p-dropdown>
        </div>

        <div class="ui-g-2">
          <span class="ui-float-label">Values</span>

          <input

            ymInput
            pInputText
            type="text"
            [(ngModel)]="item['value']"
          />
        </div>

        <div
          class="ui-g-2"
          *ngIf="item['selectedCondition'] && item['selectedCondition'].name == 'BETWEEN'"
        >
          <span class="ui-float-label">To</span>

          <input
            ymInput
            pInputText
            type="text"
            [(ngModel)]="item['isBetweenValue']"
          />
        </div>

        <div class="ui-g-2" *ngIf="i == metricMappingFormArr.length - 1">
          <div style="margin-top: 11%;">
            <button
              pButton
              type="button"
              [disabled] = "item['value'] == '' || item['selectedCondition'] == {} || item['selectedMetric'] == {}"
              (click)="onMetricMappingAdded()"
              label="Add"
              style="margin-left: 5px;"
              class="ui-button-success"
            ></button>
          </div>
        </div>

        <div class="ui-g-2" *ngIf="i != metricMappingFormArr.length - 1">
          <div style="margin-top: 11%;">
            <button
              pButton
              type="button"
              (click)="onMetricMappingRemoved(i)"
              label="Remove"
              style="margin-left: 5px;"
              class="ui-button-warning"
            ></button>
          </div>
        </div>
      </div>
    </p-card>
    <p-card header="Sorting" class = "alert-create-condition">
      <div class="ui-g-12">
        <div class="ui-g-2">
          <span class="ui-float-label">Sort by</span>

          <p-selectButton
            [options]="sortingConditions"
            [(ngModel)]="selectedSorting"
          ></p-selectButton>
          <small>*BOTH: Gives result in both ordering (ASC & DESC). </small>
        </div>
        <div class="ui-g-2">
          <span class="ui-float-label">Number Of Records </span>
          <input 
          ymInput
          type="number"
           [(ngModel)]="sortingNoRecords"           
          />

          <!-- <p-spinner [(ngModel)]="sortingNoRecords"
          ></p-spinner> -->
        </div>

        <div class="ui-g-2">
          <span class="ui-float-label">Sorting Columns*
          </span>

          <p-multiSelect
          [options]="availableSortingColumns"
          defaultLabel="Select columns"
          [(ngModel)]="selectedSortingColumns"
          maxSelectedLabels="1"
          [filter]="true"
          [virtualScroll]="true"
          appendTo="body"
          itemSize="30"
          optionLabel="alies"
          dataKey="name"
          filterBy="alies,name"
          resetFilterOnHide="true"
          [style]="{ 'min-width': '200px' }"
          emptyFilterMessage="No results found"
        >
        </p-multiSelect>

          <!-- <p-autoComplete [(ngModel)]="selectedSortingMetric" [suggestions]="availableMetric"  styleClass="wid100"
          [minLength]="1" placeholder="Countries" field="name" [multiple]="true" dataKey ="name"

          > 
      </p-autoComplete>
  -->
          <!-- <p-multiSelect
          [options]="availableMetric"
          defaultLabel="Select Metrics"
          [(ngModel)]="selectedSortingMetric"
          maxSelectedLabels="1"
          [filter]="true"
          [virtualScroll]="true"
          appendTo="body"
          itemSize="30"
          optionLabel="alies"
          dataKey="name"
          filterBy="alies,name"
          resetFilterOnHide="true"
          [style]="{ 'min-width': '200px' }"
          emptyFilterMessage="No results found"
        >
        </p-multiSelect> -->
    </div>


      </div>
    </p-card>

      
      </p-accordionTab>

      <p-accordionTab >


        <p-header>
          <span title="Time Bucket">Time Bucket</span>
          <span title="Help">
            <i
            class="far fa-question-circle"
            style="
              cursor: pointer;
              font-size: 16px;
              margin-left: 8px;
              margin-right: 3px;
            "
            aria-haspopup="true"
            aria-expanded="true"
          >
          </i>
  
          </span>
         </p-header>

      <p-card header="Time Bucket" class = "alert-create-condition">
        <div class="ui-g-12" *ngFor="let item of timeBucketFormArray; index as i"
        >
          
    <div class="ui-g-2">
      <span class="ui-float-label">Date</span>
 
      <p-calendar
      [(ngModel)]="item['rangeDates']"
      (onClose)="onDateSelected()"
      selectionMode="range"
      [readonlyInput]="true"
      dateFormat="mm/dd/yy"
      [numberOfMonths]="2"
      [showIcon]="true"
    >
      <p-footer >
        <p-button
        [style]="{padding: '2px'}"
          label="Yesterday"
          (click)="onChangeTimeBucketDate('yesterday',i)"
        ></p-button>
        <p-button
        [style]="{padding: '2px'}"
          label="Day Before Yesterday"
          (click)="onChangeTimeBucketDate('day_before_yesterday',i)"
        ></p-button>
        <p-button
        [style]="{padding: '2px'}"
        label="Last 7 days"
        (click)="onChangeTimeBucketDate('last_7_days',i)"
      ></p-button>
        <p-button
        [style]="{padding: '2px'}"
        label="Last 15 days"
        (click)="onChangeTimeBucketDate('last_15_days',i)"
      ></p-button>
        <p-button
        [style]="{padding: '2px'}"
          label="Last 30 Days"
          (click)="onChangeTimeBucketDate('last_30_days',i)"
        ></p-button>
        <p-button
        [style]="{padding: '2px'}"
        label="Last Month"
        (click)="onChangeTimeBucketDate('last_month',i)"
      ></p-button>
        <p-button
        [style]="{padding: '2px'}"
          label="This Month"
          (click)="onChangeTimeBucketDate('this_month',i)"
        ></p-button>
        <p-button
        [style]="{padding: '2px'}"
        label="This Year"
        (click)="onChangeTimeBucketDate('this_year',i)"
      ></p-button>
      <p-button
      [style]="{padding: '2px'}"
      label="Last Year"
      (click)="onChangeTimeBucketDate('last_year',i)"
    ></p-button>

        <button
          pButton
          type="button"
          label="Ok"
          style="float: right"
          (click)="onDateSelected()"
          class="ui-button-success"
        ></button>
      </p-footer>
    </p-calendar>
  </div>
  <div class="ui-g-2"   style="margin-top: 1.7%;"
  >
  
  <p-checkbox
  [(ngModel)]="item['contribution']"
  value = "item['contribution']"
  label="Metric % Contribution"
  (onChange)="onChangeContribution(item)"
  
>
</p-checkbox>
</div>

<div class="ui-g-2" *ngIf="i == timeBucketFormArray.length - 1">
  <div style="margin-top: 11%;">
    <button
      pButton
      type="button"
      (click)="onTimeBucketAdded(item)"
      label="Add"
      style="margin-left: 5px;"
      class="ui-button-success"
    ></button>
  </div>
</div>

<div class="ui-g-2" *ngIf="i != timeBucketFormArray.length - 1">
  <div style="margin-top: 11%;">
    <button
      pButton
      type="button"
      (click)="onTimeBucketRemoved(i)"
      label="Remove"
      style="margin-left: 5px;"
      class="ui-button-warning"
    ></button>
  </div>
</div>
    </div>

    </p-card>
    <p-card header="Time Bucket Condition" class = "alert-create-condition">
    <p-checkbox
    [(ngModel)]="isTimeBucketCondition"
    label="Add time bucket condition"
    (onChange)="onChangeTimeBucketCondition(isTimeBucketCondition1)"
    >
  </p-checkbox>


        <div
          class="ui-g-12"
          *ngIf="isTimeBucketCondition1"
        >

          <div class="ui-g-2">
            <span class="ui-float-label">Metric </span>
            <p-dropdown
              [options]="selectedMetric"
              placeholder="Select Metric"
              [group]="false"
              optionLabel="alies"
              dataKey="name"
              [(ngModel)]="selectedTimeBucketMetric"
            >
            </p-dropdown>
          </div>

          <div class="ui-g-2">
            <span class="ui-float-label">Conditions </span>

            <p-dropdown
              [options]="metricMappingCondtions"
              placeholder="Select Condition"
              [group]="false"
              optionLabel="alies"
              dataKey="name"
              [(ngModel)]="selectedTimeBucketCondition"
            >
            </p-dropdown>
          </div>

          <div class="ui-g-2">
            <span class="ui-float-label">Values </span>

            <input
              ymInput
              pInputText
              type="text"
              [(ngModel)]="timeBucketCondition1"
            />
          </div>

          <div
            class="ui-g-2"
            *ngIf="selectedTimeBucketCondition && selectedTimeBucketCondition.name == 'BETWEEN'"
          >
            <span class="ui-float-label">To </span>

            <input
              ymInput
              pInputText
              type="text"
              [(ngModel)]="timeBucketCondition2"
            />
          </div>

      
        </div>

</p-card>

      </p-accordionTab>

      <p-accordionTab>

        <p-header>
          <span title="Time Bucket">Scheduler and Channel Details</span>
          <span title="Help">
            <i
            class="far fa-question-circle"
            style="
              cursor: pointer;
              font-size: 16px;
              margin-left: 8px;
              margin-right: 3px;
            "
            aria-haspopup="true"
            aria-expanded="true"
          >
          </i>
  
          </span>
         </p-header>

         <p-card header="Scheduler" class = "alert-create-condition">
        <div class="ui-g-12">
          <div class="ui-g-2">

        <span class="ui-float-label">Frequency
        </span>

        <p-dropdown
        [options]="schedulerFreuwncy"
        placeholder="Select frequency"
        [group]="false"
        optionLabel="alies"
        dataKey="name"
        [(ngModel)]="selectedFrequency"
        (change) = "onChangeFreq()"
      >
      </p-dropdown>
      </div>  


      <div class="ui-g-2">
        <span class="ui-float-label">Start Date
        </span>
        <p-calendar [(ngModel)]="schedularStartDate" 
        [readonlyInput]="true"
        dateFormat="mm/dd/yy HH:mm" 
        showTime="true" 
        hourFormat="12" 
        showTime="true" 
        hourFormat="12" 
        (onSelect) = "onSelectDate()"></p-calendar>
        </div>

        <div class="ui-g-2">
          <span class="ui-float-label">End Date
          </span>
          <p-calendar 
          [(ngModel)]="schedularEndDate"
          [readonlyInput]="true"
          dateFormat="mm/dd/yy" 
          [minDate] = "schedularStartDate" 
          ></p-calendar>
          </div>

          <div class="ui-g-2" *ngIf="isEdit">
            <span class="ui-float-label">Scheduler Status
            </span>

          <p-selectButton
          [options]="schedularStatus"
          [(ngModel)]="selectedSchecularStatus"
         ></p-selectButton>
            </div>
     </div>
      </p-card>   

      <p-card header="Channel" class = "alert-create-condition">

        <div class="ui-g-12">

          <div class="ui-g-2">
            <span class="ui-float-label">Channel Details
  
            </span>
            <p-multiSelect
            [options]="channelList"
            defaultLabel="Select Channel"
            [(ngModel)]="selectedChannel"
            maxSelectedLabels="1"
            [filter]="true"
            [virtualScroll]="true"
            appendTo="body"
            itemSize="30"
            optionLabel="alies"
            dataKey="name"
            filterBy="alies,name"
            resetFilterOnHide="true"
            [style]="{ 'min-width': '200px' }"
            emptyFilterMessage="No results found"
            (onChange) = "onChangeChannel()"
            >
          </p-multiSelect>
      </div>
  
      <div class="ui-g-3" *ngIf="isSlack">
        <span class="ui-float-label">Slack ID
        </span>
  
      <p-chips
      [(ngModel)]="slackChannel"
      placeholder="Enter Slack ID"
    ></p-chips>
  </div>
  
  
  <div class="ui-g-3" style="margin-left: '1%';">
  <span class="ui-float-label">Email ID
  
  </span>
  
  <p-chips
  [(ngModel)]="emailChannel"
  placeholder="Enter Email ID"
  (onAdd)="onAddEmailChips($event)"                
  (onRemove)="onRemoveEmailChip($event)"
  
  
  ></p-chips>
  <small *ngIf="!isValidAlertChannelEmail">Please enter valid email id</small>
  </div>
      </div>

      </p-card>

      </p-accordionTab>

    </p-accordion>    
  </div>
</div>

<div
class="ui-g-2 float-right"
style="padding-left: 16px; display: inline-block; width: 100%;"
>
<button
  pButton
  type="button"
  (click)="onSaveAlert()"
  label="Save"
  icon="fa fa-plus"
  class="ui-button-success"
  [disabled]="!alertDetailsForm.valid || !alertDetailsDimForm.valid || selectedSortingColumns.length <= 0"
></button>

<button
  pButton
  type="button"
  (click)="goBackAlert()"
  label="Close"
  icon="far fa-times-circle"
  class="ml-2 ui-button-warning"
></button>
</div>

</div>

