<div style="padding: 10px;" class="ui-fluid">



  <div class="card">
    <div class="card-block" style="padding: 1.25rem;">
      <form class="ContactMainForm" [formGroup]="registerForm">
        <div class="row form-group">
          <div class="col-sm-4 ">Property*</div>
          <div class="col-sm-8 " *ngIf="RowData['type'] == 'new'">
            <p-multiSelect [options]="groupedProperty" formControlName="derived_station_rpt"
              defaultLabel="Select Property" maxSelectedLabels="1" optionLabel="label" [filter]="true"
              [virtualScroll]="true" appendTo="body" itemSize="30" filterBy="label,value.name" resetFilterOnHide="true"
              [style]="{ 'min-width': '200px' }" [ngClass]="{
                'is-invalid-class':
                  f['derived_station_rpt'].invalid &&
                  (f['derived_station_rpt'].dirty || f['derived_station_rpt'].touched)
              }"></p-multiSelect>
            <div *ngIf="
                f['derived_station_rpt'].invalid &&
                (f['derived_station_rpt'].dirty || f['derived_station_rpt'].touched)
              " class="invalid-feedback-class">
              <div *ngIf="f['derived_station_rpt'].errors.required">
                Property is required
              </div>
            </div>
          </div>
          <div class="col-sm-8 " *ngIf="RowData['type'] == 'update'">
            <label>{{FormData['derived_station_rpt']}}</label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4 ">Contact Name*</div>
          <div class="col-sm-8 ">
            <input ymInput pInputText type="text" formControlName="contactPersonName" class="form-control" [ngClass]="{
              'is-invalid':
                f['contactPersonName'].invalid && (f['contactPersonName'].dirty || f['contactPersonName'].touched)
            }" />
            <div *ngIf="
              f['contactPersonName'].invalid && (f['contactPersonName'].dirty || f['contactPersonName'].touched)
            " class="invalid-feedback">
              <div *ngIf="f['contactPersonName'].errors.required">
                Contact Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4 ">Business Name*</div>
          <div class="col-sm-8 ">
            <input ymInput pInputText type="text" formControlName="businessName" class="form-control" [ngClass]="{
              'is-invalid':
                f['businessName'].invalid && (f['businessName'].dirty || f['businessName'].touched)
            }" />
            <div *ngIf="
              f['businessName'].invalid && (f['businessName'].dirty || f['businessName'].touched)
            " class="invalid-feedback">
              <div *ngIf="f['businessName'].errors.required">
                Business Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4 ">Street Address* </div>
          <div class="col-sm-8 ">
            <textarea id="bankaddress" ymInput pInputText type="text" formControlName="address" class="form-control"
              [ngClass]="{
            'is-invalid':
              f['address'].invalid && (f['address'].dirty || f['address'].touched)
          }"></textarea>
            <div *ngIf="
            f['address'].invalid && (f['address'].dirty || f['address'].touched)
          " class="invalid-feedback">
              <div *ngIf="f['address'].errors.required">
                Street Address is required
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4 ">City* </div>
          <div class="col-sm-8 ">
            <input ymInput pInputText type="text" formControlName="city" class="form-control" [ngClass]="{
              'is-invalid':
                f['city'].invalid && (f['city'].dirty || f['city'].touched)
            }" />
            <div *ngIf="
              f['city'].invalid && (f['city'].dirty || f['city'].touched)
            " class="invalid-feedback">
              <div *ngIf="f['city'].errors.required">
                City is required
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-4 ">Email*</div>
          <div class="col-sm-8 ">
            <input ymInput pInputText type="text" formControlName="email" class="form-control" [ngClass]="{
              'is-invalid':
                f['email'].invalid && (f['email'].dirty || f['email'].touched)
            }" />
            <div *ngIf="
              f['email'].invalid && (f['email'].dirty || f['email'].touched)
            " class="invalid-feedback">
              <div *ngIf="f['email'].errors.required">Email is required</div>
              <div *ngIf="f['email'].errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4 ">Phone No*</div>
          <div class="col-sm-8 ">
            <input ymInput pInputText type="text" formControlName="phoneNo" class="form-control" [ngClass]="{
              'is-invalid':
                f['phoneNo'].invalid && (f['phoneNo'].dirty || f['phoneNo'].touched)
            }" />
            <div *ngIf="
              f['phoneNo'].invalid && (f['phoneNo'].dirty || f['phoneNo'].touched)
            " class="invalid-feedback">
              <div *ngIf="f['phoneNo'].errors.required">
                Phone No is required
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4 ">Domain-Site Name*</div>
          <div class="col-sm-8 ">
            <input ymInput pInputText type="text" formControlName="domainSiteName" class="form-control" [ngClass]="{
              'is-invalid':
                f['domainSiteName'].invalid && (f['domainSiteName'].dirty || f['domainSiteName'].touched)
            }" />
            <div *ngIf="
              f['domainSiteName'].invalid && (f['domainSiteName'].dirty || f['domainSiteName'].touched)
            " class="invalid-feedback">
              <div *ngIf="f['domainSiteName'].errors.required">
                Domain-Site Name is required
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group">

          <div class="col-sm-2 ">State*</div>
          <div class="col-sm-2 ">
            <input ymInput pInputText type="text" onkeypress='return event.charCode >= 65 && event.charCode <= 90'
              maxlength="2" formControlName="state" class="form-control" [ngClass]="{
              'is-invalid':
                f['state'].invalid && (f['state'].dirty || f['state'].touched)
            }" />
            <div *ngIf="
              f['state'].invalid && (f['state'].dirty || f['state'].touched)
            " class="invalid-feedback">
              <div *ngIf="f['state'].errors.required">
                State is required
              </div>
            </div>
          </div>


          <div class="col-sm-3 ">ZIP Code*</div>
          <div class="col-sm-3 ">
            <input ymInput pInputText type="text" maxlength="5" formControlName="zipCode" class="form-control"
              [ngClass]="{
              'is-invalid':
                f['zipCode'].invalid && (f['zipCode'].dirty || f['zipCode'].touched)
            }" />
            <div *ngIf="
              f['zipCode'].invalid && (f['zipCode'].dirty || f['zipCode'].touched)
            " class="invalid-feedback">
              <div *ngIf="f['zipCode'].errors.required">
                ZIP Code is required
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <p class="disclaimer">
    <span> *All fields are mandatory.</span>
  </p>

</div>

<div class="ui-g-12 ui-dialog-footer" style="padding-left: 16px;">

  <button pButton type="button" [disabled]="registerForm['invalid']" (click)="onSubmit()"
    label="Upload" icon="fas fa-user-edit" class="ui-button-success"></button>

  <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
    class="ml-2 ui-button-warning"></button>
</div>