.filter-title {
  font-size: 15px;
  font-weight: bolder !important;
  display: inline-block;
  margin-top: 2px;
}

.row {
  padding: 0 1em;
}

.filter-container-icon {
  margin: 5px;
  vertical-align: middle;
  line-height: 1;
}

.btn-showhide:hover {
  color: #333333;
  background-color: #f4f4f4 !important;
  border: 1px solid #f4f4f4 !important;
}

.btn-showhide:focus {
  box-shadow: 0 0 0 0.2em transparent !important;
}

.btn-reset {
  margin-left: 10px;
}

.loaderdiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1020;
  background-color: lightyellow;
  opacity: 0.8;
}


.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  /* -1 * image width / 2 */
  margin-top: -32px;
  /* -1 * image height / 2 */
  display: block;
}

input[type="checkbox"] {
  display: none;
 }

 .toggle-button-switch {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  -webkit-transition:left 0.3s;
  // margin-left: -3.9%;
 }

 .toggle-button-text {
  width: 74px;
  overflow: hidden;
  background-color: #22b6fd;;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
  transition: background-color 0.3s;
  // margin: auto;
  // margin-top: -21px;
 }


 .toggle-button-text-off {
  float: left;
  /* width: 50%; */
  height: 100%;
  line-height: 20px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: #fff;

  padding-left: 10px;
 }

  .toggle-button-text-on{
  float: right;
  height: 100%;
  line-height: 20px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-right: 10px;
 }



 input[type="checkbox"]:checked ~ .toggle-button-switch {
  margin-left: 53px;
 }

 input[type="checkbox"]:checked ~ .toggle-button-text {
  background-color: #7ed321;;
 }

 input[type=checkbox]:checked  ~ .on div.toggle-button-text-on {
 display: none;
 }

 input[type=checkbox]  ~ .on div.toggle-button-text-on {
 display: block;
 }

 input[type=checkbox]  ~ .off div.toggle-button-text-off {
 display: none;
 }

 input[type=checkbox]:checked  ~ .off div.toggle-button-text-off {
 display: block;
 }

 .disableOnSaveView
 {
  pointer-events: none !important;
  opacity: .5;
 }

 .enableOnSaveView
 {
  pointer-events: all !important;
  opacity: 1;
 }
 .warning-msg{
  float: right;
    margin-left: 10px;
    margin-bottom: 5px;
    color: grey;
    /* float: left; */
    font-size: 14px;
}

.disabled {
  pointer-events:none; 
  opacity: 0.5;
}