<p-panel
  [collapsed]="collapsed"
  styleClass="filter-container-panel"
  *ngIf="!libServ.isEmptyObj(appConfig)"
>
  <p-header>
    <span class="ui-panel-title filter-title">Filters</span>
    <i class="pi pi-filter filter-container-icon"></i>
    <button
      pButton
      type="button"
      iconPos="right"
      class="float-right ui-button-secondary btn-showhide"
      label="{{ collapsed ? 'Show' : 'Hide' }}"
      icon="{{ collapsed ? 'fa fa-plus' : 'fa fa-minus' }}"
      (click)="collapsed = !collapsed" style="float: right !important;"
    ></button>
    <div
      *ngIf="appConfig['filter']['filterConfig']['saveView']"
      style="float: right; margin-right: 5px; padding: 2px"
    >
      <input
        type="checkbox"
        [(ngModel)]="showToggle"
        id="{{ showToggle }}"
        (change)="activateDeactivate(showToggle)"
        (monitizationView)="hiii($event)"
      />
      <label class="toggle-button-switch" for="{{ showToggle }}"></label>
      <div
        class="toggle-button-text"
        [ngClass]="{ on: showToggle == true, off: showToggle == false }"
      >
        <div class="toggle-button-text-on">Disable</div>
        <div class="toggle-button-text-off">Enable</div>
      </div>
    </div>
    <span
      style="float: right; margin: 5px"
      *ngIf="appConfig['filter']['filterConfig']['saveView']"
      >Save View</span
    >
  </p-header>

  <div class="row">
    <div class="loaderdiv" *ngIf="displayLoad">
      <p-progressSpinner class="ajax-loader"></p-progressSpinner>
    </div>

    <div *ngIf="showToggle" style="width: 100%;padding-bottom: 10px;">
      <p-dropdown
        *ngIf="savedViews.length > 0"
        [options]="savedViews"
        [(ngModel)]="selectedSavedView"
        placeholder="Select View"
        optionLabel="state_name"
        dataKey="id"
        [style]="{ 'min-width': '200px' }"
        (onChange)="viewChanged()"
        #metricsDropdown
      >
        <ng-template let-view pTemplate="item">
          <div
            class="ui-helper-clearfix"
            style="position: relative; height: 25px"
          >
            <div
              style="font-size: 14px; margin-top: 4px"
              [ngStyle]="{
                'font-weight':
                  view.value.is_default == 'true' ? 'bold' : 'normal'
              }"
            >
              {{ view.label }}
            </div>
          </div>
        </ng-template>
      </p-dropdown>

      <button pButton type="button" (click)="openPopup($event,'Save')" icon="pi pi-save" label="Create View" iconPos="right"
        class="ui-button-success ml-2 ui-button-rounded"></button>
      <button *ngIf="!is_app_default" pButton type="button" (click)="openPopup($event,'Edit')" icon="fas fa-pencil-alt"
        label="Edit" iconPos="right" class="ui-button-primary ml-2 ui-button-rounded"></button>
      <span *ngIf="!is_app_default" [class.disabled]="is_default" (click)="deleteView()"><i class="far fa-trash-alt ml-2" [disabled]="is_default" style="color: red;
        font-size: 16px;"></i></span>
    </div>

    <ym-daterange-picker
      [appConfig]="appConfig"
      [isSaveView]="isSaveView"
      [showToggle]="showToggle"
      (datePickerChanged)="selectedDates = $event; datePickerChanged()"
      *ngIf="enableDatePicker && dateFilterFlag"
      [ngClass]="{
        disableOnSaveView: showToggle == true,
        enableOnSaveView: showToggle == false
      }"
    ></ym-daterange-picker>

    <ng-container
      *ngIf="
        (defaultDimensions.length > 0 || availableDimensions.length > 0) &&
        dimFilterFlag
      "
    >
      <ym-dim-filter
        class="ml-2"
        style="flex: 1"
        [defaultDimensions]="defaultDimensions"
        [availableDimensions]="availableDimensions"
        [selectedDates]="selectedDates"
        [dateDimensionRelation]="dateDimensionRelation"
        [filterUrl]="filterUrl"
        [isSaveView]="isSaveView"
        [showToggle]="showToggle"
        (dimFilterChanged)="selectedDimFilter = $event"
        [maxSelectable]="maxSelectable"
        [ngClass]="{
          disableOnSaveView: showToggle == true,
          enableOnSaveView: showToggle == false
        }"
      >
      </ym-dim-filter>
      <hr />
    </ng-container>
  </div>
  <div
    class="row"
    *ngIf="defaultMetrics.length > 0 || availableMetrics.length > 0"
  >
    <ym-metric-filter
      [defaultMetrics]="defaultMetrics"
      [availableMetrics]="availableMetrics"
      (metricFilterChanged)="selectedMetricFilter = $event"
      [ngClass]="{
        disableOnSaveView: showToggle == true,
        enableOnSaveView: showToggle == false
      }"
    ></ym-metric-filter>
    <hr />
  </div>
  <div class="row" *ngIf="groupByDims.length > 0 && grpByFilterFlag">
    <ym-group-by
      [dimensions]="groupByDims"
      (grpByChanged)="selectedGrpBy = $event"
      [isSaveView]="isSaveView"
      [showToggle]="showToggle"
      [ngClass]="{
        disableOnSaveView: showToggle == true,
        enableOnSaveView: showToggle == false
      }"
    ></ym-group-by>
  </div>
  <p-footer>
    <button
      pButton
      type="button"
      (click)="onApplyFilterClicked()"
      icon="pi pi-angle-right"
      label="Apply"
      iconPos="right"
      class="ui-button-rounded ui-button-success"
      [disabled]="showToggle"
    ></button>
    <button
      pButton
      type="button"
      (click)="onResetFilterClicked()"
      icon="pi pi-refresh"
      label="Reset"
      iconPos="right"
      class="ui-button-rounded ui-button-reset ui-button-secondary btn-reset"
      [disabled]="showToggle"
    ></button>
    <span
      *ngIf="appConfig['filter']['filterConfig']['warningMessage']"
      class="warning-msg"
      >{{ appConfig["filter"]["filterConfig"]["warningMessage"] }}</span
    >
  </p-footer>
</p-panel>
