<div *ngIf="loginConfig['data']" class="login-page"  [ngStyle]="{'background-image': loginConfig['data']['login-page']['background_img']}">
  <div class="login-card">
    <p-card id="myDIV" header={{message}} class="center" styleClass="ui-card-shadow">
      <p-header>
        <img class="logo-img"  src={{img_url}} />
      </p-header>
      <hr *ngIf="is_line == true" [ngStyle]="{'background-color' : loginConfig['data']['card-body']['line_color'], 'color':loginConfig['data']['card-body']['line_color'] }"/>
      <form (ngSubmit)="onLogin()">
        <div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12">
              <span class="bold">Email</span>
            </div>
            <div class="ui-g-12">
              <div class="ui-inputgroup" *ngIf="!newUser">
                <span class="ui-inputgroup-addon">
                  <i class="fa fa-user"></i></span>
                <input type="text" name="email" class="ui-inputtext" pInputText [(ngModel)]="model.email"
                  placeholder="Username" />
              </div>
              <div class="font-weight-bold" *ngIf="newUser">
                {{ userEmail }}
              </div>
            </div>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12">
              <span class="bold">Password</span>
            </div>
            <div class="ui-g-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fas fa-key"></i></span>
                <input pPassword [showPassword]="showPassword['new']" type="password" name="password"
                  class="ui-inputtext" placeholder="Password" [feedback]="false" [(ngModel)]="model.password" />
                <span class="ui-inputgroup-addon">
                  <i [ngClass]="showPassword['new'] ? 'far fa-eye' : 'far fa-eye-slash'"
                    (click)="togglePassword('new')"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="ui-g ui-fluid" *ngIf="newUser">
            <div class="ui-g-12">
              <span class="bold">Confirm Password</span>
            </div>
            <div class="ui-g-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fas fa-key"></i></span>
                <input pPassword [showPassword]="showPassword['confirm']" type="password" name="conformPassword"
                  placeholder="Confirm Password" [feedback]="false" [(ngModel)]="model.confirmPassword" />
                <span class="ui-inputgroup-addon">
                  <i [ngClass]="showPassword['confirm'] ? 'far fa-eye' : 'far fa-eye-slash'"
                    (click)="togglePassword('confirm')"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="ui-g ui-fluid" *ngIf="!newUser">
            <div class="ui-g-12">
              <p-checkbox [(ngModel)]="model.rememberMe" binary="true" [ngModelOptions]="{ standalone: true }">
              </p-checkbox>
              <span class="bold">
                Stay Signed In
              </span>
            </div>
          </div>

          <div class="ui-g ui-fluid" *ngIf="newUser">
            <div class="ui-g-12">
              <p-checkbox [(ngModel)]="model.acceptTerms" binary="true" [ngModelOptions]="{ standalone: true }">
              </p-checkbox>
              <span class="bold ml-2">
                Accept
                <span class="p-0 btn btn-link bold" (click)="termsPopup()">
                  Terms and Conditions
                </span>
              </span>
            </div>
          </div>

          <div class="ui-g ui-fluid" *ngIf="!newUser">
            <div class="ui-g-12">
              <a class="forgot-password" href="javascript:void(0)" (click)="forgotPassword()" [ngStyle]="{'color' : loginConfig['data']['card-body']['forgot_password_color'] }">
                Forgot password?
              </a>
            </div>
          </div>

          <button *ngIf="!newUser" type="submit" pButton name="submit" label="Sign in" icon="pi pi-check"
            style="margin-right: .25em" class="ui-button-success"></button>

          <button *ngIf="newUser" [disabled]="!model.acceptTerms || model.password == ''" type="submit" pButton
            name="submit" label="Set Password" icon="pi pi-check" style="margin-right: .25em"
            class="ui-button-success"></button>
        </div>
      </form>
    </p-card>
  </div>
  <div p-col-12 class="bottom_img_div">
    <a href={{bottom_href}} target="_blank">
      <img src={{bottom_img}} alt={{bottom_alt_name}} class="bottom_img"/>
    </a>
  </div>
</div>