<div id="capture">
  <div class="last-updated">
    <div data-html2canvas-ignore class="dropdown d-inline-block">
      <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
        title="Export to PPT or JPEG" aria-expanded="true">
        <i title="Export to PPT or JPEG" class="fas fa-download" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a>
      </div>
    </div>
    <!-- <div class="d-inline-block ml-2">
      <b>Last Updated On:</b>
      {{ lastUpdatedOn | date: 'yyyy-MM-dd HH:mm:ss' }} EDT
    </div> -->
  </div>
  <p class="page-title">{{ appConfig['displayName'] }}</p>
  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container *ngIf="showhide" (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>
  <div class="p-grid mt-2 mb-2">
    <div class="p-col-12 p-1">
      <div style="border: black;">
        <button pButton type="button" label="Delete" style="float: right; margin: 0px 5px;" class="ui-button-warning"></button>
        <button pButton type="button" label="Save" style="float: right; margin-left: 5px;" class="ui-button-success"></button>
        <button pButton type="button" label="Edit" style="float: right; margin-left: 5px; background-color: darkgrey; border-color: darkgrey"></button>
        <button pButton type="button" label="Copy" style="float: right;" class="ui-button-info"></button>
      </div>
      <p-tabView (onChange)="tabChanged($event)">
        <p-tabPanel header="Corporates">
          <!-- ------------------------ Table 2 Component Start ------------------------ -->
          <div [hidden]="noTableData" class="mt-3 corperate-finance-table" *ngIf="displayAggTable">
            <p-treeTable #ttRev3601 [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
              [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
              [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']" [sortMode]="aggTableJson['sortMode']"
              [resizableColumns]="aggTableJson['resizableColumns']" [columnResizeMode]="aggTableJson['columnResizeMode']"
              [reorderableColumns]="aggTableJson['reorderableColumns']" [frozenColumns]="aggTableJson['frozenCols']"
              [frozenWidth]="aggTableJson['frozenWidth']" [scrollable]="aggTableJson['scrollable']" [scrollHeight]="aggTableJson['scrollHeight']"
              [selectionMode]="aggTableJson['selectionMode']" [(selection)]="aggTableJson['selectedColsModal']"
              [dataKey]="aggTableJson['selectionDataKey']" [metaKeySelection]="aggTableJson['metaKeySelection']"
              [style]="{ width: '100%' }" (onLazyLoad)="onLazyLoadFlatTable($event)" (onNodeExpand)="onTableDrill($event)">
              <!-- ----------------- Global Search and columns Show/Hide ----------------- -->
              <ng-template pTemplate="caption">
                <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
                  <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
                    optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }"
                    defaultLabel="Choose Columns">
                  </p-multiSelect>
                </div>
              </ng-template>
              <!-- ------------------------- For frozen columns -------------------------- -->
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
                </colgroup>
              </ng-template>
              <!-- ------------------------------- Header -------------------------------- -->
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                    ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                    [ttResizableColumnDisabled]="!col['options']['resizable']" [ttReorderableColumnDisabled]="!col['options']['movable']">
                    {{ col.displayName }}
                    <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
                    </p-treeTableSortIcon>
                  </th>
                </tr>
                <tr *ngIf="aggTableJson['columnSearch']">
                  <ng-container *ngFor="let col of columns; let i = index">
                    <th class="search-bar" *ngIf="isHiddenColumn(col)">
                      <input pInputText type="text" [ngStyle]="{ width: col['width'] - 25 + 'px' }" [style.visibility]="
              col['options']['colSearch'] ? 'visible' : 'hidden'"
                        id="i" [(ngModel)]="col.value" (ngModelChange)="onSearchChanged(col.value ,col.field,flag)" />
                    </th>
                  </ng-container>
                </tr>
              </ng-template>
              <!-- -------------------------------- Body --------------------------------- -->
              <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
              ">
                    <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>
                    {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns; let i = index" [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
              "
                    ttEditableColumn>
                    <p-treeTableCellEditor *ngIf="
              (col['options']['editable']) ||
              (col['options']['editable'] )
              ">
                      <ng-template pTemplate="input">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{
                        rowData[col.field] | formatNum: col.format:col.formatConfig }}
                      </ng-template>
                    </p-treeTableCellEditor>
                    <span *ngIf="col.field != 'covered_by_taxonomy' && col.field != 'covered_by_taxonomy_but_do_not_meet_TSC' 
                    && col.field != 'climate_change_mitigation' && col.field != 'climate_change_adaptation' && col.field!= 'water_and_marine_resources'
                    && col.field != 'circular_economy' && col.field != 'pollution' && col.field != 'biodiversity_and_ecosystems' 
                    && col.field != 'biodiversity_and_ecosystems' && col.field !='minimum_safeguards'">
                      {{
                      rowData[col.field] | formatNum: col.format:col.formatConfig
                      }}
                    </span>
                    <span style="background-color: red;" *ngIf=" 
                     col.field == 'climate_change_mitigation' || col.field == 'climate_change_adaptation' ||
                     col.field == 'water_and_marine_resources' || col.field == 'circular_economy' || 
                     col.field == 'pollution'|| col.field == 'biodiversity_and_ecosystems'">
                      <p-dropdown appendTo="body" [options]="mitigationLists" [(ngModel)]="rowData[col.field]" [filter]="true"
                        [virtualScroll]="true" appendTo="body" itemSize="30" (onChange)="onChangeStatus(rowData)"
                        [style]="{ width: '100%' }" placeholder="Select Status"></p-dropdown>
                    </span>
                    <span  *ngIf="col.field == 'covered_by_taxonomy' || col.field == 'covered_by_taxonomy_but_do_not_meet_TSC' || col.field == 'minimum_safeguards'">
                      <p-dropdown appendTo="body" [options]="statusLists" [(ngModel)]="rowData[col.field]" [filter]="true"
                        [virtualScroll]="true" appendTo="body" itemSize="30" (onChange)="onChangeStatus(rowData)"
                        [style]="{ width: '100%' }" placeholder="Select Status"></p-dropdown>
                    </span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                Showing {{ state.page * state.rows + 1 }} to
                {{
                state.rows * (state.page + 1) > state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
                }}
                of {{ state.totalRecords }} Records
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="aggTableJson['columns'].length">
                    No data found.
                  </td>
                </tr>
              </ng-template>
            </p-treeTable>
          </div>
          <div class="no-data-label" *ngIf="noTableData">
            No data found
          </div>
        </p-tabPanel>
        <p-tabPanel header="Financials Firm">
          <div [hidden]="noTableData" class="mt-3 corperate-finance-table" *ngIf="displayAggTable">
            <p-treeTable #ttRev3601 [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
              [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
              [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']" [sortMode]="aggTableJson['sortMode']"
              [resizableColumns]="aggTableJson['resizableColumns']" [columnResizeMode]="aggTableJson['columnResizeMode']"
              [reorderableColumns]="aggTableJson['reorderableColumns']" [frozenColumns]="aggTableJson['frozenCols']"
              [frozenWidth]="aggTableJson['frozenWidth']" [scrollable]="aggTableJson['scrollable']" [scrollHeight]="aggTableJson['scrollHeight']"
              [selectionMode]="aggTableJson['selectionMode']" [(selection)]="aggTableJson['selectedColsModal']"
              [dataKey]="aggTableJson['selectionDataKey']" [metaKeySelection]="aggTableJson['metaKeySelection']"
              [style]="{ width: '100%' }" (onLazyLoad)="onLazyLoadFlatTable($event)" (onNodeExpand)="onTableDrill($event)">
              <!-- ----------------- Global Search and columns Show/Hide ----------------- -->
              <ng-template pTemplate="caption">
                <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
                  <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
                    optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }"
                    defaultLabel="Choose Columns">
                  </p-multiSelect>
                </div>
              </ng-template>
              <!-- ------------------------- For frozen columns -------------------------- -->
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
                </colgroup>
              </ng-template>
              <!-- ------------------------------- Header -------------------------------- -->
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                    ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                    [ttResizableColumnDisabled]="!col['options']['resizable']" [ttReorderableColumnDisabled]="!col['options']['movable']">
                    {{ col.displayName }}
                    <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
                    </p-treeTableSortIcon>
                  </th>
                </tr>
                <tr *ngIf="aggTableJson['columnSearch']">
                  <ng-container *ngFor="let col of columns; let i = index">
                    <th class="search-bar" *ngIf="isHiddenColumn(col)">
                      <input pInputText type="text" [ngStyle]="{ width: col['width'] - 25 + 'px' }" [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'"
                        id="i" [(ngModel)]="col.value" (ngModelChange)="onSearchChanged(col.value ,col.field,flag)" />
                    </th>
                  </ng-container>
                </tr>
              </ng-template>
              <!-- -------------------------------- Body --------------------------------- -->
              <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                  ">
                    <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>
                    {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns; let i = index" [title]="
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                  "
                    ttEditableColumn>
                    <p-treeTableCellEditor *ngIf="
                  (col['options']['editable']) ||
                  (col['options']['editable'] )
                  ">
                      <ng-template pTemplate="input">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{
                        rowData[col.field] | formatNum: col.format:col.formatConfig }}
                      </ng-template>
                    </p-treeTableCellEditor>
                    <span *ngIf="col.field != 'overall_taxonomy_alignment_of_investments' && col.field != 'overall_taxonomy_alignment_of_investments_measured_by_CapEx' 
                        && col.field != 'climate_change_mitigation' && col.field != 'climate_change_adaptation' && col.field!= 'sustainable_use_and_protection_of_water_and_marine_resources'
                        && col.field != 'transition_to_circular_economy' && col.field != 'pollution_prevention_and_control' && col.field != 'protection_and_restoration_of_biodiversity_and_ecosystems' ">
                      {{
                      rowData[col.field] | formatNum: col.format:col.formatConfig
                      }}
                    </span>
                    <span style="background-color: burlywood" *ngIf=" 
                         col.field == 'overall_taxonomy_alignment_of_investments' || col.field == 'overall_taxonomy_alignment_of_investments_measured_by_CapEx' ||
                         col.field == 'climate_change_mitigation' || col.field == 'climate_change_adaptation' || 
                         col.field == 'sustainable_use_and_protection_of_water_and_marine_resources'|| col.field == 'transition_to_circular_economy' || 
                         col.field == 'pollution_prevention_and_control' ||
                         col.field == 'protection_and_restoration_of_biodiversity_and_ecosystems'">
                      <!-- <p-dropdown appendTo="body" [options]="mitigationLists" [(ngModel)]="rowData[col.field]" [filter]="true"
                        [virtualScroll]="true" appendTo="body" itemSize="30" (onChange)="onChangeStatus(rowData)"
                        editable="true" [style]="{ width: '100%' }" placeholder="Select Status"></p-dropdown> -->
                      <input _ngcontent-ipb-c329="" pinputtext="" type="number" ng-reflect-model="10"
                        ng-reflect-ng-style="[object Object]" class="ng-pristine ng-valid ng-star-inserted ng-touched"
                        [(ngModel)]="rowData[col.field]" style="width: 100%;">
                    </span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                Showing {{ state.page * state.rows + 1 }} to
                {{
                state.rows * (state.page + 1) > state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
                }}
                of {{ state.totalRecords }} Records
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="aggTableJson['columns'].length">
                    No data found.
                  </td>
                </tr>
              </ng-template>
            </p-treeTable>
          </div>
          <div class="no-data-label" *ngIf="noTableData">
            No data found
          </div>
        </p-tabPanel>
        <p-tabPanel header="Financial Products">
          <div [hidden]="noTableData" class="mt-3 corperate-finance-table" *ngIf="displayAggTable">
            <p-treeTable #ttRev3601 [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
              [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
              [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']" [sortMode]="aggTableJson['sortMode']"
              [resizableColumns]="aggTableJson['resizableColumns']" [columnResizeMode]="aggTableJson['columnResizeMode']"
              [reorderableColumns]="aggTableJson['reorderableColumns']" [frozenColumns]="aggTableJson['frozenCols']"
              [frozenWidth]="aggTableJson['frozenWidth']" [scrollable]="aggTableJson['scrollable']" [scrollHeight]="aggTableJson['scrollHeight']"
              [selectionMode]="aggTableJson['selectionMode']" [(selection)]="aggTableJson['selectedColsModal']"
              [dataKey]="aggTableJson['selectionDataKey']" [metaKeySelection]="aggTableJson['metaKeySelection']"
              [style]="{ width: '100%' }" (onLazyLoad)="onLazyLoadFlatTable($event)" (onNodeExpand)="onTableDrill($event)">
              <!-- ----------------- Global Search and columns Show/Hide ----------------- -->
              <ng-template pTemplate="caption">
                <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
                  <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
                    optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }"
                    defaultLabel="Choose Columns">
                  </p-multiSelect>
                </div>
              </ng-template>
              <!-- ------------------------- For frozen columns -------------------------- -->
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
                </colgroup>
              </ng-template>
              <!-- ------------------------------- Header -------------------------------- -->
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                    ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                    [ttResizableColumnDisabled]="!col['options']['resizable']" [ttReorderableColumnDisabled]="!col['options']['movable']">
                    {{ col.displayName }}
                    <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
                    </p-treeTableSortIcon>
                  </th>
                </tr>
                <tr *ngIf="aggTableJson['columnSearch']">
                  <ng-container *ngFor="let col of columns; let i = index">
                    <th class="search-bar" *ngIf="isHiddenColumn(col)">
                      <input pInputText type="text" [ngStyle]="{ width: col['width'] - 25 + 'px' }" [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'"
                        id="i" [(ngModel)]="col.value" (ngModelChange)="onSearchChanged(col.value ,col.field,flag)" />
                    </th>
                  </ng-container>
                </tr>
              </ng-template>
              <!-- -------------------------------- Body --------------------------------- -->
              <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                  ">
                    <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>
                    {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns; let i = index" [title]="
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                  "
                    ttEditableColumn>
                    <p-treeTableCellEditor *ngIf="
                  (col['options']['editable']) ||
                  (col['options']['editable'] )
                  ">
                      <ng-template pTemplate="input">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{
                        rowData[col.field] | formatNum: col.format:col.formatConfig }}
                      </ng-template>
                    </p-treeTableCellEditor>
                    <span *ngIf="col.field != 'environmental_and_social_characteristics' && col.field != 'investment_strategy' && col.field != 'binding_elements' && col.field != 'strategy_implemented'
                    && col.field != 'is_amount_of_potential_investments_excluded' && col.field != 'policy_to_assess_good_governance_practices' && col.field != 'minimum_asset_allocation' && col.field != 'economic_sectors'
                    && col.field != 'does_this_financial_product_make_use_of_derivatives' && col.field != 'investments_are_included_under_#2_remainder' && col.field != 'sustainable_investments_of_the_financial_product_contributeng_elements' && col.field != 'principal_adverse_impacts_on_sustainability_factors'
                    && col.field != 'investments_excluded_significantly_harm_sustainable_investment' && col.field != 'sustainability_indicators' && col.field != 'find_more_product_specific_information' && col.field != 'reference_benchmark'
                    ">
                      {{
                      rowData[col.field] | formatNum: col.format:col.formatConfig
                      }}
                    </span>
                    <span style="background-color: burlywood" *ngIf="col.field == 'environmental_and_social_characteristics' || col.field == 'investment_strategy' || col.field == 'binding_elements' || col.field == 'strategy_implemented'
                    || col.field == 'is_amount_of_potential_investments_excluded' || col.field == 'policy_to_assess_good_governance_practices' || col.field == 'minimum_asset_allocation' || col.field == 'economic_sectors'
                    || col.field == 'does_this_financial_product_make_use_of_derivatives' || col.field == 'investments_are_included_under_#2_remainder' || col.field == 'sustainable_investments_of_the_financial_product_contributeng_elements' || col.field == 'principal_adverse_impacts_on_sustainability_factors'
                    || col.field == 'investments_excluded_significantly_harm_sustainable_investment' || col.field == 'sustainability_indicators' || col.field == 'find_more_product_specific_information' || col.field == 'reference_benchmark'">
                      <!-- <p-dropdown appendTo="body" [options]="mitigationLists" [(ngModel)]="rowData[col.field]" [filter]="true"
                        [virtualScroll]="true" appendTo="body" itemSize="30" (onChange)="onChangeStatus(rowData)"
                        editable="true" [style]="{ width: '100%' }" placeholder="Select Status"></p-dropdown> -->
                      <textarea _ngcontent-ipb-c329="" pinputtext="" ng-reflect-model="10" ng-reflect-ng-style="[object Object]"
                        class="ng-pristine ng-valid ng-star-inserted ng-touched" [(ngModel)]="rowData[col.field]" style="width: 100%; min-height: 100px">
                        </textarea>
                    </span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                Showing {{ state.page * state.rows + 1 }} to
                {{
                state.rows * (state.page + 1) > state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
                }}
                of {{ state.totalRecords }} Records
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="aggTableJson['columns'].length">
                    No data found.
                  </td>
                </tr>
              </ng-template>
            </p-treeTable>
          </div>
          <div class="no-data-label" *ngIf="noTableData">
            No data found
          </div>
        </p-tabPanel>
      </p-tabView>
      <!-- ------------------------- Table 2 Component End ------------------------- -->
    </div>
  </div>
</div>
<p-confirmDialog #cd rejectVisible='false' [style]="{width: '50vw'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Ok" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>