<div *ngIf="!config['isCompare'] && !isMultiple && config['isCompare'] == undefined && isMultiple == undefined">
  <div *ngIf="!libServ.isEmptyObj(config)" [ngSwitch]="config['filterType']" style="display: flex;flex-wrap: wrap;">
    <div *ngFor="let dim of dateFilters; let dimIdx = index">
       <div *ngSwitchCase="'date_range'" style="margin-right: 5px;">
        <span class="ui-float-label">Date Range</span>
        <p-calendar
          [(ngModel)]="rangeDates[dimIdx]" (onClose)="onDateSelected()" selectionMode="range"
          [readonlyInput]="true" dateFormat="mm/dd/yy" [maxDate]="today" [minDate]="minDate" [numberOfMonths]="2"
          [showIcon]="true">
          <p-footer class="calendar-footer">
            <p-button label="Yesterday" (click)="changeDate('yesterday')"></p-button>
            <p-button label="Last 7 Days" (click)="changeDate('last_7_days')"></p-button>
            <p-button label="Last 30 Days" (click)="changeDate('last_30_days')"></p-button>
            <p-button label="This Month" (click)="changeDate('this_month')"></p-button>
            <p-button label="Last Month" (click)="changeDate('last_month')"></p-button>
            <button pButton type="button" label="Ok" style="float: right" (click)="onDateSelected()"
              class="ui-button-success"></button>
          </p-footer>
        </p-calendar
        >
      </div>
      <div *ngSwitchCase="'single_date'" style="margin-right: 5px;">
        <span class="ui-float-label">Date</span>
        <p-calendar [(ngModel)]="rangeDates[dimIdx]" (onClose)="onDateSelected(rangeDates[dimIdx],dimIdx)"
          dateFormat="mm/dd/yy" [maxDate]="today" [minDate]="minDate" [showIcon]="true">
          <p-footer>
            <button pButton type="button" label="Ok" style="float: right" (click)="onDateSelected()"
              class="ui-button-success"></button>
          </p-footer>
        </p-calendar>
      </div>
      <div *ngSwitchCase="'single_month'" style="margin-right: 5px;">
        <span class="ui-float-label">Month{{rangeDates}}</span>
        <p-calendar [(ngModel)]="rangeDates[0]" (onClose)="onDateSelected()" view="month" [maxDate]="today"
          [minDate]="minDate" dateFormat="mm/yy" [yearNavigator]="true" [showIcon]="true" yearRange="2000:2030">
          <p-footer>
            <button pButton type="button" label="Ok" style="float: right" (click)="onDateSelected()"
              class="ui-button-success"></button>
          </p-footer>
        </p-calendar>
      </div>
      <div *ngSwitchCase="'month_range'" style="margin-right: 5px;">
        <span class="ui-float-label">Month Range</span>
        <div style="display: inline-block">
          <span style="margin-right: 10px">
            <p-calendar [(ngModel)]="rangeDates[dimIdx][0]" (onClose)="onDateSelected()" view="month" [maxDate]="today"
              [minDate]="minDate" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true">
              <p-footer>
                <button pButton type="button" label="Ok" style="float: right" (click)="onDateSelected()"
                  class="ui-button-success"></button>
              </p-footer>
            </p-calendar>
          </span>
          <span>
            <p-calendar [(ngModel)]="rangeDates[dimIdx][1]" (onClose)="onDateSelected()" [maxDate]="today"
              [minDate]="rangeDates[dimIdx][0]" view="month" dateFormat="mm/yy" [yearNavigator]="true"
              yearRange="2000:2030" [showIcon]="true">
              <p-footer>
                <button pButton type="button" label="Ok" style="float: right" (click)="onDateSelected()"
                  class="ui-button-success"></button>
              </p-footer>
            </p-calendar>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>



<div *ngIf="config['isCompare']" style="border:1px solid lightgray;padding-inline-end:20px;padding-bottom:10px">
  <div class="row" style="margin:8px 8px 8px 2px">
    <span class="ui-float-label" style="margin:7px">Date Range : </span>

    <p-dropdown [options]="dateRangeOptions" [(ngModel)]="selectedRange" placeholder="Select Range" optionLabel="label"
      dataKey="key" [style]="{ 'min-width': '201px','border': '1.1px solid #a6a6a6'}"
      (onChange)="changeDate(selectedRange.key)" #dimensionsDropdown></p-dropdown>
  </div>
  <div>
    <p-calendar [(ngModel)]="rangeDates[0]" (onClose)="onDateSelected('endDate')" dateFormat="mm/dd/yy"
      [maxDate]="today" [showIcon]="true" [style]="{ margin: '7px 0px 10px 8px' }" [disabled]="!isCustom">
      <p-footer>
        <button pButton type="button" label="Ok" style="float: right" (click)="onDateSelected()"
          class="ui-button-success"></button>
      </p-footer>
    </p-calendar>

    <p-calendar [(ngModel)]="rangeDates[1]" (onClose)="onDateSelected('endDate')" dateFormat="mm/dd/yy"
      [maxDate]="today" [minDate]="rangeDates[0]" [showIcon]="true" [style]="{ margin: '7px 0px 10px 8px' }"
      [disabled]="!isCustom">
      <p-footer>
        <button pButton type="button" label="Ok" style="float: right" (click)="onDateSelected()"
          class="ui-button-success"></button>
      </p-footer>
    </p-calendar>
  </div>
  <p-checkbox class="chkbox" name="groupname" binary="true" value="Compare to" [(ngModel)]="selectedCompareValues"
    [style]="{ 'margin-left': '7px' }" label="Compare to : " (onChange)="checkBoxChanged()"></p-checkbox>
  <p-dropdown [options]="dateRangeCompareOptions" [(ngModel)]="selectedCompareRange" placeholder="Select Range"
    optionLabel="label" dataKey="key" [style]="{
      'min-width': '200px',
      margin: '8px 8px 8px 18px',
      'min-height': '35px'
    }" (onChange)="changePrevDate(selectedCompareRange)" #dimensionsDropdown [disabled]="!selectedCompareValues">
  </p-dropdown>

  <div *ngIf="selectedCompareValues">
    <p-calendar [(ngModel)]="rangeDates1[0]" (onClose)="onDateSelected()" dateFormat="mm/dd/yy" [maxDate]="today"
      [showIcon]="true" [style]="{ margin: '7px 0px 10px 8px' }" [disabled]="!isCustomPrev">
      <p-footer>
        <button pButton type="button" label="Ok" style="float: right" (click)="onDateSelected()"
          class="ui-button-success"></button>
      </p-footer>
    </p-calendar>

    <p-calendar [(ngModel)]="rangeDates1[1]" (onClose)="onDateSelected()" dateFormat="mm/dd/yy" [maxDate]="today"
      [minDate]="rangeDates1[0]" [showIcon]="true" [style]="{ margin: '7px 0px 10px 8px' }" [disabled]="!isCustomPrev">
      <p-footer>
        <button pButton type="button" label="Ok" style="float: right" (click)="onDateSelected()"
          class="ui-button-success"></button>
      </p-footer>
    </p-calendar>
  </div>
</div>

<div *ngIf="isMultiple" style="display: flex;flex-wrap: wrap;">
  <div *ngFor="let dim of dateFilters; let dimIdx = index">
    <div style="margin-right: 5px;">
     <span class="ui-float-label">{{dateFilters[dimIdx].label}}
        <p-checkbox
        [(ngModel)]="dim['isEnable']"
        binary="true"
        (onChange)="onChangeFilterStatus(dimIdx,dim['isEnable']);!dim['isEnable'];saveViewSelectedDates()"
        [value] = "dim['isEnable']">
      </p-checkbox>
     </span>

     <p-calendar
       [disabled] = "!dim['isEnable']"
       [(ngModel)]="multiDateRange[dimIdx]" (onClose)="onDateSelected();saveViewSelectedDates()" selectionMode="range"
       [readonlyInput]="true" dateFormat="mm/dd/yy" [maxDate]="today" [minDate]="minDate" [numberOfMonths]="2"
       [showIcon]="true" (onSelect)="isEnableDate(dimIdx)">
       <p-footer class="calendar-footer">
         <p-button label="Yesterday" (click)="changeDate('yesterday',dimIdx)"></p-button>
         <p-button label="Last 7 Days" (click)="changeDate('last_7_days',dimIdx)"></p-button>
         <p-button label="Last 30 Days" (click)="changeDate('last_30_days',dimIdx)"></p-button>
         <p-button label="This Month" (click)="changeDate('this_month',dimIdx)"></p-button>
         <p-button label="Last Month" (click)="changeDate('last_month',dimIdx)"></p-button>
         <button pButton type="button" label="Ok" style="float: right" (click)="onDateSelected();saveViewSelectedDates()"
           class="ui-button-success"></button>
       </p-footer>
     </p-calendar>
   </div>
   </div> 
</div>