 <div class="ui-fluid" style="padding: 30px;">
  <form [formGroup]="tagCodeForm">

       <div class="ui-g-12">
       <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12">
          <span class="ui-float-label">Tag Code*</span>
          <input pInputText type="url" formControlName="tagCode" class="form-control" [ngClass]="{
      'is-invalid':
        c['tagCode'].invalid && (c['tagCode'].dirty || c['tagCode'].touched)
    }" />
          <div *ngIf="
       c['tagCode'].invalid && (c['tagCode'].dirty || c['tagCode'].touched)
       " class="invalid-feedback">
            <div *ngIf="c['tagCode'].invalid">
              Enter Valid URL
            </div>
          </div>
        </div>
      </div>
      </div>
  <div class="edit-role-footer">

    <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
      class="ui-button-rounded ui-button-secondary" style="float: right;width: auto;"></button>

    <button pButton type="submit" label="OK" icon="pi pi-check"
      class=" mr-2 ui-button-success ui-button-rounded" style="float: right;width: auto;"></button>


  </div>
  
  </form>
 </div>
