<div class="ui-g">
  <div class="ui-g-12 text-center">
    PS: It is recommended to download Daily Data Report data for the last 30
    days due to the huge volume of data.
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-4">
    <button
      pButton
      type="button"
      label="Download Aggregate Data"
      class="ui-button-rounded ui-button-info"
      (click)="downloadData(false)"
    ></button>
  </div>
  <div class="ui-g-4 ui-g-offset-4">
    <button
      pButton
      type="button"
      label="Download Daily Data"
      class="ui-button-rounded ui-button-warning float-right"
      (click)="downloadData(true)"
    ></button>
  </div>
</div>
<hr />
<div class="ui-g">
  <div class="ui-g-4 ui-g-offset-8">
    <button
      pButton
      type="button"
      label="Close"
      class="ui-button-rounded ui-button-success float-right"
      (click)="cancel()"
    ></button>
  </div>
</div>
<br />
