<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <p><b>User Name: </b>{{userDetails.name}} </p>
    </div>

    <form [formGroup]="registerForm">
      <div class="ui-g-12">
        <div class="ui-g-12 ui-md-4">
          <div class="ui-g-12 ui-md-12" style="min-width: 200px;">
            <span class="ui-float-label">
              Role*
              <span class="btn-link" (click)="roleDetails()">
                <i title="Role Details" class="fas fa-question-circle"> </i>
              </span>
            </span>
            <p-dropdown
              [options]="groupedRoles"
              formControlName="role"
              placeholder="Assign a Role"
              [group]="false"
              (onChange)="roleChanged()"
              optionLabel="name"
              [ngClass]="{
                'is-invalid-class':
                  f['role'].invalid && (f['role'].dirty || f['role'].touched)
              }"
            ></p-dropdown>
            <div
              *ngIf="
                f['role'].invalid && (f['role'].dirty || f['role'].touched)
              "
              class="invalid-feedback-class"
            >
              <div *ngIf="f['role'].errors.required">
                Role is required
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-g-12 ui-md-12" style="min-width: 200px;">
            <span class="ui-float-label">
              Team*
              <span class="btn-link" (click)="teamDetails()">
                <i title="Team Details" class="fas fa-question-circle"> </i>
              </span>
            </span>
            <p-dropdown
              [options]="groupedTeams"
              formControlName="team"
              placeholder="Assign a Team"
              [group]="false"
              optionLabel="name"
              [ngClass]="{
                'is-invalid-class':
                  f['team'].invalid && (f['team'].dirty || f['team'].touched)
              }"
            ></p-dropdown>
            <div
              *ngIf="
                f['team'].invalid && (f['team'].dirty || f['team'].touched)
              "
              class="invalid-feedback-class"
            >
              <div *ngIf="f['team'].errors.required">
                Team is required
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g-12 ui-md-4">
          <div class="ui-g-12 ui-md-12" style="min-width: 200px;">
            <span class="ui-float-label">
              Default APP*
            </span>

            <p-dropdown
              [options]="groupedApps"
              formControlName="default_app"
              placeholder="Assign a Default APP"
              [group]="false"
              optionLabel="displayName"
              [ngClass]="{
                'is-invalid-class':
                  f['default_app'].invalid &&
                  (f['default_app'].dirty || f['default_app'].touched)
              }"
            ></p-dropdown>
            <div
              *ngIf="
                f['default_app'].invalid &&
                (f['default_app'].dirty || f['default_app'].touched)
              "
              class="invalid-feedback-class"
            >
              <div *ngIf="f['default_app'].errors.required">
                Default APP is required
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="ui-g-12 ui-dialog-footer" style="padding-left: 16px;top:150px">
  <button
    pButton
    type="button"
    [disabled]="
      f['team'].errors ||
      f['default_app'].errors
    "
    (click)="onSubmit()"
    label="Change"
    icon="fas fa-user-edit"
    class="ui-button-success"
  ></button>

  <button
    pButton
    type="button"
    (click)="goBack()"
    label="Cancel"
    icon="far fa-times-circle"
    class="ml-2 ui-button-warning"
  ></button>
</div>