<div class="p-grid">
  <div
    class="filters-div"
    *ngFor="let dim of defaultDimensions; let dimIdx = index"
  >
    <span class="ui-float-label">
      {{ dim.label }}
      <i (click)="remove(dim)" class="fas fa-times"></i>
    </span>

    <p-dropdown
    *ngIf="dim.selectionLimit && dim.selectionLimit == 1;else dimensionsFiltersTemplate"
    [options]="availableFilterData[dim.key]"
    placeholder="Select {{ pluralize(dim.label) }}"
    [(ngModel)]="selectedFilterData[dim.key]"
    [filter]="true"
    [virtualScroll]="true"
    appendTo="body"
    itemSize="30"
    filterBy="label,value.name"
    [style]="{ 'min-width': '200px' }"
    (onHide)="onChangeFilterCom(dim, dimIdx)"
    (onClick)="onClickFilterCom(dim, dimIdx)"
>
</p-dropdown>
    
<ng-template #dimensionsFiltersTemplate>
    <p-multiSelect
      [options]="availableFilterData[dim.key]"
      defaultLabel="Select {{ pluralize(dim.label) }}"
      [(ngModel)]="selectedFilterData[dim.key]"
      maxSelectedLabels={{selectedLabel}}
      selectedItemsLabel="{0} {{ pluralize(dim.label) }} selected"
      [filter]="true"
      [virtualScroll]="true"
      appendTo="body"
      itemSize="30"
      filterBy="label,value.name"
      resetFilterOnHide="true"
      [style]="{ 'min-width': '200px' }"
      (onPanelHide)="onChangeFilterCom(dim, dimIdx)"
      (onClick)="onClickFilterCom(dim, dimIdx)"
      emptyFilterMessage="No results found"
      #dimensionsFilters
      [selectionLimit]	= "dim.selectionLimit"
    >
    </p-multiSelect>
  </ng-template>
  </div>
  <div class="filters-div add-more" *ngIf="availableDimensions.length > 0">
    <span class="ui-float-label">Add Filter</span>
    <p-dropdown
      [options]="availableDimensions"
      [(ngModel)]="selectedDimensionToAdd"
      placeholder="Select Dimension"
      optionLabel="label"
      dataKey="key"
      [style]="{ 'min-width': '200px' }"
      (onChange)="dimensionAdded()"
      #dimensionsDropdown
    ></p-dropdown>
  </div>
</div>
