<div  class="ui-g-12" *ngIf="connectionFlag">
 
  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <div class="mt-2">
    <button pButton type="button" icon="pi pi-plus-circle" iconPos="left" label="Add Connector"
      title="Click here to add connection" (click)="connectionFlag=!connectionFlag;formIdentity='add'" style="float: right;"
      class="ui-button-success ui-button-rounded"></button>
  </div>

  <div class="p-col-12 mt-1 new-rio-table" style="display: inline-block; width: 100%;">
    <p-treeTable #ttFlat [value]="connectionTableData" [columns]="connectionTableJson['selectedColumns']" [paginator]="true"
      [rows]="connectionTableJson['page_size']" [first]="connectionTableJson['page']"
      [totalRecords]="connectionTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
      [lazy]="connectionTableJson['lazy']" [loading]="connectionTableJson['loading']"
      [sortMode]="connectionTableJson['sortMode']" [resizableColumns]="connectionTableJson['resizableColumns']"
      [columnResizeMode]="connectionTableJson['columnResizeMode']"
      [reorderableColumns]="connectionTableJson['reorderableColumns']" [frozenColumns]="connectionTableJson['frozenCols']"
      [frozenWidth]="connectionTableJson['frozenWidth']" [scrollable]="connectionTableJson['scrollable']"
      [scrollHeight]="connectionTableJson['scrollHeight']" [selectionMode]="connectionTableJson['selectionMode']"
      [(selection)]="connectionTableJson['selectedColsModal']" [dataKey]="connectionTableJson['selectionDataKey']"
      [metaKeySelection]="connectionTableJson['metaKeySelection']" [style]="{ width: '100%' }">
      <!-- (onLazyLoad)="onLazyLoadFlatTable($event)" -->
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div class="mb-1" *ngIf="connectionTableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="connectionTableJson['columns']" [(ngModel)]="connectionTableJson['selectedColumns']"
            optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
        </div>
        
        <div *ngIf="connectionTableJson['export']" style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2">
          <div data-html2canvas-ignore class="dropdown">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
              <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="exportTable('Excel')">
                Excel
              </a>
              <a class="dropdown-item" (click)="exportTable('CSV')">
                CSV
              </a>
              <!-- <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('flat', 'JSON')"
              >
                JSON
              </a> -->
            </div>
          </div>
        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}
            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
            </p-treeTableSortIcon>
          </th>
        </tr>

        <tr *ngIf="connectionTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">

            <ng-container *ngFor="let col of columns">
              <th *ngIf="false">

                <input pInputText type="text" (input)="
                  ttFlat.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  " [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  " style="width: 100%;border-radius: 5px;

                  border: 1px solid #c8c8c8;
                  padding: 1.3px;" />
              </th>
            </ng-container>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
              </ng-template>
              <ng-template pTemplate="output">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="!col['options']['editable']">
              <span *ngIf="col.field != 'delete' && col.field != 'edit'&& col.field != 'update'">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
              <span *ngIf="col.field == 'delete'" class="link-style-icon" (click)="deleteConnection(rowData)">
                <i class="far fa-trash-alt"></i>
              </span>

              <span *ngIf="col.field == 'update'" class="link-style-icon" (click)="editUpdateConnection(rowData,'update')">
                <i class="fas fa-pencil-alt"></i>
              </span>
              <span *ngIf="col.field == 'edit'"  (click)="editUpdateConnection(rowData,'edit')">
                <i class="fa fa-file" style="color: #22b6fd;font-size: 16px;margin-left: 28%;cursor: pointer;"></i>
              </span>
            </span>
            <!-- <span
          *ngIf="
            col.field !== 'delete'">
            {{
              rowData[col.field]
                | formatNum: col.format:col.formatConfig
            }}
          </span> -->
          </td>
        </tr>
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->

      <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr style="background: #f4f4f4">
          <td *ngFor="let col of columns; let i = index" [title]="
            rowData[col.field] | formatNum: col.format:col.formatConfig
          ">
            <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>

            <span>
              {{
              rowData[col.field]
                ? (rowData[col.field]
                  | formatNum: col.format:col.formatConfig)
                : ''
            }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="connectionTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>


<div *ngIf="!connectionFlag">

  <div class="mt-2">
    <button pButton type="button" icon="pi pi-arrow-left" iconPos="left" label="Back" title="Click here for back"
      (click)="backOperation()" style="float: right;" class="ui-button-success ui-button-rounded"></button>
  </div>

  <ym-connector-details [connectionId]="connectionId" [formIdentity]="formIdentity"
  [formData]="formData" (triggeredEvent)="childResponse($event)"></ym-connector-details>

</div>


<p-confirmDialog #cd key='connectionList' rejectVisible='false' [style]="{width: '50vw'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>