<div id="capture">
  <div class="last-updated">
    <!-- <div data-html2canvas-ignore class="dropdown d-inline-block">
      <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" title="Export to PPT or JPEG" aria-expanded="true">
        <i title="Export to PPT or JPEG" class="fas fa-download" style="cursor: pointer" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a>
      </div>
    </div> -->
    <!-- <div class="d-inline-block ml-2">
      <b>Last Updated On:</b>
      {{ lastUpdatedOn | date: 'yyyy-MM-dd HH:mm:ss' : 'IST'}} IST
    </div> -->


    <!-- <div class="popover-container d-inline-block ml-2">
      <div>
        <i
          class="far fa-clock"
          style="cursor: pointer"
          aria-haspopup="true"
          aria-expanded="true"
        >
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} GMT
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          GMT
        </p>
      </div>
    </div> -->

  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>

  <!-- <button pButton type="button" (click)="create()" icon="fa-angle-left"></button> -->

  <button
  pButton
  type="button"
  (click)="create()"
  icon="fas fa-plus"
  label="New Expression"
  iconPos="right"
  class="ui-button-rounded ui-button-info"
  style="float: right; margin-top: 2%; margin-bottom: 1%;"
></button>

  <!-- ---------------------- Cards Container Component ---------------------- -->

  <!-- <ym-cards *ngIf="showCards" [cardsJson]="cardsJson"></ym-cards> -->


    <!-- ---------------------- Main Charts Container Component ---------------------- -->

  <!-- <div class="p-grid mt-1 mb-1">
    <div class="p-col-8">
      <div class="border-class">
      <i
         *ngIf="!showMainLineChart && !noDataMainLineChart"
        class="pi pi-spin pi-spinner"
        style="font-size: 3em; margin: 150px; position:relative; left:40%"
      ></i>
      <div class="no-data-label" *ngIf="noDataMainLineChart">
        No data found
      </div>
      <ym-charts
        *ngIf="showMainLineChart"
        [chartsJson]="mainLineChartJson"
        (chartDataSelect)="chartSelected($event)"
      >
      </ym-charts>
      </div>
    </div>

    <div class="p-col-4">
      <div class="border-class">
      <i
        *ngIf="!showMainPieChart && !noDataPieChart"
        class="pi pi-spin pi-spinner"
        style="font-size: 3em; margin: 150px;"
      ></i>
      <div class="no-data-label" *ngIf="noDataPieChart">
        No data found
      </div>
      <ym-charts
        *ngIf="showMainPieChart"
        [chartsJson]="mainPieChartJson"
        (chartDataSelect)="chartSelected($event)"
      ></ym-charts>
      </div>
    </div>

</div> -->

  <!-- ---------------------- Main Charts Container Component ---------------------- -->

  <!-- <p-tabView (onChange)="tabChanged($event)">
    <p-tabPanel selected="true" header="Revenue vs Imp"> -->
      <!-- <div class="p-grid mt-2 mb-2">
        <div class="p-col-12 pr-4">
          <i *ngIf="!showMainLineChart && !noDataMainLineChart" class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
          <div class="no-data-mainline-chart" *ngIf="noDataMainLineChart">
            No data found.
          </div>
          <ym-charts *ngIf="showMainLineChart" [chartsJson]="mainLineChartJson"
            (chartDataSelect)="chartSelected($event)">
          </ym-charts>
        </div>

      </div> -->
    <!-- </p-tabPanel>
    <p-tabPanel header="Sources By Revenue"> -->
      <!-- <div class="p-grid mt-2 mb-2">
        <div class="p-col-8">
          <i *ngIf="!showMetricChart && !noDataMetricChart" class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 150px;position:relative; left:40%"></i>
          <div class="no-data-metric-chart" *ngIf="noDataMetricChart">
            No data found.
          </div>
          <ym-charts *ngIf="showMetricChart" [chartsJson]="metricChartJson" (chartDataSelect)="chartSelected($event)">
          </ym-charts>
        </div>
        <div class="p-col-4">
          <i *ngIf="!showMainPieChartSource && !noDataMainPieChart" class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 150px;"></i>
          <div class="no-data-metric-chart" *ngIf="noDataMainPieChart">
            No data found.
          </div>
          <ym-charts *ngIf="showMainPieChartSource" [chartsJson]="mainPieChartJson"
            (chartDataSelect)="chartSelected($event)">
          </ym-charts>
        </div>
       </div> -->
    <!-- </p-tabPanel>
  </p-tabView> -->
  <!-- ---------------------- Main Charts Container Component ---------------------- -->
  <hr>

  <!-- ------------------------ Table 2 Component Start ------------------------ -->
  <div [hidden]="noTableData" class="mt-1 fr-upr-table" *ngIf="displayAggTable"  style="
  display: inline-block;width: 100%;">
    <p-treeTable #ttRev360 [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
      [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']"
      [sortMode]="aggTableJson['sortMode']" (sortFunction)="customSort($event)" [customSort]="false"
      [resizableColumns]="aggTableJson['resizableColumns']" [columnResizeMode]="aggTableJson['columnResizeMode']"
      [reorderableColumns]="aggTableJson['reorderableColumns']" [frozenColumns]="aggTableJson['frozenCols']"
      [frozenWidth]="aggTableJson['frozenWidth']" [scrollable]="aggTableJson['scrollable']"
      [scrollHeight]="aggTableJson['scrollHeight']" [selectionMode]="aggTableJson['selectionMode']"
      [(selection)]="aggTableJson['selectedColsModal']" [dataKey]="aggTableJson['selectionDataKey']"
      [metaKeySelection]="aggTableJson['metaKeySelection']" [style]="{ width: '100%' }"
      (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
            optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
        </div>
        <div *ngIf="isExportReport && aggTableJson['export']" style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2">
          <div data-html2canvas-ignore class="dropdown">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
              <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" (click)="exportTable('agg', 'Excel')">
                Excel
              </a>
              <a class="dropdown-item" href="#" (click)="exportTable('agg', 'CSV')">
                CSV
              </a>
              <a class="dropdown-item" href="#" (click)="exportTable('agg', 'JSON')">
                JSON
              </a>
            </div>
          </div>
        </div>
        <div *ngIf="aggTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input ymInput pInputText type="text" size="50" placeholder="Search All"
            (input)="ttRev360.filterGlobal($event.target.value, 'contains')" style="width:auto" />
        </div>
        <div *ngIf="aggTableJson['reload']" style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2">
          <span style="cursor: pointer" title="Reload Table" (click)="reset(ttRev360)">
            <i title="Reload Table" class="fas fa-sync-alt share-icon"> </i>&nbsp;&nbsp;Reload</span>
        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field"
            [attr.ttResizableColumn]="col['options']['resizable'] ? '' : null"
            [attr.ttReorderableColumn]="col['options']['colSort'] ? '' : null">
            {{ col.displayName }}

            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="aggTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input ymInput pInputText type="text" [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                " (input)="
                  ttRev360.filter(
                    $event.target.value,
                    col.field,
                    col.filterMatchMode
                  )
                " />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
              </ng-template>
              <!-- <ng-template pTemplate="output">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}

              </ng-template> -->
            </p-treeTableCellEditor>
            <span *ngIf="!col['options']['editable']">
              <span *ngIf="col.field == 'campaign'" class="btn btn-link d-inline"
              (click)="openPopup(rowData, col.field)">
              {{
                 rowData[col.field] | formatNum: col.format:col.formatConfig
              }}
            </span>

            <span *ngIf="col.field !== 'campaign'">
              {{
                 rowData[col.field] | formatNum: col.format:col.formatConfig
              }}
            </span>

              <!-- {{ rowData[col.field] | formatNum: col.format:col.formatConfig }} -->
            </span>
          </td>
        </tr>
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->

      <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr style="background: #f4f4f4">
          <td *ngFor="let col of columns; let i = index" [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
            <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>
            <span *ngIf="rowData[col.field] == 'All'">


              <span *ngIf="col.field == 'dsp_name'">
                {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
              </span>
            </span>
            <!-- <span *ngIf="rowData[col.field] !== 'All' && col.field !== 'audience'">
            {{
              rowData[col.field]
                ? (rowData[col.field]
                  | formatNum: col.format:col.formatConfig)
                : ''
            }} -->
          <!-- </span> -->
          <span  *ngIf="rowData[col.field] !== 'All'">
          <span  *ngIf="col.field == 'audience_name' "  class="btn btn-link d-inline"
          (click)="openPopup(rowData, col.field)">

          {{
            rowData[col.field]
              ? (rowData[col.field]
                | formatNum: col.format:col.formatConfig)
              : ''
          }}
          </span>
          <span *ngIf="col.field == 'dsp_name'">
            {{
            rowData[col.field]
              ? (rowData[col.field]
                | formatNum: col.format:col.formatConfig)
              : ''
          }}
          </span>
        </span>

            <!-- <span
>
              {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
            </span> -->
            <!-- <span *ngIf="!col['options']['editable'] && col.field != 'name'">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span> -->

            <!-- <span *ngIf="!col['options']['editable'] && col.field == 'name'" class="btn btn-link d-inline"
            (click)="openPopup(rowData, col.field)">
            {{
               rowData[col.field] | formatNum: col.format:col.formatConfig
            }}
          </span> -->



          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <!-- <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="aggTableJson['columns'].length">
            No data found. Please select different date range to view data.
          </td>
        </tr>
      </ng-template> -->

      <!-- <ng-template pTemplate="footer" let-columns>
        <tr>
          <td *ngFor="let col of columns">
            <span *ngIf="col.field=='accounting_key'">
              -
            </span>
            <span *ngIf="col.field!='accounting_key'">
              {{ col.footerTotal | formatNum: col.format:col.formatConfig }}
            </span>
          </td>
        </tr>
      </ng-template> -->
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">
    No data found.
  </div>
  <!-- ------------------------- Table 2 Component End ------------------------- -->
</div>