.kb-row {
  background-color: #1ca979 !important;
  color: #ffffff !important;
}

.kb-cell {
  background-color: #2ca8b1 !important;
  color: #ffffff !important;
}

.share-icon {
  opacity: 0.5;
  cursor: pointer;
}

.share-icon:hover {
  opacity: 1;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
.main-title{
  padding-left: 10px;
    font-weight: bold;
    margin-top: 4px;
}