<div id="capture">
  <div class="last-updated">
    <!-- <div data-html2canvas-ignore class="dropdown d-inline-block">
      <span
        class="dropdown-toggle"
        style="cursor: pointer"
        id="dropdownMenu1"
        data-toggle="dropdown"
        aria-haspopup="true"
        title="Export to PPT or JPEG"
        aria-expanded="true"
      >
        <i
          title="Export to PPT or JPEG"
          class="fas fa-download"
          style="cursor: pointer"
          id="dropdownMenu1"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
        >
          <span class="caret"></span> </i
        >&nbsp;&nbsp;Export</span
      >
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a>
      </div>
    </div> -->
    <!-- <div class="d-inline-block ml-2">
      <b>Last Updated On:</b>
      {{ lastUpdatedOn | date: 'yyyy-MM-dd HH:mm:ss':'IST' }} IST
    </div> -->
  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->

  <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>
  <hr />
  <div class="row p-col-12">
    <div class="p-col-1 main-title">
      Dimensions: </div>
    <div class="p-col-5">
      <p-selectButton [options]="getdata()" [(ngModel)]="chartsDimMultiselectButton['model']"
        (onChange)="changeValues()"></p-selectButton>
    </div>

    <div class="p-col-1 main-title">
      Metrics:</div>
    <div class="p-col-5">
      <p-selectButton [options]="chartsMetricsMultiselectButton['data']"
        [(ngModel)]="chartsMetricsMultiselectButton['model']" (onChange)="changeValues()"></p-selectButton>
    </div>
  </div>
  <div class="p-grid mt-1 mb-1">
    <div class="p-col-12">
      <div class="border-class">
        <i *ngIf="!showMainLineChart && !noDataMainLineChart" class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px;position:relative; left:40%"></i>
        <div class="no-data-label" *ngIf="noDataMainLineChart">
          {{noDataMsg}}
        </div>
        <ym-charts *ngIf="showMainLineChart" [chartsJson]="mainLineChartJson" (chartDataSelect)="chartSelected($event)">
        </ym-charts>
      </div>
    </div>
  </div>
</div>