<div id="capture">

  <p class="page-title">{{ appConfig['displayName'] }}</p>
  <hr>
  <div class="p-grid">
    <div class="p-col-4">
      <form class="form-inline" autocomplete="off">
        <div class="form-group">
          <input for="search" type="text" class="form-control form-control-sm" placeholder="Search" name="jobSearch"
            [(ngModel)]="jobSearch">
        </div>
      </form>
    </div>
    <div class="p-col-4" style="text-align: center;">
      <h3>How can we help ?</h3>
    </div>
    <div class="p-col-4">
      <button pButton type="button" label="Create New Ticket" (click)="openPopup()" *ngIf="createTicket"
        class="ui-button-rounded ui-button-success" style="float: right;"></button>
    </div>

  </div>
  <div class="p-grid">
    <div class="p-col-5">
      <p-panel header="List Of Tickets" [toggleable]="false">
        <div class="p-col-12" style="height: 500px;
            overflow: auto;" *ngIf="tickettitledata.length > 0">
          <div  *ngFor="let ticket of tickettitledata | searchObj: 'ticket' : jobSearch:'ticket'"
            (click)="onSelect(ticket.id)" style="margin-top:5px;">
            <p-card styleClass="ui-card-shadow">
              <div class=" tickettitle row mt-1">

                <i aria-hidden="true"></i> <span class="tickettitle col-md-10"> {{ticket.id}}.{{ticket.ticketTitle}}
                </span>
                <span class=" severity col-md-2" title="Severity : {{ticket.severity}}"> {{ticket.severity}} </span>
              </div>
              <div class="postby">
                <span> Posted by </span> <span> <b> {{ticket.display_name}} </b> </span> <br><span>
                  {{ticket.created_at | date :'EEEE, MMMM d, y, h:mm:ss a'}} </span>
              </div>
            </p-card>

          </div>

        </div>
      </p-panel>
    </div>

    <div class="p-col-7">
      <p-panel [toggleable]="false">
        <p-header>
          Ticket Discussion - <b>{{ticketdetails.ticketTitle}}</b>
        </p-header>
        <div class="p-col-12" style="height: 500px;overflow: auto;">
          <div class="p-grid">
            <div class="user-avatar"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></div>
            <div class="p-col-6">
              <div> <b>{{ticketdetails.display_name}}</b> </div>
              <div class="time"> {{ticketdetails.created_at | date :'EEEE, MMMM d, y, h:mm:ss a'}}</div>

            </div>
          </div>
          <div class="top-linked">
            <p>{{ticketdetails.ticketComment}}</p>
          </div>
          <div class="replies" *ngFor="let reply of ticketreplies">
            <div class="p-grid mt-1">
              <div class="user-avatar"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></div>
              <div class="p-col-6">
                <div> <b>{{reply.display_name}}</b> </div>
                <div class="time"> {{reply.created_at | date :'EEEE, MMMM d, y, h:mm:ss a'}}</div>

              </div>
            </div>

            <div class="top-linked">
              <p>{{reply.reply}}</p>
            </div>
          </div>
          <div class="p-col-12 mt-2">
            <form [formGroup]="commentForm" (ngSubmit)="sendChatMessage()">
              <input class="replyTextBox" formControlName="reply" placeholder="Reply...." [(ngModel)]="replay">
              <button class="replyBtn" name="submit" type="submit">
                <i class="fa fa-paper-plane fa-2x ml-2" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>

      </p-panel>
    </div>
  </div>
</div>