.ticketlistcard {
    padding: 5px 7px 5px 5px;
    padding-top: 10px;
    overflow: auto;
    height: 500px;
    background: #f2f7f8;
    overflow: auto;
}

.tickettitle {
    text-decoration: none;
    color: #08c7fb;
    font-size: 15px;
    font-weight: 550;
}

.user-avatar {
    margin-top: 14px;
    margin-left: 13px
}

.top-linked {
    position: relative;
    padding: 5px;
    margin: 0px;
    font-size: 14px;
    text-align: left;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* border: 1px solid #909aa5; */
    border-radius: 3px;
    background-color: #fefef0;
    border: 1px solid #999;
    height: 40px;
}

.top-linked::before {
    content: ' ';
    position: absolute;
    z-index: 2;
    left: 10px;
    right: auto;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    top: -15px
}

.top-linked::after {
    content: ' ';
    height: 0;
    width: 0;
    border: 8px solid transparent;
    position: absolute;
    z-index: 1;
    left: 10px;
    right: auto;
    border-bottom-color: #828d9a;
    top: -16px
}

.replyBtn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #22b6fd;
    line-height: 2.5rem
}

.replyTextBox {
    resize: none;
    width: 90%;
    border-radius: 15px;
    height: 40px;
    border: 1px solid #ccc;
    outline: none;
    padding: 6px 12px;
}
