.btn-close{
    top:10px;
    float: right;
}

.custom-file-upload {
    background-color: #0c6b0d;
    color: #ffffff;
    border-color: #0c6b0d;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border: 10px;
    border-radius: 20px;
    float: right;
  }

  .span-link {
    cursor: not-allowed;
    pointer-events: all !important;
  }
  .c-psw {
    color: #22b6fd;
    cursor: pointer;
}
.c-psw:hover {
    /* color: #f16666; */
    text-decoration: underline;
}