<div class="ui-fluid visualize-chart-pop">
  <div class="ui-g">
    <div class="ui-g-12" *ngIf="!iskeyspace">

      <div class="ui-g-12 ui-md-8">
        <p-dataView #dv [value]="chartType" [paginator]="false" [rows]="20" layout="grid" filterBy="display_name">
          <p-header>
            <div class="ui-helper-clearfix">
              <div class="ui-g">
                <div class="ui-g-6 ui-md-4 filter-container">
                  <div style="position:relative">
                    <input type="search" pInputText placeholder="Search by Chart"
                      (input)="dv.filter($event.target.value)">
                  </div>
                </div>
              </div>
            </div>
          </p-header>
          <ng-template let-chart let-i="rowIndex" pTemplate="gridItem">
            <div style="padding:.5em" class="ui-g-12 ui-md-3">
              <div class="card chart-card" (click)='selectType(chart)' (mouseenter)="mouseEnter(i) "
                (mouseleave)="mouseLeave()">

                <i class="chart-icon" [ngClass]="chart.icon_class"></i>
                <p><b>{{chart.display_name}}</b></p>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
      <div class="ui-g-12 ui-md-4">
        <p-scrollPanel [style]="{width: '100%'}">
          <div style="padding:1em;line-height:1.5">
            <h4>{{hoverValue['display_name']}}</h4>
            <p>{{hoverValue['info']}}</p>
          </div>
        </p-scrollPanel>
      </div>

    </div>
    <div class="ui-g-12" *ngIf="iskeyspace">
      <button pButton type="button" (click)="back()" label="Back" icon="far fa-arrow-alt-circle-left" class="ui-button-success"
        style="margin-bottom: 10px;" ></button>
      <p-orderList [value]="keySpaces" [listStyle]="{'height':'250px'}" header="Key Space" filter="filter"
        filterBy="keyspace" filterPlaceholder="Filter by key space" (onSelectionChange)="onSelectionChange($event)">
        <ng-template let-key pTemplate="item">
          <div class="ui-helper-clearfix">
            <div class="listitems">{{key.keyspace}}
            </div>
          </div>
        </ng-template>
      </p-orderList>
    </div>
  </div>

</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>