input[type="checkbox"] {
    display: none;
  }
  
  .toggle-button-switch {
    // position: absolute;
    width: 27px;
    height: 27px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: left 0.3s;
    // margin-left: -3.9%;
  }
  
  .toggle-button-text {
    width: 120px;
    margin-top: -41px;
    overflow: hidden;
    background-color: #22b6fd;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
    transition: background-color 0.3s;
    // margin: auto;
    // margin-top: -21px;
  }
  
  .toggle-button-text-off {
    float: left;
    /* width: 50%; */
    height: 100%;
    line-height: 27px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
  }
  
  .toggle-button-text-on {
    float: right;
    height: 100%;
    line-height: 27px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-right: 10px;
  }
  
  input[type="checkbox"]:checked ~ .toggle-button-switch {
    margin-left: 92px;
  }
  
  input[type="checkbox"]:checked ~ .toggle-button-text {
    background-color: #7ed321;
  }
  
  input[type="checkbox"]:checked ~ .on div.toggle-button-text-on {
    display: none;
  }
  
  input[type="checkbox"] ~ .on div.toggle-button-text-on {
    display: block;
  }
  
  input[type="checkbox"] ~ .off div.toggle-button-text-off {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ .off div.toggle-button-text-off {
    display: block;
  }
  
  .disableOnSaveView {
    pointer-events: none !important;
    opacity: 0.5;
  }
  
  .enableOnSaveView {
    pointer-events: all !important;
    opacity: 1;
  }
  
  .ui-grid-row-blue {
    background-color: lightblue !important;
  }
  
  .ui-grid-row-dark-megenta {
    background-color: magenta !important;
  }
  
  .ui-grid-row-paused {
    background-color: #ffc1aa !important;
  }
  p.custom-label {
    display: block;
    margin-top: 5px;
    float: left;
    font-weight: bold;
  }
  