<style>
  .editablefield {
    background-color: #eee8aa !important;
  }

  .span-link {
    pointer-events: none;
  }
</style>

<div id="capture">
  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container (filtersApplied)="onFiltersApplied($event); resetPagination(ttFlat)"></ym-filter-container>
  <h6 class="mt-3">
    Data for <b>{{ startD }}</b>
  </h6>
  <hr />
  <p class="disclaimer">
    Columns with
    <span style="width: 10px; display: inline-block; height: 10px; background: #eee8aa; border: 1px solid #ccc;"></span>
    color can be edited by double-clicking on them, press "Enter" to Save the changes.
  </p>
  <div class=" p-table mt-2 mb-3 fr-vast-table vast-table">
    <p-treeTable #ttFlat [value]="flatTableData" [columns]="flatTableJson['selectedColumns']" [paginator]="true"
      [rows]="flatTableJson['page_size']" [first]="flatTableJson['page']" [totalRecords]="flatTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="flatTableJson['lazy']" [loading]="flatTableJson['loading']"
      [sortMode]="flatTableJson['sortMode']" [resizableColumns]="flatTableJson['resizableColumns']"
      [columnResizeMode]="flatTableJson['columnResizeMode']" [reorderableColumns]="flatTableJson['reorderableColumns']"
      [frozenColumns]="flatTableJson['frozenCols']" [frozenWidth]="flatTableJson['frozenWidth']"
      [scrollable]="flatTableJson['scrollable']" [scrollHeight]="flatTableJson['scrollHeight']"
      [selectionMode]="flatTableJson['selectionMode']" [(selection)]="flatTableJson['selectedColsModal']"
      [dataKey]="flatTableJson['selectionDataKey']" [metaKeySelection]="flatTableJson['metaKeySelection']"
      [style]="{ width: '100%' }">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div style="text-align: left; float: left; display: inline-block;">
          <button [disabled] = "mtdLink == 'NA'"
            pButton
            type="button"
            (click)="downloadMTDFile()"
            icon="pi pi-download"
            label="MTD Data Download"
            iconPos="right"
            class="ui-button-rounded"
          ></button>
          <button *ngIf="updateMTDLink"
          pButton
          type="button"
          (click)="editFileLink(start_date,mtdLink, 'mtd_link')"
          icon="pi pi-pencil"
          label="MTD Link Edit"
          iconPos="right"
          class="ui-button-rounded ml-1"
        ></button>

        </div>
        <div *ngIf="flatTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="flatTableJson['columns']" [(ngModel)]="flatTableJson['selectedColumns']"
            optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
        </div>
        <div *ngIf="isExportReport && flatTableJson['export']" style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2 mb-2">
          <div data-html2canvas-ignore class="dropdown">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
              <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" (click)="exportTable('flat', 'Excel')">
                Excel
              </a>
              <a class="dropdown-item" href="#" (click)="exportTable('flat', 'CSV')">
                CSV
              </a>
              <!-- <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('flat', 'JSON')"
              >
                JSON
              </a> -->
            </div>
          </div>
        </div>
        <div *ngIf="flatTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input class="search" ymInput pInputText type="text" size="30" [(ngModel)]="searchvalue"
            placeholder="Search All" (input)="ttFlat.filterGlobal($event.target.value, 'contains')" />
          <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
            (click)="searchvalue='';ttFlat.filterGlobal('', 'contains')"><i class="pi pi-times"></i>
          </span>


        </div>
        <div style="text-align: right; float: right; display: inline-block;">
          <i class="fas fa-info-circle info-toottip" title="Search function works for dimensions only."></i>
        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <!-- <ng-template pTemplate="colgroup" let-columns>
  <colgroup>
    <col
      *ngFor="let col of columns"
      [ngStyle]="{ width: col['width'] + 'px' }"
    />
  </colgroup>
</ng-template> -->

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}
            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
            </p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="flatTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input ymInput pInputText type="text" [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                " (input)="
                  ttFlat.filter(
                    $event.target.value,
                    col.field,
                    col.filterMatchMode
                  )
                " />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            " ttEditableColumn [ngClass]="
              (col.field == 'Fee' ? 'editablefield' : null) ||
              (col.field == 'adjusted_invoice' ? 'editablefield' : null)
            ">
            <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode">
            </p-treeTableToggler>
            <p-treeTableCellEditor *ngIf="
                (col['options']['editable'] && updateFee) ||
                (col['options']['editable'] && updateAmount)
              ">
              <ng-template pTemplate="input">
                <input pInputText type="number" (keydown)="
                    onEdit($event, rowData.id, value, col.field)
                  " (focus)="value=rowData[col.field]" [(ngModel)]="value"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
              </ng-template>
              <ng-template pTemplate="output">{{
                rowData[col.field] | currency
              }}</ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="
                col['options']['editable'] && !updateFee && col.field == 'Fee'
              ">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>

            <span *ngIf="
                col['options']['editable'] &&
                !updateAmount &&
                col.field == 'adjusted_invoice'
              ">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>
            <span *ngIf="
                !col['options']['editable'] && col.field == 'accounting_key'
              ">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>
            <span *ngIf="!col['options']['editable'] && col.field == 'source'">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>
            <span *ngIf="!col['options']['editable'] && col.field == 'statement'" [title]="'Upload Statements'">
              <span class="btn-link" (click)="openPopup(rowData)">
                Upload Statements
              </span>
            </span>

        <span class="btn-link" *ngIf="col.field == 'raw_report_link'">
           <span class="btn-link" *ngIf="updateRawReport" (click)="editFileLink(rowData.id, rowData[col.field],col.field)"
              style="margin-left: 32%;">
            <i
              class="fas fa-pencil-alt fa-1-5x-custom"
              title="Edit Raw Report Link"
            ></i>
           </span>
           <span class="btn-link" [ngStyle]="{'margin-left':updateRawReport ? '9%' : '43%' }" (click)="downloadRawReport(rowData[col.field])"
           [ngClass]="{'disableLink': rowData[col.field] === 'NA'}"
           >
            <i
             class="fas fa-download share-icon fa-1-5x-custom"
             title="Download Raw Report File"
            ></i>
           </span>
         </span>
         <span class="btn-link" *ngIf="col.field == 'rev_calculation_doc_link'">
          <span class="btn-link" *ngIf="updateRevCalculationDoc" (click)="editFileLink(rowData.id, rowData[col.field],col.field)" style="margin-left: 32%;">
           <i
             class="fas fa-pencil-alt fa-1-5x-custom"
             title="Edit Rev Calculation Doc"
           ></i>
          </span>
          <span class="btn-link" [ngStyle]="{'margin-left':updateRevCalculationDoc ? '9%' : '43%' }" (click)="openRevCalculationDoc(rowData[col.field])"
          [ngClass]="{'disableLink': rowData[col.field] === 'NA'}"
          >
           <i
            class="fa fa-share-square fa-1-5x-custom"
            title="Open Rev Calculation Doc"
           ></i>
          </span>
        </span>

          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="flatTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="footer" let-columns>
        <tr style="background-color:gray;">
          <td *ngFor="let col of columns" [title]="col.footerTotal | formatNum: col.format:col.formatConfig">
            {{
              col.field === 'accounting_key' ? '' : (col.footerTotal | currency)
            }}
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
<p-confirmDialog #cd rejectVisible='false' [style]="{width: '50vw'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Ok" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>