<div id="capture">
  <div class="last-updated">
    <div data-html2canvas-ignore class="dropdown export-icon d-inline-block">
      <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" title="Export to PPT or JPEG" aria-expanded="true">
        <i title="Export to PPT or JPEG" class="fas fa-download" style="cursor: pointer" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a>
        <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a>
      </div>
    </div>

    <div class="popover-container d-inline-block ml-2">
      <div>
        <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} EST
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          EST
        </p>
      </div>
    </div>
  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container class="remove-filter" (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>
  <!-- <h5 style="display: inline-block">View <span> {{toggleView ? 'Monetization': 'House/Unfilled'}}</span> Data </h5>
    <p-inputSwitch (click)="loadTableData()" [(ngModel)]="toggleView"></p-inputSwitch>
    <hr> -->
  <!-- ---------------------- Cards Container Component ---------------------- -->

  <!-- <ym-cards *ngIf="showCards" [cardsJson]="cardsJson"></ym-cards> -->
  <!-- <hr> -->
  <!-- ---------------------- Main Charts Container Component ---------------------- -->

  <div class="p-grid mt-2 mb-2">
    <div class="p-col-4">
      <div class="border-class">
        <i *ngIf="!showRevenueLineChart && !noDataRevenueLineChart" class="pi pi-spin pi-spinner"
          style="font-size: 3em;position:relative; left:40%"></i>
        <div class="no-data-label" *ngIf="noDataRevenueLineChart">
          No data found
        </div>
        <ym-charts *ngIf="showRevenueLineChart" [chartsJson]="RevenueLineChartJson"
          (chartDataSelect)="chartSelected($event)">
        </ym-charts>
      </div>
    </div>
    <div class="p-col-4">
      <div class="border-class">
        <i *ngIf="!showImpressionsLineChart && !noDataImpressionsLineChart" class="pi pi-spin pi-spinner"
          style="font-size: 3em; position:relative; left:40%"></i>
        <div class="no-data-label" *ngIf="noDataImpressionsLineChart">
          No data found
        </div>
        <ym-charts *ngIf="showImpressionsLineChart" [chartsJson]="ImpressionsLineChartJson"
          (chartDataSelect)="chartSelected($event)">
        </ym-charts>
      </div>
    </div>

    <div class="p-col-4">
      <div class="border-class">
        <i *ngIf="!showEcpmLineChart && !noDataEcpmLineChart" class="pi pi-spin pi-spinner"
          style="font-size: 3em; position:relative; left:40%"></i>
        <div class="no-data-label" *ngIf="noDataEcpmLineChart">
          No data found
        </div>
        <ym-charts *ngIf="showEcpmLineChart" [chartsJson]="EcpmLineChartJson" (chartDataSelect)="chartSelected($event)">
        </ym-charts>
      </div>
    </div>
  </div>

  <!-- ------------------------ Table 2 Component Start ------------------------ -->
  <div [hidden]="noTableData" class="mt-1 publisher-payout-table" *ngIf="displayAggTable">
    <em style="margin-left:10px;margin-bottom:5px;color:grey;float:left;font-size: 13px;">
      *Click on any Dimension to view daily data
    </em>
    <p-treeTable #tt [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
      [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']"
      [sortMode]="aggTableJson['sortMode']" [resizableColumns]="aggTableJson['resizableColumns']"
      [columnResizeMode]="aggTableJson['columnResizeMode']" [reorderableColumns]="aggTableJson['reorderableColumns']"
      [frozenColumns]="aggTableJson['frozenCols']" [frozenWidth]="aggTableJson['frozenWidth']"
      [scrollable]="aggTableJson['scrollable']" [scrollHeight]="aggTableJson['scrollHeight']"
      [selectionMode]="aggTableJson['selectionMode']" [(selection)]="aggTableJson['selectedColsModal']"
      [dataKey]="aggTableJson['selectionDataKey']" [metaKeySelection]="aggTableJson['metaKeySelection']"
      [style]="{ width: '100%' }">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

            <ng-template pTemplate="caption">
              <div
                *ngIf="aggTableJson['showHideCols']"
                style="text-align: left; float: left; display: inline-block;"
              >
                <p-multiSelect
                  [options]="aggTableJson['columns']"
                  [(ngModel)]="aggTableJson['selectedColumns']"
                  optionLabel="displayName"
                  maxSelectedLabels="1"
                  selectedItemsLabel="{0} columns selected"
                  [style]="{ minWidth: '200px' }"
                  defaultLabel="Choose Columns"
                ></p-multiSelect>
              </div>
              <div
                *ngIf="isExportReport &&  aggTableJson['export']"
                style="text-align: left; float: right; display: inline-block;"
                class="ml-3 mt-2"
              >
                <div data-html2canvas-ignore class="dropdown">
                  <span
                    class="dropdown-toggle"
                    style="cursor: pointer"
                    id="dropdownMenu1"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    title="Export to Excel/CSV/JSON"
                    aria-expanded="true"
                  >
                    <i
                      title="Export to Excel/CSV/JSON"
                      class="fas fa-download share-icon"
                      id="dropdownMenu1"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="true"
                    >
                      <span class="caret"></span> </i
                    >&nbsp;&nbsp;Export</span
                  >
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a
                      class="dropdown-item"
                      (click)="exportTable('Excel')"
                    >
                      Excel
                    </a>
                    <a class="dropdown-item" (click)="exportTable('CSV')">
                      CSV
                    </a>
                    <!-- <a class="dropdown-item" (click)="exportTablePopup('JSON')">
                      JSON
                    </a> -->
            </div>
          </div>
        </div>
        <div *ngIf="aggTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All"
            [(ngModel)]="searchvalue" (ngModelChange)="onGlobalSearchChanged(searchvalue,finaltableDimColDef)" />
        </div>
        <div style="text-align: right; float: right; display: inline-block;">
          <i class="fas fa-info-circle info-toottip" title="Search function works for dimensions only."></i>
        </div>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}
            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="aggTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input ymInput pInputText type="text" [style.visibility]="
                        col['options']['colSearch'] ? 'visible' : 'hidden'
                      " (input)="
                        tt.filter(
                          $event.target.value,
                          col.field,
                          col.filterMatchMode
                        )
                      " />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->





      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              ">
            <span *ngIf="!col['options']['linkable']">
              {{
                  rowData[col.field]
                    ? (rowData[col.field]
                      | formatNum: col.format:col.formatConfig)
                    : ''
                }}
            </span>
            <span *ngIf="col['options']['linkable']" class="btn-link d-inline"
              (click)="openPopup(rowData, col.field,col.displayName)">
              {{
                  rowData[col.field]
                    ? (rowData[col.field]
                      | formatNum: col.format:col.formatConfig)
                    : ''
                }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
                state.rows * (state.page + 1) > state.totalRecords
                  ? state.totalRecords
                  : state.rows * (state.page + 1)
              }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->
      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="aggTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="footer" let-columns>
        <tr>
          <td *ngFor="let col of columns">
            {{
                    col.field === 'accounting_key' ||
                    col.field === 'station_group' ||
                    col.field === 'derived_station_rpt'
                      ? '-'
                      : (col.footerTotal | formatNum: col.format:col.formatConfig)
                  }}
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">
    No data found
  </div>
  <!-- ------------------------- Table 2 Component End ------------------------- -->

</div>

<p-confirmDialog #cd rejectVisible='false' [style]="{width: '50vw'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Ok" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>