<i
  *ngIf="!showMainLineChart && !noDataMainLineChart"
  class="pi pi-spin pi-spinner"
  style="font-size: 3em; margin: 150px;"
></i>
<div class="no-data-label" *ngIf="noDataMainLineChart">
  No data found
</div>
<ym-charts
  *ngIf="showMainLineChart"
  [chartsJson]="mainLineChartJson"
  (chartDataSelect)="chartSelected($event)"
></ym-charts>
