.total_row {
  background-color: #c7c7c7 !important;
  font-weight: bold;
}

.row {
  padding: 0 1em;
}
.filter-container-icon {
  margin: 5px;
  vertical-align: middle;
  line-height: 1;
}
.filter-title {
  font-size: 15px;
  font-weight: bolder !important;
  display: inline-block;
  margin-top: 2px;
}
.custom-button {
  height: 31px;
  top: 22px;
  left: 15px;
}
.radioBtn{
  margin-right: 10px;
}
