<div id="capture">
  <div class="last-updated">
    <div data-html2canvas-ignore class="dropdown export-icon d-inline-block">
      <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" title="Export to PPT or JPEG" aria-expanded="true">
        <i title="Export to PPT or JPEG" class="fas fa-download" style="cursor: pointer" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a>
        <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a>
      </div>
    </div>

    <div class="popover-container d-inline-block ml-2">
      <div>
        <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} {{timeZone}}
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          {{timeZone}}
        </p>
      </div>
    </div>
  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>
  <!-- <h5 style="display: inline-block">View <span> {{toggleView ? 'Monetization': 'House/Unfilled'}}</span> Data </h5>
    <p-inputSwitch (click)="loadTableData()" [(ngModel)]="toggleView"></p-inputSwitch>
    <hr> -->
  <!-- ---------------------- Cards Container Component ---------------------- -->

  <ym-cards *ngIf="showCards" [cardsJson]="cardsJson"></ym-cards>
  <hr>
  <!-- ---------------------- Main Charts Container Component ---------------------- -->

  <div class="p-grid mt-2 mb-2">
    <div class="p-col-4">
      <div class="border-class">
        <i *ngIf="!showImpressionsLineChart && !noDataImpressionsLineChart" class="pi pi-spin pi-spinner"
          style="font-size: 3em; position:relative; left:40%"></i>
        <div class="no-data-label" *ngIf="noDataImpressionsLineChart">
          No data found
        </div>
        <ym-charts *ngIf="showImpressionsLineChart" [chartsJson]="ImpressionsLineChartJson"
          (chartDataSelect)="chartSelected($event)">
        </ym-charts>
      </div>
    </div>
    <div class="p-col-4">
      <div class="border-class">
        <i *ngIf="!showRevenueLineChart && !noDataRevenueLineChart" class="pi pi-spin pi-spinner"
          style="font-size: 3em;position:relative; left:40%"></i>
        <div class="no-data-label" *ngIf="noDataRevenueLineChart">
          No data found
        </div>
        <ym-charts *ngIf="showRevenueLineChart" [chartsJson]="RevenueLineChartJson"
          (chartDataSelect)="chartSelected($event)">
        </ym-charts>
      </div>
    </div>
    <div class="p-col-4">
      <div class="border-class">
        <i *ngIf="!showEcpmLineChart && !noDataEcpmLineChart" class="pi pi-spin pi-spinner"
          style="font-size: 3em; position:relative; left:40%"></i>
        <div class="no-data-label" *ngIf="noDataEcpmLineChart">
          No data found
        </div>
        <ym-charts *ngIf="showEcpmLineChart" [chartsJson]="EcpmLineChartJson" (chartDataSelect)="chartSelected($event)">
        </ym-charts>
      </div>
    </div>
  </div>

  <!-- ------------------------ Table 2 Component Start ------------------------ -->
  <div [hidden]="noTableData" class="mt-1 publisher-payout-table" *ngIf="displayAggTable">
    <em style="margin-left:10px;margin-bottom:5px;color:grey;float:left;font-size: 13px;">
      *Click on Media Group / Property to view daily data
    </em>
    <p-treeTable #ttpub [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
      [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']"
      [sortMode]="aggTableJson['sortMode']" [resizableColumns]="aggTableJson['resizableColumns']"
      [columnResizeMode]="aggTableJson['columnResizeMode']" [reorderableColumns]="aggTableJson['reorderableColumns']"
      [frozenColumns]="aggTableJson['frozenCols']" [frozenWidth]="aggTableJson['frozenWidth']"
      [scrollable]="aggTableJson['scrollable']" [scrollHeight]="aggTableJson['scrollHeight']"
      [selectionMode]="aggTableJson['selectionMode']" [(selection)]="aggTableJson['selectedColsModal']"
      [dataKey]="aggTableJson['selectionDataKey']" [metaKeySelection]="aggTableJson['metaKeySelection']"
      [style]="{ width: '100%' }" (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
          <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
            optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
        </div>
        <div *ngIf="isExportReport && aggTableJson['export']" style="text-align: left; float: right; display: inline-block;">
          <div data-html2canvas-ignore class="dropdown">
            <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
              <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="exportTable('agg', 'Excel')">
                Excel
              </a>
              <a class="dropdown-item" (click)="exportTable('agg', 'CSV')">
                CSV
              </a>
              <!-- <a class="dropdown-item" (click)="exportTable('agg', 'JSON')">
                JSON
              </a> -->
            </div>
          </div>
        </div>
        <div *ngIf="aggTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All"
            [(ngModel)]="searchvalue" (ngModelChange)="onGlobalSearchChanged(searchvalue,aggTableJson['columns'])" />
            <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
        (click)="searchvalue='';onGlobalSearchChanged(searchvalue,aggTableJson['columns'])"><i
          class="pi pi-times"></i>
      </span>
        </div>
        <div style="text-align: right; float: right; display: inline-block;">
          <i class="fas fa-info-circle" style="margin: 8px 10px 0 0;
          font-size: 1.2em;" title="Search function works for dimensions only."></i>
        </div>
        <div style="text-align: right; float: left; display: inline-block;margin-top: 5px;">
          <span>Report Type : </span>
          <p-radioButton class="radioBtn" name="rbgroup" (click)="changeReport()" value="isSummary" label="Summary"
            [(ngModel)]="reportType" inputId="preopt1">
          </p-radioButton>

          <p-radioButton class="radioBtn" name="rbgroup" (click)="changeReport()" value="isDetailed" label="Detailed"
            [(ngModel)]="reportType" inputId="preopt2">
          </p-radioButton>


        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <!-- <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            [attr.ttResizableColumn]="col['options']['resizable'] ? '' : null"
            [attr.ttReorderableColumn]="col['options']['colSort'] ? '' : null"
          > -->
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
            ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']">
            {{ col.displayName }}

            <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="aggTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <th *ngIf="isHiddenColumn(col)">
              <input ymInput pInputText type="text" [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                " (input)="
                  ttpub.filter(
                    $event.target.value,
                    col.field,
                    col.filterMatchMode
                  )
                " />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
              </ng-template>
              <ng-template pTemplate="output">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="!col['options']['editable']">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>
          </td>
        </tr>
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->

      <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr style="background: #f4f4f4">
          <td *ngFor="let col of columns; let i = index" [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            ">
            <!-- <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler> -->
            <span *ngIf="col.field == 'accounting_key' || col.field == 'time_key'">
              {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
            </span>
            <span *ngIf="col.field == 'station_group'" class="btn-link d-inline"
              (click)="openExportPopup(rowData,col.field)">
              {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
            </span>
            <span *ngIf="col.field == 'derived_station_rpt'" class=" btn-link d-inline"
              (click)="openPopup(rowData, col.field)">
              {{
                rowData[col.field]
                  ? (rowData[col.field]
                    | formatNum: col.format:col.formatConfig)
                  : ''
              }}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="aggTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="footer" let-columns>
        <tr>
          <td *ngFor="let col of columns">
            {{
              col.field === 'accounting_key' ||
              col.field === 'station_group' ||
              col.field === 'derived_station_rpt'
                ? '-'
                : (col.footerTotal | formatNum: col.format:col.formatConfig)
            }}
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">
    No data found
  </div>
  <!-- ------------------------- Table 2 Component End ------------------------- -->

  <!-- -------------------------- Filters Container -------------------------- -->
  <!-- <p-panel [collapsed]="collapsedCustom" *ngIf="!libServ.isEmptyObj(appConfig)">
    <p-header>
      <span class="ui-panel-title filter-title">Filters</span>
      <i class="pi pi-filter filter-container-icon"></i>
      <button pButton type="button" iconPos="right" class="float-right ui-button-secondary" label="{{collapsedCustom ? 'Show' : 'Hide'}}" icon="{{collapsedCustom ? 'fa fa-plus' : 'fa fa-minus'}}" (click)="collapsedCustom = !collapsedCustom"></button>
    </p-header> -->
  <div *ngIf="ispubGraph">
    <hr />
    <div class="row">
      <ym-daterange-picker [appConfig]="appConfig" (datePickerChanged)="selectedDates = $event"></ym-daterange-picker>
      <button pButton type="button" (click)="onApplyFilterClicked(selectedDates)" icon="pi pi-angle-right" label="Apply"
        iconPos="right" class="ui-button-rounded ui-button-success custom-button"></button>
    </div>
    <!-- <p-footer>
      <button
        pButton
        type="button"
        (click)="onApplyFilterClicked(selectedDates)"
        icon="pi pi-angle-right"
        label="Apply"
        iconPos="right"
        class="ui-button-rounded ui-button-success"
      ></button>
    </p-footer>
  </p-panel> -->
    <hr />

    <!-- -----------------------------  Monthly  Charts------------------------------ -->

    <div>
      <div class="border-class">
        <i *ngIf="!showMonthlyChart && !noDataMonthlyChart" class="pi pi-spin pi-spinner no-data-loader"></i>
        <div class="no-data-label" *ngIf="noDataMonthlyChart">
          No data found
        </div>
        <ym-charts *ngIf="showMonthlyChart" [chartsJson]="MonthlyBarChartJson"
          (chartDataSelect)="chartSelected($event)">
        </ym-charts>
      </div>
    </div>

    <hr />
  </div>
  <!-- <div class="p-col-12 pr-4">
    <i
      *ngIf="!showMonthlyChart && !noDataMonthlyChart"
      class="pi pi-spin pi-spinner no-data-loader"
    ></i>
    <div class="no-data-label" *ngIf="noDataMonthlyChart">
      No data found
    </div>
    <ym-charts
      *ngIf="showMonthlyChart"
      [chartsJson]="MonthlyStackChartJson"
      (chartDataSelect)="chartSelected($event)"
    >
    </ym-charts>
  </div>

  <hr /> -->
</div>
<p-confirmDialog #cd rejectVisible='false' [style]="{width: '50vw'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Ok" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>