<div id="capture" #aaa>
  <div class="last-updated">
    <ym-bell-icon *ngIf="bellIconLoaded" [commentJson]="commentJson" (clickOnComment)="clickOnComment($event)"
    [commentData]="commentData" [chatcount]="chatcount"></ym-bell-icon>
    <div class="popover-container d-inline-block ml-2">
      <div>
        <i
          class="far fa-clock"
          style="cursor: pointer"
          aria-haspopup="true"
          aria-expanded="true"
        >
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: "MM-dd-yyyy HH:mm:ss" }} EST
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: "MM-dd-yyyy" }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: "MM-dd-yyyy HH:mm:ss" }}
          EST
        </p>
      </div>
    </div>
  </div>
  <p class="page-title">{{ appConfig["displayName"] }}</p>

    <!-- -------------------------- Filters Container -------------------------- -->
    <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>


  <hr />

  <div style="width: 100%; margin-bottom: 10px">
    <span>
      Columns with
      <span
        style="
          width: 10px;
          display: inline-block;
          height: 10px;
          background: #eee8aa;
          border: 1px solid #ccc;
        "
      ></span>
      color can be edited by clicking on them. * column is editable at
      Campaign level. ** column editable at Line Item level. *** column editable
      at both Campaign and Line Item level.
    </span>
  </div>
  <span class="search-in">Search In</span>
  <div style="margin-right: 5px">
    <input
      type="checkbox"
      [(ngModel)]="flag"
      id="{{ flag }}"
      (change)="changeSearchFlag(flag)"
    />
    <label class="toggle-button-switch" for="{{ flag }}"></label>
    <div
      class="toggle-button-text"
      [ngClass]="{ on: flag == true, off: flag == false }"
    >
      <div class="toggle-button-text-on">Line Item</div>
      <div class="toggle-button-text-off">Campaign</div>
    </div>
  </div>

  <div
    [hidden]="noTableData"
    class="mt-3 mb-3 alp-active-table"
    *ngIf="displayAggTable"
    id="tbldata"
  >
    <p-treeTable
      #ttRev3601
      [value]="aggTableData"
      [columns]="aggTableJson['selectedColumns']"
      [paginator]="true"
      [rows]="aggTableJson['page_size']"
      [totalRecords]="aggTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
      [lazy]="aggTableJson['lazy']"
      [loading]="aggTableJson['loading']"
      [sortMode]="aggTableJson['sortMode']"
      [resizableColumns]="aggTableJson['resizableColumns']"
      [columnResizeMode]="aggTableJson['columnResizeMode']"
      [reorderableColumns]="aggTableJson['reorderableColumns']"
      [frozenColumns]="aggTableJson['frozenCols']"
      [frozenWidth]="aggTableJson['frozenWidth']"
      [scrollable]="aggTableJson['scrollable']"
      [scrollHeight]="aggTableJson['scrollHeight']"
      [selectionMode]="aggTableJson['selectionMode']"
      [(selection)]="aggTableJson['selectedColsModal']"
      [dataKey]="aggTableJson['selectionDataKey']"
      [metaKeySelection]="aggTableJson['metaKeySelection']"
      [style]="{ width: '100%' }"
      (onLazyLoad)="onLazyLoadFlatTable($event)"
      (onNodeExpand)="onTableDrill($event)"
      [contentStyle]="{'overflow':'visible'}"

    >
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div
          *ngIf="aggTableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block"
        >
          <p-multiSelect
            [options]="aggTableJson['columns']"
            [(ngModel)]="aggTableJson['selectedColumns']"
            optionLabel="displayName"
            maxSelectedLabels="1"
            selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }"
            defaultLabel="Choose Columns"
          >
          </p-multiSelect>
        </div>
        <div
          *ngIf="aggTableJson['export']"
          class="ml-3 mt-2"
          style="text-align: left; float: right; display: inline-block"
        >
          <div data-html2canvas-ignore class="dropdown">
            <span
              class="dropdown-toggle"
              style="cursor: pointer"
              id="dropdownMenu1"
              data-toggle="dropdown"
              aria-haspopup="true"
              title="Export to Excel/CSV"
              aria-expanded="true"
            >
              <i
                title="Export to Excel/CSV"
                class="fas fa-download share-icon"
                id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >
                <span class="caret"></span> </i
              >&nbsp;&nbsp;Export</span
            >
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <span
                class="dropdown-item link-style"
                (click)="exportTable('Excel')"
              >
                Excel
              </span>
              <span
                class="dropdown-item link-style"
                (click)="exportTable('CSV')"
              >
                CSV
              </span>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col
            *ngFor="let col of columns"
            [ngStyle]="{ width: col['width'] + 'px' }"
          />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            ttResizableColumn
            ttReorderableColumn
            [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']"
          >
            {{ col.displayName }}

            <p-treeTableSortIcon
              [field]="col.field"
              *ngIf="col['options']['colSort']"
            >
            </p-treeTableSortIcon>
          </th>
        </tr>
        <tr *ngIf="aggTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns; let i = index">
            <th class="search-bar" *ngIf="isHiddenColumn(col)">
              <input
                pInputText
                type="text"
                [ngStyle]="{ width: col['width'] - 25 + 'px' }"
                [style.visibility]="
                  col['options']['colSearch'] ? 'visible' : 'hidden'
                "
                id="i"
                [(ngModel)]="col.value"
                (ngModelChange)="
                  onSearchChanged(col.value, col.field, flag);
                  col.value = col.value
                "
              />
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->
      <ng-template
        pTemplate="frozenbody"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr [ngClass]="progressRowClass(rowData)">
          <td
            *ngFor="let col of columns; let i = index"
            ttEditableColumn
            [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            "
          >
            <p-treeTableToggler
              *ngIf="i == 0"
              [rowNode]="rowNode"
            ></p-treeTableToggler>

            <span
              *ngIf="
                !col['options']['editable'] &&
                col.field != 'campaign' &&
                col.field != 'server_campaign_id'
              "
            >
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>

            <span
              *ngIf="col.field == 'server_campaign_id'"
              (click)="openPopup(rowData)"
              class="btn btn-link fozen.link"
            >
              <span *ngIf="rowData['is_line_item'] == true">
                LID-{{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>

              <span *ngIf="rowData['is_line_item'] != true">
                CID-{{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
            </span>
            <span
              *ngIf="col.field == 'campaign'"
              (click)="linkToBeeswax(rowData)"
              class="btn btn-link d-inline"
            >
            <!-- <span style="white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;"> -->
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig | slice:0:130}}
            <!-- </span>            -->
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr [ngClass]="progressRowClass(rowData)">
          <td
            *ngFor="let col of columns; let i = index"
            [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            "
            ttEditableColumn
            [ngClass]="
              col.field == 'team_members' ||
              col.field == 'bizops_team_members' ||
              col.field == 'io_target_imp_completions' ||
              col.field == 'uniques' ||
              col.field == 'feasibility' ||
              col.field == 'cpm_rate' ||
              col.field == 'c_budget_cost' ||
              col.field == 'white_list' ||
              col.field == 'black_list' ||
              col.field == 'ias_pre_bid_implemented' ||
              col.field == 'app_dispersion' ||
              col.field == 'os_dispersion' ||
              col.field == 'cost_type' ||
              col.field == 'headway_pacing'
                ? 'editablefield'
                : null
            "
          >
            <p-treeTableCellEditor
              *ngIf="col['options']['editable'] || col['options']['editable']"
            >
              <ng-template pTemplate="input">
                <input
                  *ngIf="
                    (col.field !== 'team_members' &&
                      col.field !== 'bizops_team_members' &&
                      col.field == 'c_budget_cost') ||
                    col.field == 'cpm_rate' ||
                    col.field == 'feasibility'
                  "
                  pInputText
                  type="number"
                  step="0.01"
                  min="0"
                  (keydown)="afterEditCell(rowData, col.field, $event, value)"
                  (focus)="value = rowData[col.field]"
                  [(ngModel)]="value"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                />

                <input
                  *ngIf="
                    col.field !== 'team_members' &&
                    col.field !== 'bizops_team_members' &&
                    col.field == 'uniques'
                  "
                  pInputText
                  type="number"
                  (keydown)="afterEditCell(rowData, col.field, $event, value)"
                  (focus)="value = rowData[col.field]"
                  [(ngModel)]="value"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                />

                <span *ngIf="col.field == 'team_members'">
                  <p-multiSelect
                    #multiselectTeamMembers
                    *ngIf="rowData['is_line_item'] != true"
                    [options]="editDropdownOptionsArray"
                    placeholder="Select"
                    [(ngModel)]="rowData['selectedTeamMembers']"
                    [filter]="true"
                    [virtualScroll]="true"
                    itemSize="30"
                    optionLabel="label"
                    dataKey="label"
                    maxSelectedLabels="0"
                    defaultLabel = "Select"
                    [style]="{ 'min-width': '100px' }"
                  >
                  <p-footer>
                    <p-button label="OK" (click)="afterEditCell(rowData,'team_members','','');$event.stopPropagation()"></p-button>
                   </p-footer>
  
                  </p-multiSelect>
                  <span *ngIf="rowData['is_line_item'] == true">
                    {{
                      rowData[col.field]
                        | formatNum: col.format:col.formatConfig
                    }}
                  </span>
                </span>
                <span *ngIf="!rowData['is_line_item'] && col.field == 'bizops_team_members'">

                  <p-multiSelect
                  #tbledata
                  
                  *ngIf="rowData['is_line_item'] != true"
                  [options]="bizOpsMemberArray"
                  placeholder="Select"
                  [(ngModel)]="rowData['selectedBizOps']"
                  [filter]="true"
                  [virtualScroll]="true"
                  itemSize="30"
                  optionLabel="label"
                  dataKey="label"
                  maxSelectedLabels="0"
                  defaultLabel = "Select"
                  [style]="{ 'min-width': '100px' }"  
                >
                <p-footer>
                  <p-button label="OK" (click)="afterEditCell(rowData,'bizops_team_members','','');$event.stopPropagation()"></p-button>
                 </p-footer>

                </p-multiSelect>
                  <span *ngIf="rowData['is_line_item'] == true">
                    {{
                      rowData[col.field]
                        | formatNum: col.format:col.formatConfig
                    }}
                  </span>
                </span>

                <span *ngIf="col.field == 'cost_type'">
                  <p-dropdown
                    [options]="costTypesOptionsArray"
                    placeholder="Select"
                    [(ngModel)]="rowData[col.field]"
                    [filter]="true"
                    [virtualScroll]="true"
                    appendTo="body"
                    itemSize="30"
                    (onChange)="afterEditCell(rowData, 'cost_type', '', '')"
                    optionLabel="label"
                    dataKey="key"
                    [style]="{ 'min-width': '200px' }"
                  >
                  </p-dropdown>
                </span>

                <span *ngIf="col.field == 'white_list'">
                  <input
                    *ngIf="
                      rowData['is_line_item'] == true &&
                      col.field !== 'team_members' &&
                      col.field !== 'bizops_team_members' &&
                      col.field == 'white_list'
                    "
                    pInputText
                    type="text"
                    (keydown)="afterEditCell(rowData, col.field, $event, value)"
                    (focus)="value = rowData[col.field]"
                    [(ngModel)]="value"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                  />
                  <span *ngIf="rowData['is_line_item'] != true">
                    {{
                      rowData[col.field]
                        | formatNum: col.format:col.formatConfig
                    }}
                  </span>
                </span>
                <span *ngIf="col.field == 'io_target_imp_completions'">
                  <input
                    *ngIf="rowData['is_line_item'] == true"
                    pInputText
                    type="text"
                    (keydown)="afterEditCell(rowData, col.field, $event, value)"
                    (focus)="value = rowData[col.field]"
                    [(ngModel)]="value"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                  />
                  <span *ngIf="rowData['is_line_item'] != true">
                    {{
                      rowData[col.field]
                        | formatNum: col.format:col.formatConfig
                    }}
                  </span>
                </span>
                <span *ngIf="col.field == 'black_list'">
                  <input
                    *ngIf="
                      rowData['is_line_item'] == true &&
                      col.field !== 'team_members' &&
                      col.field !== 'bizops_team_members' &&
                      col.field == 'black_list'
                    "
                    pInputText
                    type="text"
                    (keydown)="afterEditCell(rowData, col.field, $event, value)"
                    (focus)="value = rowData[col.field]"
                    [(ngModel)]="value"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                  />
                  <span *ngIf="rowData['is_line_item'] != true">
                    {{
                      rowData[col.field]
                        | formatNum: col.format:col.formatConfig
                    }}
                  </span>
                </span>

                <span *ngIf="col.field == 'ias_pre_bid_implemented'">
                  <input
                    *ngIf="rowData['is_line_item'] == true"
                    pInputText
                    type="text"
                    (keydown)="afterEditCell(rowData, col.field, $event, value)"
                    (focus)="value = rowData[col.field]"
                    [(ngModel)]="value"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                  />
                  <span *ngIf="rowData['is_line_item'] != true">
                    {{
                      rowData[col.field]
                        | formatNum: col.format:col.formatConfig
                    }}
                  </span>
                </span>
                <span *ngIf="col.field == 'app_dispersion'">
                  <input
                    *ngIf="
                      rowData['is_line_item'] == true &&
                      col.field !== 'team_members' &&
                      col.field !== 'bizops_team_members' &&
                      col.field == 'app_dispersion'
                    "
                    pInputText
                    type="text"
                    (keydown)="afterEditCell(rowData, col.field, $event, value)"
                    (focus)="value = rowData[col.field]"
                    [(ngModel)]="value"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                  />
                  <span *ngIf="rowData['is_line_item'] != true">
                    {{
                      rowData[col.field]
                        | formatNum: col.format:col.formatConfig
                    }}
                  </span>
                </span>
                <span *ngIf="col.field == 'os_dispersion'">
                  <input
                    *ngIf="
                      rowData['is_line_item'] == true &&
                      col.field !== 'team_members' &&
                      col.field !== 'bizops_team_members' &&
                      col.field == 'os_dispersion'
                    "
                    pInputText
                    type="text"
                    (keydown)="afterEditCell(rowData, col.field, $event, value)"
                    (focus)="value = rowData[col.field]"
                    [(ngModel)]="value"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                  />
                  <span *ngIf="rowData['is_line_item'] != true">
                    {{
                      rowData[col.field]
                        | formatNum: col.format:col.formatConfig
                    }}
                  </span>
                </span>
                <span *ngIf="col.field == 'headway_pacing'">
                  <input
                    *ngIf="
                      rowData['is_line_item'] == true &&
                      col.field !== 'team_members' &&
                      col.field !== 'bizops_team_members' &&
                      col.field == 'headway_pacing'
                    "
                    pInputText
                    type="number"
                    (keydown)="afterEditCell(rowData, col.field, $event, value)"
                    (focus)="value = rowData[col.field]"
                    [(ngModel)]="value"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                  />
                  <span *ngIf="rowData['is_line_item'] != true">
                    {{
                      rowData[col.field]
                        | formatNum: col.format:col.formatConfig
                    }}
                  </span>
                </span>
              </ng-template>
              <ng-template pTemplate="output">
                <span
                  *ngIf="
                    col.field !== 'team_members' &&
                    col.field !== 'bizops_team_members'
                  "
                  >{{
                    rowData[col.field] | formatNum: col.format:col.formatConfig
                  }}</span
                >
                <span *ngIf="col.field == 'team_members'">{{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}</span>
                <span *ngIf="col.field == 'bizops_team_members'">{{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}</span></ng-template
              >
            </p-treeTableCellEditor>
            <span
              *ngIf="
                col.field != 'comments' &&
                col.field != 'is_campaign_favorite' &&
                col.field != 'campaign' &&
                col.field != 'io_number' &&
                col.field != 'team_members' &&
                col.field != 'bizops_team_members' &&
                col.field != 'io_target_imp_completions' &&
                col.field != 'uniques' &&
                col.field != 'feasibility' &&
                col.field != 'cpm_rate' &&
                col.field != 'c_budget_cost' &&
                col.field != 'white_list' &&
                col.field != 'black_list' &&
                col.field != 'ias_pre_bid_implemented' &&
                col.field != 'app_dispersion' &&
                col.field != 'os_dispersion' &&
                col.field != 'cost_type' &&
                col.field != 'trafficking_delivery_progress' &&
                col.field != 'pp_delivery_progress' &&
                col.field != 'billing_delivery_progress' &&
                col.field != 'discrepancy_percentage' &&
                col.field != 'trafficking_total_vcr' &&
                col.field != 'billing_total_vcr' &&
                col.field != 'impressions_per_day' &&
                col.field != 'comscore' &&
                col.field != 'tunein' &&
                col.field != 'premier' &&
                col.field != 'closure' &&
                col.field != 'headway_pacing'
              "
            >
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>
            <span
              *ngIf="col.field == 'comments'"
              (click)="addComment(rowData)"
              class="link-style-icon"
              title = "comment"
            >
              <i class="far fa-comments"></i>
            </span>
            <span
              *ngIf="col.field == 'is_campaign_favorite'"
              (click)="toggleFavorite(rowData)"
              class="link-style-icon"
              title = "Favorite"
            >
              <i
                *ngIf="rowData['is_campaign_favorite'] == 'hasNot'"
                class="fav far fa-star"
              ></i>
              <i
                *ngIf="rowData['is_campaign_favorite'] == 'has'"
                class="fas fa-star"
              ></i>
            </span>

            <span
              *ngIf="
                col.field == 'io_number' &&
                (rowData['line_item_id'] || rowData['dropbox_url'] === null)
              "
            >
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>
            <span
              *ngIf="
                col.field == 'io_number' &&
                !rowData['line_item_id'] &&
                rowData['dropbox_url'] !== null
              "
            >
              <a
                class="link-style"
                href="{{ rowData['dropbox_url'] }}"
                target="_blank"
                >{{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}</a
              >
            </span>

            <span
              *ngIf="
                col.field == 'trafficking_delivery_progress' ||
                col.field == 'billing_delivery_progress' ||
                col.field == 'pp_delivery_progress'
              "
              [class]="osiProgressClass(rowData, col.field)"
            >
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>

            <span
              *ngIf="col.field == 'discrepancy_percentage'"
              [class]="discrepancyClass(rowData, col.field)"
            >
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>

            <span
              *ngIf="
                col.field == 'trafficking_total_vcr' ||
                col.field == 'billing_total_vcr'
              "
              [class]="vcrTemplateClass(rowData, col.field)"
            >
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>

            <span
              *ngIf="col.field == 'impressions_per_day'"
              [class]="impressionPerDay(rowData, col.field)"
            >
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
            </span>

            <span
              *ngIf="
                (rowData['is_line_item'] != true && col.field == 'comscore') ||
                col.field == 'tunein' ||
                col.field == 'premier' ||
                col.field == 'closure'
              "
            >

            <i
            *ngIf="
            !rowData['is_line_item']"
            class="fas fa-pencil-alt"
            style="color: #22b6fd; cursor: pointer"
            (click)="openEditPopup(rowData, col.field)"
          ></i>

              <span *ngIf="col.field == 'tunein' && rowData['tuneinDate']">
                {{ rowData["tuneinDate"] }}
              </span>
              <span *ngIf="col.field == 'premier' && rowData['premierDate']">
                {{ rowData["premierDate"] }}
              </span>
              <span *ngIf="col.field == 'closure' && rowData['closureDate']">
                {{ rowData["closureDate"] }}
              </span>
              <span *ngIf="col.field == 'comscore' && rowData['comscoreDate']">
                {{ rowData["comscoreDate"] }}
              </span>

         
            </span>


            <!-- <span
            *ngIf="
              (rowData['is_line_item'] == true && col.field == 'comscore')">
            </span>

            <span
            *ngIf="
              (rowData['is_line_item'] == true && col.field == 'tunein')">
              
            </span>

            <span
            *ngIf="
              (rowData['is_line_item'] == true && col.field == 'premier')">
            </span>

            <span
            *ngIf="
              (rowData['is_line_item'] == true && col.field == 'closure')">
            </span> -->
            
            <span *ngIf="col.field == 'campaign'" class="campaign-style">
              {{ rowData[col.field] | formatNum: col.format:col.formatConfig | limitTo : 10}}
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="aggTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div class="no-data-label" *ngIf="noTableData">No data found</div>
</div>
