<p-tabView (onChange)="tabChanged($event)">
<p-tabPanel header="Audience Segment Expression">
<div class="edit-role-container">

  <div>
    <div class="row">
  <div class="div-main">
  {{expression}}

</div>

<div class="hr-div">
</div>
<div class="right-div">
  
       <table class="right-table">
        <tr>
          <td> Last Updated</td>
          <td> : 2020-01-18  14:29:09 GMT</td>
        </tr> 
        <tr>
          <td>Created By</td>
          <td> : Breathe Master Admin</td>
        </tr>
        <tr>
          <td>Updated By</td>
          <td> : Breathe Master Admin</td>
        </tr>
       </table>
       
</div>

</div>

</div>
  <div class="edit-role-footer">
    <button
      pButton
      type="submit"
      icon="fas fa-pencil-alt"
      label="Edit"
      iconPos="right"
        class="ui-button-rounded ui-button-success edit-role-button"
    ></button>

     <!-- <i class="fas fa-copy"></i> -->
    <button
      pButton
      type="button"
      icon="fas fa-share-alt"
      label="Share"
      iconPos="right"
      class="ui-button-rounded ui-button-reset ui-button-info btn-close edit-role-button1"
    ></button>
    <button
    pButton
    type="submit"
    icon="fas fa-copy"
    label="Copy"
    iconPos="right"
      class="ui-button-rounded ui-button-secondary edit-role-button"
  ></button>

  </div>
</div>




</p-tabPanel>
<!-- <i class="fas fa-pencil-alt"></i> -->
<!-- <i class="fas fa-share-alt"></i> -->
</p-tabView>