/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  color: #22b6fd;
  height: 1px;
  background-color: #22b6fd;
  border: none;
}

.btn-link {
  cursor: pointer;
}

.ui-multiselect .ui-multiselect-trigger {
  background-color: transparent !important;
}

.page-title {
  font-size: 1.2rem;
  color: #22b6fd;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
}

.last-updated {
  float: right;
  font-size: 15px;
  color: gray;
}

.screencapture {
  color: black;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.ui-treetable .ui-treetable-caption {
  display: inline-block;
  width: 100%;
  margin-bottom: -4px;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.ui-dialog-custom-class {
  .ui-dialog-content {
    overflow: auto;
    height: 100%;
  }
}

.ui-chips > ul.ui-inputtext {
  display: block !important;
}

body .login-page .ui-card {
  background-color: #0000004d;
  color: #96a8b9;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

body .login-page .ui-inputgroup .ui-inputgroup-addon {
  background-color: transparent;
}

body .login-page .ui-inputgroup input.ui-inputtext {
  background-color: transparent !important;
  -webkit-appearance: none;
}

body .login-page .ui-inputgroup input.ui-inputtext:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: #fff !important;
  -webkit-appearance: none;
}

body .login-page ::-webkit-input-placeholder {
  color: #ccc;
}

body .login-page input:-webkit-autofill,
body .login-page input:-webkit-autofill:hover,
body .login-page input:-webkit-autofill:focus,
body .login-page textarea:-webkit-autofill,
body .login-page textarea:-webkit-autofill:hover,
body .login-page textarea:-webkit-autofill:focus,
body .login-page select:-webkit-autofill,
body .login-page select:-webkit-autofill:hover,
body .login-page select:-webkit-autofill:focus {
  border: 1px solid #a6a6a6;
  -webkit-text-fill-color: #a6a6a6;
  -webkit-box-shadow: 0 0 0px 1000px #1b2a37 inset;
  transition: background-color 5000s ease-in-out 0s;
}

body .ui-inputtext:enabled:hover:not(.ui-state-error),
body .ui-inputtext:enabled:focus:not(.ui-state-error) {
  border-color: #a6a6a6;
}

// .obs-rev-mgmt-popup-table .ui-treetable-scrollable-wrapper {
//   overflow: auto;
// }

.ui-treetable .ui-treetable-thead > tr > th {
  height: 40px !important;
}

.ui-treetable .ui-treetable-tbody > tr > td {
  height: 30px !important;
}

.ui-treetable .ui-treetable-toggler {
  margin-top: -3.4em;
}

.ui-treetable .ui-treetable-tfoot > tr > td {
  background-color: #d3d3d3 !important;
}

body .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
  height: 35px;
  // top: -1px;
}

.prebid-font {
  width: 16px;
  height: 16px;
  content: url(assets/images/prebid_logo.png);
}

.ui-treetable .ui-treetable-tbody > tr > td {
  height: 30px !important;
}

.ui-table .ui-table-tbody > tr > td {
  height: 30px !important;
}
.ui-table .ui-table-tbody > tr > td {
  padding: 0.171em 0.557em !important;
}
.p-table .ui-treetable .ui-treetable-thead > tr > th {
  height: 40px !important;
}

.ui-treetable .ui-treetable-toggler {
  margin-top: -3.4em;
}

body .ui-treetable .ui-treetable-tbody > tr > td {
  //  text-overflow: ellipsis;
  white-space: normal;
  padding: 0.1875rem 0.375rem;
  cursor: text;
}

body .alp-active-table .ui-treetable .ui-treetable-tbody > tr > td {
  //  text-overflow: ellipsis;
  word-break: break-all !important;
  padding: 0.1875rem 0.375rem;
  cursor: text;
}

body .ui-paginator .ui-dropdown .ui-dropdown-label,
body .ui-paginator .ui-dropdown .ui-dropdown-trigger {
  color: #352727;
  background: #f4f4f4;
  height: 100%;
}

.ui-paginator .ui-paginator-left-content {
  float: left;
  margin: 5px;
}

body .fr-month-finance-table .ui-treetable .ui-treetable-thead > tr > th {
  height: 60px !important;
}

body .fr-finance-table .ui-treetable .ui-treetable-thead > tr > th {
  height: 60px !important;
}

body .fr-cpr-table .ui-treetable .ui-treetable-thead > tr > th,
body .cpr-popup-table .ui-treetable .ui-treetable-thead > tr > th {
  height: 60px !important;
}

body .cpr-popup-table .ui-treetable .ui-treetable-tbody > tr > td {
  white-space: pre-wrap;
}

body .pixel-pinger-table .ui-treetable .ui-treetable-thead > tr > th {
  height: 60px !important;
}

body .pixel-pinger-table .ui-treetable .ui-treetable-tbody > tr > td {
  word-break: break-all;
}

body .prebid-table .ui-treetable .ui-treetable-thead > tr > th,
body .fr-upr-table .ui-treetable .ui-treetable-thead > tr > th {
  height: 60px !important;
}

body .agg-revmgmnt-table .ui-treetable .ui-treetable-thead > tr > th {
  height: 60px !important;
}

body .ui-treetable .ui-treetable-thead > tr > th {
  height: 40px !important;
}

body .alp-popup-table .ui-treetable .ui-treetable-thead > tr > th {
  height: 50px !important;
}

body .alp-active-table .ui-treetable .ui-treetable-thead > tr > th {
  height: 50px !important;
}
.ui-treetable-unfrozen-view .ui-treetable-scrollable-body,
.ui-treetable-frozen-view .ui-treetable-scrollable-body {
  overflow-x: scroll !important;
}

body
  .adops-360-table
  .ui-treetable
  .corperate-finance-table
  .ui-treetable-thead
  > tr
  > th
  body
  .publisher-payout-table
  .ui-treetable
  .ui-treetable-thead
  > tr
  > th {
  height: auto;
}

body .corperate-finance-table .ui-treetable .ui-treetable-thead > tr > th {
  height: 40px !important;
}

body .corperate-finance-table .ui-treetable-unfrozen-view {
  position: initial;
}

body .supply-performance-table .supply-performance-popup-table {
  height: 40px !important;
}

body .supply-performance-popup-table .ui-treetable .ui-treetable-thead > tr > th,
body .supply-performance-table .ui-treetable .ui-treetable-thead > tr > th {
  height: 80px !important;
}

body .rev-mgmt-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .unfilled-table .ui-treetable-frozen-view .ui-treetable-scrollable-body {
  max-height: 200px !important;
  padding-bottom: 0px !important;
}

body .prebid-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .new-rio-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .fr-month-finance-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .fr-pit-issue-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .fr-finance-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .fr-vast-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .adops-360-popup-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .agg-revmgmnt-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .alp-popup-table .ui-treetable-frozen-view .ui-treetable-scrollable-body {
  max-height: 300px !important;
  padding-bottom: 0px !important;
}

body .pixel-pinger-table .ui-treetable-frozen-view .ui-treetable-scrollable-body {
  max-height: 400px !important;
  padding-bottom: 0px !important;
}

body .supply-performance-table .ui-treetable-frozen-view .ui-treetable-scrollable-body {
  max-height: 200px !important;
  padding-bottom: 0px !important;
}

// body .fr-pit-issue-table .ui-treetable-frozen-view .ui-treetable-scrollable-body {
//   max-height: 300px !important;
//   padding-bottom: 18px !important;
// }

body .fr-cpr-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .adops-360-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .fr-payout-popup-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .fr-payout-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .alp-active-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .publisher-payout-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .fr-daily-kpi-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .corperate-finance-table .ui-treetable-frozen-view .ui-treetable-scrollable-body {
  max-height: 500px !important;
  padding-bottom: 0px !important;
  font-size: 0.72rem;
}

body .cpr-table .ui-treetable-frozen-view .ui-treetable-scrollable-body {
  max-height: 550px !important;
  padding-bottom: 0px !important;
}

body .cpr-table .ui-treetable .ui-treetable-tbody > tr > td {
  height: 30px !important;
}

body .fr-upr-table .ui-treetable-frozen-view .ui-treetable-scrollable-body {
  max-height: 500px !important;
  padding-bottom: 0px !important;
}

body .publisher-payout-popup-table .ui-treetable-frozen-view .ui-treetable-scrollable-body {
  max-height: 400px !important;
  padding-bottom: 0px !important;
}

body .dashboard-table .ui-treetable-frozen-view .ui-treetable-scrollable-body {
  max-height: 450px !important;
  padding-bottom: 0px !important;
}

body .fr-payout-group-popup-table .ui-treetable-frozen-view .ui-treetable-scrollable-body,
body .fr-payment-table .ui-treetable-frozen-view .ui-treetable-scrollable-body {
  max-height: 300px !important;
  padding-bottom: 0px !important;
}

// body .adops-360-popup-table .ui-treetable-unfrozen-view .ui-treetable-scrollable-body{
//   max-height: 100px !important;

// }

.d-inline {
  display: inline !important;
}

body .ui-inputswitch {
  top: 6px;
  // left: 10px;
  margin-right: 10px;
}

body #cpr-component .ui-inputswitch {
  top: 6px;
  left: 5px;
  margin: 0 10px;
}

.link-style {
  text-decoration: underline;
  cursor: pointer;
  color: #22b6fd;
}
.ui-table-loading,
.ui-treetable-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  -ms-filter: "alpha(opacity=10)";
  opacity: 0.1;
  z-index: 1;
  background-color: lightyellow !important;
  opacity: 0.9;
}
.ui-table .ui-table-loading-icon,
.ui-treetable .ui-treetable-loading-icon {
  font-size: 5em;
}

body .ui-tabview .ui-tabview-panels {
  color: #010101 !important;
}

body .ui-table .ui-table-caption {
  border-bottom: 0 none;
  font-weight: 700;
  display: table;
  width: 100%;
}
// .ng-trigger.ng-trigger-overlayAnimation.ui-dropdown-panel.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ng-star-inserted{
//   top:-114px !important;

// }
.ui-treetable-scrollable-wrapper {
  position: relative;
  border: 1px solid #c8c8c8;
}
.ui-treetable-scrollable-view {
  border-right: 1px solid #c8c8c8;
}
.submenu a.router-link-active div {
  color: #b9d15b !important;
  font-weight: bold;
}

span.navigation-icon.navigation-icon-left.disabled-scroll {
  display: none !important;
}

span.navigation-icon.navigation-icon-right.disabled-scroll {
  display: none !important;
}
.ui-widget-header {
  border-bottom: 1px solid #c8c8c8;
}

body .border-class {
  border: 1px solid #d3dce6;
  border-radius: 5px;
  padding: 10px;
  background: white;
}
.impersonated {
  border: 5px solid #ff4c4c;
}

.impersonated .log-out {
  display: none;
}

body .ui-treetable .ui-treetable-caption,
body .ui-treetable .ui-treetable-summary {
  padding: 0.572em 0.572em 2.8px !important;
}

#ui-tabpanel-2
  > div
  > p-treetable
  > div
  > div.ui-treetable-caption.ui-widget-header.ng-star-inserted
  > div:nth-child(3)
  > input {
  width: 250px;
  height: 20px !important;
}

.no-data-label {
  margin: 1.5rem;
  position: relative;
  text-align: center;
}

.pop-over {
  display: none;
  background: #fff;
  position: absolute;
  right: 30px;
  z-index: 10;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
}

.popover-container:hover .pop-over {
  display: block;
}
.is-invalid-class,
.is-invalid-class .ui-dropdown {
  border-color: #dc3545 !important;
}
ym-charts {
  display: inline-block;
  width: 100%;
}
.ui-chips-input-token,
.ui-chips-input-token input {
  width: 100%;
}

.filter-container-panel {
  position: relative;
  .ui-progress-spinner {
    position: relative;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    display: inline-block;
  }
}
.export-icon {
  bottom: 2px;
}
i.far.fa-clock {
  font-size: 17px;
}
.link-style-icon {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #22b6fd;
}

.remove-filter i.fas.fa-times {
  display: none !important;
}
body .alp-active-table .ui-treetable .ui-treetable-toggler {
  top: 28% !important;
}

.fa-1-5x-custom {
  font-size: 1.5em;
}

// .new-rio-table .p-col-1, .p-col-2, .p-col-3, .p-col-4, .p-col-5, .p-col-6, .p-col-7, .p-col-8, .p-col-9, .p-col-10, .p-col-11, .p-col-12{

//   padding: 0px;
// }

#capture
  > div.p-col-12.mt-1.new-rio-table
  > p-treetable
  > div
  > div.ui-treetable-scrollable-wrapper.ng-star-inserted
  > div.ui-treetable-scrollable-view.ui-treetable-frozen-view.ng-star-inserted
  > div.ui-treetable-scrollable-header.ui-widget-header
  > div
  > table
  > thead
  > tr:nth-child(1)
  > th:nth-child(1) {
  font-size: 0px;
}

body .ui-chips > ul {
  height: 120px;
  overflow: auto !important;
}

body .campaignChips .ui-chips > ul {
  height: 39px !important;
  width: 260%;
  margin-top: 10px;
  overflow: visible !important;
  margin-left: 10px;
}
ym-edit-save-view > div > div.p-grid > p-accordion > div {
  display: flex;
  flex-wrap: wrap;
}
ym-edit-save-view > div > div.p-grid > p-accordion > div > div {
  width: 200px;
}

ym-edit-save-view > div > div > p-accordion > div > div > p-accordiontab > div > a {
  border-radius: 3px;
}

ym-edit-save-view > div > div > p-accordion > div > div > p-accordiontab > div > div > div {
  width: 200px;
}
.ui-fluid .ui-buttonset {
  width: auto !important;
}

ym-support-app > div > div > div > p-panel > div > div > div > div > div > p-card > div {
  background-color: #f2f7f8 !important;
}

ym-edit-save-view > div > div > p-accordion > div > div > p-accordiontab > div > div > div > p-chips > div {
  width: 100%;
}

body .visualize-create .ui-orderlist .ui-orderlist-controls {
  padding: 0.571em 1em;
  display: none !important;
}

body .visualize-create .ui-tabview .ui-tabview-panels {
  color: #010101 !important;
  height: 526px;
  overflow-y: auto;
  width: 100%;
}

body .visualize-create .ui-colorpicker-preview {
  height: 20px !important;
  width: 25px !important;
}

.info-toottip {
  margin: 10px 10px 0 0 !important;
  font-size: 1.2em !important;
}

#ui-accordiontab-0-content
  > div
  > div
  > form:nth-child(3)
  > div
  > div.ui-g-4.ui-g-nopad.drag-column
  > p-chips
  > div
  > ul {
  height: 170px;
}
div#ui-accordiontab-0-content {
  display: grid !important;
}

body .ui-accordion .ui-accordion-content {
  overflow: unset !important;
  display: grid !important;
  border: none;
  background: #f1f6f7;
  padding: 0px;
}

// body .ui-card{
//   display: flow-root !important;
//   margin-top: 3px;
// }
// .ui-card-title{
//   font-size: 1.3em !important;
// }

body .alert-group-info-card .ui-card.ui-widget.ui-widget-content.ui-corner-all {
  display: flow-root !important;
  margin-top: 3px;
}

body .alert-create-condition .ui-card.ui-widget.ui-widget-content.ui-corner-all {
  margin: 5px 0px 0px 0px !important;
  display: flow-root !important;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #dadada;
  border: 1px solid #dadada;
  color: #000;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a {
  background-color: #dadada !important;
  border: 1px solid #dadada !important;
  color: #000;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a {
  background-color: #dadada !important;
  border: 1px solid #dadada !important;
  color: #000;
}

body a:hover {
  border: 1px solid #dadada !important;
  color: #000 !important;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a .ui-accordion-toggle-icon {
  float: right;
}

body .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  float: right;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
  color: #000;
}
#ui-accordiontab-0-content > div > form > div > div.ui-g-4.ui-g-nopad.drag-column > p-chips > div > ul {
  height: 170px;
  .pit-issues .ui-dropdown-label-container {
    text-overflow: ellipsis;
    width: 533px;
  }
}

body .visualize-create .ui-orderlist-list-container {
  width: 100% !important;
}

body > p-dynamicdialog > div > div > div > ym-approval-email > div > form > div > div > div > div > p-chips > div > ul {
  height: 40px !important;
  min-width: 260px !important;
}

body
  > p-dynamicdialog
  > div
  > div
  > div.ui-dialog-content.ui-widget-content.ng-tns-c50-4
  > ym-edit-alert-group
  > div
  > div
  > form
  > div:nth-child(3)
  > div:nth-child(2)
  > div
  > p-calendar
  > span
  > div {
  top: -188.48px !important;
}

body
  > p-dynamicdialog
  > div
  > div
  > div.ui-dialog-content.ui-widget-content.ng-tns-c50-4
  > ym-edit-alert-group
  > div
  > div
  > form
  > div:nth-child(3)
  > div:nth-child(3)
  > div
  > p-calendar
  > span
  > div {
  top: -239.285px !important;
}

body > p-dynamicdialog > div > div > div > ym-approval-email > div > form > div > div > div > div > p-chips > div > ul {
  height: 40px !important;
  min-width: 260px !important;
  padding: 0 !important;
  display: none !important;
}

body .visualize-create .cards-container {
  margin-top: 2rem !important;
}

body .ui-tree .ui-tree-container {
  max-height: 250px;
}

.ui-treetable-frozen-view .ui-treetable-scrollable-body > div {
  display: none;
}

body p-dynamicdialog .ui-treetable-frozen-view .ui-treetable-scrollable-body {
  padding-bottom: 0px !important;
}
.ui-fluid .ui-dropdown,
.ui-fluid p-dropdown {
  width: 100%;
  min-width: 100%;
}

body .vast_creative .ui-card {
  height: 200px !important;
}

body .filledTab .ui-accordion-header a {
  border: 4px solid #81c784;
}

body .filledTabRed .ui-accordion-header a {
  border: 4px solid red;
}

//  body .validateTab .ui-accordion .ui-accordion-header a {
//   background-color:red !important;
// }

body .app-analytics {
  @media (min-width: 992px) {
    .p-lg-3 {
      padding: 0.5rem !important;
    }
    .p-lg-4 {
      padding: 0.5rem !important;
    }
  }

  @media (min-width: 768px) {
    .p-md-4 {
      padding: 0.5rem !important;
    }
  }
  .geo-chart .legends-container {
    display: none;
  }
  .legends-container {
    margin-bottom: 1rem;
  }
  .ui-tabview {
    padding: 0 0.25em;
    &.ui-tabview-top {
      .ui-tabview-nav {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
        background: #fff;
        li {
          background-color: #fff;
          margin: 0;
          border: 0;
          border-top: 5px solid #fff;
          transition: background-color 0.2s, box-shadow 0.2s;

          &.ui-state-active {
            background-color: #eee;
            border: 0;
            border-top: 5px solid #007ad9;
            outline: 0;

            a {
              color: #000;

              .name {
                font: 400 14px/14px "Roboto", sans-serif;
              }
              .value {
                font: 400 16px/20px "Roboto", sans-serif;
              }
            }
          }

          &:focus {
            box-shadow: none;
            outline: 0;
          }
          a {
            color: #ccc;

            .name {
              color: #0000008a;
              font: 300 14px/14px "Roboto", sans-serif;
              letter-spacing: 0;
            }
            .value {
              color: #000000de;
              font: 300 26px/20px "Roboto", sans-serif;
              letter-spacing: 0;
            }
          }
        }
      }
    }
    .ui-tabview-panels {
      border: 0;
      background: #fff;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    }
  }
  .p-card-title-table {
    font: 400 15px/20px "Roboto", sans-serif;
    margin-bottom: 10px;
  }
  .ui-card-content .no-data-label {
    margin: 2.75rem auto;
  }
}

body .ui-table .ui-table-tbody > tr:nth-child(even) {
  background: #fff;
}

.mat-autocomplete-panel.mat-autocomplete-visible {
  z-index: 2377;
  background: white;
  width: 56%;
  margin-top: -50%;
  margin-left: 85%;
}

input#qbinput {
  font-size: 14px;
  color: #333333;
  background: #ffffff;
  padding: 0.429em;
  border: 1px solid #a6a6a6;
  transition: border-color 0.2s, box-shadow 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
}
// CSS Override for 80 % UI

body .ui-widget {
  font-size: 12px;
}

body .ui-panel .ui-panel-titlebar {
  padding: 0.2em 1em;
}

.page-title {
  font-size: 1rem;
}

body .ui-inputtext {
  font-size: 12px;
}

body .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
  height: 30px;
  // top: 1px;
}

body .ui-button {
  font-size: 12px;
}

.last-updated {
  font-size: 13px;
}

body {
  font-size: 0.8rem;
}

body .ui-treetable .ui-treetable-caption,
body .ui-treetable .ui-treetable-summary {
  padding: 0.372em 0.572em 2.8px !important;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dropdown-menu {
  min-width: 8rem;
  font-size: 12px;
}

.form-group,
.form-control {
  font-size: 12px;
}

body .ui-datepicker table td {
  padding: 0.2em;
}

body .ui-datepicker table td > a,
body .ui-datepicker table td > span {
  padding: 0.2em;
}

body .calendar-footer .ui-button {
  font-size: 11px !important;
}

body .cpr-table .ui-treetable .ui-treetable-thead > tr > th,
body .cpr-popup-table .ui-treetable .ui-treetable-thead > tr > th {
  height: 70px !important;
}

body .pixel-pinger-table .ui-treetable .ui-treetable-thead > tr > th {
  height: 70px !important;
}

body .ui-treetable .ui-editable-column input {
  font-size: 13px;
  // font-family: "Open Sans", "Helvetica Neue", sans-serif;
  height: 21px;
}

body .alp-active-table .ui-treetable .ui-treetable-tbody > tr > td {
  height: 75px !important;
}

.badge {
  font-size: 12px !important;
  font-weight: unset !important;
  font-size: 12px !important;
}

body .alp-multiselect .ui-multiselect {
  width: 90px !important;
}

body .alpmultiselect .ui-multiselect .ui-multiselect-panel {
  display: block !important;
  visibility: visible;
  top: 0px !important;
}

body .alpmultiselect .focus .ui-dropdown,
.focus .ui-multiselect {
  -moz-box-shadow: 0px 0px 5px #1f89ce;
  -webkit-box-shadow: 0px 0px 5px #1f89ce;
  box-shadow: 0px 0px 5px #1f89ce;
}

.ui-treetable-resizable .ui-treetable-thead > tr > th,
.ui-treetable-resizable .ui-treetable-tfoot > tr > td,
.ui-treetable-resizable .ui-treetable-tbody > tr > td {
  overflow: visible !important;
}

body .fr-pit-issue-table .ui-treetable .ui-treetable-tbody > tr > td {
  height: 40px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  padding: 0.1875rem 0.375rem !important;
  cursor: text;
}

body .ui-dropdown .ui-dropdown-label {
  text-overflow: ellipsis !important;
}

body .ui-dropdown-label-container {
  width: 100% !important;
}
