<div  class="ui-fluid">
  <div class="ui-g-12" style="min-height: 450px !important;">
    <p-tabView (onChange)="tabChanged($event)">
      <p-tabPanel [selected]="true" header="Daily Data">
        <div class="p-col-12 adops-360-popup-table">
          <p-table #dt  [value]= "[[]]">
          <ng-template pTemplate="header" >
            <tr>
              <th style="width: 55px;"> 
                Server CID
            </th>
            <th style="width: 170px;" >
                Campaign Name
            </th>
            <th *ngIf="rowData.line_item" style="width: 55px;">
                Server LID
            </th>
            <th *ngIf="rowData.line_item" style="width: 170px;">
                Line Item
            </th>
            <th style="width: 70px;">
                IO
            </th>
            <th style="width: 80px;">
                Flight Start Date
            </th>
            <th style="width: 80px;">
                Flight End Date
            </th>
            <th>
                Cost Type
            </th>
            <th>
                Alphonso Source
            </th>
            <th>
                3rd Party Source
            </th>
            <th *ngIf="rowData.cost_type == 'CPM'">
                Alphonso Imps.
            </th>
            <th *ngIf="rowData.cost_type=='CPM'">
                3rd Party Imps.
            </th>
            <th *ngIf="rowData.cost_type=='CPVC'">
                Alphonso Compl.
            </th>
            <th *ngIf="rowData.cost_type=='CPVC'">
                3rd Party Compl.
            </th>
            <th>
                IO Target Imps. / Compls.
            </th>
            <th>
                Budget
            </th>
            <th>
                Alp. Spend
            </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body"  let-columns="columns">
            <tr>
              <td>
                <span *ngIf="!rowData.line_item_id">{{rowData.server_campaign_id}}</span>
                <span *ngIf="rowData.line_item_id">{{rowData.server_cid}}</span>
            </td>
            <td style="min-height: 60px;white-space: normal; overflow: hidden;">
                <span *ngIf="!rowData.line_item_id">{{rowData.campaign}}</span>
                <span *ngIf="rowData.line_item_id">{{rowData.campaign_name}}</span>
            </td>
            <td *ngIf="rowData.line_item">
                {{rowData.server_li_id}}
            </td>
            <td  *ngIf="rowData.line_item" style="min-height: 60px;white-space: normal; overflow: hidden;">
                {{rowData.line_item}}
            </td>
            <td>
                {{rowData.io_number}}
            </td>
            <td>
                {{rowData.flight_start}}
            </td>
            <td>
                {{rowData.flight_end}}
            </td>
            <td>
                {{rowData.cost_type}}
            </td>
            <td>
                {{rowData.trafficking_source}}
            </td>
            <td>
                {{rowData.billing_source}}
            </td>
            <td *ngIf="rowData.cost_type=='CPM'">
                 {{rowData.trafficking_total_impressions | formatNum: 'number' : ''}}
            </td>
            <td *ngIf="rowData.cost_type=='CPM'">
                 {{rowData.billing_total_impressions | formatNum: 'number' : ''}}
            </td>
            <td *ngIf="rowData.cost_type=='CPVC'">
                 {{rowData.trafficking_total_video_completes | formatNum: 'number':''}}
            </td>
            <td *ngIf="rowData.cost_type=='CPVC'">
                 {{rowData.billing_total_video_completes | formatNum:'number':''}}
            </td>
            <td>
                {{rowData.io_target_imp_completions | formatNum:'number':''}}
            </td>
            <td>
                <span *ngIf="!rowData.line_item_id">{{rowData.c_budget_cost | formatNum: '$':[]}}</span>
                <span *ngIf="rowData.line_item_id">{{rowData.l_budget_cost | formatNum: '$': []}}</span>
            </td>
            <td>
                {{rowData.daily_spend | formatNum: '$' :''}}
            </td>
            </tr>
          </ng-template>
          </p-table>
        </div>
        <!-- ------------------------ Table Component Start ------------------------ -->
        <div class="p-col-12 alp-popup-table">
          <p-treeTable #tt [value]="tableData" [columns]="tableJson['selectedColumns']" [paginator]="true"
            [rows]="tableJson['page_size']" [totalRecords]="tableJson['totalRecords']"
            [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="tableJson['lazy']" [loading]="tableJson['loading']"
            [sortMode]="tableJson['sortMode']" [resizableColumns]="tableJson['resizableColumns']"
            [columnResizeMode]="tableJson['columnResizeMode']" [reorderableColumns]="tableJson['reorderableColumns']"
            [frozenColumns]="tableJson['frozenCols']" [frozenWidth]="tableJson['frozenWidth']"
            [scrollable]="tableJson['scrollable']" [scrollHeight]="tableJson['scrollHeight']"
            [selectionMode]="tableJson['selectionMode']" [(selection)]="tableJson['selectedColsModal']"
            [dataKey]="tableJson['selectionDataKey']" [metaKeySelection]="tableJson['metaKeySelection']"
            [style]="{ width: '100%' }">
            <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

            <ng-template pTemplate="caption">
              <div *ngIf="tableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
                <p-multiSelect [options]="tableJson['columns']" [(ngModel)]="tableJson['selectedColumns']"
                  optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
                  [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
              </div>
              <div *ngIf="tableJson['export']" style="text-align: left; float: right; display: inline-block;"
                class="ml-3 mt-2">
                <div data-html2canvas-ignore class="dropdown">
                  <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" title="Export to Excel/CSV" aria-expanded="true">
                    <i title="Export to Excel/CSV" class="fas fa-download share-icon" id="dropdownMenu1"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="exportTablePopup('Excel')">
                      Excel
                    </a>
                    <a class="dropdown-item" (click)="exportTablePopup('CSV')">
                      CSV
                    </a>
                    <!-- <a class="dropdown-item" (click)="exportTablePopup('JSON')">
                  JSON
                </a> -->
                  </div>
                </div>
              </div>
              <div *ngIf="tableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input ymInput pInputText type="text" size="50" placeholder="Search All"
                  (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto" />
              </div>
            </ng-template>

            <!-- ------------------------- For frozen columns -------------------------- -->

            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
              </colgroup>
            </ng-template>

            <!-- ------------------------------- Header -------------------------------- -->

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                  ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                  [ttResizableColumnDisabled]="!col['options']['resizable']"
                  [ttReorderableColumnDisabled]="!col['options']['movable']">
                  {{ col.displayName }}
                  <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
                </th>
              </tr>
              <tr *ngIf="tableJson['columnSearch']">
                <ng-container *ngFor="let col of columns">
                  <th *ngIf="isHiddenColumn(col)">
                    <input ymInput pInputText type="text" [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  " (input)="
                    tt.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  " />
                  </th>
                </ng-container>
              </tr>
            </ng-template>

            <!-- -------------------------------- Body --------------------------------- -->

            <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
              <tr [ngClass]="highlightRowClass(rowData)">
                <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              ">
                  <p-treeTableCellEditor *ngIf="col['options']['editable']">
                    <ng-template pTemplate="input">
                      <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                        [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{
                    rowData[col.field] | formatNum: col.format:col.formatConfig
                  }}
                      <!-- | formatNumPipe: col.format:col.formatConfig -->
                    </ng-template>
                  </p-treeTableCellEditor>
                  <span *ngIf="!col['options']['editable']">
                    {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
                    <!-- | formatNumPipe: col.format:col.formatConfig -->
                  </span>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="paginatorleft" let-state>
              Showing {{ state.page * state.rows + 1 }} to
              {{
            state.rows * (state.page + 1) > state.totalRecords
              ? state.totalRecords
              : state.rows * (state.page + 1)
          }}
              of {{ state.totalRecords }} Records
            </ng-template>

            <!-- ----------------------------- Frozen Body ----------------------------- -->
            <!-- ------------------- Message to show for empty Data -------------------- -->

            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="tableJson['columns'].length">
                  No data found.
                </td>
              </tr>
            </ng-template>
          </p-treeTable>
        </div>
        <!-- ------------------------- Table Component End ------------------------- -->
      </p-tabPanel>
      <p-tabPanel header="Impressions Trend Line-chart" rightIcon="fas fa-chart-line">
        <div class="p-col-12">
          <ym-charts *ngIf="showImpLineChart" [chartsJson]="impressionsChartJson">
          </ym-charts>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Completion Rate Trend Line-chart" rightIcon="fas fa-chart-line">
        <div class="p-col-12">
          <ym-charts *ngIf="showCompletionLineChart" [chartsJson]="completionChartJson">
          </ym-charts>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Discrepancy Trend Line-chart" rightIcon="fas fa-chart-line">
        <div class="p-col-12">
          <ym-charts *ngIf="showDiscrepancyLineChart" [chartsJson]="discrepancyChartJson">
          </ym-charts>
        </div>
      </p-tabPanel>
      <p-tabPanel header="CTR Trend Line-chart" rightIcon="fas fa-chart-line">
        <div class="p-col-12">
          <ym-charts *ngIf="showCTRLineChart" [chartsJson]="ctrChartJson">
          </ym-charts>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="ui-g-12">
    <button (click)="goBack()" pButton type="button" label="OK" class="ui-button-rounded ui-button-success"
      style="float: right;width: 50px;"></button>
  </div>
</div>