<div id="capture">
  <!-- <div class="last-updated">
    <div data-html2canvas-ignore class="dropdown d-inline-block">
      <span
        class="dropdown-toggle"
        style="cursor: pointer"
        id="dropdownMenu1"
        data-toggle="dropdown"
        aria-haspopup="true"
        title="Export to PPT or JPEG"
        aria-expanded="true"
      >
        <i
          title="Export to PPT or JPEG"
          class="fas fa-download"
          style="cursor: pointer"
          id="dropdownMenu1"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
        >
          <span class="caret"></span> </i
        >&nbsp;&nbsp;Export</span
      >
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
        <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a>
      </div>
    </div>
    <div class="d-inline-block ml-2">
      <b>Last Updated On:</b>
      {{ lastUpdatedOn | date: 'yyyy-MM-dd HH:mm:ss' }} EDT
    </div>
  </div> -->

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container (filtersApplied)="onFiltersApplied($event)"></ym-filter-container>

  <hr class="hr-line" />

  <div class="line-btn" *ngIf="isSourceBreakDown">
    <button class="btn btn-info btn-back" (click)="onClickBack()">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      back
    </button>
  </div>

  <!-- ------------------------ Table 1 Component Start ------------------------ -->
  <div *ngIf="!isSourceBreakDown" class="fr-month-finance-table">
    <div class="mt-1" *ngIf="displayAggTable"></div>

    <div class="mt-1 mb-3">
      <p-treeTable #ttPrebid [value]="flatTableData" [columns]="flatTableJson['selectedColumns']"
        [paginator]="pagination" [rows]="flatTableJson['page_size']" [rowsPerPageOptions]="[10, 20, 50, 100]"
        [totalRecords]="flatTableJson['totalRecords']" [lazy]="flatTableJson['lazy']"
        [loading]="flatTableJson['loading']" [sortMode]="flatTableJson['sortMode']"
        [resizableColumns]="flatTableJson['resizableColumns']" [columnResizeMode]="flatTableJson['columnResizeMode']"
        [reorderableColumns]="flatTableJson['reorderableColumns']" [frozenColumns]="flatTableJson['frozenCols']"
        [frozenWidth]="flatTableJson['frozenWidth']" [scrollable]="flatTableJson['scrollable']"
        [scrollHeight]="flatTableJson['scrollHeight']" [selectionMode]="flatTableJson['selectionMode']"
        [(selection)]="flatTableJson['selectedColsModal']" [dataKey]="flatTableJson['selectionDataKey']"
        [metaKeySelection]="flatTableJson['metaKeySelection']" [style]="{ width: '100%' }"
        (onLazyLoad)="onLazyLoadFlatTable($event, 'flatTable')">
        <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

        <ng-template pTemplate="caption">
          <div *ngIf="flatTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
            <p-multiSelect [options]="flatTableJson['columns']" [(ngModel)]="flatTableJson['selectedColumns']"
              optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
              [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
          </div>
          <div
            *ngIf="isExportReport && flatTableJson['export']"
            style="text-align: left; float: right; display: inline-block;"
            class="ml-3 mt-2"
          >
            <div data-html2canvas-ignore class="dropdown">
              <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
                <i class="fas fa-download share-icon">
                  <span class="caret"></span>
                </i>
                &nbsp;&nbsp;Export</span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" (click)="exportTable('flatTable', 'Excel')">
                  Excel
                </a>
                <a class="dropdown-item" href="#" (click)="exportTable('flatTable', 'CSV')">
                  CSV
                </a>
                <!-- <a
                  class="dropdown-item"
                  href="#"
                  (click)="exportTable('flatTable', 'JSON')"
                >
                  JSON
                </a> -->
              </div>
            </div>
          </div>
          <div style="text-align: right; float: right; display: inline-block;">
            {{ selectedDateRange }}
          </div>
          <div *ngIf="flatTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All"
              [(ngModel)]="searchvalue" (ngModelChange)="onGlobalSearchChanged(searchvalue,flatTableColumnDef)" />
              <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
              (click)="searchvalue='';onGlobalSearchChanged(searchvalue,flatTableColumnDef )"><i
                class="pi pi-times"></i>
            </span>
          </div>
        </ng-template>

        <!-- ------------------------- For frozen columns -------------------------- -->

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
          </colgroup>
        </ng-template>

        <!-- ------------------------------- Header -------------------------------- -->

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
              ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
              [ttResizableColumnDisabled]="!col['options']['resizable']"
              [ttReorderableColumnDisabled]="!col['options']['movable']">
              {{ col.displayName }}
              <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
            </th>
          </tr>
          <tr *ngIf="flatTableJson['columnSearch']">
            <ng-container *ngFor="let col of columns">
              <th *ngIf="isHiddenColumn(col)">
                <input ymInput pInputText type="text" [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  " (input)="
                    tt.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  " />
              </th>
            </ng-container>
          </tr>
        </ng-template>

        <!-- -------------------------------- Body --------------------------------- -->

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              ">
              <p-treeTableCellEditor *ngIf="col['options']['editable']">
                <ng-template pTemplate="input">
                  <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{
                    rowData[col.field] | formatNum: col.format:col.formatConfig
                  }}
                </ng-template>
              </p-treeTableCellEditor>
              <span *ngIf="
                  !col['options']['editable'] && col.field != 'accounting_key'
                ">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
              <span *ngIf="
                  !col['options']['editable'] && col.field == 'accounting_key'
                " class="btn-link d-inline" (click)="
                  showSourceWiseBreakDown(
                    rowData[col.field],
                    col.field,
                    rowData
                  )
                ">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
            </td>
          </tr>
        </ng-template>

        <!-- ----------------------------- Frozen Body ----------------------------- -->

        <!-- <ng-template
        pTemplate="frozenbody"
        let-rowNode
        let-rowData="rowData"
      >
        <tr>
          <td>
            <p-treeTableToggler
              [rowNode]="rowNode"
            ></p-treeTableToggler>
            {{ rowData.time_key | formatNum: 'date':[] }}
          </td>
        </tr>
      </ng-template> -->

        <ng-template pTemplate="paginatorleft" let-state>
          Showing {{ state.page * state.rows + 1 }} to
          {{
            state.rows * (state.page + 1) > state.totalRecords
              ? state.totalRecords
              : state.rows * (state.page + 1)
          }}
          of {{ state.totalRecords }} Records
        </ng-template>

        <!-- ------------------- Message to show for empty Data -------------------- -->

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="flatTableJson['columns'].length">
              No data found.
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>

  <!-- ------------------------- Table 1 Component End ------------------------- -->

  <!-- ------------------------ Table 2 Component Start ------------------------ -->
  <div *ngIf="isSourceBreakDown" class="fr-finance-table">
    <div class="mt-1" *ngIf="displaySourceTable"></div>

    <div class="p-col-12 mt-1" class="source-table">
      <p-treeTable #ttSource [value]="flatTableDataSource" [columns]="flatTableJsonSource['selectedColumns']"
        [paginator]="pagination" [rows]="flatTableJsonSource['page_size']" [rowsPerPageOptions]="[10, 20, 50, 100]"
        [totalRecords]="flatTableJsonSource['totalRecords']" [lazy]="flatTableJsonSource['lazy']"
        [loading]="flatTableJsonSource['loading']" [sortMode]="flatTableJsonSource['sortMode']"
        [resizableColumns]="flatTableJsonSource['resizableColumns']"
        [columnResizeMode]="flatTableJsonSource['columnResizeMode']"
        [reorderableColumns]="flatTableJsonSource['reorderableColumns']"
        [frozenColumns]="flatTableJsonSource['frozenCols']" [frozenWidth]="flatTableJsonSource['frozenWidth']"
        [scrollable]="flatTableJsonSource['scrollable']" [scrollHeight]="flatTableJsonSource['scrollHeight']"
        [selectionMode]="flatTableJsonSource['selectionMode']" [(selection)]="flatTableJsonSource['selectedColsModal']"
        [dataKey]="flatTableJsonSource['selectionDataKey']" [metaKeySelection]="flatTableJsonSource['metaKeySelection']"
        [style]="{ width: '100%' }" (onLazyLoad)="onLazyLoadFlatTable($event, 'flatTableSource')" [globalFilterFields]="flatTableJsonSource['globalFilterFields']">
        <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

        <ng-template pTemplate="caption">
          <div *ngIf="flatTableJsonSource['showHideCols']"
            style="text-align: left; float: left; display: inline-block;">
            <p-multiSelect [options]="flatTableJsonSource['columns']"
              [(ngModel)]="flatTableJsonSource['selectedColumns']" optionLabel="displayName" maxSelectedLabels="1"
              selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns">
            </p-multiSelect>
          </div>
          <div
            *ngIf="isExportReport && flatTableJsonSource['export']"
            style="text-align: left; float: right; display: inline-block;"
            class="ml-3 mt-2"
          >
            <div data-html2canvas-ignore class="dropdown">
              <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
                <i class="fas fa-download share-icon">
                  <span class="caret"></span>
                </i>
                &nbsp;&nbsp;Export</span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" (click)="exportTable('sourceTable', 'Excel')">
                  Excel
                </a>
                <a class="dropdown-item" href="#" (click)="exportTable('sourceTable', 'CSV')">
                  CSV
                </a>
                <!-- <a
                  class="dropdown-item"
                  href="#"
                  (click)="exportTable('sourceTable', 'JSON')"
                >
                  JSON
                </a> -->
              </div>
            </div>
          </div>
          <div style="text-align: right; float: right; display: inline-block;">
            {{ selectedDateRange }}
          </div>
          <div *ngIf="flatTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All"
              [(ngModel)]="searchvalue" (input)="ttSource.filterGlobal($event.target.value, 'contains')" />
            <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
              (click)="searchvalue='';ttSource.filterGlobal('', 'contains')"><i class="pi pi-times"></i>
            </span>
          </div>
        </ng-template>

        <!-- ------------------------- For frozen columns -------------------------- -->

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
          </colgroup>
        </ng-template>

        <!-- ------------------------------- Header -------------------------------- -->

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
              [ttSortableColumnDisabled]="!col['options']['colSort']"
              [ttResizableColumnDisabled]="!col['options']['resizable']">
              {{ col.displayName }}
              <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
            </th>
          </tr>
          <tr *ngIf="flatTableJson['columnSearch']">
            <ng-container *ngFor="let col of columns">
              <th *ngIf="isHiddenColumn(col)">
                <input ymInput pInputText type="text" [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  " (input)="
                    tt.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  " />
              </th>
            </ng-container>
          </tr>
        </ng-template>

        <!-- -------------------------------- Body --------------------------------- -->

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              ">
              <p-treeTableCellEditor *ngIf="col['options']['editable']">
                <ng-template pTemplate="input">
                  <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{
                    rowData[col.field] | formatNum: col.format:col.formatConfig
                  }}
                </ng-template>
              </p-treeTableCellEditor>
              <span *ngIf="!col['options']['editable'] && col.field != 'status'">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
              <span *ngIf="col.field == 'status' && isUpdateStatus">
                <p-dropdown appendTo="body" [options]="statusLists" [(ngModel)]="rowData[col.field]"
                (onChange)="onChangeStatus(rowData)" editable="true" [style]="{ width: '100%' }"
                  placeholder="Select Status"></p-dropdown>
              </span>
              <span *ngIf="col.field == 'status' && !isUpdateStatus">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
            </td>
          </tr>
        </ng-template>

        <!-- ----------------------------- Frozen Body ----------------------------- -->

        <!-- <ng-template
            pTemplate="frozenbody"(onChange)="onChangeStatus"
            let-rowNode(onChange)="onChangeStatus"
            let-rowData="rowData"
          >
            <tr>
              <td>
                <p-treeTableToggler
                  [rowNode]="rowNode"
                ></p-treeTableToggler>
                {{ rowData.time_key | formatNum: 'date':[] }}
              </td>
            </tr>
          </ng-template>
     -->
        <ng-template pTemplate="paginatorleft" let-state>
          Showing {{ state.page * state.rows + 1 }} to
          {{
            state.rows * (state.page + 1) > state.totalRecords
              ? state.totalRecords
              : state.rows * (state.page + 1)
          }}
          of {{ state.totalRecords }} Records
        </ng-template>

        <!-- ------------------- Message to show for empty Data -------------------- -->

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="flatTableJson['columns'].length">
              No data found.
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="footer" let-columns>
          <tr style="background-color:gray;">
            <td *ngFor="let col of columns" [title]="col.footerTotal | formatNum: col.format:col.formatConfig">
              {{
                col.field === 'source' || col.field === 'approval_date'
                  ? '-'
                  : (col.footerTotal | formatNum: col.format:col.formatConfig)
              }}
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>

  <!-- ------------------------- Table 2 Component End ------------------------- -->
</div>
<p-confirmDialog #cd rejectVisible='false' [style]="{width: '50vw'}">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Ok" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>