.edit-role-container {
    height: 72vh;
    overflow: auto;
}

.edit-role-footer{
    text-align: right;
}

.edit-role-button{
    width: auto;
    float: right;
    margin: 2px;
}

button{
    width: auto !important;
}
.ui-dialog-content.ui-widget-content{
    overflow: hidden !important;
}