<div class="ui-fluid">
  <form [formGroup]="userform" (ngSubmit)="submitHandler()">
    <div class="edit-role-container">
      <div class="ui-g-12">
        <div class="ui-g-12">
          <div class="ui-g-8 ui-g-nopad">
            <div class="ui-g-12">
              <div class="ui-g-5 font-weight-bold">
                Role Name*
              </div>
              <div class="ui-g-7">
                <div class="ui-inputgroup">
                  <input type="text" name="roleName" required minlength="4" style="width:100%" [(ngModel)]="roleName"
                    pInputText placeholder="Role Name" formControlName="roleName"  (change)="validateRoleAlreadyExist(userform.controls['roleName'])" />
                </div>
              </div>
            </div>
            <div class="ui-grid-row">
              <p-message severity="error" text="Name is required" *ngIf="
                  (userform.get('roleName').hasError('required') &&
                    userform.controls['roleName'].dirty) ||
                  (userform.controls['roleName'].touched &&
                    userform.get('roleName').hasError('required'))
                "></p-message>

              <p-message severity="error" text="Role already exist" *ngIf="  !((userform.get('roleName').hasError('required') &&
                userform.controls['roleName'].dirty) ||
              (userform.controls['roleName'].touched &&
                userform.get('roleName').hasError('required'))) && isRoleExists"></p-message>
            </div>

            <div class="ui-g-12" style="margin-top: 5px;">
              <div class="ui-g-5 font-weight-bold">
                Role Description
              </div>
              <div class="ui-g-7">
                <div class="ui-inputgroup">
                  <textarea [(ngModel)]="description" [rows]="5" [cols]="30" style="width:100%; height: 100px;"
                    pInputTextarea formControlName="description" autoResize="autoResize" placeholder="Role Description"
                    formControlName="description" name="description"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="ui-g-8">
            <div class="ui-g-12 font-weight-bold">
              Permissions
            </div>
            <div class="ui-g-12">
              <!-- <p-table
                [columns]="permCols"
                [value]="permissionsData"
                [(selection)]="selectedPermissions"
                (onRowUnselect)="onPermissionUnselect($event)"
                (onRowSelect)="onPermissionSelect($event)"
                [scrollable]="true"
                scrollHeight="250px"
                dataKey="id"
                formControlName="selectedPermissions"
                name="selectedPermissions"
              >
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width: 3em">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns">
                      {{ col.header }}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td style="width: 3em">
                      <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns">
                      {{ rowData[col.field] }}
                    </td>
                  </tr>
                </ng-template>
              </p-table> -->
              <p-tree [value]="permissionsData" selectionMode="checkbox" [filter]="true" filterMode="strict" scrollHeight="200px"
                [(selection)]="selectedPermissions" formControlName="selectedPermissions" name="selectedPermissions"
                (onNodeSelect)="onPermissionSelect($event)" (onNodeUnselect)="onPermissionUnselect($event)"></p-tree>
            </div>
            <div class="ui-g-8" *ngIf="noPermissionsFlag" class="alert alert-danger position-static">
              <span>
                Select atleast one permission
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="edit-role-footer">
      <button pButton type="submit" label="Ok" [disabled]="(!userform.valid || isRoleExists) && selectedPermissions.length > 0"
        icon="fas fa-user-edit" class="ui-button-success"></button>

      <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
        class="ml-2 ui-button-warning"></button>
    </div>
  </form>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>