.p-grid {
  text-align: center;
}

.p-col {
  margin: auto;
  display: block;
}

.name {
  font-weight: bold;
  /* color: grey; */
  font-size: 25px;
}

.role {
  font-weight: bold;
  color: #5a7391;
  font-size: 16px;
}

.user-avatar {
  position: relative;
  width: 10rem;
  margin: auto;
  cursor: pointer;
}

.user-avatar:hover {
  opacity: 0.6;
}

.user-avatar img {
  width: 100%;
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-avatar i {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

i.fa-camera {
  margin: 10px;
  opacity: 0.8;
  font-size: 30px;
  text-shadow: 0 0 8px grey;
}

.change-pass {
  cursor: pointer;
  color: #069;
  text-decoration: underline;
}
