<div *ngIf="!libServ.isEmptyObj(config)">
  <div class="p-grid">
    <div class="p-col">
      <p class="page-title">User Profile</p>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-4 p-offset-4">
      <div
        class="user-avatar"
        (click)="updatePic()"
        title="Click here to change Profile Picture"
      >
        <img src="{{ config['user']['avatar'] }}" alt="" />
        <i class="fas fa-camera"></i>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-4 p-offset-4">
      <span class="name">{{ config['user']['name'] }}</span>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-4 p-offset-4">
      <span class="role">{{ config['user']['role']['name'] | uppercase }}</span>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col">
      <button
        pButton
        type="button"
        (click)="editProfile()"
        label="Edit Profile"
        icon="pi pi-pencil"
        iconPos="left"
        title="Click here to change Name and Contact Email."
        class="ui-button-raised ui-button-rounded"
      ></button>
    </div>
  </div>
  <br />
  <br />
  <div class="p-grid">
    <div class="p-col-4 p-offset-4">
      <span><b>Username:</b></span
      ><br />
      <span>{{ config['user']['email'] }}</span>
    </div>
  </div>
  <br />
  <div class="p-grid">
    <div class="p-col-4 p-offset-4">
      <span><b>Password:</b></span
      ><br />
      <span>•••••••••••</span><br />
      <small
        class="change-pass"
        title="Click here to change Password"
        (click)="editPassword()"
        >Change Password</small
      >
    </div>
  </div>
  <br />
  <!-- <ym-chat></ym-chat> -->
</div>
