.title-popup {
  margin-top: 7px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bolder;
}

.ui-grid-row-highlight
{
  background-color: #ffc1aa!important;
}

.ui-grid-row-highlight-no-data{
  background: #c5c4c4 !important;
}

