.p-card-body{
  display: grid !important;
}

.row {
  margin-top: 25px !important;
}

.footer-buttons{
  display: inline-block !important; 
  float: right !important; 
  margin-bottom: 10px !important;
}

hr{
  background-color: #ced3d6;
  margin-top: '10px';
}

.inline-div-line-item{
  margin-top: 10px;
}

.inline-div-line-item-type{
  margin-top: 15px;
}

.targeting-border-all{
  border:1px solid lightgray;
  border-bottom: none;
  height: 50px;
  font-weight: 700;
}

.targeting-border-right{
  border-right:1px solid lightgray
}
.targeting-border-inline1{
  border:1px solid lightgray;margin-bottom: 10px;
}

.targeting-border-selected-div{
  max-height: 150px;
  overflow:auto;
  font-size:13px
}
.targeting-label {
 padding: 4px;
}

i.pi.pi-times-circle{
  font-size: 2em !important;
  float: right;
}

.errorClass {
  color:red
}

.tooltip1 {
  // position: relative;
  // display: inline-block;
  // border-bottom: 1px dotted black;
}
.tooltip1:hover .tooltiptext {
  visibility: visible;
}
.tooltip1 .tooltiptext {
  visibility: hidden;
  width: 90%;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 20%;
  margin-left: -60px
}

.tooltip1 .tooltiptext::after {
  // content: "";
  // position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
:host ::ng-deep .p-button {
  margin: 0 .5rem 0 0;
  min-width: 10rem;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}