.new-rio-footer{
    text-align: right;
}

.new-rio-button{
    width: auto;
    float: right;
    margin: 2px;
}

button{
    width: auto !important;
}
.ui-dialog-content.ui-widget-content{
    overflow: hidden !important;
}

p-calendar{
    border: none;
}
.ui-g-4.ui-inputgroup{
    margin-left: 0.7%;
}
.ui-g-4{
    margin-left: 0.7%;
}