<div class="ui-fluid">
  <form [formGroup]="formNewRioModel" (ngSubmit)="submitHandler()">
    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="salesRep"> Sales Representative</label>
      </div>
      <div class="ui-g-4">
        <p-dropdown
          [options]="salesRepOptions"
          [(ngModel)]="selectedSalesRep"
          formControlName="selectedSalesRep"
          name="selectedSalesRep"
          optionLabel="label"
          dataKey="key"
        ></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="salesRep"> Project Manager</label>
      </div>
      <div class="ui-g-4">
        <p-dropdown
          [options]="projectMgrOptions"
          [(ngModel)]="selectedProjectMgmr"
          formControlName="selectedProjectMgmr"
          name="selectedProjectMgmr"
          optionLabel="label"
          dataKey="key"
        ></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="advertiser">Advertiser</label>
      </div>
      <div class="ui-g-4 ui-inputgroup">
        <input
          type="text"
          id="advertiser"
          name="advertiser"
          [(ngModel)]="advertiser"
          pInputText
          placeholder="Advertiser"
          formControlName="advertiser"
        />
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="advertiser"> Category</label>
      </div>
      <div class="ui-g-4">
        <p-dropdown
          [options]="catagoryOptions"
          [(ngModel)]="selectedCatagory"
          formControlName="selectedCatagory"
          name="selectedCatagory"
          optionLabel="label"
          dataKey="key"
        ></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="ioLine"> IO Line #</label>
      </div>

      <div class="ui-g-4">
        <input
          type="text"
          id="ioLine"
          id="ioLine"
          [(ngModel)]="ioLine"
          name="ioLine"
          pInputText
          placeholder="ioLine"
          formControlName="ioLine"
        />
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="advertiser"> Billing Ad Server</label>
      </div>
      <div class="ui-g-4">
        <p-dropdown
          [options]="billingAdServersOptions"
          [(ngModel)]="selectedBillingAdServer"
          formControlName="selectedBillingAdServer"
          name="selectedBillingAdServer"
          optionLabel="label"
          dataKey="key"
        ></p-dropdown>
      </div>
    </div>


    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="camapaign">Camapaign * </label>
      </div>
      <div class="ui-g-4 ui-inputgroup">
        <input
          type="text"
          id="camapaign"
          name="camapaign"
          [(ngModel)]="camapaign"
          pInputText
          placeholder="Camapaign"
          formControlName="camapaign"
        />
      </div>
      <div class="ui-g-4">
        <p-message
          severity="error"
          text="Camapaign name is required"
          *ngIf="
            (formNewRioModel.get('camapaign').hasError('required') &&
            formNewRioModel.controls['camapaign'].dirty) ||
            (formNewRioModel.controls['camapaign'].touched &&
            formNewRioModel.get('camapaign').hasError('required'))
          "
        ></p-message>
      </div>

    </div>


    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="advertiser"> Product</label>
      </div>
      <div class="ui-g-4">
        <p-dropdown
          [options]="productOptions"
          [(ngModel)]="selectedProdcut"
          formControlName="selectedProdcut"
          name="selectedProdcut"
          optionLabel="label"
          dataKey="key"
        ></p-dropdown>
      </div>
    </div>


    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="placement">Placement *</label>
      </div>
      <div class="ui-g-4 ui-inputgroup">
        <input
          type="text"
          [(ngModel)]="placement"
          id="placement"
          name="placement"
          pInputText
          placeholder="Placement"
          formControlName="placement"
        />

      </div>
      <div class="ui-g-4">
        <p-message
          severity="error"
          text="Placement name is required"
          *ngIf="
            (formNewRioModel.get('placement').hasError('required') &&
            formNewRioModel.controls['placement'].dirty) ||
            (formNewRioModel.controls['placement'].touched &&
            formNewRioModel.get('placement').hasError('required'))
          "
        ></p-message>
      </div>


    </div>

    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="placement">Start Date</label>
      </div>
      <div class="ui-g-4" style="margin-left:0">
        <p-calendar [(ngModel)]="startDate"
          id="startDate"
          name="startDate"
          [(ngModel)]="startDate"
          pInputText
          placeholder="Start Date"
          formControlName="startDate"
        ></p-calendar>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="placement">End Date</label>
      </div>
      <div class="ui-g-4" style="margin-left:0">
        <p-calendar [(ngModel)]="endDate"
          id="endDate"
          name="endDate"
          [(ngModel)]="endDate"
          pInputText
          placeholder="End Date"
          formControlName="endDate"
        ></p-calendar>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="advertiser">Rate Type</label>
      </div>
      <div class="ui-g-4">
        <p-dropdown
          [options]="rateTypeOptions"
          [(ngModel)]="selectedRateType"
          formControlName="selectedRateType"
          name="selectedRateType"
          optionLabel="label"
          dataKey="key"
        ></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="rate">Rate</label>
      </div>
      <div class="ui-g-4 ui-inputgroup">
        <input
          type="text"
          [(ngModel)]="rate"
          id="rate"
          name="rate"
          pInputText
          placeholder="Rate"
          formControlName="rate"
        />
      </div>
    </div>


    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="bookedQty">Booked Quantity</label>
      </div>
      <div class="ui-g-4 ui-inputgroup">
        <input
          type="text"
          id="bookedQty"
          name="bookedQty"
          [(ngModel)]="bookedQty"
          pInputText
          placeholder="Booked Quantity"
          formControlName="bookedQty"
        />
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="totalCost">Total Cost</label>
      </div>
      <div class="ui-g-4 ui-inputgroup">
        <input
          type="text"
          id="totalCost"
          name="totalCost"
          [(ngModel)]="totalCost"
          pInputText
          placeholder="Total Cost"
          formControlName="totalCost"
        />
      </div>
    </div>


    <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label for="status">Status</label>
      </div>
      <div class="ui-g-4">
        <p-dropdown
          [options]="statusOptions"
          [(ngModel)]="selectedStatus"
          formControlName="selectedStatus"
          (change)="onFileSelect($event)"
          name="selectedStatus"
          optionLabel="label"
          dataKey="key"
        ></p-dropdown>
      </div>
    </div>

    <!-- <div class="ui-g-12">
      <div class="ui-g-2 font-weight-bold">
        <label
           for="file-upload">
           Upload File
       </label>
     </div>
  <div class="ui-g-4">
      <input      
        type="file"
        id="file-upload"
        name="files"
        [(ngModel)]="files"
        pInputText
        placeholder="Upload file"
        formControlName="files"
        accept="*/*"
        />
  </div> 
 </div> -->
    
    <div class="new-rio-footer">
      <button
        pButton
        type="submit"
        label="Save"
        icon="fas fa-user-edit"
        class="ui-button-success"
        [disabled]="!formNewRioModel.valid"
      ></button>

      <button
        pButton
        type="button"
        (click)="goBack()"
        label="Cancel"
        icon="far fa-times-circle"
       class="ml-2 ui-button-warning"
      ></button>
    </div>


  </form>
</div>

