<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <p class="page-title">Edit User</p>
    </div>

    <div class="ui-g-12">
      <hr />
    </div>
    <div class="ui-g-12" style="padding-left: 16px">
      <button
        (click)="onSubmit()"
        pButton
        type="button"
        label="Add user"
        class="ui-button-rounded ui-button-success"
      ></button>
      <button
        (click)="goBack()"
        pButton
        type="button"
        label="Cancel"
        class="ui-button-rounded ui-button-secondary"
      ></button>
    </div>
  </div>
</div>
