<div class="ui-fluid">
  <form [formGroup]="derivedForm">
    <div class="ui-g-12">

      <div class="ui-g-12 ui-md-8- ui-g-nopad drag-column">
        <ul style="
                        list-style-type: none;
                        margin-top: 0%;
                        padding: 0;
                        overflow: hidden;
                      ">
          <li style="float: left;" *ngFor="let metric of operatorList" class="ui-helper-clearfix" pDraggable="metric.alies"
            (onDragStart)="dragStart($event, metric)" (onDragEnd)="dragEnd($event)">
            <div style="
                            display: block;
                            text-align: center;
                            text-decoration: none;
                            background-color: lightsteelblue;
                            padding: 0px 18px;
                            margin: 2%;
                            font-size: 22px;
                            font-weight: lighter;
                            font-family: sans-serif;
                          ">
              {{ metric.alies }}
            </div>
          </li>
        </ul>
      </div>

      <div class="ui-g-12 ui-md-6 ui-g-nopad drag-column">
        <ul style="
                    list-style-type: none;
                    margin-top: -2%;
                    padding: 0;
                    overflow: hidden;
          ">
          <li style="float: left;" *ngFor="let metric of availableMetric" class="ui-helper-clearfix" pDraggable="metric.alies"
            (onDragStart)="dragStart($event, metric)" (onDragEnd)="dragEnd($event)">
            <div style="
                        margin: 4px 0 0 4px;
                        float: left;
                        background-color: lightblue;
                        padding: 4px;
                      ">
              {{ metric.alies }}
            </div>
          </li>
        </ul>
      </div>

      <div class="ui-g-4" style="margin-left: 55%; width: 45%; margin-top: -5%;">
        <div style="margin-bottom: 2%;">
          <p-dropdown [options]="appList" formControlName="selectedApp" placeholder="Select Application *" [group]="false"
            optionLabel="app_display_name" dataKey="app_id" [(ngModel)]="selectedApp" (onChange)="appSelectedShowMetrics()">
          </p-dropdown>
          <small class="is-invalid" *ngIf="!isAppSelected"> * Application is required </small>
        </div>

        <input ymInput pInputText type="text" formControlName="derivedMetricName" [(ngModel)]="derivedMetricName" class="form-control"
          placeholder="Enter derived metric name *" style="margin-bottom: 2%;" />
        <small class="is-invalid" *ngIf="!isDerivedMetricNameEnter"> * Name is required </small>

        <input ymInput pInputText type="text" formControlName="derivedMetricDescription" [(ngModel)]="derivedMetricDescription"
          class="form-control" placeholder="Enter description for derived metric " style="margin-bottom: 2%;" />

        <div style="margin-bottom: 2%;">
          <p-dropdown [options]="formatList" formControlName="selectedformat" placeholder="Select format *" [group]="false"
            optionLabel="alies" dataKey="name" [(ngModel)]="selectedformat">
          </p-dropdown>
          <small class="is-invalid" *ngIf="!isFormatSelected"> * Format is required </small>
        </div>

        <div class="ui-g-nopad drag-column ym-drop-box" (onDrop)="drop($event)" pDroppable="metric.alies">
          <p-chips formControlName="draggedMetric" [(ngModel)]="selectedMerticArray" placeholder="Drag Metrics / Operators to create formula"
            (onAdd)="onAddChips($event)"></p-chips>
          <small class="is-invalid" *ngIf="!isValidDerviedMetric"> * Enter valid dervied metric formula </small>
        </div>

        <div style="padding: 5px; border: black; margin-top: 10%">
          <button pButton type="button" (click)="goBack()" label="Cancel" style="float: right; margin-left: 5px;" class="ui-button-warning"></button>
          <button pButton type="button" (click)="onAddDerivedMetrics()" label="Add" style="float: right; margin-left: 5px;"
            class="ui-button-success"></button>
          <button pButton type="button" (click)="onResetDerviedMetric()" label="Reset" style="float: right;" class="ui-button-secondary"></button>
        </div>

      </div>
    </div>
  </form>
</div>