<div id="capture">
    <div class="last-updated">
      <div data-html2canvas-ignore class="dropdown export-icon d-inline-block">
        <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" title="Export to PPT or JPEG" aria-expanded="true">
          <i title="Export to PPT or JPEG" class="fas fa-download" style="cursor: pointer" id="dropdownMenu1"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" (click)="captureFn('image')">Image</a>
          <a class="dropdown-item" href="#" (click)="captureFn('ppt')">PPT</a>
          <a class="dropdown-item" (click)="sendEmail()">Send e-mail</a>
        </div>
      </div>
      <div class="popover-container d-inline-block ml-2">
        <div>
          <i class="far fa-clock" style="cursor: pointer" aria-haspopup="true" aria-expanded="true">
          </i>
        </div>

        <div class="pop-over">
          <p>
            <b>Data Updated On :</b>
            {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} {{timeZone}}
          </p>
          <p>
            <b>Data Updated Through :</b>
            {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
          </p>
          <p>
            <b>Next Data Update :</b>
            {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
            {{timeZone}}
          </p>
        </div>
      </div>

    </div>

    <p class="page-title">{{ appConfig['displayName'] }}</p>

    <!-- -------------------------- Filters Container -------------------------- -->

    <ym-filter-container (filtersApplied)="onFiltersApplied($event); resetPagination(ttFlat, ttAgg)">
    </ym-filter-container>
    <hr />
    <!-- ---------------------- Cards Container Component ---------------------- -->

    <ym-cards *ngIf="showCards" [cardsJson]="cardsJson"></ym-cards>

    <!-- ---------------------- Cards Container Component ---------------------- -->

    <!-- ---------------------- Main Charts Container Component ---------------------- -->
    <div class="p-grid mt-2 mb-1">
      <div class="p-col-8">
        <div class="border-class">
          <i *ngIf="!showMainLineChart && !noDataMainLineChart" class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 150px; position:relative; left:40%"></i>
          <div class="no-data-label" *ngIf="noDataMainLineChart">
            No data found
          </div>
          <ym-charts *ngIf="showMainLineChart" [chartsJson]="mainLineChartJson" (chartDataSelect)="chartSelected($event)">
          </ym-charts>
        </div>
      </div>
      <div class="p-col-4">
        <div class="border-class">
          <i *ngIf="!showMainPieChart && !noDataPieChart" class="pi pi-spin pi-spinner"
            style="font-size: 3em; margin: 150px;"></i>
          <div class="no-data-label" *ngIf="noDataPieChart">
            No data found
          </div>
          <ym-charts *ngIf="showMainPieChart" [chartsJson]="mainPieChartJson" (chartDataSelect)="chartSelected($event)">
          </ym-charts>
        </div>
      </div>
    </div>
    <!-- ---------------------- Main Charts Container Component ---------------------- -->

    <div class="p-grid mb-2">
      <!-- -------------------------- Charts Component --------------------------- -->
      <div class="p-col-12 p-1">
        <p-tabView (onChange)="tabChanged($event)">

          <p-tabPanel [selected]="true" header="Programmatic Trends" rightIcon="fas fa-chart-line">
            <p-tabView>
              <p-tabPanel header="Graphical View" rightIcon="fas fa-chart-line">
                <div class="p-col-12">
                  <div class="p-col-6" *ngIf="showCharts">
                    <b class="mr-2">Metrics: </b>
                    <p-selectButton [options]="chartsMultiselectButton['data']"
                      [(ngModel)]="chartsMultiselectButton['model']" multiple="multiple"></p-selectButton>
                  </div>
                </div>
                <div class="no-data-label" *ngIf="!showCharts">
                  No data found
                </div>
                <ul>
                  <li *ngFor="
                      let item of chartsMultiselectButton['model']
                        .slice()
                        .reverse();
                      let i = index
                    ">
                    <div class="p-col-12">
                      <div class="border-class">
                        <!-- <div class="no-data-mainline-chart" *ngIf="!showCharts">
                            No data found
                        </div> -->
                        <ym-charts *ngIf="showCharts" [chartsJson]="getChartJson(item)"
                          (chartDataSelect)="chartSelected($event)"></ym-charts>
                      </div>
                    </div>
                  </li>
                </ul>
              </p-tabPanel>
              <p-tabPanel header="Tabular View" rightIcon="fas fa-table">
                <!-- ------------------------ Table Component Start ------------------------ -->
                <div class="p-col-12 mt-1 rev-mgmt-table">
                  <p-treeTable #ttFlat [value]="flatTableData" [columns]="flatTableJson['selectedColumns']"
                    [paginator]="true" [rows]="flatTableJson['page_size']" [first]="flatTableJson['page']"
                    [totalRecords]="flatTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
                    [lazy]="flatTableJson['lazy']" [loading]="flatTableJson['loading']"
                    [sortMode]="flatTableJson['sortMode']" [resizableColumns]="flatTableJson['resizableColumns']"
                    [columnResizeMode]="flatTableJson['columnResizeMode']"
                    [reorderableColumns]="flatTableJson['reorderableColumns']"
                    [frozenColumns]="flatTableJson['frozenCols']" [frozenWidth]="flatTableJson['frozenWidth']"
                    [scrollable]="flatTableJson['scrollable']" [scrollHeight]="flatTableJson['scrollHeight']"
                    [selectionMode]="flatTableJson['selectionMode']" [(selection)]="flatTableJson['selectedColsModal']"
                    [dataKey]="flatTableJson['selectionDataKey']" [metaKeySelection]="flatTableJson['metaKeySelection']"
                    [style]="{ width: '100%' }" (onLazyLoad)="onLazyLoadFlatTable($event)"
                    (onNodeExpand)="onTableDrill($event)">
                    <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

                    <ng-template pTemplate="caption">
                      <div class="mb-1" *ngIf="flatTableJson['showHideCols']"
                        style="text-align: left; float: left; display: inline-block;">
                        <p-multiSelect [options]="flatTableJson['columns']" [(ngModel)]="flatTableJson['selectedColumns']"
                          optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
                          [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
                      </div>
                      <div class="mt-2 note"><span>* GTE - Greater than Equal to, LTE - Less than Equal to </span></div>
                      <div *ngIf="isExportReport && flatTableJson['export']"
                        style="text-align: left; float: right; display: inline-block;" class="ml-3 mt-2">
                        <div data-html2canvas-ignore class="dropdown">
                          <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                            aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
                            <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="exportTable('flat', 'Excel')">
                              Excel
                            </a>
                            <a class="dropdown-item" (click)="exportTable('flat', 'CSV')">
                              CSV
                            </a>
                            <!-- <a
                              class="dropdown-item"
                              href="#"
                              (click)="exportTable('flat', 'JSON')"
                            >
                              JSON
                            </a> -->
                          </div>
                        </div>
                      </div>
                      <div *ngIf="flatTableJson['overallSearch']"
                        style="text-align: right; float: right; display: inline-block;">
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                        <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All"
                          [(ngModel)]="searchvalue"
                          (ngModelChange)="onGlobalSearchChanged(searchvalue,flatTableColumnDef)" />
                          <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
                          (click)="searchvalue='';onGlobalSearchChanged(searchvalue,flatTableColumnDef )"><i
                            class="pi pi-times"></i>
                        </span>
                      </div>
                    </ng-template>

                    <!-- ------------------------- For frozen columns -------------------------- -->

                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                        <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
                      </colgroup>
                    </ng-template>

                    <!-- ------------------------------- Header -------------------------------- -->

                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                          ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                          [ttResizableColumnDisabled]="
                            !col['options']['resizable']
                          " [ttReorderableColumnDisabled]="
                            !col['options']['movable']
                          ">
                          {{ col.displayName }}
                          <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
                          </p-treeTableSortIcon>
                        </th>
                      </tr>

                      <tr *ngIf="flatTableJson['columnSearch']">
                        <ng-container *ngFor="let col of columns">
                          <th class="search-bar" *ngIf="isHiddenColumn(col)" ng-star-inserted>

                            <div *ngIf='col.format!="date"' style="position: absolute; width: 8%; margin-top:-10px;"
                              _ngcontent-lgg-c5="" class="">
                              <div _ngcontent-lgg-c5="" class="ui-inputgroup" style="position: relative;height: 23px;">

                                <div *ngIf="col.format!=''" class="dropdown div-metric">
                                  <button class="dropdown dropdown-main" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i _ngcontent-lgg-c5="" style="font-size: 10px;margin-right: 2px;"
                                      class="pi pi-chevron-down"></i>
                                    <span class="caret search-label">{{col.condition}}</span>
                                  </button>
                                  <div *ngIf="col.format!=''" class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                    style="min-width: fit-content;font-size: 12px">
                                    <div *ngFor="let con of conditionNames; let i = index">
                                      <a class="dropdown-item"
                                        (click)="customSearch(con.value,col.field,col.value,flatTableColumnDef)">{{con.label}}</a>
                                    </div>
                                  </div>
                                </div>
                                <!-- </span> -->



                                <span *ngIf="col.format!=''">
                                  <input _ngcontent-lgg-c5="" class="input-metric" type="number" #inpt pinputtext
                                    [(ngModel)]="col.value" (ngModelChange)="onSearchChanged(flatTableColumnDef)"
                                    id="float-input" size="4">
                                  <i (click)="resetSearch(col.field,flatTableColumnDef)"
                                    *ngIf="col.value != '' && col.value != null" _ngcontent-qwl-c5="" _ngcontent-lgg-c5=""
                                    aria-hidden="true" class="fa fa-times reset-search"></i>

                                </span>
                                <span *ngIf="col.format==''">

                                  <input _ngcontent-lgg-c5="" class="input-dim" #inpt pinputtext [(ngModel)]="col.value"
                                    (ngModelChange)="onSearchChanged(flatTableColumnDef)" id="float-input" size="4"
                                    pinputtext="">

                                  <i (click)="resetSearch(col.field,flatTableColumnDef)"
                                    *ngIf="col.value != '' && col.value != null" _ngcontent-qwl-c5="" _ngcontent-lgg-c5=""
                                    aria-hidden="true" class="fa fa-times" style="

                                    font-size: 10px;
                                      position: absolute;
                                      display: inline-block;
                                      border-left-color: #fff;
                                      top:23%"></i></span>

                              </div>
                            </div>

                          </th>
                        </ng-container>
                      </tr>
                    </ng-template>

                    <!-- -------------------------------- Body --------------------------------- -->

                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                      <tr>
                        <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                            rowData[col.field]
                              | formatNum: col.format:col.formatConfig
                          ">
                          <p-treeTableCellEditor *ngIf="col['options']['editable']">
                            <ng-template pTemplate="input">
                              <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                                [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{
                                rowData[col.field]
                                  | formatNum: col.format:col.formatConfig
                              }}
                            </ng-template>
                          </p-treeTableCellEditor>
                          <span *ngIf="!col['options']['editable'] && col.field !== 'rev_fill_rate'">
                            {{
                              rowData[col.field]
                                | formatNum: col.format:col.formatConfig
                            }}
                          </span>
                          <span
                            *ngIf="!col['options']['editable'] && col.field === 'rev_fill_rate' && rowData[col.field] === 0 ">
                            N/A
                          </span>
                          <span
                            *ngIf="!col['options']['editable'] && col.field === 'rev_fill_rate' && rowData[col.field] !== 0">
                            {{  rowData[col.field] | formatNum: col.format:col.formatConfig }}
                          </span>
                        </td>
                      </tr>
                    </ng-template>

                    <!-- ----------------------------- Frozen Body ----------------------------- -->

                    <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData">
                      <tr>
                        <td [title]="rowData.time_key | formatNum: 'date':[]">
                          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                          {{ rowData.time_key | formatNum: 'date':[] }}
                        </td>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="paginatorleft" let-state>
                      Showing {{ state.page * state.rows + 1 }} to
                      {{
                        state.rows * (state.page + 1) > state.totalRecords
                          ? state.totalRecords
                          : state.rows * (state.page + 1)
                      }}
                      of {{ state.totalRecords }} Records
                    </ng-template>

                    <!-- ------------------- Message to show for empty Data -------------------- -->

                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td [attr.colspan]="flatTableJson['columns'].length">
                          No data found.
                        </td>
                      </tr>
                    </ng-template>
                  </p-treeTable>
                </div>
                <!-- ------------------------- Table Component End ------------------------- -->
              </p-tabPanel>
            </p-tabView>
          </p-tabPanel>
          <p-tabPanel header="Programmatic Revenue" rightIcon="fas fa-search-dollar">
            <!-- ------------------------ Table 2 Component Start ------------------------ -->
            <div class="p-col-12 agg-revmgmnt-table">
              <p-treeTable #ttAgg [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
                [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']"
                [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']" [sortMode]="aggTableJson['sortMode']"
                [rowsPerPageOptions]="[10, 20, 50, 100]" [resizableColumns]="aggTableJson['resizableColumns']"
                [columnResizeMode]="aggTableJson['columnResizeMode']"
                [reorderableColumns]="aggTableJson['reorderableColumns']" [frozenColumns]="aggTableJson['frozenCols']"
                [frozenWidth]="aggTableJson['frozenWidth']" [scrollable]="aggTableJson['scrollable']"
                [scrollHeight]="aggTableJson['scrollHeight']" [selectionMode]="aggTableJson['selectionMode']"
                [(selection)]="aggTableJson['selectedColsModal']" [dataKey]="aggTableJson['selectionDataKey']"
                [metaKeySelection]="aggTableJson['metaKeySelection']" [style]="{ width: '100%' }"
                (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
                <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

                <ng-template pTemplate="caption">
                  <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
                    <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
                      optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
                      [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns" (onPanelHide)="colShowHide()">
                    </p-multiSelect>
                  </div>
                  <div *ngIf="isExportReport && aggTableJson['export']"
                    style="text-align: left; float: right; display: inline-block;" class="ml-3 mt-2">
                    <div data-html2canvas-ignore class="dropdown">
                      <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
                        <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" (click)="exportTable('agg', 'Excel')">
                          Excel
                        </a>
                        <a class="dropdown-item" href="#" (click)="exportTable('agg', 'CSV')">
                          CSV
                        </a>
                        <!-- <a
                          class="dropdown-item"
                          href="#"
                          (click)="exportTable('agg', 'JSON')"
                        >
                          JSON
                        </a> -->
                      </div>
                    </div>
                  </div>
                  <div *ngIf="showJumpTo" style="text-align: left; float: left; display: inline-block; margin: 0.5px;"
                    class="ml-2">
                    <p-dropdown [options]="jumpToSource['totalSources']" [(ngModel)]="jumpToSource['selected']"
                      (onChange)="jumpTo(ttAgg)" placeholder="Scoll To">
                    </p-dropdown>
                  </div>
                  <div *ngIf="aggTableJson['overallSearch']"
                    style="text-align: right; float: right; display: inline-block;">
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input ymInput pInputText type="text" size="50" placeholder="Search All" (input)="
                        ttAgg.filterGlobal($event.target.value, 'contains')
                      " style="width:auto" />
                  </div>
                </ng-template>

                <!-- ------------------------- For frozen columns -------------------------- -->

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
                  </colgroup>
                </ng-template>

                <!-- ------------------------------- Header -------------------------------- -->

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                      ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                      [ttResizableColumnDisabled]="!col['options']['resizable']"
                      [ttReorderableColumnDisabled]="!col['options']['movable']">
                      {{ col.displayName }}
                      <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
                    </th>
                  </tr>
                  <tr *ngIf="aggTableJson['columnSearch']">
                    <ng-container *ngFor="let col of columns">
                      <th *ngIf="isHiddenColumn(col)">
                        <input ymInput pInputText type="text" [style.visibility]="
                            col['options']['colSearch'] ? 'visible' : 'hidden'
                          " (input)="
                            ttAgg.filter(
                              $event.target.value,
                              col.field,
                              col.filterMatchMode
                            )
                          " />
                      </th>
                    </ng-container>
                  </tr>
                </ng-template>

                <!-- -------------------------------- Body --------------------------------- -->

                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                        rowData[col.field]
                          | formatNum: col.format:col.formatConfig
                      ">
                      <p-treeTableCellEditor *ngIf="col['options']['editable']">
                        <ng-template pTemplate="input">
                          <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                            [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{
                            rowData[col.field]
                              | formatNum: col.format:col.formatConfig
                          }}
                        </ng-template>
                      </p-treeTableCellEditor>
                      <span *ngIf="!col['options']['editable'] && rowData[col.field] == 'N/A'">
                        {{ rowData[col.field] }}
                      </span>
                      <span *ngIf="!col['options']['editable'] && rowData[col.field] !== 'N/A'">
                        {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                      </span>
                    </td>
                  </tr>
                </ng-template>

                <!-- ----------------------------- Frozen Body ----------------------------- -->

                <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns; let i = index" [title]="
                        rowData[col.field]
                          | formatNum: col.format:col.formatConfig
                      ">
                      <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode">
                      </p-treeTableToggler>
                      <!--{{
                        rowData[col.field]
                          ? (rowData[col.field]
                            | formatNum: col.format:col.formatConfig)
                          : ''
                      }}-->

                      <span *ngIf="
                          col.field == 'time_key1' || col.field == 'time_key'
                        ">
                        <div *ngIf="rowData[col.field] == 'All'">
                          {{
                            rowData[col.field]
                          }}
                        </div>
                        <div class="btn-link d-inline" (click)="openDialog(rowData[col.field], col.field)"
                          *ngIf="rowData[col.field] != 'All'">
                          {{
                            rowData[col.field]
                              ? (rowData[col.field]
                                | formatNum: col.format:col.formatConfig)
                              : ''
                          }}
                        </div>
                      </span>

                      <span *ngIf="
                          col.field != 'time_key1' && col.field != 'time_key'
                        ">
                        {{
                          rowData[col.field]
                            ? (rowData[col.field]
                              | formatNum: col.format:col.formatConfig)
                            : ''
                        }}
                      </span>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="paginatorleft" let-state>
                  Showing {{ state.page * state.rows + 1 }} to
                  {{
                    state.rows * (state.page + 1) > state.totalRecords
                      ? state.totalRecords
                      : state.rows * (state.page + 1)
                  }}
                  of {{ state.totalRecords }} Records
                </ng-template>

                <!-- ------------------- Message to show for empty Data -------------------- -->

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td [attr.colspan]="aggTableJson['columns'].length">
                      No data found.
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="footer" let-columns>
                  <tr style="background-color:gray;">
                    <td *ngFor="let col of columns" [title]="
                        col.footerTotal | formatNum: col.format:col.formatConfig
                      ">
                      {{
                        col.field === 'time_key' ||
                        col.field === 'time_key1'
                          ? '-'
                          : (col.footerTotal
                            | formatNum: col.format:col.formatConfig)
                      }}
                    </td>
                  </tr>
                </ng-template>
              </p-treeTable>
            </div>
            <!-- ------------------------- Table 2 Component End ------------------------- -->
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
  <p-confirmDialog #cd rejectVisible='false' [style]="{width: '50vw'}">
    <p-footer>
      <button type="button" pButton icon="pi pi-times" label="Ok" (click)="cd.reject()"></button>
    </p-footer>
  </p-confirmDialog>
