.kb-row {
    background-color: #1ca979 !important;
    color: #ffffff !important;
  }
  
  .kb-cell {
    background-color: #2ca8b1 !important;
    color: #ffffff !important;
  }
  
  .share-icon {
    opacity: 0.5;
    cursor: pointer;
  }
  
  .share-icon:hover {
    opacity: 1;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .ui-dropdown-search {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    vertical-align: middle;
    min-width: 2em !important;
  }
  
  .ui-dropdown {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    vertical-align: middle;
    min-width: 2em !important;
  }
  
  .ui-float-label {
    display: inline-block;
    position: relative;
  }
  
  .reset-icon {
    position: relative !important;
    font-size: 10px;
    margin-top: 4%;
  }
  
  .search-label {
    font-weight: 400;
    font-size: 11px;
    font-style: normal;
  }
  
  .search-label-title {
    margin-right: 21px;
    margin-top: 0%;
    font-size: 12px;
  }
  
  .search-label[_ngcontent-sfu-c5] {
    margin: 0 4px;
    line-height: 1;
  }
  
  .div-metric {
    background-color: white;
    font-size: 10px;
    border-top-left-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
  }
  
  .dropdown-main {
    background: transparent;
    border: 1px solid #c8c8c8;
    padding: 2px 4px;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
    outline: 0;
    color: black;
  }
  
  .input-metric {
    border-top-right-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    font-size: 12px;
    border-right-color: #c8c8c8;
    border-right: -webkit-fill-available;
    border-right-color: #c8c8c8;
    border-right-style: solid;
    border-bottom-color: #c8c8c8;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: #c8c8c8;
    border-top-width: 1px;
    border-top-style: solid;
    border-left: none;
    width: 140%;
    position: absolute;
    height: 100%;	
  }
  
  .reset-search {
    font-size: 10px;
    position: absolute;
    border-left-color: #fff;
    margin-left: 125%;
    margin-top: 7%;
    margin-right: 0px;
  }
  
  .input-dim {
    font-size: 12px;
    height: -webkit-fill-available;
    left: 1%;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    border-color: #c8c8c8;
    border-width: 1px;
    border-style: solid;
    width: 175px;
  }
  .input-aggre {
    height: unset !important;
    position: relative !important;
    display: inline-block !important;
    width: 100% !important;
    border-radius: 3px !important;
    border-color: #c8c8c8 !important;
    border-width: 1px !important;
    border-style: solid !important;
    background: #fff !important;
  }
  /* .input-metric:hover + .reset-search{
    margin-left: 100%;
  } */
  /* .input-metric:focus + .reset-search{
    margin-left: 100%;
  } */
  
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance:textfield;
  }
  
  .note
  {
    margin-right:9rem; display: inline-block;font-weight: 100;
  }