<div id="cpr-component">
  <div class="last-updated">
    <div class="popover-container d-inline-block ml-2">
      <div>
        <i
          class="far fa-clock"
          style="cursor: pointer"
          aria-haspopup="true"
          aria-expanded="true"
        >
        </i>
      </div>

      <div class="pop-over">
        <p>
          <b>Data Updated On :</b>
          {{ lastUpdatedOn | date: 'MM-dd-yyyy HH:mm:ss' }} EST
        </p>
        <p>
          <b>Data Updated Through :</b>
          {{ dataUpdatedThrough | date: 'MM-dd-yyyy' }}
        </p>
        <p>
          <b>Next Data Update :</b>
          {{ nextUpdated | date: 'MM-dd-yyyy HH:mm:ss' }}
          EST
        </p>
      </div>
    </div>
  </div>

  <p class="page-title">{{ appConfig['displayName'] }}</p>

  <!-- -------------------------- Filters Container -------------------------- -->
  <ym-filter-container
    (filtersApplied)="onFiltersApplied($event)"
  ></ym-filter-container>

  <hr />
  <!-- ------------------------ Table 2 Component Start ------------------------ -->

  <button
    pButton
    type="submit"
    icon="fas fa-pencil-alt"
    label="New Placement"
    iconPos="right"
    class="ui-button-rounded ui-button-success edit-role-button"
    style="float: right; margin-bottom: 1%;"
    (click)="NewRio()"
  ></button>

  <!-- <div
    [hidden]="noTableData"
    class="mt-1 mb-3 fr-cpr-table"
    *ngIf="displayAggTable"
    style="display: inline-block; width: 100%;"
  > -->
  <div
    class="p-col-12 mt-1 new-rio-table"
    style="display: inline-block; width: 100%;"
  >
    <p-treeTable
      #ttFlat
      [value]="flatTableData"
      [columns]="flatTableJson['selectedColumns']"
      [paginator]="true"
      [rows]="flatTableJson['page_size']"
      [first]="flatTableJson['page']"
      [totalRecords]="flatTableJson['totalRecords']"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
      [lazy]="flatTableJson['lazy']"
      [loading]="flatTableJson['loading']"
      [sortMode]="flatTableJson['sortMode']"
      [resizableColumns]="flatTableJson['resizableColumns']"
      [columnResizeMode]="flatTableJson['columnResizeMode']"
      [reorderableColumns]="flatTableJson['reorderableColumns']"
      [frozenColumns]="flatTableJson['frozenCols']"
      [frozenWidth]="flatTableJson['frozenWidth']"
      [scrollable]="flatTableJson['scrollable']"
      [scrollHeight]="flatTableJson['scrollHeight']"
      [selectionMode]="flatTableJson['selectionMode']"
      [(selection)]="flatTableJson['selectedColsModal']"
      [dataKey]="flatTableJson['selectionDataKey']"
      [metaKeySelection]="flatTableJson['metaKeySelection']"
      [style]="{ width: '100%' }"
      (onLazyLoad)="onLazyLoadFlatTable($event)"
    >
      <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

      <ng-template pTemplate="caption">
        <div
          class="mb-1"
          *ngIf="flatTableJson['showHideCols']"
          style="text-align: left; float: left; display: inline-block;"
        >
          <p-multiSelect
            [options]="flatTableJson['columns']"
            [(ngModel)]="flatTableJson['selectedColumns']"
            optionLabel="displayName"
            maxSelectedLabels="1"
            selectedItemsLabel="{0} columns selected"
            [style]="{ minWidth: '200px' }"
            defaultLabel="Choose Columns"
          ></p-multiSelect>
        </div>
        <!-- <div class ="mt-2 note"><span>* GTE - Greater than Equal to,  LTE -  Less than Equal to </span></div> -->
        <div
          *ngIf="isExportReport && flatTableJson['export']"
          style="text-align: left; float: right; display: inline-block;"
          class="ml-3 mt-2"
        >
          <div data-html2canvas-ignore class="dropdown">
            <span
              class="dropdown-toggle"
              style="cursor: pointer"
              id="dropdownMenu1"
              data-toggle="dropdown"
              aria-haspopup="true"
              title="Export to Excel/CSV/JSON"
              aria-expanded="true"
            >
              <i
                title="Export to Excel/CSV/JSON"
                class="fas fa-download share-icon"
                id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >
                <span class="caret"></span> </i
              >&nbsp;&nbsp;Export</span
            >
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="exportTable('Excel')">
                Excel
              </a>
              <a class="dropdown-item" (click)="exportTable('CSV')">
                CSV
              </a>
              <!-- <a
                class="dropdown-item"
                href="#"
                (click)="exportTable('flat', 'JSON')"
              >
                JSON
              </a> -->
            </div>
          </div>
        </div>
        <!-- <div
          *ngIf="flatTableJson['overallSearch']"
          style="text-align: right; float: right; display: inline-block;"
        >
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input class="search"
            ymInput
            pInputText
            type="text"
            size="30"
            placeholder="Search All"
            [(ngModel)]="searchvalue"
            (ngModelChange)="onGlobalSearchChanged(searchvalue,flatTableColumnDef)"
          />
        </div> -->
      </ng-template>

      <!-- ------------------------- For frozen columns -------------------------- -->

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col
            *ngFor="let col of columns"
            [ngStyle]="{ width: col['width'] + 'px' }"
          />
        </colgroup>
      </ng-template>

      <!-- ------------------------------- Header -------------------------------- -->

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            ttResizableColumn
            ttReorderableColumn
            [ttSortableColumnDisabled]="!col['options']['colSort']"
            [ttResizableColumnDisabled]="!col['options']['resizable']"
            [ttReorderableColumnDisabled]="!col['options']['movable']"
          >
            {{ col.displayName }}
            <p-treeTableSortIcon
              [field]="col.field"
              *ngIf="col['options']['colSort']"
            >
            </p-treeTableSortIcon>
          </th>
        </tr>

        <tr *ngIf="flatTableJson['columnSearch']">
          <ng-container *ngFor="let col of columns">
            <!-- <th class="search-bar" *ngIf="isHiddenColumn(col)" ng-star-inserted>

              <div *ngIf='col.format!="date"'  style="position: absolute; width: 8%; margin-top:-10px;" _ngcontent-lgg-c5="" class="">
                <div _ngcontent-lgg-c5="" class="ui-inputgroup" style="position: relative;height: 23px;">

                    <div *ngIf="col.format!=''"  class="dropdown div-metric">
                      <button

                   class="dropdown dropdown-main" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i _ngcontent-lgg-c5="" style="font-size: 10px;margin-right: 2px;" class="pi pi-chevron-down"></i>
                          <span  class="caret search-label">{{col.condition}}</span>
                      </button>
                        <div  *ngIf="col.format!=''" class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="min-width: fit-content;font-size: 12px">
                            <div  *ngFor="let con of conditionNames; let i = index">
                              <a class="dropdown-item" (click)="customSearch(con.value,col.field,col.value,flatTableColumnDef)">{{con.label}}</a>
                            </div>
                          </div>
                    </div>



                    <span *ngIf="col.format!=''">
                      <input _ngcontent-lgg-c5="" class="input-metric" type="number" #inpt pinputtext [(ngModel)]="col.value" (ngModelChange)="onSearchChanged(flatTableColumnDef)" id="float-input" size="4">
                      <i (click)="resetSearch(col.field,flatTableColumnDef)" *ngIf="col.value != '' && col.value != null" _ngcontent-qwl-c5="" _ngcontent-lgg-c5="" aria-hidden="true" class="fa fa-times reset-search"
                    ></i>

                    </span>
                    <span *ngIf="col.format==''">

                      <input _ngcontent-lgg-c5="" class="input-dim" #inpt pinputtext [(ngModel)]="col.value" (ngModelChange)="onSearchChanged(flatTableColumnDef)" id="float-input" size="4" pinputtext="" >

                      <i  (click)="resetSearch(col.field,flatTableColumnDef)" *ngIf="col.value != '' && col.value != null" _ngcontent-qwl-c5="" _ngcontent-lgg-c5="" aria-hidden="true" class="fa fa-times" style="

                      font-size: 10px;
                        position: absolute;
                        display: inline-block;
                        border-left-color: #fff;
                        top:23%"
                        ></i></span>

            </div></div>

            </th> -->
            <ng-container *ngFor="let col of columns">
              <th *ngIf="isHiddenColumn(col)">
                <!-- <input
                  ymInput
                  pInputText
                  type="text"
                  [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  "
                  (input)="
                    tt.filter($event.target.value, col.field, col.filterMatchMode)
                  "
                /> -->
                <input
                  pInputText
                  type="text"
                  (input)="
                  ttFlat.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  "
                  [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  "
                  style="width: 100%;border-radius: 5px;

                  border: 1px solid #c8c8c8;
                  padding: 1.3px;"                />
              </th>
            </ng-container>
          </ng-container>
        </tr>
      </ng-template>

      <!-- -------------------------------- Body --------------------------------- -->

      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr>
          <td
            *ngFor="let col of columns; let i = index"
            ttEditableColumn
            [title]="
              rowData[col.field] | formatNum: col.format:col.formatConfig
            "
          >
            <p-treeTableCellEditor *ngIf="col['options']['editable']">
              <ng-template pTemplate="input">
                <input
                  ymInput
                  pInputText
                  type="text"
                  [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{ width: i == 0 ? '90%' : '100%' }"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="!col['options']['editable']">
              <span *ngIf="col.field != 'delete' && col.field != 'edit'">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
              <span
                *ngIf="col.field == 'delete'"
                class="link-style-icon"
                (click)="deleteRio(rowData)"
              >
                <i class="far fa-trash-alt"></i>
              </span>

              <span
                *ngIf="col.field == 'edit'"
                class="link-style-icon"
                (click)="editRio(rowData)"
              >
                <i class="fas fa-pencil-alt"></i>
              </span>
            </span>
            <!-- <span
          *ngIf="
            col.field !== 'delete'">
            {{
              rowData[col.field]
                | formatNum: col.format:col.formatConfig
            }}
          </span> -->
          </td>
        </tr>
      </ng-template>

      <!-- ----------------------------- Frozen Body ----------------------------- -->

      <ng-template
      pTemplate="frozenbody"
      let-rowNode
      let-rowData="rowData"
      let-columns="columns"
    >
      <tr style="background: #f4f4f4">
        <td
          *ngFor="let col of columns; let i = index"
          [title]="
            rowData[col.field] | formatNum: col.format:col.formatConfig
          "
        >
          <p-treeTableToggler
            *ngIf="i == 0"
            [rowNode]="rowNode"
          ></p-treeTableToggler>

          <span
          >
            {{
              rowData[col.field]
                ? (rowData[col.field]
                  | formatNum: col.format:col.formatConfig)
                : ''
            }}
          </span>
        </td>
      </tr>
    </ng-template>

      <ng-template pTemplate="paginatorleft" let-state>
        Showing {{ state.page * state.rows + 1 }} to
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Records
      </ng-template>

      <!-- ------------------- Message to show for empty Data -------------------- -->

      <!-- <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="flatTableJson['columns'].length">
            No data found.
          </td>
        </tr>
      </ng-template> -->
    </p-treeTable>
  </div>
  <!-- ------------------------- Table 2 Component End ------------------------- -->
  <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
</div>
