<p-tabView (onChange)="tabChanged($event)">
  <p-tabPanel  header="Property">
    <!-- ------------------------ Table Component Start ------------------------ -->
    <div class="p-col-12 fr-payout-group-popup-table">
      <p-treeTable #ttFlat [value]="flatTableStationData" [columns]="flatTableStationJson['selectedColumns']"
        [paginator]="true" [rows]="flatTableStationJson['page_size']" [first]="flatTableStationJson['page']"
        [totalRecords]="flatTableStationJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
        [lazy]="flatTableStationJson['lazy']" [loading]="flatTableStationJson['loading']"
        [sortMode]="flatTableStationJson['sortMode']" [resizableColumns]="flatTableStationJson['resizableColumns']"
        [columnResizeMode]="flatTableStationJson['columnResizeMode']"
        [reorderableColumns]="flatTableStationJson['reorderableColumns']"
        [frozenColumns]="flatTableStationJson['frozenCols']" [frozenWidth]="flatTableStationJson['frozenWidth']"
        [scrollable]="flatTableStationJson['scrollable']" [scrollHeight]="flatTableStationJson['scrollHeight']"
        [selectionMode]="flatTableStationJson['selectionMode']"
        [(selection)]="flatTableStationJson['selectedColsModal']" [dataKey]="flatTableStationJson['selectionDataKey']"
        [metaKeySelection]="flatTableStationJson['metaKeySelection']" [style]="{ width: '100%' }"
        (onLazyLoad)="onLazyLoadFlatTable($event, 'tblStationGrp')" (onNodeExpand)="onTableDrill($event)">
        <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

        <ng-template pTemplate="caption">
          <div *ngIf="flatTableStationJson['showHideCols']"
            style="text-align: left; float: left; display: inline-block;">
            <p-multiSelect [options]="flatTableStationJson['columns']"
              [(ngModel)]="flatTableStationJson['selectedColumns']" optionLabel="displayName" maxSelectedLabels="1"
              selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns">
            </p-multiSelect>
          </div>
          <div *ngIf="isExportReport && flatTableStationJson['export']"
            style="text-align: left; float: right; display: inline-block;" class="ml-3 mt-2">
            <div data-html2canvas-ignore class="dropdown">
              <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
                <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="exportTablePopup('tbleStationGrp', 'Excel')">
                  Excel
                </a>
                <a class="dropdown-item" (click)="exportTablePopup('tbleStationGrp', 'CSV')">
                  CSV
                </a>
                <!-- <a
                  class="dropdown-item"
                  (click)="exportTablePopup('flat', 'JSON')"
                >
                  JSON
                </a> -->
              </div>
            </div>
          </div>
          <div *ngIf="flatTableStationJson['overallSearch']"
            style="text-align: right; float: right; display: inline-block;">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All"
              [(ngModel)]="searchvalue"
              (ngModelChange)="onGlobalSearchChanged(searchvalue,flatTableStationColumnDef, 'tblStationGrp')" />
            <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
              (click)="searchvalue='';onGlobalSearchChanged(searchvalue,flatTableStationColumnDef, 'tblStationGrp')"><i
                class="pi pi-times"></i>
            </span>
          </div>
        </ng-template>

        <!-- ------------------------- For frozen columns -------------------------- -->

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
          </colgroup>
        </ng-template>

        <!-- ------------------------------- Header -------------------------------- -->

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
              ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
              [ttResizableColumnDisabled]="!col['options']['resizable']"
              [ttReorderableColumnDisabled]="!col['options']['movable']">
              {{ col.displayName }}
              <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
              </p-treeTableSortIcon>
            </th>
          </tr>
          <tr *ngIf="flatTableStationJson['columnSearch']">
            <ng-container *ngFor="let col of columns">
              <th *ngIf="isHiddenColumn(col)">
                <input ymInput pInputText type="text" [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  " (input)="
                    ttFlat.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  " />
              </th>
            </ng-container>
          </tr>
        </ng-template>

        <!-- -------------------------------- Body --------------------------------- -->

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              ">
              <p-treeTableCellEditor *ngIf="col['options']['editable']">
                <ng-template pTemplate="input">
                  <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{
                    rowData[col.field] | formatNum: col.format:col.formatConfig
                  }}
                </ng-template>
              </p-treeTableCellEditor>
              <span *ngIf="!col['options']['editable']">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
            </td>
          </tr>
        </ng-template>

        <!-- ----------------------------- Frozen Body ----------------------------- -->

        <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData">
          <tr style="background: #f4f4f4">
            <td [title]="rowData.time_key | formatNum: 'date':[]">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{ rowData.time_key | formatNum: 'date':[] }}
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft" let-state>
          Showing {{ state.page * state.rows + 1 }} to
          {{
            state.rows * (state.page + 1) > state.totalRecords
              ? state.totalRecords
              : state.rows * (state.page + 1)
          }}
          of {{ state.totalRecords }} Records
        </ng-template>

        <!-- ------------------- Message to show for empty Data -------------------- -->

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="flatTableStationJson['columns'].length">
              No data found.
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
    <!-- ------------------------- Table Component End ------------------------- -->
  </p-tabPanel>
  <p-tabPanel header="Source">
    <!-- ------------------------ Table Component Start ------------------------ -->
    <div class="p-col-12 fr-payout-group-popup-table">
      <p-treeTable #ttFlatSource [value]="flatTableSourceData" [columns]="flatTableSourceJson['selectedColumns']"
        [paginator]="true" [rows]="flatTableSourceJson['page_size']" [first]="flatTableSourceJson['page']"
        [totalRecords]="flatTableSourceJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
        [lazy]="flatTableSourceJson['lazy']" [loading]="flatTableSourceJson['loading']"
        [sortMode]="flatTableSourceJson['sortMode']" [resizableColumns]="flatTableSourceJson['resizableColumns']"
        [columnResizeMode]="flatTableSourceJson['columnResizeMode']"
        [reorderableColumns]="flatTableSourceJson['reorderableColumns']"
        [frozenColumns]="flatTableSourceJson['frozenCols']" [frozenWidth]="flatTableSourceJson['frozenWidth']"
        [scrollable]="flatTableSourceJson['scrollable']" [scrollHeight]="flatTableSourceJson['scrollHeight']"
        [selectionMode]="flatTableSourceJson['selectionMode']" [(selection)]="flatTableSourceJson['selectedColsModal']"
        [dataKey]="flatTableSourceJson['selectionDataKey']" [metaKeySelection]="flatTableSourceJson['metaKeySelection']"
        [style]="{ width: '100%' }" (onLazyLoad)="onLazyLoadFlatTable($event, 'tblSource')"
        (onNodeExpand)="onTableDrill($event)">
        <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

        <ng-template pTemplate="caption">
          <div *ngIf="flatTableSourceJson['showHideCols']"
            style="text-align: left; float: left; display: inline-block;">
            <p-multiSelect [options]="flatTableSourceJson['columns']"
              [(ngModel)]="flatTableSourceJson['selectedColumns']" optionLabel="displayName" maxSelectedLabels="1"
              selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns">
            </p-multiSelect>
          </div>
          <div *ngIf="isExportReport && flatTableSourceJson['export']"
            style="text-align: left; float: right; display: inline-block;" class="ml-3 mt-2">
            <div data-html2canvas-ignore class="dropdown">
              <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
                <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="exportTablePopup('tblSource', 'Excel')">
                  Excel
                </a>
                <a class="dropdown-item" (click)="exportTablePopup('tblSource', 'CSV')">
                  CSV
                </a>
                <!-- <a
                  class="dropdown-item"
                  (click)="exportTablePopup('tblSource', 'JSON')"
                >
                  JSON
                </a> -->
              </div>
            </div>
          </div>
          <div *ngIf="flatTableSourceJson['overallSearch']"
            style="text-align: right; float: right; display: inline-block;">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All"
              [(ngModel)]="searchvalue"
              (ngModelChange)="onGlobalSearchChanged(searchvalue,flatTableSourceColumnDef,'tblSource')" />
            <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
              (click)="searchvalue='';onGlobalSearchChanged(searchvalue,flatTableSourceColumnDef, 'tblSource')"><i
                class="pi pi-times"></i>
            </span>
          </div>
        </ng-template>

        <!-- ------------------------- For frozen columns -------------------------- -->

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
          </colgroup>
        </ng-template>

        <!-- ------------------------------- Header -------------------------------- -->

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
              ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
              [ttResizableColumnDisabled]="!col['options']['resizable']"
              [ttReorderableColumnDisabled]="!col['options']['movable']">
              {{ col.displayName }}
              <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']">
              </p-treeTableSortIcon>
            </th>
          </tr>
          <tr *ngIf="flatTableSourceJson['columnSearch']">
            <ng-container *ngFor="let col of columns">
              <th *ngIf="isHiddenColumn(col)">
                <input ymInput pInputText type="text" [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  " (input)="
                    ttFlatSource.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  " />
              </th>
            </ng-container>
          </tr>
        </ng-template>

        <!-- -------------------------------- Body --------------------------------- -->

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              ">
              <p-treeTableCellEditor *ngIf="col['options']['editable']">
                <ng-template pTemplate="input">
                  <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{
                    rowData[col.field] | formatNum: col.format:col.formatConfig
                  }}
                </ng-template>
              </p-treeTableCellEditor>
              <span *ngIf="!col['options']['editable']">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
            </td>
          </tr>
        </ng-template>

        <!-- ----------------------------- Frozen Body ----------------------------- -->

        <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData">
          <tr style="background: #f4f4f4">
            <td [title]="rowData.time_key | formatNum: 'date':[]">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{ rowData.time_key | formatNum: 'date':[] }}
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft" let-state>
          Showing {{ state.page * state.rows + 1 }} to
          {{
            state.rows * (state.page + 1) > state.totalRecords
              ? state.totalRecords
              : state.rows * (state.page + 1)
          }}
          of {{ state.totalRecords }} Records
        </ng-template>

        <!-- ------------------- Message to show for empty Data -------------------- -->

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="flatTableSourceJson['columns'].length">
              No data found.
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Charts" *ngIf="isPopupChartView">
    <div class="p-grid mt-2 mb-2">
      <div class="p-col-4 pr-4">
        <i *ngIf="!showRevSourcePieChart" class="pi pi-spin pi-spinner" style="font-size: 3em; margin: 150px;"></i>
        <ym-charts *ngIf="showRevSourcePieChart" [chartsJson]="popupPieChartSourceJson"
          (chartDataSelect)="chartSelected($event)"></ym-charts>
      </div>

      <div class="p-col-4 pr-4">
        <i *ngIf="!showRevDeviceTypePieChart" class="pi pi-spin pi-spinner" style="font-size: 3em; margin: 150px;"></i>
        <ym-charts *ngIf="showRevDeviceTypePieChart" [chartsJson]="popupPieChartDeviceTypeJson"
          (chartDataSelect)="chartSelected($event)"></ym-charts>
      </div>

      <div class="p-col-4 pr-4">
        <i *ngIf="!showRevCreativeSizePieChart" class="pi pi-spin pi-spinner"
          style="font-size: 3em; margin: 150px;"></i>
        <ym-charts *ngIf="showRevCreativeSizePieChart" [chartsJson]="popupPieChartCreativeSizeJson"
          (chartDataSelect)="chartSelected($event)"></ym-charts>
        <!-- <span style="margin: 23%;"><small>Top 10 Creative Sizes by Revenue</small></span> -->
      </div>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Group By" *ngIf="isPopupGroupbyView">
    <ym-group-by [dimensions]="groupByDims" (grpByChanged)="selectedGrpBy($event)"></ym-group-by>
    <br /><br />
    <!-- ------------------------ Table 2 Component Start ------------------------ -->
    <div [hidden]="noTableData" class="mt-1 fr-payout-group-popup-table" *ngIf="displayAggTable">
      <p-treeTable #ttRev360 [value]="aggTableData" [columns]="aggTableJson['selectedColumns']" [paginator]="true"
        [rows]="aggTableJson['page_size']" [totalRecords]="aggTableJson['totalRecords']"
        [rowsPerPageOptions]="[10, 20, 50, 100]" [lazy]="aggTableJson['lazy']" [loading]="aggTableJson['loading']"
        [sortMode]="aggTableJson['sortMode']" [resizableColumns]="aggTableJson['resizableColumns']"
        [columnResizeMode]="aggTableJson['columnResizeMode']" [reorderableColumns]="aggTableJson['reorderableColumns']"
        [frozenColumns]="aggTableJson['frozenCols']" [frozenWidth]="aggTableJson['frozenWidth']"
        [scrollable]="aggTableJson['scrollable']" [scrollHeight]="aggTableJson['scrollHeight']"
        [selectionMode]="aggTableJson['selectionMode']" [(selection)]="aggTableJson['selectedColsModal']"
        [dataKey]="aggTableJson['selectionDataKey']" [metaKeySelection]="aggTableJson['metaKeySelection']"
        [style]="{ width: '100%' }" (onLazyLoad)="onLazyLoadAggTable($event)" (onNodeExpand)="onTableDrill($event)">
        <!-- ----------------- Global Search and columns Show/Hide ----------------- -->

        <ng-template pTemplate="caption">
          <div *ngIf="aggTableJson['showHideCols']" style="text-align: left; float: left; display: inline-block;">
            <p-multiSelect [options]="aggTableJson['columns']" [(ngModel)]="aggTableJson['selectedColumns']"
              optionLabel="displayName" maxSelectedLabels="1" selectedItemsLabel="{0} columns selected"
              [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"></p-multiSelect>
          </div>
          <div *ngIf="isExportReport && aggTableJson['export']"
            style="text-align: left; float: right; display: inline-block;" class="ml-3 ">
            <div data-html2canvas-ignore class="dropdown">
              <span class="dropdown-toggle" style="cursor: pointer" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" title="Export to Excel/CSV/JSON" aria-expanded="true">
                <i title="Export to Excel/CSV/JSON" class="fas fa-download share-icon" id="dropdownMenu1"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="caret"></span> </i>&nbsp;&nbsp;Export</span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="exportTablePopup('tblAgg', 'Excel')">
                  Excel
                </a>
                <a class="dropdown-item" (click)="exportTablePopup('tblAgg', 'CSV')">
                  CSV
                </a>
                <!-- <a
                  class="dropdown-item"
                  href="#"
                  (click)="exportTablePopup('tblAgg', 'JSON')"
                >
                  JSON
                </a> -->
              </div>
            </div>
          </div>
          <div *ngIf="aggTableJson['overallSearch']" style="text-align: right; float: right; display: inline-block;">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input class="search" ymInput pInputText type="text" size="30" placeholder="Search All"
              [(ngModel)]="searchvalue"
              (ngModelChange)="onGlobalSearchChanged(searchvalue,aggTableJson['columns'],'tblGroupBy')" />
            <span title="Clear Search" *ngIf="searchvalue" style="right:20px;position:relative;cursor:pointer;"
              (click)="searchvalue='';onGlobalSearchChanged(searchvalue,aggTableJson['columns'],'tblGroupBy')"><i
                class="pi pi-times"></i>
            </span>
          </div>
        </ng-template>

        <!-- ------------------------- For frozen columns -------------------------- -->

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
          </colgroup>
        </ng-template>

        <!-- ------------------------------- Header -------------------------------- -->

        <ng-template pTemplate="header" let-columns>
          <tr>
            <!-- <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            [attr.ttResizableColumn]="col['options']['resizable'] ? '' : null"
            [attr.ttReorderableColumn]="col['options']['colSort'] ? '' : null"
          > -->
            <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
              ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
              [ttResizableColumnDisabled]="!col['options']['resizable']"
              [ttReorderableColumnDisabled]="!col['options']['movable']">
              {{ col.displayName }}

              <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon>
            </th>
          </tr>
          <tr *ngIf="aggTableJson['columnSearch']">
            <ng-container *ngFor="let col of columns">
              <th *ngIf="isHiddenColumn(col)">
                <input ymInput pInputText type="text" [style.visibility]="
                    col['options']['colSearch'] ? 'visible' : 'hidden'
                  " (input)="
                    ttRev360.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  " />
              </th>
            </ng-container>
          </tr>
        </ng-template>

        <!-- -------------------------------- Body --------------------------------- -->

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              ">
              <p-treeTableCellEditor *ngIf="col['options']['editable']">
                <ng-template pTemplate="input">
                  <input ymInput pInputText type="text" [(ngModel)]="rowData[col.field]"
                    [ngStyle]="{ width: i == 0 ? '90%' : '100%' }" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{
                    rowData[col.field] | formatNum: col.format:col.formatConfig
                  }}
                </ng-template>
              </p-treeTableCellEditor>
              <span *ngIf="!col['options']['editable']">
                {{
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                }}
              </span>
            </td>
          </tr>
        </ng-template>

        <!-- ----------------------------- Frozen Body ----------------------------- -->

        <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr style="background: #f4f4f4">
            <td *ngFor="let col of columns; let i = index" [title]="
                rowData[col.field] | formatNum: col.format:col.formatConfig
              ">
              <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>
              <span>
                {{
                  rowData[col.field]
                    ? (rowData[col.field]
                      | formatNum: col.format:col.formatConfig)
                    : ''
                }}
              </span>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft" let-state>
          Showing {{ state.page * state.rows + 1 }} to
          {{
            state.rows * (state.page + 1) > state.totalRecords
              ? state.totalRecords
              : state.rows * (state.page + 1)
          }}
          of {{ state.totalRecords }} Records
        </ng-template>

        <!-- ------------------- Message to show for empty Data -------------------- -->

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="aggTableJson['columns'].length">
              No data found.
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
    <div class="no-data-label" *ngIf="noTableData">
      No data found
    </div>
    <!-- ------------------------- Table 2 Component End ------------------------- -->
    <!-- </div> -->
  </p-tabPanel>
</p-tabView>
<p-confirmDialog #cd rejectVisible='false' [style]="{width: '50vw'}" appendTo="body">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Ok" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>